Repository gitbutlerapp/gitbutler, pull requests merged in 2024-12, with the labels that each got.

#5650 Upstream integration refactor
  apps/desktop/src/lib/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/vbranches/upstreamIntegrationService.ts
Labels: @gitbutler/desktop

#5721 add-diff-contrast-level
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/settings/userSettings.ts
  apps/desktop/src/routes/settings/appearance/+page.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/styles/components/diff.css
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/src/styles/main.css
Labels: @gitbutler/desktop, @gitbutler/ui

#5723 Fix stack size metrics
  apps/desktop/src/lib/vbranches/virtualBranch.ts
Labels: @gitbutler/desktop

#5733 fix: update branch heads when inserting above head commit
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5736 Make posthog an injectable service
  apps/desktop/src/lib/analytics/analytics.ts
  apps/desktop/src/lib/analytics/posthog.ts
  apps/desktop/src/lib/backend/updater.test.ts
  apps/desktop/src/lib/backend/updater.ts
  apps/desktop/src/lib/components/AppUpdater.test.ts
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/components/ProblemLoadingRepo.svelte
  apps/desktop/src/lib/components/ProjectSetup.svelte
  apps/desktop/src/lib/forge/forgeFactory.test.ts
  apps/desktop/src/lib/forge/forgeFactory.ts
  apps/desktop/src/lib/forge/github/github.ts
  apps/desktop/src/lib/forge/github/githubListingService.test.ts
  apps/desktop/src/lib/forge/github/githubPrService.ts
  apps/desktop/src/lib/notifications/toasts.ts
  apps/desktop/src/lib/onboarding/CloneForm.svelte
  apps/desktop/src/lib/settings/AnalyticsConfirmation.svelte
  apps/desktop/src/lib/stores/user.ts
  apps/desktop/src/lib/utils/url.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#5739 Add desktop only redux slices
  apps/desktop/src/lib/redux/store.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/reduxExample/+page.svelte
  apps/desktop/tsconfig.json
  packages/shared/src/lib/organizations/OrganizationModal.svelte
  packages/shared/src/lib/redux/store.svelte.ts
Labels: @gitbutler/desktop

#5738 Save and restore project metrics from local storage
  apps/desktop/src/lib/forge/forgeFactory.test.ts
  apps/desktop/src/lib/forge/github/githubListingService.test.ts
  apps/desktop/src/lib/metrics/MetricsReporter.svelte
  apps/desktop/src/lib/metrics/projectMetrics.test.ts
  apps/desktop/src/lib/metrics/projectMetrics.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  packages/shared/src/lib/persisted.ts
Labels: @gitbutler/desktop

#5724 CLI: Apply branch
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-cli/src/main.rs
Labels: rust

#5725 fix: Don't list all parents when calculating dependencies
  crates/gitbutler-branch-actions/src/dependencies.rs
  crates/gitbutler-branch-actions/tests/dependencies.rs
  crates/gitbutler-branch-actions/tests/fixtures/dependencies.sh
Labels: rust

#5743 Fix svelte-check issue
  apps/desktop/src/lib/metrics/projectMetrics.ts
Labels: @gitbutler/desktop

#5742 fix: button overflow inside branch scrolling container
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5744 fix: Re-set the forge repo service
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#5746 fix: update "help -> release notes" menu item target
  crates/gitbutler-tauri/src/menu.rs
Labels: rust

#5747 UI: Update branch tags styles
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/stack/CollapsedLane.svelte
  apps/desktop/src/lib/stack/header/SeriesLabels.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/SeriesIcon.svelte
  packages/ui/src/lib/SeriesLabelsRow.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/stories/seriesLabelsRow/SeriesLabelsRow.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5754 refactor: rename repository to repo
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/conflicts.rs
  crates/gitbutler-branch-actions/src/dependencies.rs
  crates/gitbutler-branch-actions/src/file.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/dependencies.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/workspace_migration.rs
  crates/gitbutler-command-context/src/lib.rs
  crates/gitbutler-diff/src/write.rs
  crates/gitbutler-edit-mode/src/commands.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-operating-modes/src/lib.rs
  crates/gitbutler-operating-modes/tests/operating_modes.rs
  crates/gitbutler-repo-actions/src/repository.rs
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/credentials.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_context.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-watcher/src/handler.rs
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#5757 chore(env): update API base URL for staging environment
  apps/desktop/.env.development
Labels: @gitbutler/desktop

#5759 UI-update-sidebar-entry
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/GroupHeader.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/navigation/ProjectSelector.svelte
  apps/desktop/src/lib/navigation/PullRequestSidebarEntry.svelte
  packages/ui/src/lib/SeriesIcon.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/avatar/AvatarGroup.svelte
  packages/ui/src/stories/sidebarEntry/DemoSidebarEntry.svelte
  packages/ui/src/stories/sidebarEntry/SidebarEntry.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5767 Turn off posthog autocapture
  apps/desktop/src/lib/analytics/posthog.ts
Labels: @gitbutler/desktop

#5766 Add delay to metrics reporter
  apps/desktop/src/lib/metrics/MetricsReporter.svelte
  apps/desktop/src/lib/metrics/MetricsReporter.test.ts
Labels: @gitbutler/desktop

#5772 Fix bug preventing change in in persisted store
  apps/desktop/src/lib/config/appSettings.ts
  packages/shared/src/lib/persisted.test.ts
  packages/shared/vite.config.ts
Labels: @gitbutler/desktop

#5784 fix: calc relative ms for sidebar categories correctly
  apps/desktop/package.json
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/utils/time.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#5781 Disallow edit exit doublepress
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/modes/service.ts
  crates/gitbutler-tauri/src/modes.rs
Labels: rust, @gitbutler/desktop

#5782 Fix error when starting up in edit mode
  apps/desktop/src/lib/vbranches/virtualBranch.ts
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#5785 fix: Don't stand in the way of closing the app
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/utils/selection.ts
Labels: @gitbutler/desktop

#5760 Dependencies: Calculcation can fail without making a whole deal about it
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/lib/vbranches/virtualBranch.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/init.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/locking.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-hunk-dependency/src/input.rs
  crates/gitbutler-hunk-dependency/src/lib.rs
  crates/gitbutler-hunk-dependency/src/locks.rs
  crates/gitbutler-hunk-dependency/src/path.rs
  crates/gitbutler-hunk-dependency/src/workspace.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust, @gitbutler/desktop

#5755 provide stderr in failing pre-commit hooks
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5786 fix: add app.staging.gitbutler.com to connect-src CSP
  crates/gitbutler-tauri/tauri.conf.json
Labels: rust

#5783 send a callback url with the login
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/SideNavigation.svelte
  apps/web/src/routes/log/+page.svelte
Labels: @gitbutler/web

#5794 Branch listings: Improve search
  apps/desktop/src/lib/branches/branchListing.ts
Labels: @gitbutler/desktop

#5769 fix: assure the head of edit mode is never a conflicted tree.
  crates/gitbutler-edit-mode/src/commands.rs
  crates/gitbutler-edit-mode/src/lib.rs
Labels: rust

#5796 fix: swallow signing error and dont show duplicate error msg
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#5799 style: add default font family to reset.css
  packages/ui/src/styles/core/reset.css
Labels: @gitbutler/ui

#5806 PR Details modal: Improve the way content is updated
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/prContent.svelte.ts
Labels: @gitbutler/desktop

#5756 fix: use `bash -c` to get interpretation of tilde and env vars in path
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#5634 feat: add mergeAll btn
  apps/desktop/src/lib/forge/github/githubPrService.ts
  apps/desktop/src/lib/forge/interface/forgePrService.ts
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5810 fix the divider line in the `neutral` style dropdown btn
  packages/ui/src/lib/Button.svelte
  packages/ui/src/stories/button/Button.stories.svelte
  packages/ui/src/stories/button/Dropdown.stories.svelte
Labels: @gitbutler/ui

#5801 Don't use tauri ipc directly in applicaiton code
  apps/desktop/src/lib/editorLink/editorLink.ts
  apps/desktop/src/lib/settings/userPreferences/CommitSigningForm.svelte
  apps/desktop/src/lib/uncommitedFiles/watcher.ts
Labels: @gitbutler/desktop

#5809 fix: hide merge all btn when only 1 valid branch
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5802 dont-crap-out-over-renames
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust

#5812 Ensure PR parent is not archieved
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5811 PR Details Modal: Svelte TS classes
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/prContent.svelte.ts
Labels: @gitbutler/desktop

#5824 fix: rm superfluous checkMonitors check
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5823 Disable fetching prs when personal access token is restricted
  apps/desktop/src/hooks.client.ts
  apps/desktop/src/lib/forge/github/githubListingService.ts
  packages/ui/src/lib/utils/typeguards.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5829 Use traits for panicless subtraction
  crates/gitbutler-hunk-dependency/src/hunk.rs
  crates/gitbutler-hunk-dependency/src/path.rs
  crates/gitbutler-hunk-dependency/src/utils.rs
Labels: rust

#5831 Don't delete workspace branch
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#5832 Comment out the "merge all" button since it doesnt look right design wise
  apps/desktop/src/lib/stack/Stack.svelte
  dad-jokes.md
Labels: @gitbutler/desktop

#5753 Update `keyring` to the latest version (#5751)
  Cargo.lock
  Cargo.toml
  crates/gitbutler-secret/src/secret.rs
  crates/gitbutler-testsupport/src/secrets.rs
  crates/gitbutler-user/tests/secret/credentials.rs
Labels: rust

#5835 Extract logging out of repository_ext.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/dependencies.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-repo-actions/src/repository.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/logging.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-repo/tests/rebase.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5837 remove-unused-methods
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#5834 Update markdown content types to avoid depricated svelte
  apps/desktop/src/lib/components/MarkdownContent.svelte
Labels: @gitbutler/desktop

#5843 PRDetails: Re-eable persistance
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/prContent.svelte.ts
Labels: @gitbutler/desktop

#5604 Add component for displaying page laod errors
  apps/desktop/src/lib/assets/empty-state/load-error.svg
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/components/PageLoadFailed.svelte
  apps/desktop/src/lib/components/SyncButton.svelte
  apps/desktop/src/lib/onboarding/CloneForm.svelte
  apps/desktop/src/routes/[projectId]/branch/[...name]/+page.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#5849 feat(icons): update branch and branch-small icons
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#5851 fix: update error message for backend failures in frontend
  crates/gitbutler-tauri/src/error.rs
Labels: rust

#5852 Update PR creation terminology to be consistent
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5854 style fix: wrap project name instead of truncate
  apps/desktop/src/lib/navigation/ProjectsPopup.svelte
Labels: @gitbutler/desktop

#5857 Make committed file id distinct from uncommitted file id
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5863 Rename some draggable things -> drop data things
  apps/desktop/src/lib/branch/BranchDropzone.svelte
  apps/desktop/src/lib/branches/dragActions.ts
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commits/dragActions.ts
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/lib/dragging/draggables.ts
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
  apps/desktop/src/lib/file/FileListItemWrapper.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
Labels: @gitbutler/desktop

#5865 Use correct js single line comment style
  apps/desktop/src/lib/config/appSettingsV2.ts
Labels: @gitbutler/desktop

#5864 Character counter for message body
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  packages/ui/src/lib/Textarea.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5867 Fix reactivity bug preventing Ollama prompt save
  apps/desktop/src/lib/components/AIPromptEdit/Content.svelte
Labels: @gitbutler/desktop

#5871 small-CSS-and-copy-updates
  apps/desktop/src/lib/ai/promptService.ts
  apps/desktop/src/lib/components/AIPromptEdit/AIPromptEdit.svelte
  apps/desktop/src/lib/components/AIPromptEdit/Content.svelte
Labels: @gitbutler/desktop
