Repository gitbutlerapp/gitbutler, pull requests merged in 2024-06, with the labels that each got.

#3974 fix: cleanup Toggle event handling
  app/src/lib/components/AnalyticsSettings.svelte
  app/src/lib/components/CloudForm.svelte
  app/src/lib/components/PreferencesForm.svelte
  app/src/lib/components/Toggle.svelte
  app/src/routes/settings/experimental/+page.svelte
  app/src/routes/settings/git/+page.svelte
  app/src/routes/settings/profile/+page.svelte
Labels: feedback requested

#4119 Fix: Wrong throttling in Select components
  app/src/lib/components/Select.svelte
Labels: svelte

#4125 Sticky "Commit" and "Push" buttons, new Lazyload container, UI improvements
  app/src/lib/components/BranchCard.svelte
  app/src/lib/components/BranchFiles.svelte
  app/src/lib/components/BranchFilesHeader.svelte
  app/src/lib/components/BranchFilesList.svelte
  app/src/lib/components/BranchFooter.svelte
  app/src/lib/components/BranchLabel.svelte
  app/src/lib/components/CommitCard.svelte
  app/src/lib/components/CommitDialog.svelte
  app/src/lib/components/CommitList.svelte
  app/src/lib/components/CommitMessageInput.svelte
  app/src/lib/components/EmptyStatePlaceholder.svelte
  app/src/lib/components/FileListItem.svelte
  app/src/lib/components/History.svelte
  app/src/lib/components/LazyloadContainer.svelte
  app/src/lib/components/ScrollableContainer.svelte
  app/src/lib/components/SnapshotCard.svelte
  app/src/lib/components/TextArea.svelte
  app/src/lib/utils/intersectionObserver.ts
  app/src/lib/utils/useResize.ts
  app/src/lib/utils/useStickyPinned.ts
Labels: svelte

#4134 File selection improvements
  app/src/lib/components/BranchFilesList.svelte
  app/src/lib/components/FileListItem.svelte
  app/src/lib/utils/getSelectionDirection.ts
  app/src/lib/utils/selectFilesInList.ts
  app/src/lib/utils/selection.ts
  app/src/lib/vbranches/fileIdSelection.ts
Labels: svelte

#4141 Use patched svelte eslint parser
  app/package.json
  pnpm-lock.yaml
Labels: svelte

#4109 Update modal component branch
  app/src/lib/branches/dragActions.ts
  app/src/lib/commits/dragActions.ts
  app/src/lib/components/Board.svelte
  app/src/lib/components/BranchCard.svelte
  app/src/lib/components/BranchCard/Dropzones.svelte
  app/src/lib/components/BranchDropzone.svelte
  app/src/lib/components/BranchLanePopupMenu.svelte
  app/src/lib/components/CommitDragItem.svelte
  app/src/lib/components/CommitList.svelte
  app/src/lib/components/CommitList/ReorderDropzone.svelte
  app/src/lib/components/Dropzone/CardOverlay.svelte
  app/src/lib/components/Dropzone/Dropzone.svelte
  app/src/lib/components/Dropzone/LineOverlay.svelte
  app/src/lib/components/DropzoneOverlay.svelte
  app/src/lib/components/Modal.svelte
  app/src/lib/dragging/draggable.ts
  app/src/lib/dragging/dropzone.ts
  app/src/lib/dragging/reorderDropzoneIndexer.ts
  app/src/lib/dragging/reorderDropzoneManager.ts
  app/src/routes/[projectId]/+layout.svelte
  app/src/routes/[projectId]/+layout.ts
Labels: svelte

#4146 Some quick UI fixes for the new dropzones
  app/src/lib/components/BranchCard.svelte
  app/src/lib/components/BranchCard/Dropzones.svelte
  app/src/lib/components/CommitDragItem.svelte
  app/src/lib/components/Dropzone/Dropzone.svelte
Labels: UI

#4144 fix(ui): GitHubService correct split of remoteUrl in case of alias
  app/src/lib/github/service.ts
Labels: svelte

#4152 UI tweaks #3
  app/src/lib/components/CommitCard.svelte
  app/src/lib/components/CommitDialog.svelte
  app/src/lib/components/CommitMessageInput.svelte
  app/src/lib/components/History.svelte
  app/src/lib/components/SnapshotCard.svelte
  app/src/lib/icons/icons.json
  app/src/lib/utils/svelteTransitions.ts
Labels: svelte

#4153 Refactor modal
  app/src/lib/components/Modal.svelte
  app/src/lib/utils/portal.ts
  app/src/styles/main.css
Labels: UI, svelte

#4150 Persist FileListItem checkbox detail
  app/src/lib/components/FileListItem.svelte
Labels: enhancement, UI, svelte

#4155 Modal animation timing update
  app/src/lib/components/Modal.svelte
Labels: svelte

#4156 no hello, lol
  app/src/lib/branch/BranchDropzone.svelte
Labels: svelte

#4160 Fix bug where no error toast shown on login failure
  app/src/lib/components/Login.svelte
  app/src/lib/components/WelcomeSigninAction.svelte
  app/src/lib/stores/user.ts
Labels: svelte

#4162 Use `gitoxide` to more reliably find the Git executable on Windows. (#1419)
  Cargo.lock
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/executor/tokio/mod.rs
Labels: rust

#4164 UI fix: jumpy sidebar width if it's folded
  app/src/lib/components/RemoteBranchPreview.svelte
  app/src/routes/[projectId]/base/+page.svelte
Labels: svelte

#4154 fix: update wording in Project settings AI options
  app/src/lib/settings/CloudForm.svelte
Labels: svelte

#4147 fix: improve git remoteUrl parsing
  app/package.json
  app/src/lib/github/service.test.ts
  app/src/lib/github/service.ts
  app/src/lib/utils/url.test.ts
  app/src/lib/utils/url.ts
  pnpm-lock.yaml
Labels: svelte

#4166 fix: use `@sentry/vite-plugin` to upload sourcemaps and create releases
  app/package.json
  app/svelte.config.js
  app/vite.config.ts
  pnpm-lock.yaml
Labels: svelte

#4167 Simplify login code a bit more
  app/src/lib/components/Login.svelte
  app/src/lib/components/WelcomeSigninAction.svelte
  app/src/lib/stores/user.ts
Labels: svelte

#4168 Fix bug in hunk -> branch assignment
  crates/gitbutler-core/src/virtual_branches/virtual.rs
Labels: rust

#4143 Redo line drawing
  app/.gitignore
  app/.storybook/main.ts
  app/.storybook/preview.ts
  app/package.json
  app/src/lib/branch/BranchFooter.svelte
  app/src/lib/branch/BranchLane.svelte
  app/src/lib/commit/Avatar.svelte
  app/src/lib/commit/CommitCard.svelte
  app/src/lib/commit/CommitLines.svelte
  app/src/lib/commit/CommitList.svelte
  app/src/lib/commit/CommitMessageInput.svelte
  app/src/lib/commit/LocalLine.svelte
  app/src/lib/commit/RemoteLine.svelte
  app/src/lib/commit/ShadowLine.svelte
  app/src/lib/commitLines/BaseNode.svelte
  app/src/lib/commitLines/Cell.svelte
  app/src/lib/commitLines/Cell/Fork.svelte
  app/src/lib/commitLines/Cell/Straight.svelte
  app/src/lib/commitLines/CommitNode.svelte
  app/src/lib/commitLines/Line.svelte
  app/src/lib/commitLines/LineGroup.svelte
  app/src/lib/commitLines/lineManager.ts
  app/src/lib/commitLines/transformers.ts
  app/src/lib/commitLines/types.ts
  app/src/lib/components/BaseBranch.svelte
  app/src/lib/components/RemoteBranchPreview.svelte
  app/src/lib/file/FileDiff.svelte
  app/src/lib/file/FileStatusIcons.svelte
  app/src/lib/utils/avatar.ts
  app/src/lib/utils/url.ts
  app/src/lib/vbranches/contexts.ts
  app/src/lib/vbranches/types.ts
  app/src/routes/+layout.svelte
  app/src/routes/+layout.ts
  app/src/stories/commitLines/DemoCommitLines.stories.ts
  app/src/stories/commitLines/DemoCommitLines.svelte
  app/src/stories/commitLines/DemoStaticCommitLines.stories.ts
  app/src/stories/commitLines/DemoStaticCommitLines.svelte
  app/src/styles/commit-lines.css
  app/src/styles/main.css
  pnpm-lock.yaml
Labels: svelte

#4173 Remove `timestamp_ms` from `Hunk`
  crates/gitbutler-core/src/virtual_branches/branch/hunk.rs
  crates/gitbutler-core/src/virtual_branches/virtual.rs
  crates/gitbutler-core/tests/virtual_branches/branch/hunk.rs
  crates/gitbutler-core/tests/virtual_branches/branch/ownership.rs
Labels: rust

#4174 cool with submodules
  crates/gitbutler-core/src/ops/oplog.rs
  crates/gitbutler-core/src/projects/controller.rs
Labels: rust

#4175 Update branch delete modal message
  app/src/lib/branch/BranchLanePopupMenu.svelte
Labels: svelte

#4176 remove unused code
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/reader.rs
Labels: rust

#4179 Fix daft mistake
  app/src/lib/commit/CommitList.svelte
Labels: svelte

#4181 Don't auto-generate branch names
  app/src/lib/branch/BranchCard.svelte
  app/src/lib/components/ProjectSetupTarget.svelte
  app/src/lib/config/config.ts
  app/src/lib/settings/CloudForm.svelte
Labels: svelte

#4182 Remove log that was intended at one point in time
  app/src/lib/commit/CommitList.svelte
Labels: svelte

#4183 style: Correct spelling of "Ammend" to "Amend" in CardOverlay.
  app/src/lib/commit/CommitDragItem.svelte
Labels: svelte

#4186 Don't focus the last item if multiple selection
  app/src/lib/file/FileListItem.svelte
Labels: UX, svelte

#4188 Add an 'allow rebasing' toggle on per-branch basis
  app/src/lib/branch/BranchLanePopupMenu.svelte
  app/src/lib/vbranches/branchController.ts
  app/src/lib/vbranches/types.ts
  crates/gitbutler-core/src/virtual_branches/base.rs
  crates/gitbutler-core/src/virtual_branches/branch/mod.rs
  crates/gitbutler-core/src/virtual_branches/virtual.rs
  crates/gitbutler-core/tests/suite/virtual_branches/amend.rs
  crates/gitbutler-core/tests/suite/virtual_branches/squash.rs
  crates/gitbutler-core/tests/suite/virtual_branches/update_base_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/update_commit_message.rs
  crates/gitbutler-core/tests/virtual_branches/branch/ownership.rs
  crates/gitbutler-core/tests/virtual_branches/iterator.rs
  crates/gitbutler-core/tests/virtual_branches/mod.rs
Labels: rust, svelte

#4189 Allow rebasing toogle menu position updated
  app/src/lib/branch/BranchLanePopupMenu.svelte
Labels: svelte

#4190 refactor: Remove rusqlite dependency and related code.
  Cargo.lock
  Cargo.toml
  crates/gitbutler-core/Cargo.toml
  crates/gitbutler-core/src/id.rs
Labels: rust

#4193 Fix: Base icon CSS
  app/src/lib/commit/CommitList.svelte
  app/src/lib/commitLines/BaseNode.svelte
Labels: svelte

#4195 Fix `overflow` issue for the Generate msg dropdown
  app/src/lib/commit/CommitMessageInput.svelte
Labels: svelte

#4180 Improve ai error handling
  app/src/lib/ai/anthropicClient.ts
  app/src/lib/ai/butlerClient.ts
  app/src/lib/ai/ollamaClient.ts
  app/src/lib/ai/openAIClient.ts
  app/src/lib/ai/service.test.ts
  app/src/lib/ai/service.ts
  app/src/lib/ai/types.ts
  app/src/lib/backend/httpClient.ts
  app/src/lib/branch/BranchCard.svelte
  app/src/lib/commit/CommitMessageInput.svelte
  app/src/lib/result.ts
Labels: svelte

#4194 more robust login handling by deleting corrupt user.json file
  crates/gitbutler-core/src/users/controller.rs
Labels: rust

#4197 refactor: move rebase functions out of virtual_branches module
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/rebase/mod.rs
  crates/gitbutler-core/src/virtual_branches/base.rs
  crates/gitbutler-core/src/virtual_branches/virtual.rs
Labels: rust

#4198 refactor: Remove unused _print_tree function.
  crates/gitbutler-core/src/virtual_branches/virtual.rs
Labels: rust

#4196 Fix for incorrect GitHub error when working in non-GitHub repos
  app/src/lib/github/service.test.ts
  app/src/lib/github/service.ts
Labels: svelte

#4199 Fix commit dialog backspace bug
  app/src/lib/commit/CommitMessageInput.svelte
Labels: svelte

#4200 move error marker out of virtual_branches mod
  crates/gitbutler-core/src/error.rs
  crates/gitbutler-core/src/project_repository/repository.rs
  crates/gitbutler-core/src/rebase/mod.rs
  crates/gitbutler-core/src/virtual_branches/base.rs
  crates/gitbutler-core/src/virtual_branches/errors.rs
  crates/gitbutler-core/src/virtual_branches/integration.rs
  crates/gitbutler-core/src/virtual_branches/mod.rs
  crates/gitbutler-core/src/virtual_branches/virtual.rs
  crates/gitbutler-core/tests/suite/virtual_branches/mod.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4201 Fail gracefully if remote branch not found
  app/src/lib/vbranches/virtualBranch.ts
Labels: svelte

#4202 Fix bug in PushButton component
  app/src/lib/components/PushButton.svelte
Labels: svelte

#4203 chore: update incorrect variable names in BranchFooter
  app/src/lib/branch/BranchFooter.svelte
Labels: svelte

#4204 Drop unused symbols
  app/src/lib/vbranches/types.ts
Labels: svelte

#4205 Show remote branch using name instead of sha
  app/src/lib/branches/types.ts
  app/src/lib/components/RemoteBranchPreview.svelte
  app/src/lib/navigation/BranchItem.svelte
  app/src/routes/[projectId]/remote/[...name]/+page.svelte
Labels: svelte

#4206 Do not allow `pxToRem` function get `undifined`
  app/src/lib/shared/Scrollbar.svelte
  app/src/lib/shared/TextBox.svelte
  app/src/lib/utils/pxToRem.ts
Labels: svelte

#4208 Fix bug related to switching from integration branch
  app/src/lib/backend/projects.ts
  app/src/lib/components/ProjectSwitcher.svelte
Labels: svelte

#4207 Use pr source branch as title in branch list
  app/src/lib/branches/types.ts
  app/src/lib/components/PullRequestPreview.svelte
  app/src/lib/github/types.ts
  app/src/lib/navigation/BranchItem.svelte
  app/src/lib/pr/PullRequestCard.svelte
Labels: svelte
