Repository gitbutlerapp/gitbutler, pull requests merged in 2024-07, with the labels that each got.

#4210 fix: add Sentry RewriteFrames integration
  app/src/lib/analytics/sentry.ts
Labels: svelte

#4025 Unapply to real branches
  app/src/lib/branch/BranchLanePopupMenu.svelte
  app/src/lib/vbranches/branchController.ts
  app/src/lib/vbranches/types.ts
  app/src/lib/vbranches/virtualBranch.ts
  crates/gitbutler-core/Cargo.toml
  crates/gitbutler-core/src/git/branch_ext.rs
  crates/gitbutler-core/src/git/commit_buffer.rs
  crates/gitbutler-core/src/git/commit_ext.rs
  crates/gitbutler-core/src/git/commit_headers.rs
  crates/gitbutler-core/src/git/mod.rs
  crates/gitbutler-core/src/git/repository_ext.rs
  crates/gitbutler-core/src/ops/snapshot.rs
  crates/gitbutler-core/src/project_repository/repository.rs
  crates/gitbutler-core/src/projects/controller.rs
  crates/gitbutler-core/src/rebase/mod.rs
  crates/gitbutler-core/src/types/mod.rs
  crates/gitbutler-core/src/types/tagged_string.rs
  crates/gitbutler-core/src/virtual_branches/base.rs
  crates/gitbutler-core/src/virtual_branches/controller.rs
  crates/gitbutler-core/src/virtual_branches/integration.rs
  crates/gitbutler-core/src/virtual_branches/state.rs
  crates/gitbutler-core/src/virtual_branches/virtual.rs
  crates/gitbutler-core/tests/suite/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/cherry_pick.rs
  crates/gitbutler-core/tests/suite/virtual_branches/convert_to_real_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/mod.rs
  crates/gitbutler-core/tests/suite/virtual_branches/move_commit_file.rs
  crates/gitbutler-core/tests/suite/virtual_branches/selected_for_changes.rs
  crates/gitbutler-core/tests/suite/virtual_branches/update_base_branch.rs
  crates/gitbutler-core/tests/virtual_branches/mod.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, svelte

#4165 migrate plain-text secrets to keystore
  Cargo.lock
  Cargo.toml
  app/src/lib/ai/service.test.ts
  app/src/lib/ai/service.ts
  app/src/lib/backend/gitConfigService.ts
  app/src/lib/secrets/secretsService.ts
  app/src/lib/utils/context.ts
  app/src/routes/+layout.svelte
  app/src/routes/+layout.ts
  app/src/routes/settings/ai/+page.svelte
  crates/gitbutler-core/Cargo.toml
  crates/gitbutler-core/src/assets.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/project_repository/repository.rs
  crates/gitbutler-core/src/secret.rs
  crates/gitbutler-core/src/serde.rs
  crates/gitbutler-core/src/types/sensitive.rs
  crates/gitbutler-core/src/users/controller.rs
  crates/gitbutler-core/src/users/user.rs
  crates/gitbutler-core/tests/fixtures/users/login-only.v1
  crates/gitbutler-core/tests/fixtures/users/with-github.v1
  crates/gitbutler-core/tests/git/credentials.rs
  crates/gitbutler-core/tests/secret/credentials.rs
  crates/gitbutler-core/tests/secret/mod.rs
  crates/gitbutler-core/tests/secret/users.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/commands.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/secret.rs
  crates/gitbutler-tauri/src/users.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/fixtures/user/minimal.v1
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/secrets.rs
  crates/gitbutler-testsupport/src/suite.rs
Labels: rust, svelte

#4184 make RPM bundles
  crates/gitbutler-tauri/tauri.conf.json
  scripts/release.sh
Labels: rust

#4121 Fix askpass pipe on windows
  Cargo.lock
  DEVELOPMENT.md
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/bin/askpass/windows-pipe.rs
  crates/gitbutler-git/src/bin/askpass/windows.rs
  crates/gitbutler-git/src/executor/tokio/mod.rs
  crates/gitbutler-git/src/executor/tokio/windows.rs
Labels: rust

#4225 refactor: Use normalizeBranchName in ActiveBranchStatus component for virtual branch names
  app/src/lib/branch/ActiveBranchStatus.svelte
Labels: app

#4220 Drag-n-drop update
  app/src/lib/branch/BranchCard.svelte
  app/src/lib/branch/BranchFooter.svelte
  app/src/lib/branch/BranchLane.svelte
  app/src/lib/branch/Dropzones.svelte
  app/src/lib/commit/CommitCard.svelte
  app/src/lib/commit/CommitDialog.svelte
  app/src/lib/commit/CommitDragItem.svelte
  app/src/lib/commit/CommitList.svelte
  app/src/lib/components/Board.svelte
  app/src/lib/dragging/draggable.ts
  app/src/lib/dropzone/CardOverlay.svelte
  app/src/lib/dropzone/LineOverlay.svelte
  app/src/lib/file/FileCardHeader.svelte
  app/src/lib/file/FileListItem.svelte
  app/src/lib/history/SnapshotCard.svelte
  app/src/lib/hunk/HunkViewer.svelte
  app/src/lib/shared/Resizer.svelte
  app/src/lib/shared/ScrollableContainer.svelte
  app/src/lib/shared/Scrollbar.svelte
  app/src/lib/utils/filePath.ts
  app/src/styles/draggable.css
  app/src/styles/main.css
Labels: UX/UI, svelte

#4232 Fix project selector label overflow
  app/src/lib/shared/SelectItem.svelte
Labels: app

#4236 Better filter branches to unapply in case of conflicts
  app/src/lib/branch/ActiveBranchStatus.svelte
  app/src/lib/branch/BranchCard.svelte
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/branch/BranchLanePopupMenu.svelte
  app/src/lib/branches/service.ts
  app/src/lib/branches/types.ts
  app/src/lib/commit/CommitCard.svelte
  app/src/lib/components/PullRequestPreview.svelte
  app/src/lib/navigation/BranchItem.svelte
  app/src/lib/testing/fixtures.ts
  app/src/lib/vbranches/types.ts
  app/src/lib/vbranches/virtualBranch.ts
  app/src/routes/[projectId]/stashed/[branchId]/+page.svelte
  crates/gitbutler-core/src/virtual_branches/virtual.rs
Labels: rust, app

#4234 Start capturing branch metrics
  app/src/lib/branches/service.ts
  app/src/lib/github/service.test.ts
  app/src/lib/github/service.ts
  app/src/lib/metrics/MetricsReporter.svelte
  app/src/lib/metrics/projectMetrics.ts
  app/src/lib/stores/remoteBranches.ts
  app/src/lib/utils/compare.ts
  app/src/lib/vbranches/virtualBranch.ts
  app/src/routes/+layout.ts
  app/src/routes/[projectId]/+layout.svelte
  app/src/routes/[projectId]/+layout.ts
Labels: app

#4237 Capture branch metrics individually
  app/src/lib/metrics/MetricsReporter.svelte
  app/src/lib/metrics/projectMetrics.ts
  app/src/lib/utils/compare.ts
  app/src/routes/+layout.svelte
  app/src/routes/[projectId]/+layout.svelte
  app/src/routes/[projectId]/+layout.ts
Labels: app

#4238 refactor: virtual branch controller - rm inner pattern
  crates/gitbutler-core/src/virtual_branches/controller.rs
Labels: rust

#4240 Preserve line breaks in commit descriptions
  app/src/lib/commit/CommitCard.svelte
Labels: app

#4239 Decrease metrics polling frequency
  app/src/lib/metrics/MetricsReporter.svelte
Labels: app

#4241 simplify vbranches deps graph
  crates/gitbutler-core/src/project_repository/mod.rs
  crates/gitbutler-core/src/project_repository/repository.rs
  crates/gitbutler-core/src/project_repository/signatures.rs
  crates/gitbutler-core/src/virtual_branches/base.rs
  crates/gitbutler-core/src/virtual_branches/controller.rs
  crates/gitbutler-core/src/virtual_branches/virtual.rs
  crates/gitbutler-core/tests/suite/virtual_branches/init.rs
  crates/gitbutler-core/tests/suite/virtual_branches/mod.rs
  crates/gitbutler-core/tests/virtual_branches/mod.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#4243 simplify virtual branches controller deps graph
  crates/gitbutler-core/src/virtual_branches/controller.rs
  crates/gitbutler-core/tests/suite/virtual_branches/amend.rs
  crates/gitbutler-core/tests/suite/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/convert_to_real_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/create_commit.rs
  crates/gitbutler-core/tests/suite/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/delete_virtual_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/fetch_from_remotes.rs
  crates/gitbutler-core/tests/suite/virtual_branches/init.rs
  crates/gitbutler-core/tests/suite/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-core/tests/suite/virtual_branches/mod.rs
  crates/gitbutler-core/tests/suite/virtual_branches/move_commit_file.rs
  crates/gitbutler-core/tests/suite/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/oplog.rs
  crates/gitbutler-core/tests/suite/virtual_branches/references.rs
  crates/gitbutler-core/tests/suite/virtual_branches/reorder_commit.rs
  crates/gitbutler-core/tests/suite/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/selected_for_changes.rs
  crates/gitbutler-core/tests/suite/virtual_branches/set_base_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/squash.rs
  crates/gitbutler-core/tests/suite/virtual_branches/unapply_ownership.rs
  crates/gitbutler-core/tests/suite/virtual_branches/undo_commit.rs
  crates/gitbutler-core/tests/suite/virtual_branches/update_base_branch.rs
  crates/gitbutler-core/tests/suite/virtual_branches/update_commit_message.rs
  crates/gitbutler-core/tests/suite/virtual_branches/upstream.rs
  crates/gitbutler-core/tests/suite/virtual_branches/verify_branch.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4244 Work around bug in PR status after branch push
  app/src/lib/pr/PullRequestCard.svelte
Labels: app

#4245 move the updating of "last fetch timestamp" logic
  crates/gitbutler-core/src/virtual_branches/controller.rs
  crates/gitbutler-core/tests/suite/virtual_branches/fetch_from_remotes.rs
  crates/gitbutler-core/tests/suite/virtual_branches/init.rs
  crates/gitbutler-core/tests/suite/virtual_branches/mod.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#4246 remove with_verify_branch middleware closures
  crates/gitbutler-core/src/virtual_branches/controller.rs
Labels: rust

#4250 remove the gitbutler generated key flow
  app/src/lib/backend/projects.ts
  app/src/lib/settings/KeysForm.svelte
  crates/gitbutler-core/src/git/credentials.rs
  crates/gitbutler-core/src/projects/project.rs
  crates/gitbutler-core/tests/git/credentials.rs
  crates/gitbutler-core/tests/suite/virtual_branches/init.rs
  crates/gitbutler-core/tests/suite/virtual_branches/mod.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-testsupport/src/suite.rs
Labels: rust, app

#4251 virtual branches controller - remove state dependency to credentials controller
  crates/gitbutler-core/src/virtual_branches/controller.rs
  crates/gitbutler-core/tests/suite/virtual_branches/init.rs
  crates/gitbutler-core/tests/suite/virtual_branches/mod.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#4252 feature flag for disabling the project semaphore
  app/src/lib/backend/projects.ts
  app/src/lib/settings/PreferencesForm.svelte
  crates/gitbutler-core/src/projects/project.rs
  crates/gitbutler-core/src/projects/storage.rs
  crates/gitbutler-core/src/virtual_branches/controller.rs
Labels: rust, app

#4256 start moving virtual_branches to separate crate
  .github/workflows/push.yaml
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/tests/branch.rs
  crates/gitbutler-branch/tests/virtual_branches/amend.rs
  crates/gitbutler-branch/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/convert_to_real_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/delete_virtual_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/init.rs
  crates/gitbutler-branch/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch/tests/virtual_branches/mod.rs
  crates/gitbutler-branch/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch/tests/virtual_branches/references.rs
  crates/gitbutler-branch/tests/virtual_branches/reorder_commit.rs
  crates/gitbutler-branch/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/squash.rs
  crates/gitbutler-branch/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-branch/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-branch/tests/virtual_branches/update_base_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch/tests/virtual_branches/upstream.rs
  crates/gitbutler-branch/tests/virtual_branches/verify_branch.rs
  crates/gitbutler-core/src/ops/oplog.rs
  crates/gitbutler-core/src/ops/snapshot.rs
  crates/gitbutler-core/src/virtual_branches/mod.rs
  crates/gitbutler-core/tests/core.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/watcher.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4258 Move virtual branches implementation out of core and into gitbutler-branch crate
  Cargo.lock
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/assets.rs
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/integration.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-branch/tests/branch.rs
  crates/gitbutler-branch/tests/extra/mod.rs
  crates/gitbutler-branch/tests/virtual_branches/create_commit.rs
  crates/gitbutler-core/src/assets.rs
  crates/gitbutler-core/src/dedup.rs
  crates/gitbutler-core/src/git/reference/mod.rs
  crates/gitbutler-core/src/git/reference/refname/virtual.rs
  crates/gitbutler-core/src/ops/oplog.rs
  crates/gitbutler-core/src/ops/reflog.rs
  crates/gitbutler-core/src/virtual_branches/author.rs
  crates/gitbutler-core/src/virtual_branches/mod.rs
  crates/gitbutler-core/tests/virtual_branches/mod.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-watcher/src/events.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4259 move cloud sync functionality to its own crate
  .github/workflows/push.yaml
  Cargo.lock
  Cargo.toml
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-sync/src/lib.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4260 move oplog to its own crate
  .github/workflows/push.yaml
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-branch/tests/virtual_branches/oplog.rs
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-core/src/fs.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/tests/core.rs
  crates/gitbutler-core/tests/ops/mod.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-oplog/src/lib.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-oplog/src/reflog.rs
  crates/gitbutler-oplog/src/snapshot.rs
  crates/gitbutler-oplog/src/state.rs
  crates/gitbutler-oplog/tests/mod.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/undo.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/file_monitor.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4261 move vb files to crate
  crates/gitbutler-branch/src/assets.rs
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/files.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/remote.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-branch/tests/extra/mod.rs
  crates/gitbutler-core/src/assets.rs
  crates/gitbutler-core/src/virtual_branches/mod.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#4262 Move branch state to a separate crate
  .github/workflows/push.yaml
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/integration.rs
  crates/gitbutler-branch/src/remote.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-branch/tests/extra/mod.rs
  crates/gitbutler-branch/tests/virtual_branches/oplog.rs
  crates/gitbutler-branchstate/Cargo.toml
  crates/gitbutler-branchstate/src/lib.rs
  crates/gitbutler-branchstate/src/state.rs
  crates/gitbutler-core/src/projects/project.rs
  crates/gitbutler-core/src/virtual_branches/mod.rs
  crates/gitbutler-core/tests/virtual_branches/iterator.rs
  crates/gitbutler-core/tests/virtual_branches/mod.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#4263 refactor project Repository
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/conflicts.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/integration.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/remote.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-core/src/git/credentials.rs
  crates/gitbutler-core/src/git/repository_ext.rs
  crates/gitbutler-core/src/project_repository/mod.rs
  crates/gitbutler-core/src/project_repository/repository.rs
  crates/gitbutler-core/src/projects/controller.rs
  crates/gitbutler-core/src/projects/project.rs
  crates/gitbutler-core/src/rebase/mod.rs
  crates/gitbutler-core/src/remotes/controller.rs
  crates/gitbutler-core/tests/git/credentials.rs
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4265 move repository code to own create
  .github/workflows/push.yaml
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/integration.rs
  crates/gitbutler-branch/src/remote.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/project_repository/mod.rs
  crates/gitbutler-core/src/project_repository/repository.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/app.rs
Labels: rust

#4268 remove useless stateful controller
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/projects/controller.rs
  crates/gitbutler-core/src/remotes/controller.rs
  crates/gitbutler-core/src/remotes/mod.rs
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
  crates/gitbutler-tauri/src/remotes.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust

#4253 Modal and select component fixes
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/branch/BranchLabel.svelte
  app/src/lib/branch/BranchLaneContextMenu.svelte
  app/src/lib/branch/BranchPreviewHeader.svelte
  app/src/lib/clickOutsideNew.ts
  app/src/lib/commit/CommitMessageInput.svelte
  app/src/lib/components/AIPromptEdit/DialogBubble.svelte
  app/src/lib/components/AIPromptSelect.svelte
  app/src/lib/components/BaseBranchSwitch.svelte
  app/src/lib/components/FilterBranchesButton.svelte
  app/src/lib/components/ProjectSetupTarget.svelte
  app/src/lib/components/ProjectSwitcher.svelte
  app/src/lib/components/PushButton.svelte
  app/src/lib/components/ViewPrContextMenu.svelte
  app/src/lib/components/contextmenu/ContextMenu.svelte
  app/src/lib/dropzone/CardOverlay.svelte
  app/src/lib/file/FileContextMenu.svelte
  app/src/lib/file/FileListItem.svelte
  app/src/lib/history/History.svelte
  app/src/lib/hunk/HunkContextMenu.svelte
  app/src/lib/hunk/HunkLines.svelte
  app/src/lib/hunk/HunkViewer.svelte
  app/src/lib/icons/icons.json
  app/src/lib/navigation/Branches.svelte
  app/src/lib/navigation/BranchesHeader.svelte
  app/src/lib/navigation/ProjectsPopup.svelte
  app/src/lib/pr/MergeButton.svelte
  app/src/lib/pr/PullRequestButton.svelte
  app/src/lib/pr/PullRequestCard.svelte
  app/src/lib/select/OptionsGroup.svelte
  app/src/lib/select/SearchItem.svelte
  app/src/lib/select/Select.svelte
  app/src/lib/select/SelectItem.svelte
  app/src/lib/settings/PreferencesForm.svelte
  app/src/lib/shared/Button.svelte
  app/src/lib/shared/DropDownButton.svelte
  app/src/lib/shared/Modal.svelte
  app/src/lib/shared/PopupMenu.svelte
  app/src/lib/shared/PopupMenuItem.svelte
  app/src/lib/shared/Select.svelte
  app/src/lib/shared/TextArea.svelte
  app/src/lib/shared/TextBox.svelte
  app/src/lib/utils/autoHeight.ts
  app/src/lib/utils/resizeObserver.ts
  app/src/routes/settings/ai/+page.svelte
  eslint.config.mjs
Labels: app

#4271 Fix switcing between projects disabled state
  app/src/lib/components/ProjectSwitcher.svelte
Labels: app

#4269 Prevented penguin genocide
  .github/actions/check-crate/action.yaml
  .github/workflows/push.yaml
  .vscode/settings.json
Labels: github_actions, rust

#4273 move repository ext trait to gitbutler-repo crate
  Cargo.lock
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/integration.rs
  crates/gitbutler-branch/src/remote.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-branch/tests/extra/mod.rs
  crates/gitbutler-core/src/git/mod.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-testsupport/src/test_project.rs
Labels: rust

#4275 move ProjectRepo into separate crate gitbutler-command-context
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/conflicts.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/integration.rs
  crates/gitbutler-branch/src/remote.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-command-context/Cargo.toml
  crates/gitbutler-command-context/src/lib.rs
  crates/gitbutler-command-context/src/repository.rs
  crates/gitbutler-core/src/git/mod.rs
  crates/gitbutler-core/src/project_repository/mod.rs
  crates/gitbutler-core/tests/core.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/credentials.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/tests/credentials.rs
  crates/gitbutler-repo/tests/fixtures/users/login-only.v1
  crates/gitbutler-repo/tests/fixtures/users/with-github.v1
  crates/gitbutler-repo/tests/mod.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/commands.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4276 separate sending zipped logs functionality into gitbutler-feedback crate
  Cargo.lock
  Cargo.toml
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/tests/core.rs
  crates/gitbutler-feedback/Cargo.toml
  crates/gitbutler-feedback/src/controller.rs
  crates/gitbutler-feedback/src/lib.rs
  crates/gitbutler-feedback/src/zipper.rs
  crates/gitbutler-feedback/tests/mod.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/zip.rs
Labels: rust

#4278 Fixes to popups
  app/src/lib/clickOutside.ts
  app/src/lib/clickOutsideNew.ts
  app/src/lib/components/contextmenu/ContextMenu.svelte
  app/src/lib/history/History.svelte
  app/src/lib/navigation/Navigation.svelte
  app/src/lib/navigation/ProjectSelector.svelte
  app/src/lib/navigation/ProjectsPopup.svelte
  app/src/lib/select/Select.svelte
Labels: app

#4279 Popup menus: update fixed margins to relative untis
  app/src/lib/components/contextmenu/ContextMenu.svelte
  app/src/lib/navigation/ProjectsPopup.svelte
Labels: app

#4249 Remove more remnents of unapplied branches
  crates/gitbutler-branch/src/base.rs
  crates/gitbutler-branch/src/controller.rs
  crates/gitbutler-branch/src/integration.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-branch/tests/extra/mod.rs
  crates/gitbutler-branch/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch/tests/virtual_branches/oplog.rs
  crates/gitbutler-branchstate/src/state.rs
  crates/gitbutler-core/src/git/commit_headers.rs
  crates/gitbutler-core/src/virtual_branches/branch/mod.rs
  crates/gitbutler-core/src/virtual_branches/branch/ownership.rs
  crates/gitbutler-core/tests/virtual_branches/branch/ownership.rs
  crates/gitbutler-oplog/src/oplog.rs
Labels: rust

#4222 fix: cleanup `hooks.client.ts` `handleError` fn
  app/src/app.d.ts
  app/src/hooks.client.ts
  app/src/routes/+layout.svelte
Labels: svelte, app

#4282 extract user crate
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/assets.rs
  crates/gitbutler-core/Cargo.toml
  crates/gitbutler-core/src/assets.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/project_repository/mod.rs
  crates/gitbutler-core/src/writer.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/config.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/tests/credentials.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/users.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/watcher.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-user/Cargo.toml
  crates/gitbutler-user/src/controller.rs
  crates/gitbutler-user/src/lib.rs
  crates/gitbutler-user/src/storage.rs
  crates/gitbutler-user/src/user.rs
  crates/gitbutler-user/tests/fixtures/users/login-only.v1
  crates/gitbutler-user/tests/fixtures/users/with-github.v1
  crates/gitbutler-user/tests/mod.rs
  crates/gitbutler-user/tests/secret/credentials.rs
  crates/gitbutler-user/tests/secret/mod.rs
  crates/gitbutler-user/tests/secret/users.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4283 move author and askpass mods
  Cargo.lock
  crates/gitbutler-branch/src/assets.rs
  crates/gitbutler-branch/src/author.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/remote.rs
  crates/gitbutler-branch/src/virtual.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/virtual_branches/mod.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/askpass.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-tauri/src/askpass.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#4285 Renaming crate gitbutler-branch to gitbutler-virtual
  Cargo.lock
  Cargo.toml
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/users.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/watcher.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-virtual/Cargo.toml
  crates/gitbutler-virtual/src/assets.rs
  crates/gitbutler-virtual/src/author.rs
  crates/gitbutler-virtual/src/base.rs
  crates/gitbutler-virtual/src/conflicts.rs
  crates/gitbutler-virtual/src/controller.rs
  crates/gitbutler-virtual/src/files.rs
  crates/gitbutler-virtual/src/integration.rs
  crates/gitbutler-virtual/src/lib.rs
  crates/gitbutler-virtual/src/remote.rs
  crates/gitbutler-virtual/src/virtual.rs
  crates/gitbutler-virtual/tests/branch.rs
  crates/gitbutler-virtual/tests/extra/mod.rs
  crates/gitbutler-virtual/tests/virtual_branches/amend.rs
  crates/gitbutler-virtual/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-virtual/tests/virtual_branches/convert_to_real_branch.rs
  crates/gitbutler-virtual/tests/virtual_branches/create_commit.rs
  crates/gitbutler-virtual/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-virtual/tests/virtual_branches/delete_virtual_branch.rs
  crates/gitbutler-virtual/tests/virtual_branches/init.rs
  crates/gitbutler-virtual/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-virtual/tests/virtual_branches/mod.rs
  crates/gitbutler-virtual/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-virtual/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-virtual/tests/virtual_branches/oplog.rs
  crates/gitbutler-virtual/tests/virtual_branches/references.rs
  crates/gitbutler-virtual/tests/virtual_branches/reorder_commit.rs
  crates/gitbutler-virtual/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-virtual/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-virtual/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-virtual/tests/virtual_branches/squash.rs
  crates/gitbutler-virtual/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-virtual/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-virtual/tests/virtual_branches/update_base_branch.rs
  crates/gitbutler-virtual/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-virtual/tests/virtual_branches/upstream.rs
  crates/gitbutler-virtual/tests/virtual_branches/verify_branch.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/events.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4286 Update animation timing
  app/src/lib/commit/CommitMessageInput.svelte
  app/src/lib/components/contextmenu/ContextMenu.svelte
  app/src/lib/navigation/ProjectsPopup.svelte
  app/src/lib/select/Select.svelte
Labels: app

#4288 remove unused keys module
  app/src/lib/backend/auth.ts
  app/src/routes/settings/git/+page.svelte
  crates/gitbutler-core/src/keys/controller.rs
  crates/gitbutler-core/src/keys/key.rs
  crates/gitbutler-core/src/keys/mod.rs
  crates/gitbutler-core/src/keys/storage.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/tests/core.rs
  crates/gitbutler-core/tests/keys/mod.rs
  crates/gitbutler-repo/src/credentials.rs
  crates/gitbutler-tauri/src/keys.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-testsupport/src/suite.rs
Labels: rust, app

#4289 move final virtual branch bits out of core
  Cargo.lock
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/target.rs
  crates/gitbutler-branchstate/src/state.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/virtual_branches/mod.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-oplog/src/reflog.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-virtual/src/base.rs
  crates/gitbutler-virtual/src/controller.rs
  crates/gitbutler-virtual/src/integration.rs
  crates/gitbutler-virtual/src/remote.rs
  crates/gitbutler-virtual/src/virtual.rs
  crates/gitbutler-virtual/tests/extra/mod.rs
Labels: rust

#4293 fix: set fallback icon
  app/src/lib/ext-icons/index.ts
Labels: app

#4292 remove unused `lock` module and dependency to `fslock`
  Cargo.lock
  crates/gitbutler-core/Cargo.toml
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/lock.rs
  crates/gitbutler-core/tests/core.rs
  crates/gitbutler-core/tests/lock/mod.rs
Labels: rust

#4295 move error module to it's own crate
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branchstate/Cargo.toml
  crates/gitbutler-branchstate/src/state.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-error/Cargo.toml
  crates/gitbutler-error/src/error.rs
  crates/gitbutler-error/src/lib.rs
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/error.rs
  crates/gitbutler-tauri/src/menu.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/zip.rs
  crates/gitbutler-virtual/Cargo.toml
  crates/gitbutler-virtual/src/base.rs
  crates/gitbutler-virtual/src/conflicts.rs
  crates/gitbutler-virtual/src/integration.rs
  crates/gitbutler-virtual/src/virtual.rs
  crates/gitbutler-virtual/tests/virtual_branches/mod.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4297 extract more modules out of core
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/src/diff.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-error/src/error.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-oplog/src/state.rs
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-serde/Cargo.toml
  crates/gitbutler-serde/src/lib.rs
  crates/gitbutler-serde/src/serde.rs
  crates/gitbutler-virtual/Cargo.toml
  crates/gitbutler-virtual/src/base.rs
  crates/gitbutler-virtual/src/dedup.rs
  crates/gitbutler-virtual/src/lib.rs
  crates/gitbutler-virtual/src/remote.rs
  crates/gitbutler-virtual/src/virtual.rs
Labels: rust

#4301 Use rename
  crates/gitbutler-branch/src/branch.rs
Labels: rust

#4255 better logs
  Cargo.lock
  crates/gitbutler-tauri/src/logs.rs
Labels: rust

#4303 Rename ProjectRepo to ProjectRepository
  crates/gitbutler-command-context/src/lib.rs
  crates/gitbutler-command-context/src/repository.rs
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/credentials.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/tests/credentials.rs
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-virtual/src/base.rs
  crates/gitbutler-virtual/src/conflicts.rs
  crates/gitbutler-virtual/src/controller.rs
  crates/gitbutler-virtual/src/integration.rs
  crates/gitbutler-virtual/src/remote.rs
  crates/gitbutler-virtual/src/virtual.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4299 feat: add postcss-preset-env
  app/package.json
  app/postcss.config.cjs
  pnpm-lock.yaml
Labels: app

#4305 extract more things out of gitbutler-core
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/src/branch_ext.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-core/src/git/mod.rs
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-core/src/path.rs
  crates/gitbutler-core/src/types/mod.rs
  crates/gitbutler-reference/Cargo.toml
  crates/gitbutler-reference/src/lib.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/credentials.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/ssh.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-tagged-string/Cargo.toml
  crates/gitbutler-tagged-string/src/lib.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/test_project.rs
  crates/gitbutler-url/Cargo.toml
  crates/gitbutler-url/src/convert.rs
  crates/gitbutler-url/src/lib.rs
  crates/gitbutler-url/src/parse.rs
  crates/gitbutler-url/src/scheme.rs
  crates/gitbutler-virtual/Cargo.toml
  crates/gitbutler-virtual/src/controller.rs
  crates/gitbutler-virtual/tests/virtual_branches/init.rs
  crates/gitbutler-virtual/tests/virtual_branches/mod.rs
Labels: rust

#4306 move windows module to tauri
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/windows.rs
Labels: rust

#4307 remove references to gitbutler-core
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branchstate/Cargo.toml
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-command-context/Cargo.toml
  crates/gitbutler-config/Cargo.toml
  crates/gitbutler-core/Cargo.toml
  crates/gitbutler-core/src/lib.rs
  crates/gitbutler-feedback/Cargo.toml
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-reference/Cargo.toml
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-user/Cargo.toml
  crates/gitbutler-virtual/Cargo.toml
  crates/gitbutler-watcher/Cargo.toml
Labels: rust

#4304 fix: Sentry release and sourcemaps
  .github/workflows/publish.yaml
  app/package.json
  app/src/lib/analytics/sentry.ts
  app/vite.config.ts
  pnpm-lock.yaml
  scripts/release.sh
  turbo.json
Labels: app

#4311 Remove old locking
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
  crates/gitbutler-virtual/src/branch_manager.rs
  crates/gitbutler-virtual/src/virtual.rs
  crates/gitbutler-virtual/tests/virtual_branches/create_commit.rs
Labels: rust

#4312 no-proxy
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/users.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/watcher.rs
  crates/gitbutler-virtual/src/assets.rs
  crates/gitbutler-virtual/src/lib.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4313 Fix migration code
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/tests/ownership.rs
  crates/gitbutler-branchstate/src/state.rs
  crates/gitbutler-virtual/src/base.rs
  crates/gitbutler-virtual/src/branch_manager.rs
  crates/gitbutler-virtual/src/integration.rs
  crates/gitbutler-virtual/src/virtual.rs
Labels: rust

#4314 Update other logic TODO: dedup logic
  crates/gitbutler-branchstate/src/state.rs
Labels: rust

#4320 Rename VirtualBrancesAccess to _Ext since it's the convention
  crates/gitbutler-branchstate/src/lib.rs
  crates/gitbutler-branchstate/src/state.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-virtual/src/actions.rs
  crates/gitbutler-virtual/src/base.rs
  crates/gitbutler-virtual/src/branch_manager.rs
  crates/gitbutler-virtual/src/integration.rs
  crates/gitbutler-virtual/src/virtual.rs
  crates/gitbutler-virtual/tests/extra/mod.rs
  crates/gitbutler-virtual/tests/virtual_branches/oplog.rs
Labels: rust

#4322 rename gitbutler-virtual to gitbutler-branch-actions
  Cargo.lock
  Cargo.toml
  DEVELOPMENT.md
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/author.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager.rs
  crates/gitbutler-branch-actions/src/conflicts.rs
  crates/gitbutler-branch-actions/src/files.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/branch.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/convert_to_real_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/delete_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/init.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reorder_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/verify_branch.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/watcher.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/events.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4321 feat: extract svelte build into own GHA job
  .github/workflows/publish.yaml
  app/vite.config.ts
  crates/gitbutler-tauri/tauri.conf.json
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
  scripts/release.sh
  turbo.json
Labels: rust, app

#4324 move branch state into the gitbutler-branch crate
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/state.rs
  crates/gitbutler-branchstate/Cargo.toml
  crates/gitbutler-branchstate/src/lib.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/cloud.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#4325 move ReferenceName tagged string to gitbutler-reference crate
  Cargo.lock
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/branch_ext.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/snapshot.rs
  crates/gitbutler-reference/src/lib.rs
  crates/gitbutler-tagged-string/src/lib.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#4327 fixes a regression created during refactoring
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#4326 Split branch manager into seperate traits
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_manager/mod.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
Labels: rust

#4328 Use impls rather than private traits
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
Labels: rust

#4331 fix generate branch name
  .vscode/settings.json
  app/src/lib/branch/BranchCard.svelte
  app/src/lib/branch/BranchFooter.svelte
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/branch/BranchLane.svelte
  app/src/lib/branch/BranchLaneContextMenu.svelte
Labels: app

#4333 fix: gitbutler/ui hot reload
  app/package.json
  package.json
  packages/ui/package.json
Labels: UI, app

#4334 Removed random letters
  app/src/lib/metrics/MetricsReporter.svelte
Labels: app

#4335 fix: commit avatar loading improvement
  app/src/lib/github/types.ts
  app/src/lib/gravatar/url.ts
  app/src/lib/vbranches/types.ts
  packages/ui/src/lib/CommitLines/AvatarImage.svelte
  packages/ui/src/lib/CommitLines/CommitNode.svelte
  packages/ui/src/lib/CommitLines/types.ts
  packages/ui/src/stories/CommitLines/DemoCommitLines.stories.ts
Labels: UI, app

#4336 Fix double loading of things on open
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4338 Fix double remote fetch
  crates/gitbutler-branch-actions/src/actions.rs
Labels: rust

#4341 Improvement: the new branch creation button for the "up to date" state
  app/src/lib/components/Board.svelte
Labels: app

#4343 Update: `New branch` button for the `Up to date` state
  app/src/lib/components/Board.svelte
  app/src/lib/icons/icons.json
Labels: app

#4337 fix: minor modal style tweaks
  app/src/lib/shared/Modal.svelte
Labels: app

#4316 multi-window safety
  Cargo.lock
  app/src/lib/backend/projects.ts
  app/src/lib/navigation/ProjectsPopup.svelte
  app/src/routes/[projectId]/+layout.ts
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/watcher.rs
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-watcher/src/file_monitor.rs
  crates/gitbutler-watcher/src/lib.rs
Labels: rust, app

#4350 CSS: fix for long code strings in the mpdal window, update code sting style
  app/src/lib/shared/Modal.svelte
  app/src/styles/main.css
Labels: app

#4359 Fix pr related problem in branch header
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/pr/PullRequestCard.svelte
Labels: app

#4360 Fix: reload vbranches on sync click
  app/src/lib/components/SyncButton.svelte
  app/src/lib/pr/PullRequestCard.svelte
Labels: app

#4362 Use s-curve backoff when refreshing github checks
  app/src/lib/backoff/scurve.test.ts
  app/src/lib/backoff/scurve.ts
  app/src/lib/gitHost/github/githubChecksMonitor.ts
Labels: app

#4363 Disable pr button when no commits
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/pr/PullRequestButton.svelte
Labels: app

#4364 Sleep a bit after merging pr before reloading
  app/src/lib/pr/PullRequestCard.svelte
Labels: app

#4365 Fix merge button by fetching from remotes after merge
  app/src/lib/pr/PullRequestCard.svelte
Labels: app

#4366 Handle unhandled promise rejections
  app/src/hooks.client.ts
Labels: app

#4367 Keep in progress checks badge as is while reloading
  app/src/lib/gitHost/github/githubChecksMonitor.ts
  app/src/lib/gitHost/github/githubPrMonitor.ts
  app/src/lib/gitHost/interface/gitHostChecksMonitor.ts
  app/src/lib/gitHost/interface/gitHostPrMonitor.ts
  app/src/lib/pr/PullRequestCard.svelte
Labels: app

#4373 Fix bug: missing fetch on subscribe call to github pr store
  app/src/lib/gitHost/github/githubListingService.ts
Labels: app

#4376 Fix bug in GitHost factory
  app/src/lib/gitHost/gitHostFactory.ts
Labels: app

#4379 fix: rm duplicate showError calls
  app/src/routes/+layout.svelte
Labels: app

#4381 CSS Fixes
  app/src/lib/commit/CommitMessageInput.svelte
  app/src/lib/components/Board.svelte
Labels: app

#4383 Fix patch: auto-scroll while dragging
  app/src/lib/dragging/draggable.ts
Labels: app

#4382 Simplify SystemEditor readable
  app/src/lib/components/Board.svelte
  app/src/lib/components/ProjectSettingsMenuAction.svelte
  app/src/lib/editorLink/editorLink.ts
  app/src/lib/file/FileContextMenu.svelte
  app/src/lib/hunk/HunkContextMenu.svelte
  app/src/lib/utils/systemEditor.ts
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/menu.rs
Labels: rust, app

#4385 Fix bug in sync button
  app/src/lib/components/SyncButton.svelte
Labels: app

#4384 Disable pr button when no gitHost available
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/pr/PullRequestButton.svelte
Labels: app

#4387 Fix for pr button not showing a selected action
  app/src/lib/pr/PullRequestButton.svelte
Labels: app

#4388 Fixed logic for removing the ghost line
  packages/ui/src/lib/CommitLines/lineManager.ts
Labels: UI

#4390 chore: nit pick some things in fetchSignal.ts
  app/src/lib/fetchSignal/fetchSignal.ts
Labels: app

#4391 Fix: Improve textarea height updating in CommitMessageInput.
  app/src/lib/commit/CommitMessageInput.svelte
Labels: app

#4396 feat: add `io.wp.com` to `img-src` CSP for gravatar / auth0 fallback avatars
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
Labels: rust

#4398 Remove recursion error in ShareissueModal
  app/src/lib/components/ShareIssueModal.svelte
Labels: app

#4397 fix: add more `*.wp.com` subdomains
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
Labels: rust

#4399 Fix for the "something went wrong" situation
  app/src/lib/file/FileDiff.svelte
  app/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust, app

#4392 normilize-branch-name-update
  app/src/lib/branch/ActiveBranchStatus.svelte
  app/src/lib/branch/BranchLaneContextMenu.svelte
  app/src/lib/utils/branch.test.ts
  app/src/lib/utils/branch.ts
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-reference/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, app

#4400 Extracted js normalize branch name into a service
  app/src/lib/branch/ActiveBranchStatus.svelte
  app/src/lib/branch/BranchLaneContextMenu.svelte
  app/src/lib/branches/nameNormalizationService.ts
  app/src/routes/+layout.svelte
Labels: app

#4401 Rename daft names
  app/src/lib/baseBranch/baseBranch.ts
  app/src/lib/branch/ActiveBranchStatus.svelte
  app/src/lib/branch/BranchCard.svelte
  app/src/lib/branch/BranchFooter.svelte
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/branch/BranchLane.svelte
  app/src/lib/branch/BranchLaneContextMenu.svelte
  app/src/lib/branch/BranchPreviewHeader.svelte
  app/src/lib/branch/Dropzones.svelte
  app/src/lib/branches/dragActions.ts
  app/src/lib/branches/service.ts
  app/src/lib/branches/types.ts
  app/src/lib/commit/CommitCard.svelte
  app/src/lib/commit/CommitDialog.svelte
  app/src/lib/commit/CommitDragItem.svelte
  app/src/lib/commit/CommitList.svelte
  app/src/lib/commit/CommitMessageInput.svelte
  app/src/lib/commits/dragActions.ts
  app/src/lib/components/RemoteBranchPreview.svelte
  app/src/lib/dragging/draggables.ts
  app/src/lib/dragging/reorderDropzoneManager.ts
  app/src/lib/file/FileListItem.svelte
  app/src/lib/hunk/HunkViewer.svelte
  app/src/lib/stores/remoteBranches.ts
  app/src/lib/vbranches/branchController.ts
  app/src/lib/vbranches/contexts.ts
  app/src/lib/vbranches/ownership.ts
  app/src/lib/vbranches/tooltip.ts
  app/src/lib/vbranches/types.ts
  app/src/lib/vbranches/virtualBranch.ts
Labels: app

#4402 rename Trunk to Target in the UI
  app/src/lib/navigation/BaseBranchCard.svelte
Labels: app

#4404 feat: Improve hunk poisoning message in FileDiff.svelte
  app/src/lib/file/FileDiff.svelte
Labels: app

#4405 fix: change button tooltip event listeners to `pointer*` versions
  app/src/lib/shared/Button.svelte
  app/src/lib/utils/tooltip.ts
Labels: app

#4406 upgrade mock_instant version
  Cargo.lock
  crates/gitbutler-watcher/vendor/debouncer/Cargo.toml
  crates/gitbutler-watcher/vendor/debouncer/src/event.rs
  crates/gitbutler-watcher/vendor/debouncer/src/lib.rs
  crates/gitbutler-watcher/vendor/debouncer/src/tests/mod.rs
  crates/gitbutler-watcher/vendor/debouncer/src/tests/schema.rs
Labels: rust

#4408 upgrade version of the windows crate
  Cargo.lock
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/bin/askpass/windows-pipe.rs
  crates/gitbutler-git/src/executor/tokio/windows.rs
Labels: rust

#4413 Fix everything runes runed
  app/package.json
  app/src/lib/commit/CommitDragItem.svelte
  app/src/lib/commits/dragActions.ts
  app/src/lib/components/ProjectSetup.svelte
  app/src/lib/components/ProjectSwitcher.svelte
  app/src/lib/navigation/ProjectsPopup.svelte
  app/src/lib/select/Select.svelte
  app/src/routes/[projectId]/pull/[number]/+page.svelte
  packages/ui/package.json
  pnpm-lock.yaml
Labels: UI, app

#4414 Revert "rename Trunk to Target in the UI"
  app/src/lib/navigation/BaseBranchCard.svelte
Labels: app

#4415 Fix up branches list
  Cargo.lock
  app/src/lib/branches/service.ts
  app/src/lib/components/FilterBranchesButton.svelte
  app/src/lib/navigation/Branches.svelte
  app/src/lib/vbranches/types.ts
  app/src/routes/[projectId]/remote/[...name]/+page.svelte
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-command-context/Cargo.toml
  crates/gitbutler-command-context/src/repository.rs
Labels: rust, app

#4410 clearer read-write separation
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
Labels: rust

#4411 feat: use `pnpm@9.5.0` `catalogs` feature to keep versions in sync within monorepo
  app/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: UI, app

#4420 Fix broken debounce in update interval
  app/src/routes/[projectId]/+layout.svelte
Labels: app

#4424 remove cirular dependency between virual and diff modules
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch/src/diff.rs
  crates/gitbutler-branch/src/hunk.rs
  crates/gitbutler-branch/tests/ownership.rs
Labels: rust

#4425 move hunk and diff code to a separate crate, out of the branch one
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/files.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/file_ownership.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/serde.rs
  crates/gitbutler-branch/tests/mod.rs
  crates/gitbutler-branch/tests/ownership.rs
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-diff/src/hunk.rs
  crates/gitbutler-diff/src/lib.rs
  crates/gitbutler-diff/tests/hunk.rs
  crates/gitbutler-diff/tests/mod.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/undo.rs
Labels: rust

#4421 Focus on the last selected item bug
  app/e2e/playwright/basic.spec.ts
  app/src/lib/components/Board.svelte
  app/src/lib/file/BranchFiles.svelte
  app/src/lib/file/BranchFilesList.svelte
  app/src/lib/file/FileListItem.svelte
  app/src/lib/shared/LazyloadContainer.svelte
  app/src/lib/utils/selection.ts
Labels: app

#4429 Revert "Focus on the last selected item bug"
  app/e2e/playwright/basic.spec.ts
  app/src/lib/components/Board.svelte
  app/src/lib/file/BranchFiles.svelte
  app/src/lib/file/BranchFilesList.svelte
  app/src/lib/file/FileListItem.svelte
  app/src/lib/shared/LazyloadContainer.svelte
  app/src/lib/utils/selection.ts
Labels: app

#4430 Files-list-refactor
  app/e2e/playwright/basic.spec.ts
  app/src/lib/components/Board.svelte
  app/src/lib/file/BranchFiles.svelte
  app/src/lib/file/BranchFilesList.svelte
  app/src/lib/file/FileListItem.svelte
  app/src/lib/shared/LazyloadContainer.svelte
  app/src/lib/utils/selection.ts
Labels: app

#4428 Check for empty data first as history can be empty.
  app/src/lib/history/history.ts
Labels: app

#4433 Fix: correct the role name
  app/e2e/playwright/basic.spec.ts
  app/src/lib/file/FileListItem.svelte
Labels: app

#4431 Use correct pr prop for enabling/disabling merge button
  app/src/lib/pr/PullRequestCard.svelte
Labels: app

#4434 refactor: Normalize branch name by replacing invalid characters with hyphens.
  crates/gitbutler-reference/src/lib.rs
Labels: rust

#4436 UXUI - Profile settings
  app/src/lib/components/SectionCard.svelte
  app/src/lib/components/WelcomeAction.svelte
  app/src/lib/icons/icons.json
  app/src/lib/settings/AuthorizationBanner.svelte
  app/src/lib/settings/GithubIntegration.svelte
  app/src/lib/settings/Sidebar.svelte
  app/src/lib/shared/InfoMessage.svelte
  app/src/routes/settings/ai/+page.svelte
  app/src/routes/settings/git/+page.svelte
  app/src/routes/settings/integrations/+page.svelte
Labels: app

#4437 UX: Do not close the commit dialog after commit
  app/src/lib/commit/CommitDialog.svelte
Labels: app

#4438 Only amend specific commit if hunk locked to previous change
  app/src/lib/commits/dragActions.ts
  app/src/lib/dragging/draggables.ts
  app/src/lib/hunk/HunkViewer.svelte
Labels: app

#4439 Fix bug where prs on other remotes sorts last
  app/src/lib/branches/types.ts
Labels: app

#4440 Rename file gitHostService.ts -> gitHost.ts
  app/src/lib/branch/BranchHeader.svelte
  app/src/lib/branch/BranchLane.svelte
  app/src/lib/gitHost/gitHostFactory.ts
  app/src/lib/gitHost/github/github.ts
  app/src/lib/gitHost/interface/gitHost.ts
  app/src/lib/navigation/Branches.svelte
  app/src/routes/[projectId]/+layout.svelte
  app/src/routes/[projectId]/board/+page.svelte
Labels: app

#4435 improved `conflict` file handling
  Cargo.lock
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/conflicts.rs
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#4445 Always open markdown links in external browser
  app/src/lib/components/AIPromptEdit/DialogBubble.svelte
  app/src/lib/components/PullRequestPreview.svelte
  app/src/lib/components/RemoteBranchPreview.svelte
  app/src/lib/notifications/ToastController.svelte
  app/src/lib/utils/markdown.ts
Labels: app

#4446 Adds error codes for commit failures
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-error/src/error.rs
Labels: rust

#4442 optimize `is_commit_integrated()`
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#4447 remove references to virtual branch controller from event handler
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4449 don't fail hard if there is no project metadata
  app/src/lib/components/ShareIssueModal.svelte
Labels: app

#4450 fix listing of snapshots
  crates/gitbutler-oplog/src/oplog.rs
Labels: rust

#4451 remove commented out code
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#4454 slightly refactor get_applied_status
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
Labels: rust

#4452 fix 4389
  app/src/lib/baseBranch/baseBranchService.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, app

#4456 make virtual.rs functions operate on VirtualBranchHunk
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
Labels: rust

#4457 move tree writing out of virtual branch actions
  Cargo.lock
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-diff/src/lib.rs
  crates/gitbutler-diff/src/write.rs
Labels: rust

#4458 modularize virtual.rs a bit more - move and siplify status commit file and hunk
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/file.rs
  crates/gitbutler-branch-actions/src/files.rs
  crates/gitbutler-branch-actions/src/hunk.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
Labels: rust

#4460 possible mitigation for the case when a conflicting branch is incorrectly not unapplied base update
  crates/gitbutler-branch-actions/src/integration.rs
Labels: rust

#4461 Small style fix: empty board links paddings
  app/src/lib/components/Board.svelte
Labels: app

#4462 more possible mitigations for the "failed to apply" problemt related to merge conflicts
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
Labels: rust
