Repository gitbutlerapp/gitbutler, pull requests merged in 2024-09, with the labels that each got.

#4807 Fix `copiedFromRemoteId` bug
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#4804 Tooltip-refactoring-+-new-component
  apps/desktop/src/lib/branch/ActiveBranchStatus.svelte
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/components/InsertEmptyCommitAction.svelte
  apps/desktop/src/lib/components/PullRequestPreview.svelte
  apps/desktop/src/lib/components/SyncButton.svelte
  apps/desktop/src/lib/components/UpdateBaseButton.svelte
  apps/desktop/src/lib/file/FileCardHeader.svelte
  apps/desktop/src/lib/file/FileDiff.svelte
  apps/desktop/src/lib/history/SnapshotCard.svelte
  apps/desktop/src/lib/navigation/DomainButton.svelte
  apps/desktop/src/lib/navigation/Footer.svelte
  apps/desktop/src/lib/navigation/ProjectSelector.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/pr/MergeButton.svelte
  apps/desktop/src/lib/pr/PullRequestButton.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/shared/DropDownButton.svelte
  apps/desktop/src/lib/shared/Toggle.svelte
  apps/desktop/src/lib/utils/svelteTransitions.ts
  packages/ui/package.json
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/Tooltip.svelte
  packages/ui/src/lib/avatar/Avatar.svelte
  packages/ui/src/lib/avatar/AvatarGroup.svelte
  packages/ui/src/lib/commitLines/CommitNode.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/lib/segmentControl/Segment.svelte
  packages/ui/src/lib/utils/tooltip.ts
  packages/ui/src/lib/utils/transitions.ts
  packages/ui/src/stories/badge/Badge.stories.ts
  packages/ui/src/stories/button/DemoButton.stories.ts
  packages/ui/src/stories/modal/Modal.stories.ts
  packages/ui/src/stories/tooltip/DemoTooltip.svelte
  packages/ui/src/stories/tooltip/Tooltip.stories.ts
  packages/ui/src/styles/components/tooltip.css
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/src/styles/main.css
  packages/ui/terrazzo.config.js
Labels: @gitbutler/desktop, @gitbutler/ui

#4810 Replase checkbox with toggle + copy update
  apps/desktop/src/lib/settings/GithubIntegration.svelte
Labels: @gitbutler/desktop

#4811 style(sidebar): Update padding and color for PR tags in SidebarEntry
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/Tooltip.svelte
  packages/ui/src/lib/avatar/Avatar.svelte
  packages/ui/src/stories/avatar/AvatarGrouping.stories.ts
  packages/ui/src/stories/sidebarEntry/DemoSidebarEntry.svelte
  packages/ui/src/stories/tooltip/DemoTooltip.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4816 fix: Zen PC hover animation
  apps/desktop/src/lib/components/BoardEmptyState.svelte
Labels: @gitbutler/desktop

#4817 Fix storybook build errors
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/file/FileListItem.svelte
Labels: @gitbutler/ui

#4822 fix: Update rootMargin values to include units in CommitAction and GroupHeader components
  apps/desktop/src/lib/commit/CommitAction.svelte
  apps/desktop/src/lib/navigation/GroupHeader.svelte
Labels: @gitbutler/desktop

#4813 Can remove repository if it's missing, from the error boundary page
  apps/desktop/src/app.d.ts
  apps/desktop/src/lib/assets/illustrations/not-found.svg
  apps/desktop/src/lib/backend/ipc.ts
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/components/DecorativeSplitView.svelte
  apps/desktop/src/lib/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/lib/components/ProblemLoadingRepo.svelte
  apps/desktop/src/lib/components/ProjectNotFound.svelte
  apps/desktop/src/lib/components/RemoveProjectButton.svelte
  apps/desktop/src/lib/components/SomethingWentWrong.svelte
  apps/desktop/src/lib/shared/Spacer.svelte
  apps/desktop/src/routes/+error.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-project/src/storage.rs
  crates/gitbutler-tauri/src/projects.rs
Labels: rust, @gitbutler/desktop

#4825 Fancy fast forward
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4821 fix: Update the select options correctly
  apps/desktop/src/lib/select/Select.svelte
Labels: @gitbutler/desktop

#4826 Improve the commit text content experience
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/utils/string.ts
Labels: @gitbutler/desktop

#4814 feat: add support for custom pull request template paths
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/gitHost/gitHostFactory.ts
  apps/desktop/src/lib/gitHost/github/github.ts
  apps/desktop/src/lib/gitHost/github/githubPrService.ts
  apps/desktop/src/lib/settings/GitHostForm.svelte
  apps/desktop/src/lib/settings/GithubIntegration.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/settings/+page.svelte
Labels: @gitbutler/desktop

#4820 Only discard the files changes inside the lane
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop, e2e-testing

#4833 Fix broken error page
  apps/desktop/src/routes/+error.svelte
Labels: @gitbutler/desktop

#4832 fix: Disable the PR button if there is no GitHub integration
  apps/desktop/src/lib/branch/BranchHeader.svelte
Labels: @gitbutler/desktop

#4837 remove useless credentials helper struct
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-repo/src/change_reference.rs
  crates/gitbutler-repo/src/credentials.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/tests/change_reference.rs
  crates/gitbutler-repo/tests/credentials.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/commands.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-testsupport/src/suite.rs
Labels: rust

#4828 fix: bump all svelte related dependencies
  apps/desktop/src/lib/branch/ActiveBranchStatus.svelte
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/components/AIPromptEdit/Content.svelte
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/components/ProjectSetup.svelte
  apps/desktop/src/lib/components/ProjectSetupTarget.svelte
  apps/desktop/src/lib/components/SectionCard.svelte
  apps/desktop/src/lib/components/SyncButton.svelte
  apps/desktop/src/lib/file/BranchFilesHeader.svelte
  apps/desktop/src/lib/navigation/ChunkyList.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/pr/PullRequestButton.svelte
  apps/desktop/src/lib/pr/ViewPrButton.svelte
  apps/desktop/src/lib/scroll/Scrollbar.svelte
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/shared/InfoMessage.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/base/+page.svelte
  apps/desktop/src/routes/[projectId]/board/+page.svelte
  apps/desktop/svelte.config.js
  apps/web/src/routes/downloads/+page.svelte
  package.json
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/Checkbox.svelte
  packages/ui/src/lib/Icon.svelte
  packages/ui/src/lib/Tooltip.svelte
  packages/ui/src/lib/avatar/AvatarGroup.svelte
  packages/ui/src/stories/button/DemoAllButtons.svelte
  packages/ui/svelte.config.js
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#4839 Remove unnecessary VirtualBranchActions struct
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/convert_to_real_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/delete_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/init.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reorder_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/verify_branch.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-tauri/src/repo.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4840 removes the legacy bool indicatin a vbranch is applied
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/src/state.rs
  crates/gitbutler-branch/tests/ownership.rs
  crates/gitbutler-cli/src/command/vbranch.rs
Labels: rust

#4841 fixes a test that should be using writable fixture
  crates/gitbutler-branch-actions/tests/virtual_branches/workspace_migration.rs
Labels: rust

#4844 Clean-up: BranchLaneContextMenu: Remove console.log
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
Labels: @gitbutler/desktop

#4748 fix: use our own `open-rs` implementation instead of relying on tauri's "shell-open"
  Cargo.lock
  apps/desktop/src/lib/barmenuActions/ProjectSettingsMenuAction.svelte
  apps/desktop/src/lib/components/AIPromptEdit/DialogBubble.svelte
  apps/desktop/src/lib/components/BoardEmptyState.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/components/DecorativeSplitView.svelte
  apps/desktop/src/lib/components/Markdown.svelte
  apps/desktop/src/lib/components/MarkdownContent.svelte
  apps/desktop/src/lib/components/PullRequestPreview.svelte
  apps/desktop/src/lib/components/contextmenu/ContextMenuItem.svelte
  apps/desktop/src/lib/components/markdownRenderers/Blockquote.svelte
  apps/desktop/src/lib/components/markdownRenderers/Code.svelte
  apps/desktop/src/lib/components/markdownRenderers/Codespan.svelte
  apps/desktop/src/lib/components/markdownRenderers/Heading.svelte
  apps/desktop/src/lib/components/markdownRenderers/Image.svelte
  apps/desktop/src/lib/components/markdownRenderers/Paragraph.svelte
  apps/desktop/src/lib/components/markdownRenderers/Space.svelte
  apps/desktop/src/lib/components/markdownRenderers/Text.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/gitHost/github/githubPrService.ts
  apps/desktop/src/lib/hunk/HunkContextMenu.svelte
  apps/desktop/src/lib/notifications/ToastController.svelte
  apps/desktop/src/lib/settings/Sidebar.svelte
  apps/desktop/src/lib/settings/SupportersBanner.svelte
  apps/desktop/src/lib/shared/IconLink.svelte
  apps/desktop/src/lib/shared/Link.svelte
  apps/desktop/src/lib/utils/markdown.ts
  apps/desktop/src/lib/utils/markdownRenderers.ts
  apps/desktop/src/lib/utils/string.ts
  apps/desktop/src/lib/utils/url.ts
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/menu.rs
  crates/gitbutler-tauri/src/open.rs
  crates/gitbutler-tauri/tauri.conf.json
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
  crates/gitbutler-tauri/tauri.conf.test.json
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#4829 UI: Info Button component
  packages/ui/src/lib/InfoButton.svelte
  packages/ui/src/lib/Tooltip.svelte
  packages/ui/src/lib/utils/clickOutside.ts
  packages/ui/src/lib/utils/tooltipPosition.ts
  packages/ui/src/lib/utils/transitions.ts
  packages/ui/src/stories/infoButton/DemoInfoButton.svelte
  packages/ui/src/stories/infoButton/InfoButton.stories.ts
  packages/ui/src/stories/tooltip/Tooltip.stories.ts
Labels: @gitbutler/ui

#4849 refactor clone for clarity
  crates/gitbutler-tauri/src/error.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust

#4856 remove incorrect placeholder
  apps/desktop/src/lib/onboarding/CloneForm.svelte
Labels: @gitbutler/desktop

#4845 Commit List: Allow force push when removing commits
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#4862 Edit mode UI updates
  apps/desktop/src/lib/components/EditMode.svelte
  packages/ui/src/lib/InfoButton.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4867 Update gix-path to version 0.10.11
  Cargo.lock
  crates/gitbutler-git/Cargo.toml
Labels: rust

#4873 Issues
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/gitHost/azure/azure.ts
  apps/desktop/src/lib/gitHost/bitbucket/bitbucket.ts
  apps/desktop/src/lib/gitHost/github/github.ts
  apps/desktop/src/lib/gitHost/github/issueService.ts
  apps/desktop/src/lib/gitHost/gitlab/gitlab.ts
  apps/desktop/src/lib/gitHost/interface/gitHost.ts
  apps/desktop/src/lib/gitHost/interface/gitHostIssueService.ts
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/navigation/TopicsButton.svelte
  apps/desktop/src/lib/topics/CreateIssueModal.svelte
  apps/desktop/src/lib/topics/CreateTopicModal.svelte
  apps/desktop/src/lib/topics/Topic.svelte
  apps/desktop/src/lib/topics/service.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/topics/+page.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
Labels: @gitbutler/desktop

#4870 style: Updated box-shadow to use custom variable in ContextMenu and Select components
  apps/desktop/src/lib/components/contextmenu/ContextMenu.svelte
  apps/desktop/src/lib/select/Select.svelte
Labels: @gitbutler/desktop

#4878 fix: `createPr` arguments order
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/gitHost/github/githubPrService.ts
  apps/desktop/src/lib/gitHost/interface/gitHostPrService.ts
  apps/desktop/src/lib/gitHost/interface/types.ts
Labels: @gitbutler/desktop

#4874 fix: rm unnecessary `Space.svelte` and add `List`/`ListItem`
  apps/desktop/src/lib/components/MarkdownContent.svelte
  apps/desktop/src/lib/components/markdownRenderers/List.svelte
  apps/desktop/src/lib/components/markdownRenderers/ListItem.svelte
  apps/desktop/src/lib/components/markdownRenderers/Space.svelte
  apps/desktop/src/lib/utils/markdownRenderers.ts
Labels: @gitbutler/desktop

#4876 fix: File key navigation and selection
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/shared/LazyloadContainer.svelte
  apps/desktop/src/lib/utils/getSelectionDirection.ts
  apps/desktop/src/lib/utils/selection.ts
Labels: @gitbutler/desktop

#4859 Improve the file list checkboxes behavior
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/file/BranchFilesHeader.svelte
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/hunk/types.ts
  apps/desktop/src/lib/navigation/ChunkyList.svelte
  apps/desktop/src/lib/utils/array.ts
  apps/desktop/src/lib/utils/chunk.ts
  apps/desktop/src/lib/utils/fileSections.ts
  apps/desktop/src/lib/vbranches/ownership.ts
  packages/ui/src/lib/Checkbox.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/desktop, @gitbutler/ui

#4882 Fix janky generics
  apps/desktop/src/lib/navigation/ChunkyList.svelte
  eslint.config.js
Labels: @gitbutler/desktop

#4883 fix: improve deeply nested token rendering
  apps/desktop/src/lib/components/MarkdownContent.svelte
  apps/desktop/src/lib/components/markdownRenderers/Html.svelte
  apps/desktop/src/lib/components/markdownRenderers/Text.svelte
  apps/desktop/src/lib/utils/markdownRenderers.ts
Labels: @gitbutler/desktop

#4885 fix discarding of deleted and created files
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-diff/src/write.rs
Labels: rust

#4886 UI fixes: Hunk preview and checkboxes
  apps/desktop/src/lib/file/FileDiff.svelte
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  packages/ui/src/lib/Checkbox.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/stories/checkbox/Checkbox.stories.ts
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/desktop, @gitbutler/ui

#4888 fix: reactive markdown rendering
  apps/desktop/src/lib/components/Markdown.svelte
  apps/desktop/src/lib/components/MarkdownContent.svelte
  apps/desktop/src/lib/utils/markdownRenderers.ts
Labels: @gitbutler/desktop

#4869 Update api
  Cargo.lock
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/components/UpdateBaseButton.svelte
  apps/desktop/src/lib/layout/SettingsPage.svelte
  apps/desktop/src/lib/navigation/WorkspaceButton.svelte
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/lib/vbranches/upstreamIntegrationService.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-repo/src/change_reference.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-repo/tests/change_reference.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/undo.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#4893 fix: rm unnecessary extra markdown wrapping class
  apps/desktop/src/lib/components/AIPromptEdit/DialogBubble.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/components/Markdown.svelte
  apps/desktop/src/lib/components/PullRequestPreview.svelte
Labels: @gitbutler/desktop

#4894 improve topics
  apps/desktop/src/lib/gitHost/github/issueService.ts
  apps/desktop/src/lib/topics/CreateIssueModal.svelte
  apps/desktop/src/lib/topics/CreateTopicModal.svelte
  apps/desktop/src/lib/topics/Topic.svelte
  apps/desktop/src/routes/[projectId]/topics/+page.svelte
Labels: @gitbutler/desktop

#4907 feat: Add onclick prop to DefaultTargetButton
  apps/desktop/src/lib/branch/DefaultTargetButton.svelte
Labels: @gitbutler/desktop

#4908 Rename unapplying
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#4850 fix: refactor pr template path input to pre-filled `Select` instead of `TextBox`
  Cargo.lock
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/gitHost/azure/azure.ts
  apps/desktop/src/lib/gitHost/bitbucket/bitbucket.ts
  apps/desktop/src/lib/gitHost/gitHostFactory.ts
  apps/desktop/src/lib/gitHost/github/github.ts
  apps/desktop/src/lib/gitHost/github/githubPrService.ts
  apps/desktop/src/lib/gitHost/gitlab/gitlab.ts
  apps/desktop/src/lib/gitHost/interface/gitHostPrService.ts
  apps/desktop/src/lib/settings/GitHostForm.svelte
  apps/desktop/src/lib/settings/PullRequestTemplateForm.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/settings/+page.svelte
  crates/gitbutler-fs/src/lib.rs
  crates/gitbutler-project/src/lib.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/github.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
Labels: rust, @gitbutler/desktop

#4903 Base avatar bg color on srcUrl instead of tooltip
  packages/ui/src/lib/avatar/Avatar.svelte
  packages/ui/src/lib/utils/stringToColor.ts
Labels: @gitbutler/ui

#4913 Fixes scroll on drag
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/lib/file/FileListItem.svelte
Labels: @gitbutler/desktop

#4897 Fix HunkDiff borders
  apps/desktop/src/lib/hunk/HunkDiff.svelte
Labels: @gitbutler/desktop

#4916 fix: Only allow hunk selection in uncommited files
  apps/desktop/src/lib/branch/BranchLane.svelte
Labels: @gitbutler/desktop

#4917 fix: Don't update the state with the pre-effect
  apps/desktop/src/routes/[projectId]/pull/[number]/+page.svelte
Labels: @gitbutler/desktop

#4912 create a worktree-tree without an intermediate index
  Cargo.lock
  Cargo.toml
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#4900 ignore lock-errors on filesystems that lack support
  Cargo.lock
  Cargo.toml
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-project/src/access.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/window.rs
Labels: rust

#4918 fix: actions initialization for CommitDragItem
  apps/desktop/src/lib/commit/CommitDragItem.svelte
Labels: @gitbutler/desktop

#4884 Add some nice keyboard shortcuts for staging and selecting
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/file/BranchFiles.svelte
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/utils/hotkeys.ts
  apps/desktop/src/lib/utils/object.ts
  apps/desktop/src/lib/utils/selection.ts
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
  apps/desktop/src/lib/vbranches/ownership.ts
  packages/ui/src/lib/Modal.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4922 Fix mistake in push failure error capature
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#4919 fix: rm `effect.pre` used only to avoid previous bug
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#4921 feat: create 'Apperance' settings page and add highlight branchlane setting
  apps/desktop/src/lib/branch/BranchLabel.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/settings/Sidebar.svelte
  apps/desktop/src/lib/settings/SupportersBanner.svelte
  apps/desktop/src/routes/settings/appearance/+page.svelte
  apps/desktop/src/routes/settings/profile/+page.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#4923 Project target setup: Use default remote
  apps/desktop/src/lib/baseBranch/baseBranchService.ts
  apps/desktop/src/lib/components/ProjectSetup.svelte
  apps/desktop/src/lib/components/ProjectSetupTarget.svelte
  apps/desktop/src/lib/utils/array.ts
  apps/desktop/src/lib/utils/branch.ts
Labels: @gitbutler/desktop

#4909 Improve applying branches
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-commit/src/commit_headers.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4927 fix: Extract the name from the remote ref correctly
  apps/desktop/src/lib/utils/branch.test.ts
  apps/desktop/src/lib/utils/branch.ts
Labels: @gitbutler/desktop

#4925 Add commit context menu
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitContextMenu.svelte
Labels: @gitbutler/desktop

#4936 fix: Don't override the user settings
  apps/desktop/src/lib/barmenuActions/SwitchThemeMenuAction.svelte
  apps/desktop/src/lib/barmenuActions/ZoomInOutMenuAction.svelte
Labels: @gitbutler/desktop

#4937 feat: bump tauri to 1.8.0
  Cargo.lock
  crates/gitbutler-tauri/Cargo.toml
  package.json
  pnpm-lock.yaml
Labels: rust

#4939 refactor: Improve label for unapplying changes in BranchLaneContextMenu
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
Labels: @gitbutler/desktop

#4933 HunkDiff: Display a lock if needed
  apps/desktop/src/lib/hunk/HunkDiff.svelte
Labels: @gitbutler/desktop

#4938 fix: File section max line number & simplify hunk header calculation
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/utils/fileSections.ts
Labels: @gitbutler/desktop

#4940 Update the hunk locking style
  apps/desktop/src/lib/hunk/HunkDiff.svelte
Labels: @gitbutler/desktop

#4941 fix: Calculate the right file tree when resolving
  crates/gitbutler-edit-mode/src/lib.rs
Labels: rust

#4946 fix: use pull request template form
  apps/desktop/src/lib/settings/userPreferences/PullRequestTemplateForm.svelte
  apps/desktop/src/routes/[projectId]/settings/+page.svelte
Labels: @gitbutler/desktop

#4944 fix: Correct condition for removing right column
  packages/ui/src/lib/commitLines/lineManager.ts
Labels: @gitbutler/ui

#4945 Fix wrong files displaying in edit mode
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4947 The edit branch should not be listed in the side bar
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/remote.rs
Labels: rust

#4950 Small UI fixes
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/settings/userPreferences/BaseBranchSwitch.svelte
  apps/desktop/src/lib/settings/userPreferences/CloudForm.svelte
  apps/desktop/src/lib/settings/userPreferences/DetailsForm.svelte
  apps/desktop/src/lib/settings/userPreferences/PullRequestTemplateForm.svelte
  apps/desktop/src/lib/shared/Link.svelte
  apps/desktop/src/routes/[projectId]/settings/+page.svelte
Labels: @gitbutler/desktop

#4943 fix: protect read file from path traversal
  crates/gitbutler-fs/src/lib.rs
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust

#4956 refactor: replace custom entries with Object.entries
  apps/desktop/src/lib/utils/branch.ts
  apps/desktop/src/lib/utils/hotkeys.ts
  apps/desktop/src/lib/utils/object.ts
Labels: @gitbutler/desktop

#4948 Display the author and commit title in the edit mode
  apps/desktop/src/lib/commits/service.ts
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#4958 fix: submit commit title/desc with `ctrl+Enter` everywhere
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
Labels: @gitbutler/desktop

#4928 Get the upstream name from the pushed virtual branch
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/utils/branch.test.ts
  apps/desktop/src/lib/utils/branch.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#4962 Fix state for file selections not propagating
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/utils/flattenPromises.ts
  apps/desktop/src/lib/utils/selectFilesInList.ts
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
  apps/desktop/src/routes/[projectId]/base/+page.svelte
  apps/desktop/src/routes/[projectId]/board/+page.svelte
Labels: @gitbutler/desktop

#4959 Add basic views into stacks
  apps/web/package.json
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/styles/global.css
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/projects/+page.svelte
  apps/web/src/routes/projects/[projectId]/+page.svelte
  apps/web/src/routes/projects/[projectId]/+page.ts
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/stack/+page.svelte
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/stack/+page.ts
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.svelte
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.ts
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/versions/+page.svelte
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/versions/+page.ts
  pnpm-lock.yaml
Labels: @gitbutler/web

#4781 Fix snapshot details transformer
  apps/desktop/src/lib/history/types.ts
Labels: @gitbutler/desktop

#4963 IntegrateUpstreamModal: Factor out the modal
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/components/UpdateBaseButton.svelte
  apps/desktop/src/lib/vbranches/upstreamIntegrationService.ts
  packages/ui/src/lib/Modal.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4965 chore: update wsl2 path related error logging
  apps/desktop/src/lib/backend/projects.ts
Labels: @gitbutler/desktop

#4970 clean-up: Remove unnecessary function declaration
  apps/desktop/src/lib/components/UpdateBaseButton.svelte
Labels: @gitbutler/desktop

#4968 Refactor some of rebase.rs
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4964 `gitoxide` for commit with headers
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-commit/src/commit_buffer.rs
  crates/gitbutler-commit/src/commit_headers.rs
  crates/gitbutler-commit/src/lib.rs
  crates/gitbutler-oxidize/Cargo.toml
  crates/gitbutler-oxidize/src/lib.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#4971 Make the Select component generic
  apps/desktop/src/lib/select/Select.svelte
Labels: @gitbutler/desktop

#4973 Add tests for resolving indexes
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/testing_repository.rs
Labels: rust

#4802 UI: Upgrade to Storybook `8.3.0-beta.0`, add Vitest to UI package
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/vitest.workspace.ts
  pnpm-lock.yaml
  turbo.json
Labels: @gitbutler/ui

#4980 Fix merge commit unconflicted state
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-testsupport/src/testing_repository.rs
Labels: rust

#4981 Add helper function for matching trees, and start testing rebasing.
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4984 fix: Branch Search Hidden Input
  apps/desktop/src/lib/navigation/Branches.svelte
Labels: @gitbutler/desktop

#4985 fix: Test for integrateUpstreamModal being undefined
  apps/desktop/src/lib/components/BaseBranch.svelte
Labels: @gitbutler/desktop

#4855 fix: add crates to pnpm-workspace to avoid Vercel CI
  crates/gitbutler-tauri/tauri.conf.json
  crates/package.json
  pnpm-workspace.yaml
Labels: rust

#4986 fix: simplify crates/package.json setup
  crates/gitbutler-tauri/tauri.conf.json
  crates/package.json
Labels: rust

#4987 Add tests for reordering commits
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_trees.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/reorder_commits.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-cherry-pick/src/lib.rs
  crates/gitbutler-diff/src/write.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-testsupport/src/testing_repository.rs
Labels: rust

#4993 Use new git2 implementation
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_trees.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#4994 Add more tests to undo commit
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#4991 Custom font support for displaying diffs
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/navigation/ProjectAvatar.svelte
  apps/desktop/src/lib/settings/userSettings.ts
  apps/desktop/src/routes/settings/appearance/+page.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  packages/ui/src/styles/core/reset.css
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui

#4998 Create wd tree improvements
  Cargo.lock
  crates/gitbutler-branch-actions/src/branch_trees.rs
  crates/gitbutler-branch-actions/src/reorder_commits.rs
  crates/gitbutler-cherry-pick/src/lib.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-repo/tests/create_wd_tree.rs
  crates/gitbutler-repo/tests/mod.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/testing_repository.rs
Labels: rust

#5002 fix: Correctly detect conflicted files
  apps/desktop/src/lib/components/EditMode.svelte
Labels: @gitbutler/desktop

#4999 chore: Bump `git2-hooks`
  Cargo.lock
  crates/gitbutler-branch-actions/Cargo.toml
Labels: rust
