Repository gitbutlerapp/gitbutler, pull requests merged in 2024-08, with the labels that each got.

#4572 Switch tooltip from mouseover to pointerenter
  packages/ui/src/lib/utils/tooltip.ts
Labels: @gitbutler/ui

#4542 feat: clone repo onboarding step
  apps/desktop/src/lib/assets/illustrations/analytics.svg
  apps/desktop/src/lib/assets/illustrations/cloning-repo.svg
  apps/desktop/src/lib/assets/no-projects/new-project.svg
  apps/desktop/src/lib/assets/no-projects/signin.svg
  apps/desktop/src/lib/assets/signin.svg
  apps/desktop/src/lib/assets/welcome/clone-repo.svg
  apps/desktop/src/lib/assets/welcome/new-local-project.svg
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/barmenuActions/FileMenuAction.svelte
  apps/desktop/src/lib/barmenuActions/ProjectSettingsMenuAction.svelte
  apps/desktop/src/lib/components/ProjectSettingsMenuAction.svelte
  apps/desktop/src/lib/components/ProjectSetupTarget.svelte
  apps/desktop/src/lib/components/ProjectSwitcher.svelte
  apps/desktop/src/lib/components/SegmentControl/Segment.svelte
  apps/desktop/src/lib/components/SegmentControl/SegmentedControl.svelte
  apps/desktop/src/lib/components/SegmentControl/segment.ts
  apps/desktop/src/lib/components/Welcome.svelte
  apps/desktop/src/lib/components/WelcomeAction.svelte
  apps/desktop/src/lib/components/WelcomeSigninAction.svelte
  apps/desktop/src/lib/icons/icons.json
  apps/desktop/src/lib/navigation/ProjectsPopup.svelte
  apps/desktop/src/lib/onboarding/CloneForm.svelte
  apps/desktop/src/lib/shared/IconLink.svelte
  apps/desktop/src/lib/shared/Spacer.svelte
  apps/desktop/src/lib/shared/TextBox.svelte
  apps/desktop/src/lib/url/gitUrl.ts
  apps/desktop/src/lib/utils/toasts.ts
  apps/desktop/src/routes/+page.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/onboarding/+page.svelte
  apps/desktop/src/routes/onboarding/clone/+page.svelte
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/menu.rs
  crates/gitbutler-tauri/src/repo.rs
  packages/ui/src/lib/SegmentControl/Segment.svelte
  packages/ui/src/lib/SegmentControl/SegmentControl.svelte
  packages/ui/src/stories/SegmentControl/SegmentControl.stories.ts
  packages/ui/src/stories/SegmentControl/SegmentControl.svelte
  packages/ui/src/styles/components/commit-lines.css
  packages/ui/src/styles/utility/text.css
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#4564 branch-listing tests and refactors
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/tests/fixtures/for-listing.sh
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-commit/src/commit_headers.rs
Labels: rust

#4579 update sysinfo crate version
  Cargo.lock
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/repository.rs
Labels: rust

#4581 improve git revert
  Cargo.lock
  Cargo.toml
  crates/gitbutler-reference/tests/reference.rs
Labels: rust

#4583 improve ref normalization
  crates/gitbutler-reference/src/lib.rs
  crates/gitbutler-reference/tests/reference.rs
Labels: rust

#4587 Package UI update
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  packages/ui/src/lib/SegmentControl/Segment.svelte
  packages/ui/src/stories/SegmentControl/SegmentControl.stories.ts
  packages/ui/src/stories/SegmentControl/SegmentControl.svelte
  packages/ui/src/stories/a-introduction.mdx
  packages/ui/src/stories/b-design-tokens.mdx
  packages/ui/src/stories/c-colors.mdx
  pnpm-lock.yaml
Labels: @gitbutler/ui

#4561 feat: add WebdriverIO based E2E test setup
  .github/workflows/test-e2e.yml
  apps/desktop/e2e/wdio/example.e2e.js
  apps/desktop/e2e/wdio/utils.js
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  apps/desktop/wdio.conf.ts
  crates/gitbutler-tauri/tauri.conf.test.json
  package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#4588 fix: remove playwright
  .github/workflows/test-e2e.yml
  apps/desktop/e2e/index.spec.js
  apps/desktop/e2e/playwright/basic.spec.ts
  apps/desktop/e2e/utils.js
  apps/desktop/package.json
  apps/desktop/playwright.config.ts
  apps/desktop/src/lib/testing/fileHunks.ts
  apps/desktop/src/lib/testing/fixtures.ts
  apps/desktop/src/lib/testing/index.ts
  apps/desktop/src/routes/+layout.ts
  apps/desktop/vite.config.ts
  apps/desktop/wdio.conf.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#4594 Package UI update
  apps/desktop/src/lib/components/contextmenu/ContextMenu.svelte
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/shared/Modal.svelte
  packages/ui/.storybook/stories-styles.css
  packages/ui/package.json
  packages/ui/src/lib/design-tokens.json
  packages/ui/src/stories/b-design-tokens.mdx
  packages/ui/src/stories/c-colors.mdx
  packages/ui/src/styles/components/diff.css
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/src/styles/sharable/syntax-highlighting.css
  packages/ui/terrazzo.config.js
  packages/ui/tokens.config.js
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui

#4597 fix: commit message component behaviour
  apps/desktop/src/lib/clickOutside.ts
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/shared/Modal.svelte
Labels: @gitbutler/desktop

#4591 fix: cleanup dependencies in JS packages
  apps/desktop/package.json
  apps/web/package.json
  apps/web/svelte.config.js
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/web

#4599 fix: remove `CloneForm` clone type segment select
  apps/desktop/src/lib/onboarding/CloneForm.svelte
Labels: @gitbutler/desktop

#4600 Restore filters
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/BranchesHeader.svelte
  apps/desktop/src/routes/[projectId]/branch/[...name]/+page.svelte
Labels: @gitbutler/desktop

#4601 Eagerly redirect to workspace
  apps/desktop/src/routes/[projectId]/branch/[...name]/+page.svelte
Labels: @gitbutler/desktop

#4602 fix: add additional 'open' boolean to AppUpdater.svelte
  apps/desktop/src/lib/components/AppUpdater.svelte
Labels: @gitbutler/desktop

#4603 fix: ssh clone posthog event
  apps/desktop/src/lib/onboarding/CloneForm.svelte
Labels: @gitbutler/desktop

#4592 fix: add two additional tsconfig options
  apps/desktop/src/lib/ai/promptService.ts
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/commit/CommitAction.svelte
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/components/BaseBranchSwitch.svelte
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/components/ProjectSetup.svelte
  apps/desktop/src/lib/components/ProjectSetupTarget.svelte
  apps/desktop/src/lib/components/ShareIssueModal.svelte
  apps/desktop/src/lib/diff/characterIdMap.ts
  apps/desktop/src/lib/diff/index.ts
  apps/desktop/src/lib/ext-icons/index.ts
  apps/desktop/src/lib/file/BranchFilesHeader.svelte
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/gitHost/github/githubListingService.test.ts
  apps/desktop/src/lib/history/History.svelte
  apps/desktop/src/lib/history/history.ts
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/navigation/ProjectAvatar.svelte
  apps/desktop/src/lib/onboarding/CloneForm.svelte
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/shared/LazyloadContainer.svelte
  apps/desktop/src/lib/utils/filePath.ts
  apps/desktop/src/lib/utils/fileSections.test.ts
  apps/desktop/src/lib/utils/fileSections.ts
  apps/desktop/src/lib/utils/fileStatus.ts
  apps/desktop/src/lib/utils/groupBy.ts
  apps/desktop/src/lib/utils/intersectionObserver.ts
  apps/desktop/src/lib/utils/resizeObserver.ts
  apps/desktop/src/lib/utils/selection.ts
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
  apps/desktop/src/lib/vbranches/filetree.test.ts
  apps/desktop/src/lib/vbranches/filetree.ts
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/lib/vbranches/virtualBranch.ts
  apps/desktop/src/routes/+page.svelte
  apps/desktop/tsconfig.json
  packages/ui/src/lib/timeAgo/timeAgo.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#4605 Vidluther ai
  apps/desktop/src/lib/ai/types.ts
  apps/desktop/src/routes/settings/ai/+page.svelte
Labels: @gitbutler/desktop

#4608 Fix wrong authors when listing
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/routes/settings/ai/+page.svelte
Labels: @gitbutler/desktop

#4609 Don't group by day when searching
  apps/desktop/src/lib/navigation/Branches.svelte
Labels: @gitbutler/desktop

#4590 make the notion of `identity` typesafe.
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
Labels: rust

#4607 fix(web): initial services cleanup
  apps/web/src/lib/auth/authService.svelte.ts
  apps/web/src/lib/auth/authService.ts
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/persisted.svelte.ts
  apps/web/src/lib/user/userService.svelte.ts
  apps/web/src/lib/user/userService.ts
  apps/web/src/lib/utils/context.ts
  apps/web/src/lib/utils/persisted.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+layout.ts
  apps/web/src/routes/user/+page.svelte
Labels: @gitbutler/web

#4610 fix(web): minor cleanup on downloads page
  apps/web/src/lib/utils/context.ts
  apps/web/src/lib/utils/persisted.ts
  apps/web/src/routes/downloads/+page.svelte
Labels: @gitbutler/web

#4613 fix(eslint): missed file rename
  apps/web/src/lib/analytics/sentry.ts
Labels: @gitbutler/web

#4611 feat: filter out virtual branches without local or remote
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#4615 fix: Add selected state for sidebar entries
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/lib/navigation/PullRequestSidebarEntry.svelte
Labels: @gitbutler/desktop

#4617 feat(ui): Improve SidebarEntry layout and styling
  packages/ui/src/lib/sidebarEntry/SidebarEntry.svelte
Labels: @gitbutler/ui

#4619 feat(SidebarEntry): Enhance commit info display
  packages/ui/src/lib/sidebarEntry/SidebarEntry.svelte
Labels: @gitbutler/ui

#4621 Ensure ignored/submodule files and dirs are ignored
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#4612 fix: improve GHA code re-use
  .github/actions/check-crate/action.yaml
  .github/actions/init-env-node/action.yaml
  .github/actions/init-env-rust/action.yaml
  .github/workflows/publish.yaml
  .github/workflows/push.yaml
  .github/workflows/test-e2e.yml
Labels: @gitbutler/web

#4622 Sidebar branches UI
  apps/desktop/src/lib/assets/empty-state/no-branches.svg
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/GroupHeader.svelte
  apps/desktop/src/lib/shared/ScrollableContainer.svelte
  packages/ui/src/lib/avatar/Avatar.svelte
  packages/ui/src/lib/sidebarEntry/SidebarEntry.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4618 feat: Update merge base comparison for branch listing
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#4624 Don't error when clicking a virtual branch and going to workspace
  apps/desktop/src/routes/[projectId]/branch/[...name]/+page.svelte
Labels: @gitbutler/desktop

#4625 feat: Integrate BranchListingService for better branch management
  apps/desktop/src/lib/stores/remoteBranches.ts
  apps/desktop/src/lib/vbranches/virtualBranch.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#4620 Fix: remember last opened project again
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#4627 feat(navigation): improve search UX/UI
  apps/desktop/src/lib/navigation/Branches.svelte
Labels: @gitbutler/desktop

#4631 Sidebar branches UI update
  apps/desktop/src/lib/navigation/Branches.svelte
  packages/ui/src/lib/sidebarEntry/SidebarEntry.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4633 Sidebar branches UI update 2
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/types.ts
  packages/ui/src/lib/sidebarEntry/SidebarEntry.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4635 UI update: branches search style
  apps/desktop/src/lib/navigation/Branches.svelte
Labels: @gitbutler/desktop

#4634 Fix branch preview remote link
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
Labels: @gitbutler/desktop

#4637 Make branch listing sort more stable
  DEVELOPMENT.md
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/types.ts
Labels: @gitbutler/desktop

#4638 Add conditional author display branch sidebar
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  packages/ui/src/lib/sidebarEntry/SidebarEntry.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4632 branch-listing with `gix`
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/benches/README.md
  crates/gitbutler-branch-actions/benches/branches.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/tests/fixtures/branch-benches.sh
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/reference_ext.rs
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/lib.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#4644 Add inline unified word diffs
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  packages/ui/src/styles/sharable/syntax-highlighting.css
Labels: @gitbutler/desktop, @gitbutler/ui

#4640 Write tests for existing modes
  Cargo.lock
  crates/gitbutler-operating-modes/Cargo.toml
  crates/gitbutler-operating-modes/tests/operating_modes.rs
Labels: rust

#4649 fix(ui): update ui output
  apps/desktop/package.json
  apps/desktop/postcss.config.js
  apps/desktop/tsconfig.json
  eslint.config.mjs
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/postcss.config.js
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui

#4650 derive some useful traits for tagged string and reference name
  crates/gitbutler-reference/src/lib.rs
  crates/gitbutler-tagged-string/src/lib.rs
Labels: rust

#4655 Fix: path to fonts in UI
  packages/ui/package.json
Labels: @gitbutler/ui

#4652 Follow-up cleanup of Branch-Listing with `gix`
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/hunk.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/reference_ext.rs
  crates/gitbutler-commit/Cargo.toml
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-fs/Cargo.toml
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-oplog/src/state.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-reference/src/refname/remote.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-serde/Cargo.toml
  crates/gitbutler-serde/src/lib.rs
  crates/gitbutler-serde/src/serde.rs
  crates/gitbutler-url/Cargo.toml
Labels: rust

#4651 assure `benches` do not rot
  .github/workflows/push.yaml
  scripts/check.sh
Labels: rust

#4657 Revert "Merge pull request #4652 from gitbutlerapp/git2-to-gix"
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/hunk.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/reference_ext.rs
  crates/gitbutler-commit/Cargo.toml
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-fs/Cargo.toml
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-oplog/src/state.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-reference/src/refname/remote.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-serde/Cargo.toml
  crates/gitbutler-serde/src/lib.rs
  crates/gitbutler-serde/src/serde.rs
  crates/gitbutler-url/Cargo.toml
Labels: rust

#4659 UX/UI: Improve selected state for sidebar buttons
  apps/desktop/src/lib/navigation/DomainButton.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/navigation/WorkspaceButton.svelte
  packages/ui/src/lib/sidebarEntry/SidebarEntry.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4658 Fix complete app breakage due to BString serialization
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/hunk.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/reference_ext.rs
  crates/gitbutler-commit/Cargo.toml
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-fs/Cargo.toml
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-oplog/src/state.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-reference/src/refname/remote.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-serde/Cargo.toml
  crates/gitbutler-serde/src/bstring.rs
  crates/gitbutler-serde/src/lib.rs
  crates/gitbutler-serde/src/serde.rs
  crates/gitbutler-url/Cargo.toml
Labels: rust

#4664 fix: handle local paths as git remote URIs
  apps/desktop/src/lib/onboarding/CloneForm.svelte
  apps/desktop/src/lib/url/gitUrl.ts
Labels: @gitbutler/desktop

#4667 refactor: Change button text to "Delete local" in BranchPreviewHeader.
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
Labels: @gitbutler/desktop

#4665 Use `gix` for branch normalization
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/benches/branches.rs
  crates/gitbutler-reference/Cargo.toml
  crates/gitbutler-reference/src/lib.rs
  crates/gitbutler-reference/tests/reference.rs
Labels: rust

#4668 makes it easier to drag window
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/navigation/ProjectSelector.svelte
Labels: @gitbutler/desktop

#4669 feat(CloneForm): add error tracking and improve typing
  apps/desktop/src/lib/onboarding/CloneForm.svelte
Labels: @gitbutler/desktop

#4673 Lazy load sidebar entries and conditionally show PRs option
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/ChunkyList.svelte
  apps/desktop/src/lib/shared/LazyloadContainer.svelte
  apps/desktop/src/lib/utils/chunk.ts
  apps/desktop/src/lib/utils/debounce.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#4674 Have selected filter be specific to a project
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#4676 UI updates
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/lib/navigation/PullRequestSidebarEntry.svelte
  packages/ui/src/lib/CommitLines/CommitNode.svelte
  packages/ui/src/lib/avatar/Avatar.svelte
  packages/ui/src/lib/avatar/AvatarGrouping.svelte
  packages/ui/src/lib/design-tokens.json
  packages/ui/src/stories/avatar/Avatar.stories.ts
  packages/ui/src/stories/avatar/AvatarGrouping.stories.ts
  packages/ui/src/stories/avatar/DemoAvatarGrouping.svelte
  packages/ui/src/stories/sidebarEntry/DemoSidebarEntry.svelte
  packages/ui/src/stories/sidebarEntry/SidebarEntry.stories.ts
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/desktop, @gitbutler/ui

#4642 Add in edit mode variant (without logic for transitioning)
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-fs/Cargo.toml
  crates/gitbutler-operating-modes/Cargo.toml
  crates/gitbutler-operating-modes/src/lib.rs
  crates/gitbutler-operating-modes/tests/operating_modes.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4589 feat: initial `addProject` test with WebdriverIO
  apps/desktop/e2e/scripts/init-repositories.sh
  apps/desktop/e2e/tests/add-project.spec.ts
  apps/desktop/e2e/tests/index.spec.js
  apps/desktop/e2e/utils.js
  apps/desktop/e2e/utils.ts
  apps/desktop/package.json
  apps/desktop/src/lib/components/ProjectSetup.svelte
  apps/desktop/src/lib/components/ProjectSetupTarget.svelte
  apps/desktop/src/lib/components/Welcome.svelte
  apps/desktop/src/lib/components/WelcomeAction.svelte
  apps/desktop/src/lib/settings/AnalyticsConfirmation.svelte
  apps/desktop/tsconfig.json
  apps/desktop/wdio.conf.ts
  packages/ui/src/lib/inputs/Button.svelte
  pnpm-lock.yaml
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#4682 Provide current mode to frontend
  Cargo.lock
  apps/desktop/src/lib/head/headService.ts
  apps/desktop/src/lib/modes/service.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-operating-modes/Cargo.toml
  crates/gitbutler-operating-modes/src/commands.rs
  crates/gitbutler-operating-modes/src/lib.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/modes.rs
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-watcher/src/events.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust, @gitbutler/desktop

#4687 Refactor mode service to remove manual unsubscribe
  apps/desktop/src/lib/modes/service.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#4690 removes a code path through which an unknown ssh host is added as a known host
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/ssh.rs
Labels: rust

#4691 fail if Git author is missing
  crates/gitbutler-error/src/error.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-testsupport/src/test_project.rs
Labels: rust

#4689 better handling of missing projects
  crates/gitbutler-error/src/error.rs
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-tauri/src/projects.rs
Labels: rust, @gitbutler/desktop

#4686 feat: add ffmpeg video recorder for e2e tests
  .github/workflows/test-e2e.yml
  .gitignore
  apps/desktop/e2e/record.ts
  apps/desktop/e2e/scripts/init-repositories.sh
  apps/desktop/e2e/videos/.keep
  apps/desktop/wdio.conf.ts
Labels: @gitbutler/desktop

#4698 sanitize all text
  apps/desktop/src/lib/hunk/HunkDiff.svelte
Labels: @gitbutler/desktop

#4701 fix githost factory initialization
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#4702 fix mode undefined
  crates/gitbutler-tauri/src/window.rs
Labels: rust

#4703 fix: tooltips when used in elevated contexts
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  packages/ui/src/styles/components/tooltip.css
  packages/ui/src/styles/core/variables.css
Labels: @gitbutler/desktop, @gitbutler/ui

#4696 fix: e2e `record.ts` cleanup
  apps/desktop/e2e/record.ts
Labels: @gitbutler/desktop

#4709 Fix branch name deduplication
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#4706 fix: allow use of xdg-open binary to open links
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
Labels: rust

#4704 fix: eslint.config for testing
  apps/desktop/e2e/tests/index.spec.js
  apps/desktop/e2e/utils.ts
  eslint.config.js
Labels: @gitbutler/desktop

#4710 chore: migrate BranchHeader files to runes
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
Labels: @gitbutler/desktop

#4715 CSS fixes: branch
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/components/Board.svelte
Labels: @gitbutler/desktop

#4708 Use gix for cloning repositories
  Cargo.lock
  apps/desktop/src/lib/onboarding/CloneForm.svelte
  crates/gitbutler-tauri/src/repo.rs
  crates/gitbutler-watcher/Cargo.toml
Labels: rust, @gitbutler/desktop

#4695 Add edit mode actions
  Cargo.lock
  Cargo.toml
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/history/SnapshotCard.svelte
  apps/desktop/src/lib/history/types.ts
  apps/desktop/src/lib/modes/service.ts
  apps/desktop/src/lib/navigation/WorkspaceButton.svelte
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-edit-mode/Cargo.toml
  crates/gitbutler-edit-mode/src/commands.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-operating-modes/src/lib.rs
  crates/gitbutler-operating-modes/tests/operating_modes.rs
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/modes.rs
Labels: rust, @gitbutler/desktop

#4720 fix: allow github.com in img-src CSP
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
Labels: rust

#4725 fix: avatars from Google accounts via Auth0
  apps/desktop/src/lib/shared/AccountLink.svelte
  apps/desktop/src/routes/settings/profile/+page.svelte
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
Labels: rust, @gitbutler/desktop

#4707 Fix branch re-ordering
  apps/desktop/src/lib/components/Board.svelte
Labels: @gitbutler/desktop

#4671 fix: clicking 'Cancel' on new project page does nothing
  apps/desktop/src/lib/components/ProjectSetupTarget.svelte
Labels: @gitbutler/desktop

#4730 Fix applied -> in_workspace performance issue
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#4670 branch details with `gix`: 2.6x faster!
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/benches/branches.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/tests/fixtures/branch-details-benches.sh
  crates/gitbutler-branch-actions/tests/fixtures/for-details.sh
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list_details.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/target.rs
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command.rs
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-cli/src/command/prepare.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-command-context/Cargo.toml
  crates/gitbutler-command-context/src/lib.rs
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-project/src/lib.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-secret/Cargo.toml
  crates/gitbutler-serde/src/bstring.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/vendor/debouncer/Cargo.toml
Labels: rust

#4728 Improve app drag areas
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/branch/BranchDropzone.svelte
  apps/desktop/src/lib/components/Board.svelte
Labels: @gitbutler/desktop

#4735 fix: zoom shortcut codes for international keyboard users
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#4739 fix: invalid CSP syntax
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
Labels: rust

#4732 Visually distinguish draft prs in branch list
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/lib/navigation/PullRequestSidebarEntry.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/stories/sidebarEntry/DemoSidebarEntry.svelte
  packages/ui/src/stories/sidebarEntry/SidebarEntry.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#4731 Delete entry from .toml file when branch is integrated
  crates/gitbutler-branch-actions/src/base.rs
Labels: rust

#4740 minor UI lib updates
  apps/desktop/src/lib/assets/empty-state/app-new-version.svg
  apps/desktop/src/lib/assets/empty-state/app-up-to-date.svg
  apps/desktop/src/lib/assets/empty-state/commits-up-to-date.svg
  apps/desktop/src/lib/assets/empty-state/empty-folder.svg
  apps/desktop/src/lib/assets/empty-state/lane-new.svg
  apps/desktop/src/lib/assets/empty-state/lane-no-changes.svg
  apps/desktop/src/lib/assets/empty-state/no-branches.svg
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/file/BranchFilesHeader.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/Checkbox.svelte
  packages/ui/src/lib/segmentControl/Segment.svelte
  packages/ui/src/stories/badge/DemoBadge.svelte
  packages/ui/src/stories/badge/badge.stories.ts
  packages/ui/src/stories/button/DemoAllButtons.svelte
  packages/ui/src/stories/checkbox/DemoCheckbox.svelte
  packages/ui/src/stories/checkbox/checkbox.stories.ts
  packages/ui/src/stories/icon/Icon.stories.ts
  packages/ui/src/stories/icon/allIcon.stories.ts
  packages/ui/src/stories/icon/allIcons.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4717 Rebase revolution
  Cargo.lock
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/branches/dragActions.ts
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/commits/dragActions.ts
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/settings/PreferencesForm.svelte
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/routes/settings/experimental/+page.svelte
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/file.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-commit/src/commit_ext.rs
  crates/gitbutler-commit/src/commit_headers.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/conflicts.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust, @gitbutler/desktop

#4741 fix: add linux dependencies to tauri.conf
  crates/gitbutler-tauri/tauri.conf.nightly.json
  crates/gitbutler-tauri/tauri.conf.release.json
Labels: rust

#4743 Fix wdio and tsconfig errors
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#4744 better rev-walk in branch listing
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-repo/src/repository.rs
Labels: rust

#4742 Exit edit mode without saving
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/modes/service.ts
  crates/gitbutler-edit-mode/src/commands.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/modes.rs
Labels: rust, @gitbutler/desktop

#4746 UI lib updates #5
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/file/FileCardHeader.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/file/FileStatusCircle.svelte
  apps/desktop/src/lib/file/FileStatusIcons.svelte
  apps/desktop/src/lib/file/FileStatusTag.svelte
  apps/desktop/src/lib/history/SnapshotCard.svelte
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/file/FileIcon.svelte
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/lib/file/FileStatusBadge.svelte
  packages/ui/src/lib/file/fileIcons.ts
  packages/ui/src/lib/file/getFileIcon.ts
  packages/ui/src/lib/file/typeMap.ts
  packages/ui/src/lib/file/types.ts
  packages/ui/src/lib/utils/convertToBase64.ts
  packages/ui/src/stories/badge/Badge.stories.ts
  packages/ui/src/stories/badge/DemoBadge.svelte
  packages/ui/src/stories/checkbox/Checkbox.stories.ts
  packages/ui/src/stories/fileIcon/FileIcon.stories.ts
  packages/ui/src/stories/fileListItem/DemoFileListItem.svelte
  packages/ui/src/stories/fileListItem/FileListItem.stories.ts
  packages/ui/src/stories/icon/AllIcon.stories.ts
  packages/ui/src/stories/icon/AllIcons.svelte
  packages/ui/src/stories/linkButton/LinkButton.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#4754 Use the auto-resolution if the head is conflicted
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#4753 Add zoom functionality with keyboard shortcuts and update menu actions for the `View` item
  apps/desktop/src/lib/barmenuActions/GlobalSettingsMenuAction.svelte
  apps/desktop/src/lib/barmenuActions/ReloadMenuAction.svelte
  apps/desktop/src/lib/barmenuActions/SwitchThemeMenuAction.svelte
  apps/desktop/src/lib/barmenuActions/ZoomInOutMenuAction.svelte
  apps/desktop/src/routes/+layout.svelte
  crates/gitbutler-tauri/src/menu.rs
Labels: rust, @gitbutler/desktop

#4756 Commits and another enum correction
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#4758 Suppress up-to-date if not invoked manually
  apps/desktop/src/lib/backend/updater.test.ts
  apps/desktop/src/lib/backend/updater.ts
Labels: @gitbutler/desktop

#4736 feat: use PR template when available
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/gitHost/azure/azure.ts
  apps/desktop/src/lib/gitHost/bitbucket/bitbucket.ts
  apps/desktop/src/lib/gitHost/gitHostFactory.ts
  apps/desktop/src/lib/gitHost/github/github.test.ts
  apps/desktop/src/lib/gitHost/github/github.ts
  apps/desktop/src/lib/gitHost/github/githubBranch.test.ts
  apps/desktop/src/lib/gitHost/github/githubChecksMonitor.test.ts
  apps/desktop/src/lib/gitHost/github/githubListingService.test.ts
  apps/desktop/src/lib/gitHost/github/githubPrMonitor.test.ts
  apps/desktop/src/lib/gitHost/github/githubPrService.test.ts
  apps/desktop/src/lib/gitHost/github/githubPrService.ts
  apps/desktop/src/lib/gitHost/gitlab/gitlab.ts
  apps/desktop/src/lib/gitHost/interface/gitHostPrService.ts
  apps/desktop/src/lib/gitHost/interface/types.ts
  apps/desktop/src/lib/settings/GithubIntegration.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#4761 Correct the tree side which we write
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4757 gix merge-base for branch-details
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#4766 fix: rm mappings where the target file name is too common
  packages/ui/src/lib/file/typeMap.ts
Labels: @gitbutler/ui

#4765 merge-base performance
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#4760 Show files in edit mode
  Cargo.lock
  Cargo.toml
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/modes/service.ts
  apps/desktop/src/lib/uncommitedFiles/watcher.ts
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/file.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-cherry-pick/Cargo.toml
  crates/gitbutler-cherry-pick/src/lib.rs
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-edit-mode/Cargo.toml
  crates/gitbutler-edit-mode/src/commands.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/conflicts.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-repo/src/temporary_workdir.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/modes.rs
  crates/gitbutler-tauri/src/repo.rs
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-watcher/src/events.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust, @gitbutler/desktop

#4718 branch stacking first stab
  Cargo.lock
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/routes/settings/experimental/+page.svelte
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/src/lib.rs
  crates/gitbutler-branch/src/reference.rs
  crates/gitbutler-branch/tests/ownership.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/change_reference.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/tests/change_reference.rs
  crates/gitbutler-repo/tests/fixtures/stacking.sh
  crates/gitbutler-repo/tests/mod.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust, @gitbutler/desktop

#4772 fix: reenable tipsy hover on branch empty-state
  apps/desktop/src/lib/components/Board.svelte
Labels: @gitbutler/desktop

#4769 resolve to our side
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4773 build: add a .vercelignore to ignore all files in crates
  crates/.vercelignore
Labels: rust

#4770 fix: dont hide "discard file" contextMenu option from binary files
  apps/desktop/src/lib/file/FileContextMenu.svelte
Labels: @gitbutler/desktop

#4774 remove unused feature flag
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/settings/PreferencesForm.svelte
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
Labels: rust, @gitbutler/desktop

#4745 Fix conflicting-branches list message
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#4777 UI updates: Edit mode
  apps/desktop/src/lib/assets/illustrations/cloning-repo.svg
  apps/desktop/src/lib/assets/illustrations/edit-mode.svg
  apps/desktop/src/lib/components/DecorativeSplitView.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/styles.css
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/stories/fileListItem/DemoFileListItem.svelte
  packages/ui/src/stories/fileListItem/FileListItem.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#4776 Have sidebar in edit mode
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/history/SnapshotCard.svelte
  apps/desktop/src/lib/navigation/EditButton.svelte
  apps/desktop/src/lib/navigation/Footer.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/board/+page.svelte
  apps/desktop/src/routes/[projectId]/edit/+page.svelte
Labels: @gitbutler/desktop

#4764 Fix files selection
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/utils/selection.ts
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
Labels: @gitbutler/desktop

#4779 Assure HTTPS support is compiled into `gix` using `curl`.
  Cargo.lock
  crates/gitbutler-tauri/Cargo.toml
Labels: rust

#4771 list virtual branches performance
  Cargo.lock
  Cargo.toml
  DEVELOPMENT.md
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/convert_to_real_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_base_branch.rs
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-command-context/Cargo.toml
  crates/gitbutler-command-context/src/lib.rs
  crates/gitbutler-command-context/src/repository_ext.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-diff/src/lib.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/logs.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-testsupport/src/test_project.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#4784 Remove unnecessary `gix` features from `watcher` and add them to `tauri`
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-watcher/Cargo.toml
Labels: rust

#4797 Resolve merge in less stupid manner
  crates/gitbutler-cherry-pick/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#4800 add api for updating change references
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#4793 performance improvements and bug fixes
  apps/desktop/src/lib/stores/remoteBranches.ts
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_base_branch.rs
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-diff/src/write.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-repo/src/change_reference.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#4799 FileListItem fix
  apps/desktop/src/lib/file/FileListItem.svelte
  packages/ui/src/lib/file/FileListItem.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#4796 fix: extract Board empty state into own component
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/components/BoardEmptyState.svelte
Labels: @gitbutler/desktop

#4805 fix: revert modal `transition` back to `animation`
  packages/ui/src/lib/Modal.svelte
Labels: @gitbutler/ui

#4806 Trace the `git` binary path (#3601)
  crates/gitbutler-tauri/src/main.rs
Labels: rust
