Repository gitbutlerapp/gitbutler, pull requests merged in 2024-11, with the labels that each got.

#5388 Fix reactivity in pr template selection
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/PrTemplateSection.svelte
Labels: @gitbutler/desktop

#5389 Update Textarea.svelte
  packages/ui/src/lib/Textarea.svelte
Labels: @gitbutler/ui

#5396 fix: Hunk dependencies - Pass the commits in application order
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-hunk-dependency/src/input.rs
Labels: rust

#5397 Fix fileitem path truncation
  packages/ui/src/lib/Tooltip.svelte
  packages/ui/src/lib/file/FileListItem.svelte
Labels: @gitbutler/ui

#5400 fix context menus
  apps/desktop/src/lib/branch/StackingSeriesHeader.svelte
  apps/desktop/src/lib/branch/StackingSeriesHeaderContextMenu.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
Labels: @gitbutler/desktop

#5403 fix: PR modal: Disable the generate button if so configured
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5402 Update Textarea.svelte
  packages/ui/src/lib/Textarea.svelte
Labels: @gitbutler/ui

#5404 update crate sysinfo
  Cargo.lock
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/repository.rs
Labels: rust

#5401 Create unique auto-generated branch names when creating lanes preserving names when applying exisint branches
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5399 Introduce gitbutler-settings crate
  Cargo.lock
  Cargo.toml
  crates/gitbutler-settings/Cargo.toml
  crates/gitbutler-settings/src/lib.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/github.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/settings.rs
Labels: rust

#5406 Remove old commit reorder implementation
  apps/desktop/src/lib/dragging/reorderDropzoneManager.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reorder_commit.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#5409 Stack - small refactors
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5410 Refactor: move patch reference structs to the stack crate
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-patch-reference/Cargo.toml
  crates/gitbutler-stack/Cargo.toml
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/patch_reference.rs
  crates/gitbutler-stack/src/series.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/stack.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#5411 use gitoxide for merging trees
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-hunk-dependency/Cargo.toml
Labels: rust

#5386 Fixes a bug where incorrect remote commits are shown when remote was rebased
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5414 Renames PatchReference to Branch and other minor stack refactors
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/patch_reference.rs
  crates/gitbutler-stack/src/series.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5415 fix(stack): branch_base takes commit id directly
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5419 Remove unnecessary field remote_commit_ids_by_change_id
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/series.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5422 Fix performance problem with file drag & drop
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/lib/dragging/draggables.ts
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/utils/flattenPromises.ts
  apps/desktop/src/lib/utils/selectFilesInList.ts
  apps/desktop/src/lib/utils/selection.ts
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
  apps/desktop/src/routes/[projectId]/base/+page.svelte
Labels: @gitbutler/desktop

#5429 fix: Tauri v2 listed linux dependencies
  crates/gitbutler-tauri/tauri.conf.json
Labels: rust

#5418 fix: ensure error message text wraps
  apps/desktop/src/lib/settings/userPreferences/CommitSigningForm.svelte
  apps/desktop/src/lib/shared/InfoMessage.svelte
Labels: @gitbutler/desktop

#5421 Remove files from VirtualBranchCommit struct
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/vbranches/remoteCommits.ts
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/file.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust, @gitbutler/desktop

#5428 fix: Hunk dependencies account for complete overwrite
  crates/gitbutler-hunk-dependency/src/hunk.rs
  crates/gitbutler-hunk-dependency/src/path.rs
Labels: rust

#5432 Fix getting stuck in onboarding
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/components/ProjectSwitcher.svelte
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/navigation/ProjectsPopup.svelte
  apps/desktop/src/lib/utils/selectFilesInList.ts
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
  apps/desktop/src/routes/+page.svelte
  apps/desktop/src/routes/onboarding/+page.svelte
Labels: @gitbutler/desktop

#5433 Fix bug preventing file context menu to open
  apps/desktop/src/lib/file/FileListItem.svelte
Labels: @gitbutler/desktop

#5436 Bring back the "Copy PR link" to the context menu
  apps/desktop/src/lib/branch/StackingSeriesHeaderContextMenu.svelte
Labels: @gitbutler/desktop

#5440 Refactor: adds a method `branches` to Stack and `commits` to Branch
  crates/gitbutler-stack/src/patch_reference.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5441 Expose `stackBranches` on VirtualBranchReference in the UI
  apps/desktop/src/lib/branches/branchListing.ts
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust, @gitbutler/desktop

#5437 New stack header
  apps/desktop/src/lib/branch/ActiveBranchStatus.svelte
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeaderStatusIcon.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/navigation/ProjectsPopup.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/select/SearchItem.svelte
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/stack/CollapsedLane.svelte
  apps/desktop/src/lib/stack/CurrentSeries.svelte
  apps/desktop/src/lib/stack/Header.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/header/HeaderControlSection.svelte
  apps/desktop/src/lib/stack/header/HeaderMetaSection.svelte
  apps/desktop/src/lib/stack/header/SeriesRowLabels.svelte
  apps/desktop/src/lib/stack/header/StackHeader.svelte
  apps/desktop/src/styles.css
  packages/ui/src/lib/IntegrationSeriesRow.svelte
  packages/ui/src/lib/Textbox.svelte
  packages/ui/src/lib/data/icons.json
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#5443 add missing csp entry for IPC
  crates/gitbutler-tauri/tauri.conf.json
Labels: rust

#5446 typihg nsi ihard
  apps/desktop/src/lib/config/appSettings.ts
Labels: @gitbutler/desktop

#5444 fix: dont show push btn if all series have been integrated
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5448 Dont push dependent branches without own commits
  crates/gitbutler-branch-actions/src/stack.rs
Labels: rust

#5452 Remove unnecessary refresh after fetch
  apps/desktop/src/lib/components/SyncButton.svelte
Labels: @gitbutler/desktop

#5451 Fix file selection clearing on file changes
  apps/desktop/src/lib/utils/selectFilesInList.ts
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
Labels: @gitbutler/desktop

#5453 Fix bug in file selection
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
Labels: @gitbutler/desktop

#5416 Replace `merge-tree` in more places
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_trees.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-command-context/src/lib.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-oxidize/src/lib.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-repo/tests/create_wd_tree.rs
  crates/gitbutler-testsupport/src/testing_repository.rs
Labels: rust

#5458 Fixes a bug preventing generating branch names
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5368 Align gravatar images and refresh the branch listing on commit changes
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-branch-actions/src/author.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/gravatar.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list_details.rs
Labels: rust, @gitbutler/desktop

#5464 fix: Ollama message generation
  apps/desktop/src/lib/ai/ollamaClient.ts
  crates/gitbutler-tauri/capabilities/main.json
Labels: rust, @gitbutler/desktop

#5465 CSP: Allow-list Anthropics API endpoint
  crates/gitbutler-tauri/tauri.conf.json
Labels: rust

#5447 fix: swap StackingPullRequestCard -> PullRequestCard
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
Labels: @gitbutler/desktop

#5449 fix: add dropzone over empty new series
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
  apps/desktop/src/lib/stack/SeriesList.svelte
Labels: @gitbutler/desktop

#5467 fix: update linux dependencies
  crates/gitbutler-tauri/tauri.conf.json
Labels: rust

#5455 fix: BaseBranch commitLine colors
  apps/desktop/src/lib/components/BaseBranch.svelte
  packages/ui/src/lib/commitLines/Line.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5470 increase-branch-labes-contrast
  DEVELOPMENT.md
  apps/desktop/src/lib/stack/header/SeriesLabels.svelte
  packages/ui/src/lib/SeriesLabelsRow.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/stories/seriesLabelsRow/SeriesLabelsRow.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5471 Set default branch no wiggle animation
  apps/desktop/src/lib/stack/header/StackHeader.svelte
Labels: @gitbutler/desktop

#5474 Sidebar branch listing: exclude stack branches
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#5476 Fix selection bug preventing refresh on file change
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/vbranches/fileIdSelection.ts
  apps/desktop/src/routes/[projectId]/base/+page.svelte
Labels: @gitbutler/desktop

#5475 Replace ForgeIdentifier with string type
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/components/PullRequestPreview.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/patch_reference.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/stack.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#5479 Fixes a bug where stack listing fails if there is an archived branch
  crates/gitbutler-stack/src/patch_reference.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5480 Fix jumpy jumps
  apps/desktop/src/lib/branch/BranchLabel.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
Labels: @gitbutler/desktop

#5489 Fix listing old branches
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#5491 Improve branch list search results
  apps/desktop/src/lib/branches/branchListing.ts
Labels: @gitbutler/desktop

#5494 fix: remove extra spacing on InfoMessage
  apps/desktop/src/lib/settings/userPreferences/CommitSigningForm.svelte
Labels: @gitbutler/desktop

#5495 Fix draft preference for creating PRs
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/PullRequestButton.svelte
  apps/desktop/src/lib/pr/pr.ts
Labels: @gitbutler/desktop

#5496 Push empty stacks, skip archived stacks.
  crates/gitbutler-branch-actions/src/stack.rs
Labels: rust

#5487 Integrate-upstream-modal-updates
  apps/desktop/src/lib/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/stack/header/SeriesLabels.svelte
  packages/ui/src/lib/IntegrationSeriesRow.svelte
  packages/ui/src/lib/SeriesLabelsRow.svelte
  packages/ui/src/stories/IntegrationSeriesRow/DemoIntegrationSeriesRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5500 Update commiter when rebasing
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#5502 Move branch_trees modeule to workspace crate
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-edit-mode/Cargo.toml
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-workspace/Cargo.toml
  crates/gitbutler-workspace/src/branch_trees.rs
  crates/gitbutler-workspace/src/lib.rs
  crates/gitbutler-workspace/tests/branch_trees.rs
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust

#5504 Fix the alignment of the labels in pr card
  apps/desktop/src/lib/pr/PullRequestCard.svelte
Labels: @gitbutler/desktop

#5505 Point stacked PRs to previous branch
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#5506 test conflict handling when commit reordering
  crates/gitbutler-branch-actions/tests/fixtures/reorder.sh
  crates/gitbutler-branch-actions/tests/reorder.rs
Labels: rust

#5507 Stack: some refactoring
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-oplog/src/snapshot.rs
  crates/gitbutler-repo-actions/src/repository.rs
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/ownership.rs
  crates/gitbutler-stack/src/series.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/src/state.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-workspace/src/branch_trees.rs
  crates/gitbutler-workspace/tests/branch_trees.rs
Labels: rust

#5509 Fix serialization bug: alias StackBranch head to target
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#5512 Make pr numbers available for branch listing
  apps/desktop/src/lib/branches/branchListing.ts
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust, @gitbutler/desktop

#5516 UI smaller empty branch state
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  packages/ui/src/lib/EmptyStatePlaceholder.svelte
  packages/ui/src/stories/badge/Badge.stories.ts
  packages/ui/src/stories/fileIcon/FileIcon.stories.ts
  packages/ui/src/stories/icon/AllIcon.stories.ts
  packages/ui/src/stories/icon/Icon.stories.ts
  packages/ui/src/stories/seriesLabelsRow/SeriesLabelsRow.stories.ts
  packages/ui/src/stories/spacer/Spacer.stories.ts
  packages/ui/src/stories/timeAgo/TimeAgo.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5498 UI improve context menu
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeaderContextMenu.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitContextMenu.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/components/BranchPreview.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/components/FilterBranchesButton.svelte
  apps/desktop/src/lib/components/contextmenu/ContextMenu.svelte
  apps/desktop/src/lib/components/contextmenu/ContextMenuSection.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/hunk/HunkContextMenu.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/pr/CopyLinkContextMenu.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/shared/DropDownButton.svelte
  apps/desktop/src/lib/stack/header/HeaderMetaSection.svelte
  packages/ui/src/lib/Toggle.svelte
  packages/ui/src/stories/toggle/DemoToggle.svelte
  packages/ui/src/stories/toggle/Toggle.stories.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5519 Fix lost PRs
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
Labels: @gitbutler/desktop

#5517 Update branch listing: Swallow the 'DefaultTargetNotFound' error
  apps/desktop/src/lib/branches/branchListing.ts
Labels: @gitbutler/desktop

#5520 Chore: remove GC restriction
  crates/gitbutler-command-context/src/lib.rs
Labels: rust

#5523 Fix "load failed" on pr creation
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/vbranches/types.ts
  packages/ui/src/lib/utils/typeguards.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5524 remove-unused-icons
  apps/desktop/src/lib/history/SnapshotCard.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#5526 Fix: Series description field
  apps/desktop/src/lib/branch/SeriesDescription.svelte
Labels: @gitbutler/desktop

#5490 use `merge_base_octopus()`
  Cargo.lock
  Cargo.toml
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#5525 feat(context-menu): enhance SeriesHeaderContextMenu with new items
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeaderContextMenu.svelte
Labels: @gitbutler/desktop

#5532 Fix stale checks results
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/stack/CurrentSeries.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5533 Ability to discard single lines
  apps/desktop/src/lib/history/SnapshotCard.svelte
  apps/desktop/src/lib/history/types.ts
  apps/desktop/src/lib/hunk/HunkContextMenu.svelte
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/hunk.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-diff/src/lib.rs
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#5534 Include repo domain and hash in posthog events
  apps/desktop/src/lib/analytics/posthog.ts
  apps/desktop/src/lib/url/gitUrl.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  packages/ui/src/lib/utils/string.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5535 Address janky stacky
  apps/desktop/src/lib/stack/SeriesList.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/UncommittedChanges.svelte
Labels: @gitbutler/desktop

#5528 Refactor CommandContext out of various stack functions
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/src/stack_context.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5538 Improvement: Don't rerender blocks unnecessarily
  apps/desktop/src/lib/dropzone/CardOverlay.svelte
  apps/desktop/src/lib/dropzone/Dropzone.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5540 remove unused code
  crates/gitbutler-branch-actions/src/reorder_commits.rs
Labels: rust

#5541 refactor: remove legacy stack reference handling
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5393 Use hunk dependency code for computing inter-commit dependencies
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/settings/userPreferences/CommitSigningForm.svelte
  apps/desktop/src/lib/settings/userPreferences/PreferencesForm.svelte
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/dependencies.rs
  crates/gitbutler-branch-actions/src/hunk.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/branch.rs
  crates/gitbutler-branch-actions/tests/dependencies.rs
  crates/gitbutler-branch-actions/tests/fixtures/dependencies.sh
  crates/gitbutler-branch-actions/tests/virtual_branches/locking.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-hunk-dependency/Cargo.toml
  crates/gitbutler-hunk-dependency/README.md
  crates/gitbutler-hunk-dependency/src/hunk.rs
  crates/gitbutler-hunk-dependency/src/input.rs
  crates/gitbutler-hunk-dependency/src/lib.rs
  crates/gitbutler-hunk-dependency/src/locks.rs
  crates/gitbutler-hunk-dependency/src/path.rs
  crates/gitbutler-hunk-dependency/src/stack.rs
  crates/gitbutler-hunk-dependency/src/workspace.rs
  crates/gitbutler-hunk-dependency/tests/mod.rs
  crates/gitbutler-hunk-dependency/tests/path.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
Labels: rust, @gitbutler/desktop

#5546 UI: Improve branch cards
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/stack/CurrentSeries.svelte
  apps/desktop/src/lib/stack/EmptySeries.svelte
  apps/desktop/src/lib/stack/SeriesDividerLine.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  packages/ui/src/lib/commitLines/Cell.svelte
  packages/ui/src/lib/commitLines/CommitNode.svelte
  packages/ui/src/lib/commitLines/Line.svelte
  packages/ui/src/lib/commitLines/lineManager.ts
  packages/ui/src/lib/commitLines/types.ts
  packages/ui/src/lib/utils/getColorFromBranchType.ts
  packages/ui/src/styles/components/commit-lines.css
Labels: @gitbutler/desktop, @gitbutler/ui

#5547 Align text for the empty branch state
  apps/desktop/src/lib/stack/EmptySeries.svelte
Labels: @gitbutler/desktop

#5542 fix: PR status polling
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/forge/github/githubPrMonitor.ts
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5553 Fixes a bug where remote branches may incorrectly show more commits
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-stack/src/target.rs
Labels: rust

#5545 Use user profile image instead of gravatar when available
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/navigation/BranchListingSidebarEntry.svelte
  apps/desktop/src/lib/navigation/PullRequestSidebarEntry.svelte
Labels: @gitbutler/desktop

#5555 fix: only allow creating dependent series from top series
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeaderContextMenu.svelte
Labels: @gitbutler/desktop

#5554 Correctly deduplicate hunk locks
  apps/desktop/src/lib/utils/filters.test.ts
  apps/desktop/src/lib/utils/filters.ts
  apps/desktop/src/lib/vbranches/tooltip.ts
Labels: @gitbutler/desktop

#5557 Find the branch head correctly when integrating upstream
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
Labels: rust

#5559 Persist PR content
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  packages/shared/package.json
  packages/shared/src/lib/persisted.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#5550 Ability to reset to remote commit
  apps/desktop/src/lib/commit/CommitAction.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/commit/UpstreamCommitsAccordion.svelte
  apps/desktop/src/lib/commits/utils.ts
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/stack/EmptySeries.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  packages/ui/src/lib/commitLines/Cell.svelte
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#5574 fix: update button text for clarity in PR modal
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5576 fix-multiseries-highlight
  apps/desktop/src/lib/stack/CurrentSeries.svelte
  apps/desktop/src/lib/stack/header/SeriesLabels.svelte
Labels: @gitbutler/desktop

#5561 Do not attempt to load pr checks if merged or fork
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/forge/github/types.ts
  apps/desktop/src/lib/forge/interface/types.ts
  apps/desktop/src/lib/pr/PullRequestCard.svelte
Labels: @gitbutler/desktop

#5570 feat: add Windsurf to "open in editor" options
  apps/desktop/src/routes/settings/appearance/+page.svelte
  crates/gitbutler-tauri/src/open.rs
Labels: rust, @gitbutler/desktop

#5564 fix: assure we convert worktree data to Git before writing it (#5558)
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#5579 Simplify drag region areas
  apps/desktop/src/lib/branch/BranchDropzone.svelte
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/components/BoardEmptyState.svelte
  apps/desktop/src/lib/components/DecorativeSplitView.svelte
  apps/desktop/src/lib/components/FullviewLoading.svelte
  apps/desktop/src/lib/components/ProblemLoadingRepo.svelte
  apps/desktop/src/lib/components/ProjectNotFound.svelte
  apps/desktop/src/lib/components/SomethingWentWrong.svelte
  apps/desktop/src/lib/components/Welcome.svelte
  apps/desktop/src/lib/history/History.svelte
  apps/desktop/src/lib/layout/SettingsPage.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/settings/Sidebar.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/styles.css
Labels: @gitbutler/desktop

#5577 Update generated title in pr stack descriptions
  apps/desktop/src/lib/forge/shared/prFooter.ts
Labels: @gitbutler/desktop

#5569 Fix pr stack overview list order
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5590 Dependecies: Ignore merge commits
  crates/gitbutler-branch-actions/src/dependencies.rs
  crates/gitbutler-branch-actions/tests/dependencies.rs
  crates/gitbutler-branch-actions/tests/fixtures/dependencies-after-updates.sh
  crates/gitbutler-cli/src/args.rs
Labels: rust

#5565 Fix up some janky code mapping commit relationships
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  apps/desktop/src/lib/vbranches/contexts.ts
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/lib/vbranches/virtualBranch.ts
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust, @gitbutler/desktop

#5596 Disable PR button on conflict.
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5598 style: add overflow hidden to SidebarEntry styles
  packages/ui/src/lib/SidebarEntry.svelte
Labels: @gitbutler/ui

#5603 Use <kbd> for numbering prs in the stack overview section
  apps/desktop/src/lib/forge/shared/prFooter.ts
Labels: @gitbutler/desktop

#5600 PR: Warn the user when creating a PR in the middle of the stack
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5567 Check for existing fork before adding new one
  apps/desktop/src/lib/components/PullRequestPreview.svelte
  apps/desktop/src/lib/remotes/service.ts
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/remote.rs
  crates/gitbutler-tauri/src/remotes.rs
Labels: rust, @gitbutler/desktop

#5589 per-branch-error-handling
  Cargo.lock
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
Labels: rust

#5591 feat: handle error branches in the frontend
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeaderContextMenu.svelte
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/stack/CollapsedLane.svelte
  apps/desktop/src/lib/stack/ErrorSeries.svelte
  apps/desktop/src/lib/stack/SeriesDividerLine.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/header/HeaderMetaSection.svelte
  apps/desktop/src/lib/stack/header/SeriesLabels.svelte
  apps/desktop/src/lib/stack/header/StackHeader.svelte
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/lib/vbranches/virtualBranch.ts
  packages/ui/src/lib/utils/getColorFromBranchType.ts
  packages/ui/src/lib/utils/typeguards.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5601 Skip archived branches
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust

#5606 Lil' fix for traversing the series
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5605 fix: series label icons
  apps/desktop/src/lib/stack/header/SeriesLabels.svelte
Labels: @gitbutler/desktop

#5607 Fix commit line colors
  apps/desktop/src/lib/branch/stackingUtils.ts
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-stack/src/stack_branch.rs
  packages/ui/src/lib/commitLines/CommitNode.svelte
  packages/ui/src/lib/commitLines/Line.svelte
  packages/ui/src/lib/commitLines/lineManager.ts
  packages/ui/src/lib/commitLines/types.ts
  packages/ui/src/lib/utils/getColorFromBranchType.ts
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#5608 Remove rouge logging statement that got integrated
  apps/desktop/src/lib/vbranches/upstreamIntegrationService.ts
Labels: @gitbutler/desktop

#5613 Use stable #each key in SeriesList component
  apps/desktop/src/lib/stack/SeriesList.svelte
Labels: @gitbutler/desktop

#5615 Update upstream integration UI component
  packages/ui/src/lib/IntegrationSeriesRow.svelte
Labels: @gitbutler/ui

#5616 Fail loudly if workspace state out of sync
  apps/desktop/src/lib/vbranches/upstreamIntegrationService.ts
Labels: @gitbutler/desktop

#5618 Improve last divergent commit behaviour
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/commits/utils.ts
Labels: @gitbutler/desktop

#5617 Do not show "reopen pr" button if merged
  apps/desktop/src/lib/pr/PullRequestCard.svelte
Labels: @gitbutler/desktop

#5619 Add option for creating new pr
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/branch/SeriesHeaderContextMenu.svelte
  apps/desktop/src/lib/forge/github/githubListingService.ts
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#5580 Edit mode: Display changed state and warn about conflicts
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/conflictEntryPresence.ts
  apps/desktop/src/lib/utils/fileStatus.ts
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-diff/src/diff.rs
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/stories/fileListItem/DemoFileListItem.svelte
  packages/ui/src/stories/fileListItem/FileListItem.stories.ts
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#5622 PR creation: Correctly set the PR description
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5626 Fix files getting clobbered when reordering
  crates/gitbutler-branch-actions/src/reorder.rs
Labels: rust

#5625 fix: small commitlist css bugs
  apps/desktop/src/lib/commit/CommitAction.svelte
  apps/desktop/src/lib/commit/UpstreamCommitsAccordion.svelte
Labels: @gitbutler/desktop

#5627 ai: Pass the correct file hunks when editing a commit message
  apps/desktop/src/lib/ai/service.test.ts
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
Labels: @gitbutler/desktop

#5630 Fully integrated removes lane
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust

#5575 Fix bug in finding upstream commits
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#5628 fix: Hide the push button if there's nothing to push
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5631 Simplify function that returns stack commits
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#5636 When applying a branch always rebase if there are no change IDs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#5588 Install-redux
  apps/desktop/package.json
  apps/desktop/src/routes/reduxExample/+page.svelte
  apps/web/package.json
  packages/shared/package.json
  packages/shared/src/lib/redux/example.ts
  packages/shared/src/lib/redux/selectSelf.ts
  packages/shared/src/lib/redux/store.ts
  packages/shared/src/lib/redux/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @gitbutler/desktop, @gitbutler/web

#5642 refactor: replace --force with --force-with-lease
  crates/gitbutler-git/src/repository.rs
Labels: rust

#5647 fix: textbox autofocus in modals
  packages/ui/src/lib/Textbox.svelte
Labels: @gitbutler/ui

#5648 fix: dont use archived branch as base for PR within stack
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5649 Upstream integration logging
  apps/desktop/src/lib/vbranches/upstreamIntegrationService.ts
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust, @gitbutler/desktop

#5639 Weave the remote branch into the local one
  Cargo.lock
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/settings/userPreferences/PreferencesForm.svelte
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/testing_repository.rs
Labels: rust, @gitbutler/desktop

#5643 font-weight-update
  apps/desktop/src/lib/branch/SeriesHeaderContextMenu.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/components/tabs/TabTrigger.svelte
  apps/desktop/src/lib/history/SnapshotCard.svelte
  apps/desktop/src/lib/navigation/ProjectAvatar.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/stack/header/SeriesLabels.svelte
  apps/desktop/src/styles.css
  packages/ui/src/lib/Modal.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/Textarea.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/lib/segmentControl/Segment.svelte
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/src/styles/core/reset.css
  packages/ui/src/styles/sharable/markdown.css
  packages/ui/src/styles/utility/text.css
Labels: @gitbutler/desktop, @gitbutler/ui

#5637 gitbutler-feeds
  apps/desktop/src/lib/feeds/Post.svelte
  apps/desktop/src/lib/navigation/FeedButton.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/stores/shallowDeduplicate.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  apps/desktop/src/routes/[projectId]/feed/+page.svelte
  apps/desktop/src/routes/reduxExample/+page.svelte
  packages/shared/src/lib/feeds/feedsSlice.ts
  packages/shared/src/lib/feeds/postsSlice.ts
  packages/shared/src/lib/feeds/service.ts
  packages/shared/src/lib/feeds/types.ts
  packages/shared/src/lib/interest/RegisterInterest.svelte
  packages/shared/src/lib/interest/intrestStore.ts
  packages/shared/src/lib/redux/example.ts
  packages/shared/src/lib/redux/selectSelf.ts
  packages/shared/src/lib/redux/store.ts
  packages/shared/src/lib/redux/utils.ts
  packages/shared/src/lib/shallowCompare.ts
Labels: @gitbutler/desktop

#5652 Improve upstream commits view
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/commit/CommitsAccordion.svelte
  apps/desktop/src/lib/stack/SeriesList.svelte
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust, @gitbutler/desktop

#5653 Fix gitlab and bitbucket branch comparison URLs
  apps/desktop/src/lib/baseBranch/baseBranchService.ts
  apps/desktop/src/lib/forge/forgeFactory.ts
  apps/desktop/src/lib/url/gitUrl.ts
Labels: @gitbutler/desktop

#5663 Set correct mapRoot in shared package tsconfigs
  packages/shared/tsconfig.json
  packages/ui/tsconfig.json
Labels: @gitbutler/ui

#5668 fix: PR creation order checks only unarchived series
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/lib/vbranches/virtualBranch.ts
Labels: @gitbutler/desktop

#5670 macos: Settings menu can be opened with `cmd` + `,`
  crates/gitbutler-tauri/src/menu.rs
Labels: rust

#5679 Count neutral checks outcome towards passing
  apps/desktop/src/lib/forge/github/githubChecksMonitor.test.ts
  apps/desktop/src/lib/forge/github/githubChecksMonitor.ts
  apps/desktop/src/lib/forge/interface/types.ts
Labels: @gitbutler/desktop

#5644 feat: add Cursor to "open in editor" options
  apps/desktop/src/routes/settings/appearance/+page.svelte
  crates/gitbutler-tauri/src/open.rs
Labels: rust, @gitbutler/desktop

#5682 Link to docs about stacking branches
  apps/desktop/src/lib/branch/AddSeriesModal.svelte
  apps/desktop/src/lib/pr/PrDetailsModalInfo.svelte
Labels: @gitbutler/desktop

#5685 feat: use top series name for commit generation AI `branch_name` placeholder
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
Labels: @gitbutler/desktop
