Repository gitbutlerapp/gitbutler, pull requests merged in 2024-10, with the labels that each got.

#5003 Edit mode: Open the conflicted files in the IDE
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5004 Fix applying mergable branch
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
Labels: rust

#5006 Small UI updates
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/file/FileCardHeader.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/history/SnapshotCard.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/lib/utils/filePath.ts
  packages/ui/src/stories/fileListItem/DemoFileListItem.svelte
  packages/ui/src/stories/fileListItem/FileListItem.stories.ts
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/src/styles/core/variables.css
Labels: @gitbutler/desktop, @gitbutler/ui

#5005 Add patch series to vbranch API struct
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5008 Added the tests
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
Labels: rust

#5009 Markdown: Add BR and strong
  apps/desktop/src/lib/components/MarkdownContent.svelte
  apps/desktop/src/lib/components/markdownRenderers/Br.svelte
  apps/desktop/src/lib/components/markdownRenderers/Strong.svelte
  apps/desktop/src/lib/utils/markdownRenderers.ts
Labels: @gitbutler/desktop

#5018 Fix bind:this={} for Svelte5 components
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/commit/CommitContextMenu.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/components/FilterBranchesButton.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/hunk/HunkContextMenu.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/pr/CopyLinkContextMenu.svelte
  apps/desktop/src/lib/shared/DropDownButton.svelte
Labels: @gitbutler/desktop

#5017 Edit mode: Add a max height and scrollable container
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/layout/ActionView.svelte
Labels: UX/UI, UI, @gitbutler/desktop

#4992 stacking api v2
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/tests/ownership.rs
  crates/gitbutler-patch-reference/Cargo.toml
  crates/gitbutler-patch-reference/src/lib.rs
  crates/gitbutler-stack/Cargo.toml
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/series.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/fixtures/stacking.sh
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/stack.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#5026 fix: Replace log range with merge base in Stack trait
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5027 fix: list_virtual_branches series patch order should be newest to oldest
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5028 fix: Update the type of the drop down button
  apps/desktop/src/lib/pr/PullRequestButton.svelte
Labels: @gitbutler/desktop

#5030 Refactor - removes the change_refernce module that was the initial imlementation of stacking
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/tests/ownership.rs
  crates/gitbutler-repo/src/change_reference.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/tests/change_reference.rs
  crates/gitbutler-repo/tests/fixtures/stacking.sh
  crates/gitbutler-repo/tests/mod.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#5031 Fixes the order of series on the UI API (list_virtual_branches)
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5033 refactor stack api for series creation
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-tauri/src/stack.rs
Labels: rust

#5035 Stack api: Dont try to push series that are pointing to the Stack base
  crates/gitbutler-branch-actions/src/stack.rs
Labels: rust

#5036 Stacking - fixes an issue where its not possible to create additional series for the base of the stack
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5043 fix: Correctly update the zoom from the settings
  apps/desktop/src/lib/barmenuActions/ZoomInOutMenuAction.svelte
Labels: @gitbutler/desktop

#5044 fix: upstream commits accordion and cards
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  packages/ui/src/lib/commitLinesStacking/lineManager.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5016 Factor out the `move_commit` function
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
Labels: rust

#5042 fix: use `showStackingDetails` persisted writable instead of function import
  apps/desktop/src/lib/branch/StackingNewStackCard.svelte
  apps/desktop/src/lib/config/config.ts
Labels: @gitbutler/desktop

#4899 Base branch: Safely handle divergence
  apps/desktop/src/lib/baseBranch/baseBranch.ts
  apps/desktop/src/lib/baseBranch/baseBranchService.ts
  apps/desktop/src/lib/commit/CommitAction.svelte
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/CommitList.svelte
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/components/UpdateBaseButton.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/utils/array.ts
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/lib/vbranches/upstreamIntegrationService.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  packages/ui/src/lib/commitLines/lineManager.ts
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#5045 Stacking: fix upstream handling
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-patch-reference/src/lib.rs
  crates/gitbutler-stack/src/series.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5046 IntegrateUpstreamModal: Update style
  apps/desktop/src/lib/components/IntegrateUpstreamModal.svelte
Labels: @gitbutler/desktop

#5049 small-fix: Update the typing of the context menu variable
  apps/desktop/src/lib/commit/CommitCard.svelte
Labels: @gitbutler/desktop

#5050 Fix upstream integration when there are no new branches
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust

#5051 improvement: Allow for string error toasts
  apps/desktop/src/lib/notifications/ToastController.svelte
  apps/desktop/src/lib/notifications/toasts.ts
Labels: @gitbutler/desktop

#5037 PR details modal
  apps/desktop/src/lib/assets/empty-state/not-found.svg
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/branch/DefaultTargetButton.svelte
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/gitHost/github/types.ts
  apps/desktop/src/lib/gitHost/interface/types.ts
  apps/desktop/src/lib/history/History.svelte
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/PullRequestButton.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
  apps/desktop/src/lib/pr/ViewPrButton.svelte
  apps/desktop/src/lib/pr/pr.ts
  apps/desktop/src/lib/scroll/ScrollableContainer.svelte
  apps/desktop/src/lib/settings/userPreferences/PullRequestTemplateForm.svelte
  apps/desktop/src/lib/shared/BorderlessTextarea.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/StackHeader.svelte
  apps/desktop/src/lib/utils/hotkeys.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  packages/ui/src/lib/EmptyStatePlaceholder.svelte
  packages/ui/src/lib/Modal.svelte
  packages/ui/src/lib/avatar/AvatarGroup.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/styles/components/text-input.css
  packages/ui/src/styles/sharable/markdown.css
Labels: @gitbutler/desktop, @gitbutler/ui

#5052 Extract tree updating into its own tested function
  crates/gitbutler-branch-actions/src/branch_trees.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/reorder_commits.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/branch_trees.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
Labels: rust

#5057 Refactor Branch to abstract setting and getting the `head` property
  Cargo.lock
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_trees.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder_commits.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/branch_trees.rs
  crates/gitbutler-branch/Cargo.toml
  crates/gitbutler-branch/src/branch.rs
  crates/gitbutler-branch/src/ownership.rs
  crates/gitbutler-branch/tests/ownership.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#5054 pr details follow up
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
  apps/desktop/src/lib/shared/BorderlessTextarea.svelte
  packages/ui/src/lib/segmentControl/Segment.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5000 FEARLESS REBASING
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/components/BaseBranch.svelte
  apps/desktop/src/lib/components/UpdateBaseButton.svelte
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/settings/userPreferences/CommitSigningForm.svelte
  apps/desktop/src/lib/settings/userPreferences/PreferencesForm.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_trees.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/reorder_commits.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/branch_trees.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_base_branch.rs
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-testsupport/src/test_project.rs
Labels: rust, @gitbutler/desktop

#4990 fix: migrate Icon.svelte to svelte 5 syntax
  packages/ui/src/lib/Icon.svelte
Labels: @gitbutler/ui

#5060 Consistent setting of stack head and updating series
  Cargo.lock
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder_commits.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-edit-mode/Cargo.toml
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-stack-api/Cargo.toml
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5063 Float unconflicted files in edit mode
  apps/desktop/src/lib/components/EditMode.svelte
Labels: @gitbutler/desktop

#5068 Make edit mode fantastic
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/modes/service.ts
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-edit-mode/src/commands.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-tauri/src/modes.rs
  packages/ui/src/lib/file/FileListItem.svelte
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#5061 Move dummy UI and minor code refactor
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/branch/BranchLabel.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/components/AIPromptEdit/DialogBubble.svelte
  apps/desktop/src/lib/components/contextmenu/ContextMenu.svelte
  apps/desktop/src/lib/file/FileListItem.svelte
  apps/desktop/src/lib/history/History.svelte
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/ProjectsPopup.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/settings/userPreferences/PullRequestTemplateForm.svelte
  apps/desktop/src/lib/shared/DropDownButton.svelte
  apps/desktop/src/lib/shared/TextArea.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  packages/ui/.storybook/stories-styles.css
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/lib/BorderlessTextarea.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/Checkbox.svelte
  packages/ui/src/lib/EmptyStatePlaceholder.svelte
  packages/ui/src/lib/LinkButton.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/utils/autoHeight.ts
  packages/ui/src/lib/utils/resizeObserver.ts
  packages/ui/src/stories/badge/DemoBadge.svelte
  packages/ui/src/stories/borderlessTextarea/BorderlessTextarea.stories.ts
  packages/ui/src/stories/borderlessTextarea/DemoBorderlessTextarea.svelte
  packages/ui/src/stories/button/DemoButton.svelte
  packages/ui/src/stories/checkbox/DemoCheckbox.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5070 switch "local" and "local-remote" colors
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/ui

#5071 Add an extra field `remote_commit_id` on the API type `VirtualBranchCommit`
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-stack-api/src/series.rs
  crates/gitbutler-stack-api/src/stack_ext.rs
Labels: rust, @gitbutler/desktop

#5074 Commit uncommit
  apps/desktop/src/lib/commit/CommitCard.svelte
Labels: @gitbutler/desktop

#5076 LIst conflicted files in commit files list
  Cargo.lock
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/conflictEntryPresence.ts
  apps/desktop/src/lib/file/BranchFilesHeader.svelte
  apps/desktop/src/lib/file/BranchFilesList.svelte
  apps/desktop/src/lib/modes/service.ts
  apps/desktop/src/lib/vbranches/types.ts
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/rebase.rs
Labels: rust, @gitbutler/desktop

#5075 Stack - correctly set the requires_force atribute
  crates/gitbutler-branch-actions/src/commit.rs
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5078 Stack: fixes an issue with displaying upstream commits
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5069 User: Make email optional
  apps/desktop/src/lib/stores/user.ts
  crates/gitbutler-tauri/src/users.rs
  crates/gitbutler-user/src/user.rs
Labels: rust, @gitbutler/desktop

#5073 More PR details follow-ups
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
Labels: @gitbutler/desktop

#5080 fix: Commit Input: Update the typing of the text areas
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
Labels: @gitbutler/desktop

#5082 Conflict Resolution: Add a confirmation modal
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5081 Capture stack usage metrics
  apps/desktop/src/lib/vbranches/virtualBranch.ts
Labels: @gitbutler/desktop

#5084 fix: inline updating of series name
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
Labels: @gitbutler/desktop

#5085 fix: status icon for series header
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
Labels: @gitbutler/desktop

#5079 Add a shared package
  apps/desktop/package.json
  packages/shared/README.md
  packages/shared/package.json
  packages/shared/postcss.config.js
  packages/shared/src/app.d.ts
  packages/shared/src/app.html
  packages/shared/src/index.test.ts
  packages/shared/src/lib/index.ts
  packages/shared/src/routes/+page.svelte
  packages/shared/static/favicon.png
  packages/shared/svelte.config.js
  packages/shared/terrazzo.config.js
  packages/shared/tsconfig.json
  packages/shared/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: @gitbutler/desktop

#5087 fix: Set the system prompt for Anthropic
  apps/desktop/src/lib/ai/anthropicClient.ts
  apps/desktop/src/lib/ai/anthropicUtils.ts
  apps/desktop/src/lib/ai/butlerClient.ts
  apps/desktop/src/lib/ai/types.ts
Labels: @gitbutler/desktop

#5091 fix: check stackingFeature to determine which checks to use for assigning 'localAndRemote' commit status
  apps/desktop/src/lib/vbranches/types.ts
Labels: @gitbutler/desktop

#5092 "unnaply and drop changes" update copy, update modals UI and layout
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/stack/StackHeader.svelte
Labels: @gitbutler/desktop

#5094 fix: refactor `showHistoryView` and add `ctrl+z` shortcut alias
  apps/desktop/src/lib/barmenuActions/ProjectSettingsMenuAction.svelte
  apps/desktop/src/lib/components/Board.svelte
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#5097 Extract persisted into a shared library
  apps/desktop/src/lib/ai/promptService.ts
  apps/desktop/src/lib/ai/types.ts
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/branch/BranchLane.svelte
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/components/AIPromptSelect.svelte
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/metrics/MetricsReporter.svelte
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/onboarding/CloneForm.svelte
  apps/desktop/src/lib/pr/MergeButton.svelte
  apps/desktop/src/lib/pr/pr.ts
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/StackHeader.svelte
  apps/desktop/src/lib/topics/service.ts
  packages/shared/src/lib/persisted.ts
Labels: @gitbutler/desktop

#5102 Ensure stack initialized when re-applying branch
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
Labels: rust

#5107 fix: always show gap on stackingstatusicon and use border radius css variable
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/branch/StackingNewStackCard.svelte
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
Labels: @gitbutler/desktop

#5109 fix: rename series title
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
Labels: @gitbutler/desktop

#5108 fix: add emptystateplaceholder to series header empty state
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/branch/StackingNewStackCard.svelte
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
  packages/ui/src/lib/EmptyStatePlaceholder.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5100 fix 5099
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-project/tests/fixtures/various-repositories.sh
  crates/gitbutler-project/tests/mod.rs
  crates/gitbutler-project/tests/projects/main.rs
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#5112 Adds replace_head method on the Stack trait
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
Labels: rust

#5119 stack - replace head on undo commit
  crates/gitbutler-branch-actions/src/undo_commit.rs
Labels: rust

#5120 style: Update design token for shadow commit
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/ui

#5048 [#4889] feat: allow moving any commit from a stack into another lane
  apps/desktop/src/lib/branches/dragActions.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#5118 fix: "The `Shell` module is not enabled"
  Cargo.lock
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/tauri.conf.json
Labels: rust

#5116 Integration modal design
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/select/Select.svelte
  packages/ui/src/lib/IntegrationSeriesRow.svelte
  packages/ui/src/lib/Modal.svelte
  packages/ui/src/lib/SimpleCommitRow.svelte
  packages/ui/src/lib/utils/getTimeAndAuthor.ts
  packages/ui/src/stories/IntegrationSeriesRow/DemoIntegrationSeriesRow.svelte
  packages/ui/src/stories/IntegrationSeriesRow/IntegrationSeriesRow.stories.ts
  packages/ui/src/stories/SimpleCommitRow/DemoSimpleCommitRow.svelte
  packages/ui/src/stories/SimpleCommitRow/SimpleCommitRow.stories.ts
  packages/ui/src/stories/checkbox/Checkbox.stories.ts
  packages/ui/src/stories/fileIcon/FileIcon.stories.ts
  packages/ui/src/stories/fileListItem/FileListItem.stories.ts
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui

#5121 Stack - handle reorder correctly
  crates/gitbutler-branch-actions/src/reorder_commits.rs
Labels: rust

#5123 fix: Title state update for the PR modal
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5126 feat: Remove tabindex attribute from Navigation menu
  apps/desktop/src/lib/navigation/Navigation.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
Labels: @gitbutler/desktop

#5125 fix: show diverged commitId in diverged state
  packages/ui/src/lib/commitLinesStacking/CommitNode.svelte
Labels: @gitbutler/ui

#5128 fix: divergent commit shorten to 7 char sha
  packages/ui/src/lib/commitLinesStacking/CommitNode.svelte
Labels: @gitbutler/ui

#5127 fix: change stacking header line alignment
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
  apps/desktop/src/lib/commit/StackingUpstreamCommitsAccordion.svelte
  packages/ui/src/lib/commitLinesStacking/Cell.svelte
  packages/ui/src/lib/commitLinesStacking/CommitNode.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5129 fix: dont allow changing series name once pushed
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
Labels: @gitbutler/desktop

#5110 fix: History lazy loading
  apps/desktop/src/lib/history/History.svelte
  apps/desktop/src/lib/history/history.ts
  apps/desktop/src/lib/shared/LazyloadContainer.svelte
Labels: @gitbutler/desktop

#5131 UI: PR card tweaks
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
Labels: @gitbutler/desktop

#5132 fix: do not show upstream label when branch has not been pushed yet
  apps/desktop/src/lib/branch/BranchLabel.svelte
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
Labels: @gitbutler/desktop

#5135 fix: hide commitList if there are no commits
  apps/desktop/src/lib/stack/StackSeries.svelte
Labels: @gitbutler/desktop

#5134 style: button color updates
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5137 fix: dont show 'set remote branch name' option in stack header contextMenu
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
Labels: @gitbutler/desktop

#5136 Update how auth tokens are passed about
  apps/desktop/src/lib/ai/butlerClient.ts
  apps/desktop/src/lib/ai/service.test.ts
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/branch/BranchCard.svelte
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/components/ShareIssueModal.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/settings/userPreferences/CloudForm.svelte
  apps/desktop/src/lib/settings/userPreferences/DetailsForm.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stores/tokenMemoryService.ts
  apps/desktop/src/lib/stores/user.ts
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/settings/profile/+page.svelte
  apps/web/src/lib/auth/authService.ts
  apps/web/src/lib/user/userService.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+layout.ts
  packages/shared/src/lib/httpClient.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5140 Pass --no-verify to git push
  crates/gitbutler-git/src/repository.rs
Labels: rust

#5141 Stacking flow/ UI handles already pushed vbranches
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
Labels: rust

#5143 Revert dialog modal implementation
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/select/Select.svelte
  packages/ui/src/lib/Modal.svelte
  packages/ui/src/lib/utils/focusTrap.ts
  packages/ui/src/stories/modal/DemoModal.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5146 fix: Move any commit from branch to branch
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
Labels: rust

#5147 fix(ui): Change onmousedown to onclick in Segment.svelte
  packages/ui/src/lib/segmentControl/Segment.svelte
Labels: @gitbutler/ui

#5152 fix: show only stack push btn when necessary
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5153 fix: upstream label slash bug
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
Labels: @gitbutler/desktop

#5151 Stack - improved automatic reference names
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
Labels: rust

#5154 style(StackSeries, Stack): update padding in StackSeries and Stack components
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/StackSeries.svelte
Labels: @gitbutler/desktop

#5156 fix: add additional case for when to show push/force push btn
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5157 fix: don't fail if the file isn't there anymore after discarding hunk
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#5150 Branch entries cleanup
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-stack/src/state.rs
Labels: rust, @gitbutler/desktop

#5158 fix: do not allow user to generate series name after branch has been pushed
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/branch/StackingBranchHeaderContextMenu.svelte
Labels: @gitbutler/desktop

#5142 feat: add support for default code editor (Zed)
  apps/desktop/src/lib/barmenuActions/ProjectSettingsMenuAction.svelte
  apps/desktop/src/lib/components/BoardEmptyState.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/hunk/HunkContextMenu.svelte
  apps/desktop/src/lib/settings/userSettings.ts
  apps/desktop/src/routes/settings/appearance/+page.svelte
  crates/gitbutler-tauri/src/open.rs
Labels: rust, @gitbutler/desktop

#5159 Fix on fix: Push button on scroll and small UI tweaks
  apps/desktop/src/lib/navigation/GroupHeader.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/StackSeries.svelte
Labels: @gitbutler/desktop

#5089 feat: Parse & display binary files
  Cargo.lock
  apps/desktop/src/lib/file/FileDiff.svelte
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust, @gitbutler/desktop

#5160 fix: dont show empty state if there are upstreamPatches
  apps/desktop/src/lib/branch/StackingBranchHeader.svelte
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/StackSeries.svelte
Labels: @gitbutler/desktop

#5161 fix: Auto-focus on 'Start commit'
  apps/desktop/src/lib/commit/CommitDialog.svelte
Labels: @gitbutler/desktop

#5168 fix: do not allow commit editing for upstream-only commits
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
Labels: @gitbutler/desktop

#5167 fix: Swallow the default target not found
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/lib/stores/remoteBranches.ts
Labels: @gitbutler/desktop

#5171 Fix issue where incoming commit headers were caried into merge commit headers
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#5173 Stack - correctly flag remote commits when no changeid
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5170 fix: Get the right PR source branch
  apps/desktop/src/lib/gitHost/github/types.ts
Labels: @gitbutler/desktop

#5169 PR card updates
  apps/desktop/src/lib/branch/BranchHeader.svelte
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/branch/StackingSeriesHeader.svelte
  apps/desktop/src/lib/branch/StackingSeriesHeaderContextMenu.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
  apps/desktop/src/lib/stack/StackHeader.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#5174 When revwalking only get the commits from the first parent
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/remote.rs
  crates/gitbutler-branch-actions/src/reorder_commits.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/src/repository.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
Labels: rust

#5176 fix comment on a test assertion
  crates/gitbutler-branch-actions/tests/extra/mod.rs
Labels: rust

#5165 Some improvements on top of #5089
  apps/desktop/src/lib/file/FileDiff.svelte
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust, @gitbutler/desktop

#5177 fix: New branch dropzone only accepts uncommited files
  apps/desktop/src/lib/branch/BranchDropzone.svelte
  apps/desktop/src/lib/dragging/draggables.ts
Labels: @gitbutler/desktop

#5178 stack: improvve computing of upstream only commits
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-stack-api/src/series.rs
  crates/gitbutler-stack-api/src/stack_ext.rs
Labels: rust

#5182 fix: stacking dont show PR cards/btns if no service exists
  apps/desktop/src/lib/branch/StackingSeriesHeader.svelte
Labels: @gitbutler/desktop

#5162 Implement 'integrate upstream changes' for the stacked flow
  apps/desktop/src/lib/commit/StackingCommitList.svelte
  apps/desktop/src/lib/stack/StackSeries.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#5183 fix: also disable series 'rename' via contextMenu once pushed
  apps/desktop/src/lib/branch/StackingSeriesHeaderContextMenu.svelte
Labels: @gitbutler/desktop

#5184 fix: update copy for feature flag for enabling multi-series stacking support
  apps/desktop/src/routes/settings/experimental/+page.svelte
Labels: @gitbutler/desktop

#5186 fix: in series delete confirmation modal, show correct series name
  apps/desktop/src/lib/branch/StackingSeriesHeaderContextMenu.svelte
Labels: @gitbutler/desktop

#5191 Stack: fix upstream commit listing
  crates/gitbutler-stack-api/src/stack_ext.rs
Labels: rust

#5192 Move a series converion function in branch-actions to separate module
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#5193 Stack api - small refactor
  Cargo.lock
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-patch-reference/Cargo.toml
  crates/gitbutler-patch-reference/src/lib.rs
  crates/gitbutler-stack-api/src/heads.rs
  crates/gitbutler-stack-api/src/series.rs
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
Labels: rust

#5196 feat: add token for `branch_name` in commit message custom prompt
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
Labels: @gitbutler/desktop

#5195 fix: update push label to 'Push All' when there are multiple series
  apps/desktop/src/lib/stack/Stack.svelte
Labels: @gitbutler/desktop

#5198 fix - stack / requires force
  crates/gitbutler-branch-actions/src/stack.rs
Labels: rust

#5188 add-branch-to-stack-update
  apps/desktop/src/lib/branch/StackingAddSeriesButton.svelte
  apps/desktop/src/lib/branch/StackingNewStackCard.svelte
  apps/desktop/src/lib/branch/StackingSeriesHeader.svelte
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
  apps/desktop/src/lib/commit/StackingUpstreamCommitsAccordion.svelte
  apps/desktop/src/lib/components/InsertEmptyCommitAction.svelte
  apps/desktop/src/lib/components/contextmenu/ContextMenu.svelte
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/stack/Stack.svelte
  apps/desktop/src/lib/stack/StackHeader.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/Tooltip.svelte
  packages/ui/src/lib/utils/focusTrap.ts
  packages/ui/src/lib/utils/tooltipPosition.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5202 PR cards: Remove the mergeable state message
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/pr/StackingPullRequestCard.svelte
Labels: @gitbutler/desktop

#5203 Templated branch names - prefix with user initials
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
Labels: rust

#5206 Styles fix: new branch modal
  apps/desktop/src/lib/branch/StackingAddSeriesButton.svelte
Labels: @gitbutler/desktop

#5210 UI stacking lanes style fixes
  apps/desktop/src/lib/branch/StackingSeriesHeader.svelte
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
  apps/desktop/src/lib/commit/StackingUpstreamCommitsAccordion.svelte
  apps/desktop/src/lib/stack/StackSeriesDividerLine.svelte
  packages/ui/src/lib/commitLinesStacking/Cell.svelte
  packages/ui/src/lib/commitLinesStacking/CommitNode.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5211 UI stacking lanes style fixes
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
  apps/desktop/src/lib/stack/StackHeader.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5212 fix: status icon line on series header
  apps/desktop/src/lib/branch/StackingSeriesHeader.svelte
  apps/desktop/src/lib/stack/StackSeries.svelte
Labels: @gitbutler/desktop

#5205 fix: calculating dropzone distance when commitIndex 0
  apps/desktop/src/lib/dragging/reorderDropzoneManager.ts
Labels: @gitbutler/desktop

#5214 small-fix: Remove extra quote in add series modal
  apps/desktop/src/lib/branch/StackingAddSeriesButton.svelte
Labels: @gitbutler/desktop

#5204 Segmented control style
  apps/desktop/src/lib/components/tabs/TabList.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  packages/ui/src/lib/segmentControl/Segment.svelte
  packages/ui/src/lib/segmentControl/SegmentControl.svelte
  packages/ui/src/styles/components/segment.css
Labels: @gitbutler/desktop, @gitbutler/ui

#5209 Patch stacks :D
  apps/desktop/.env.development
  apps/desktop/.env.nightly
  apps/desktop/.env.production
  apps/desktop/.env.testing
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/series/+page.svelte
  apps/desktop/src/routes/[projectId]/series/patchStacks/[patchStackId]/+page.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+layout.ts
  apps/web/src/routes/repositories/+page.svelte
  apps/web/src/routes/repositories/[repositoryId]/+layout.svelte
  apps/web/src/routes/repositories/[repositoryId]/+page.svelte
  apps/web/src/routes/repositories/[repositoryId]/patchStacks/[patchStackId]/+page.svelte
  packages/shared/package.json
  packages/shared/src/lib/cloud/repositories/service.ts
  packages/shared/src/lib/cloud/stacks/CloudPatchStackIndex.svelte
  packages/shared/src/lib/cloud/stacks/CloudPatchStackShow.svelte
  packages/shared/src/lib/cloud/stacks/service.ts
  packages/shared/src/lib/index.ts
  packages/shared/src/lib/sharedRoutes.ts
  packages/shared/src/lib/storeUtils.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#5200 Refactor the "PR template path" fetch logic
  Cargo.lock
  Cargo.toml
  apps/desktop/src/lib/backend/forge.ts
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/gitHost/azure/azure.ts
  apps/desktop/src/lib/gitHost/bitbucket/bitbucket.ts
  apps/desktop/src/lib/gitHost/github/github.ts
  apps/desktop/src/lib/gitHost/github/githubPrService.ts
  apps/desktop/src/lib/gitHost/gitlab/gitlab.ts
  apps/desktop/src/lib/gitHost/interface/gitHost.ts
  apps/desktop/src/lib/gitHost/interface/gitHostPrService.ts
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/settings/userPreferences/PullRequestTemplateForm.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-forge/Cargo.toml
  crates/gitbutler-forge/src/forge.rs
  crates/gitbutler-forge/src/lib.rs
  crates/gitbutler-forge/src/review.rs
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/forge.rs
  crates/gitbutler-tauri/src/github.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
Labels: rust, @gitbutler/desktop

#5187 feat: add diff text wrap userSetting
  apps/desktop/src/lib/hunk/HunkDiff.svelte
  apps/desktop/src/lib/hunk/HunkViewer.svelte
  apps/desktop/src/lib/settings/userSettings.ts
  apps/desktop/src/routes/settings/appearance/+page.svelte
Labels: @gitbutler/desktop

#5216 feat: enable stackingFeature by default
  apps/desktop/src/lib/config/uiFeatureFlags.ts
Labels: @gitbutler/desktop

#5218 feat: enable stacking for real this time
  apps/desktop/src/lib/config/uiFeatureFlags.ts
Labels: @gitbutler/desktop

#5217 UI: Stacking branch header
  apps/desktop/src/lib/branch/StackingSeriesHeader.svelte
  apps/desktop/src/lib/branch/StackingStatusIcon.svelte
  apps/desktop/src/lib/components/contextmenu/ContextMenu.svelte
  packages/ui/src/lib/utils/focusTrap.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#5228 UI fix default editor select
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/routes/settings/appearance/+page.svelte
Labels: @gitbutler/desktop

#5232 fixes a bug in handling the remote name
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack-api/src/stack_ext.rs
  crates/gitbutler-stack-api/tests/mod.rs
  crates/gitbutler-stack/src/target.rs
Labels: rust

#5231 Copy improve for auto select text
  apps/desktop/src/routes/settings/appearance/+page.svelte
Labels: @gitbutler/desktop

#5236 Template branch names - ensure initials generation handles utf8 chars correctly
  Cargo.lock
  crates/gitbutler-stack-api/Cargo.toml
  crates/gitbutler-stack-api/src/stack_ext.rs
Labels: rust

#5237 fix a bug in marking commits as integrated
  crates/gitbutler-branch-actions/src/stack.rs
Labels: rust

#5239 fix: Type the modals correctly
  apps/desktop/src/lib/commit/CommitCard.svelte
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/lib/components/ProblemLoadingRepo.svelte
  apps/desktop/src/lib/components/ShareIssueModal.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/hunk/HunkContextMenu.svelte
  apps/desktop/src/lib/pr/CopyLinkContextMenu.svelte
  apps/desktop/src/lib/pr/MergeButton.svelte
  apps/desktop/src/lib/settings/GithubIntegration.svelte
  apps/desktop/src/routes/settings/profile/+page.svelte
Labels: @gitbutler/desktop

#5220 PR details modal: Allow user to choose the PR template
  apps/desktop/src/lib/branch/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/components/FilterBranchesButton.svelte
  apps/desktop/src/lib/components/ProjectSetupTarget.svelte
  apps/desktop/src/lib/pr/PrDetailsModal.svelte
  apps/desktop/src/lib/pr/PrDetailsModalHeader.svelte
  apps/desktop/src/lib/pr/PrTemplateSection.svelte
  apps/desktop/src/lib/select/Select.svelte
  apps/desktop/src/lib/settings/AnalyticsSettings.svelte
  apps/desktop/src/lib/settings/userPreferences/CloudForm.svelte
  apps/desktop/src/lib/settings/userPreferences/CommitSigningForm.svelte
  apps/desktop/src/lib/settings/userPreferences/DetailsForm.svelte
  apps/desktop/src/lib/settings/userPreferences/PreferencesForm.svelte
  apps/desktop/src/lib/settings/userPreferences/PullRequestTemplateForm.svelte
  apps/desktop/src/lib/shared/DropDownButton.svelte
  apps/desktop/src/routes/[projectId]/settings/+page.svelte
  apps/desktop/src/routes/settings/appearance/+page.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  apps/desktop/src/routes/settings/git/+page.svelte
  crates/gitbutler-forge/src/review.rs
  packages/ui/src/lib/BorderlessTextarea.svelte
  packages/ui/src/lib/Toggle.svelte
  packages/ui/src/lib/ToggleButton.svelte
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#5241 Stacking Commit Card: Port the conflict resolution confirmation modal
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
Labels: @gitbutler/desktop

#5242 fix: do not error on empty `dropzoneIndexes`
  apps/desktop/src/lib/dragging/reorderDropzoneManager.ts
Labels: @gitbutler/desktop

#5243 fix: stacking remove pseudo dropzone line overlay
  apps/desktop/src/lib/commit/StackingCommitCard.svelte
  apps/desktop/src/lib/dropzone/LineOverlay.svelte
Labels: @gitbutler/desktop

#5244 Fix for branches incorrectly deleted
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
Labels: rust

#5250 fix: don't force lowercase and allow `/` character
  apps/desktop/src/lib/utils/string.ts
Labels: @gitbutler/desktop

#5251 add large file protection for the UI on commits
  crates/gitbutler-branch-actions/src/commit.rs
Labels: rust
