Repository gitbutlerapp/gitbutler, pull requests merged in 2025-06, with the labels that each got.

#8865 Fix Spelling error in Forge form
  apps/desktop/src/components/ForgeForm.svelte
Labels: @gitbutler/desktop

#8877 ui-fixes-76
  apps/desktop/src/components/ForgeForm.svelte
  apps/desktop/src/components/RemoveProjectForm.svelte
  apps/desktop/src/components/TabContent.svelte
  apps/desktop/src/components/v3/projectSettings/GeneralSettings.svelte
  apps/desktop/src/routes/[projectId]/settings/+page.svelte
  packages/ui/src/lib/Modal.svelte
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui

#8862 ref-info: normal workflow
  Cargo.lock
  crates/but-workspace/src/integrated.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
Labels: rust

#8889 Fix hanging on upstream integration when no forged used
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
Labels: @gitbutler/desktop

#8893 butler-actions-reverting
  apps/desktop/src/components/v3/ActionLog.svelte
  apps/desktop/src/components/v3/ActionLogFilesChanged.svelte
  apps/desktop/src/components/v3/ActionLogMcpItem.svelte
  apps/desktop/src/components/v3/ActionLogRevertItem.svelte
  apps/desktop/src/lib/actions/actionService.svelte.ts
  apps/desktop/src/lib/actions/types.ts
  crates/but-action/src/action.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/simple.rs
  crates/but-db/migrations/2025-05-30-112246_butler_actions/up.sql
  crates/but-db/migrations/2025-06-03-204936_enumey_butler_actions/down.sql
  crates/but-db/migrations/2025-06-03-204936_enumey_butler_actions/up.sql
  crates/but-db/src/butler_actions.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/schema.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#8897 files-assign-ui
  apps/desktop/src/components/CardOverlay.svelte
  apps/desktop/src/components/Dropzone.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/lib/assets/empty-state/no-assignments.svg
  apps/desktop/src/styles/styles.css
Labels: @gitbutler/desktop

#8898 Jiggle each loop about
  apps/desktop/src/components/v3/ActionLogMcpItem.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8904 ui-fixes-77
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackPagination.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/lib/assets/empty-state/no-assignments.svg
  apps/desktop/src/styles/styles.css
Labels: @gitbutler/desktop

#8911 Fallback when user.signingkey isn't configured
  crates/but-rebase/src/commit.rs
Labels: rust

#8917 Reset pr creation if call fails
  apps/desktop/src/components/ReviewCreation.svelte
Labels: @gitbutler/desktop

#8905 ref-info: normal workflow
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust

#8920 ui-fixes-78
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackPagination.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#8914 Pass whole headers about
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/hunks/dropHandler.ts
  apps/desktop/src/lib/selection/entityAdapters.ts
  apps/desktop/src/lib/selection/uncommitted.ts
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
Labels: @gitbutler/desktop

#8918 Make the assignments in worktree changes always be set
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/settings.ts
  apps/desktop/cypress/e2e/support/mock/worktree.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithRemoteChanges.ts
  apps/desktop/cypress/e2e/support/scenarios/complexHunks.ts
  apps/desktop/cypress/e2e/support/scenarios/lotsOfFileChanges.ts
  apps/desktop/cypress/e2e/support/scenarios/someDeeplyNestedChanges.ts
  apps/desktop/src/lib/hunks/change.ts
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
  crates/but-action/src/simple.rs
  crates/but-hunk-assignment/src/lib.rs
  crates/but-testing/src/command/mod.rs
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust, @gitbutler/desktop

#8922 Fixes a bug where sqlite connection fails on windows
  crates/but-db/src/lib.rs
Labels: rust

#8915 Support paths that contain double colons
  apps/desktop/src/lib/selection/entityAdapters.ts
  apps/desktop/src/lib/selection/uncommitted.ts
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
Labels: @gitbutler/desktop

#8926 Fix committing assigned changes
  apps/desktop/src/components/v3/NewCommitView.svelte
Labels: @gitbutler/desktop

#8928 refactor-UI-styles
  .prettierignore
  apps/desktop/postcss.config.js
  apps/desktop/src/components/CommitFailedFileEntry.svelte
  apps/desktop/src/components/TryV3Modal.svelte
  apps/desktop/src/components/v3/CommitHeader.svelte
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/v3/NotOnGitButlerBranch.svelte
  apps/desktop/src/components/v3/PRBranchView.svelte
  apps/desktop/src/components/v3/branchesPage/PRListCard.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/web/postcss.config.js
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/ui/postcss.config.js
  packages/ui/src/styles/components/card.css
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/src/styles/core/general.css
  packages/ui/src/styles/core/reset.css
  packages/ui/src/styles/main.css
  packages/ui/src/styles/sharable/layout.css
  packages/ui/src/styles/utility/general.css
  packages/ui/src/styles/utility/layout.min.css
  packages/ui/terrazzo.config.js
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#8929 experemental: workspace swap the middle and the right panels
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
Labels: @gitbutler/desktop

#8927 Add missing derived around DZ handler creation
  apps/desktop/src/components/v3/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#8930 HunkAssignments now include line nums added / removed
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/src/lib/hunks/hunk.ts
  crates/but-hunk-assignment/src/lib.rs
  crates/but-hunk-assignment/src/reconcile.rs
Labels: rust, @gitbutler/desktop

#8933 Unapplying a lane will create a WIP commit with the assigned changes
  crates/but-action/src/lib.rs
  crates/but-action/src/simple.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8934 Butler actions - no persisting of derived data
  crates/but-action/src/action.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/simple.rs
  crates/but-db/migrations/2025-06-03-204936_enumey_butler_actions/down.sql
  crates/but-db/migrations/2025-06-03-204936_enumey_butler_actions/up.sql
  crates/but-db/src/butler_actions.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/schema.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#8919 graph segmentation spike
  Cargo.lock
  Cargo.toml
  crates/but-action/Cargo.toml
  crates/but-action/src/lib.rs
  crates/but-graph/Cargo.toml
  crates/but-graph/src/api.rs
  crates/but-graph/src/init.rs
  crates/but-graph/src/lib.rs
  crates/but-graph/src/ref_metadata_legacy.rs
  crates/but-graph/src/segment.rs
  crates/but-graph/tests/fixtures/legacy/virtual-branches-01.toml
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init.rs
  crates/but-graph/tests/graph/main.rs
  crates/but-graph/tests/graph/ref_metadata_legacy.rs
  crates/but-graph/tests/graph/utils.rs
  crates/but-graph/tests/graph/vis.rs
  crates/but-hunk-assignment/Cargo.toml
  crates/but-hunk-dependency/Cargo.toml
  crates/but-testing/Cargo.toml
  crates/but-testing/src/command/mod.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/workspace/main.rs
  crates/but-workspace/tests/workspace/ref_info/mod.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
  crates/but-workspace/tests/workspace/ref_metadata.rs
  crates/but/Cargo.toml
  crates/but/src/mcp_internal/project.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8923 Fix drag to uncommit
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/commits/utils.ts
  apps/desktop/src/lib/dragging/draggables.ts
  apps/desktop/src/lib/hunks/dropHandler.ts
  apps/desktop/src/lib/selection/idSelection.svelte.ts
  apps/desktop/src/lib/selection/key.ts
  apps/desktop/src/lib/selection/uncommitted.ts
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#8938 update-the-actions-log-to-use-combined-feed
  apps/desktop/src/components/v3/ActionLog.svelte
  apps/desktop/src/components/v3/ActionLogFilesChanged.svelte
  apps/desktop/src/components/v3/ActionLogMcpItem.svelte
  apps/desktop/src/components/v3/ActionLogRevertItem.svelte
  apps/desktop/src/lib/actions/actionService.svelte.ts
  apps/desktop/src/lib/actions/types.ts
  apps/desktop/src/lib/feed/feed.ts
  apps/desktop/src/lib/history/types.ts
  apps/desktop/src/routes/+layout.svelte
  crates/but-action/src/action.rs
  crates/but-db/src/butler_actions.rs
  crates/but/src/args.rs
  crates/but/src/command/mod.rs
  crates/but/src/main.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/undo.rs
Labels: rust, @gitbutler/desktop

#8940 Remove the create commit dropzone if assignments is enabled
  apps/desktop/src/components/v3/BranchCard.svelte
Labels: @gitbutler/desktop

#8943 but-log-lol
  Cargo.lock
  crates/but/Cargo.toml
  crates/but/src/args.rs
  crates/but/src/command/mod.rs
  crates/but/src/log/mod.rs
  crates/but/src/main.rs
Labels: rust

#8944 Fix an overflow bug
  crates/but/src/log/mod.rs
Labels: rust

#8951 Refactor cy.url calls into re-usable function
  apps/desktop/cypress/e2e/branchActions.cy.ts
  apps/desktop/cypress/e2e/branches.cy.ts
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/cypress/e2e/fileTree.cy.ts
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/cypress/e2e/upstreamIntegration.cy.ts
  apps/desktop/cypress/e2e/workspace.cy.ts
Labels: @gitbutler/desktop

#8953 Some more but rub setup code
  crates/but/src/args.rs
  crates/but/src/id/mod.rs
  crates/but/src/main.rs
  crates/but/src/rub/mod.rs
Labels: rust

#8954 Implement but rub amend operation
  crates/but/src/rub/assign.rs
  crates/but/src/rub/mod.rs
  crates/but/src/status/mod.rs
Labels: rust

#8945 Use seperate tokens for use in the browser and for polling
  apps/desktop/src/lib/user/userService.ts
Labels: @gitbutler/desktop

#8961 Make async render faster
  apps/desktop/src/components/v3/AsyncRender.svelte
Labels: @gitbutler/desktop

#8962 mcp internal: commit
  Cargo.lock
  crates/but/Cargo.toml
  crates/but/src/args.rs
  crates/but/src/main.rs
  crates/but/src/mcp_internal/commit.rs
  crates/but/src/mcp_internal/mod.rs
  crates/but/src/mcp_internal/project.rs
Labels: rust

#8963 Fix slowness of file item :hover effects
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#8965 more-mcp-internal-changes
  crates/but/src/mcp_internal/commit.rs
  crates/but/src/mcp_internal/mod.rs
  crates/but/src/mcp_internal/status.rs
Labels: rust

#8967 Add delay to improve selection
  apps/desktop/src/components/v3/SelectionView.svelte
Labels: @gitbutler/desktop

#8970 Bring back 4px for right side resizing
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
Labels: @gitbutler/desktop

#8972 fix-multi-selection-behaviour
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/lib/files/filetreeV3.ts
  apps/desktop/src/lib/worktree/changeTree.ts
Labels: @gitbutler/desktop

#8973 fix-unselect-hunks-on-commit-cancel
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/NewCommitView.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8974 Show the last selected file in the file view
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/lib/selection/idSelection.svelte.ts
  apps/desktop/src/lib/selection/idSelectionUtils.ts
Labels: @gitbutler/desktop

#8976 unified-diff-deselect-single-line
  apps/desktop/cypress/e2e/support/scenarios/complexHunks.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/selection/uncommitted.ts
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
Labels: @gitbutler/desktop

#8977 Fix invalidation of branch changes when amending commits
  apps/desktop/src/components/CommitList.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/tags.ts
Labels: @gitbutler/desktop

#8978 MCP posthog
  Cargo.lock
  apps/desktop/cypress/e2e/support/mock/settings.ts
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-settings/Cargo.toml
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
  crates/but-settings/src/persistence.rs
  crates/but-settings/src/watch.rs
  crates/but-settings/tests/mod.rs
  crates/but/Cargo.toml
  crates/but/src/main.rs
  crates/but/src/mcp/mod.rs
  crates/but/src/metrics/mod.rs
  crates/gitbutler-tauri/src/settings.rs
Labels: rust, @gitbutler/desktop

#8980 stack-description-and-project-status-refactor
  Cargo.lock
  crates/but-core/src/ui.rs
  crates/but/Cargo.toml
  crates/but/src/mcp_internal/status.rs
Labels: rust

#8982 propagate telemetry distinct id to backend on login/logout
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/src/components/AppUpdater.test.ts
  apps/desktop/src/components/MetricsReporter.test.ts
  apps/desktop/src/lib/analytics/posthog.ts
  apps/desktop/src/lib/forge/forgeFactory.test.ts
  apps/desktop/src/lib/forge/github/githubListingService.svelte.test.ts
  apps/desktop/src/lib/testing/mockSettingsdService.ts
  apps/desktop/src/lib/updater/updater.test.ts
  apps/desktop/src/lib/user/userService.ts
  apps/desktop/src/routes/+layout.ts
Labels: @gitbutler/desktop

#8984 gb client
  Cargo.lock
  crates/but-action/Cargo.toml
  crates/but-action/src/gb_client.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/simple.rs
Labels: rust

#8985 Add 3.5 UI feature toggle
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/selection/idSelection.svelte.ts
  apps/desktop/src/lib/selection/idSelectionUtils.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#8989 align unassign droparea styles with Figma
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/profileSettings/GeneralSettings.svelte
  apps/desktop/src/components/v3/projectSettings/AppearanceSettings.svelte
Labels: @gitbutler/desktop

#8990 style: align "unassigned" drop area with the design
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#8994 Open ai client provider
  Cargo.lock
  crates/but-action/Cargo.toml
  crates/but-action/src/generate.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/provider.rs
  crates/but-action/src/simple.rs
  crates/but/Cargo.toml
  crates/but/src/main.rs
Labels: rust

#8992 Remove feature toggle for 3.5
  apps/desktop/cypress/e2e/branchActions.cy.ts
  apps/desktop/cypress/e2e/branches.cy.ts
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/MultiStackCreateNew.svelte
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/testIds.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#8995 Remove unused stack layout code
  apps/desktop/src/components/StackStickyButtons.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackPagination.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/state/backendQuery.ts
Labels: @gitbutler/desktop

#8996 Refactor `projectState.drawerPage` into an exclusive action
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/PublishButton.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/TargetCommitList.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
Labels: @gitbutler/desktop

#9003 Simplify dropzone code a bit
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/Dropzone.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/HunkViewer.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/lib/dragging/dropzone.ts
  apps/desktop/src/lib/dragging/registry.ts
  apps/desktop/src/lib/focus/focusManager.svelte.ts
  apps/desktop/src/lib/hunks/hunk.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#9005 ui-fixes-83
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/PRBranchView.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/components/v3/editor/MessageEditorInput.svelte
  apps/desktop/src/components/v3/editor/MessageEditorRuler.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/richText/tools/FormattingBar.svelte
  packages/ui/src/lib/richText/tools/FormattingButton.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9007 Fix workspace sizing css issue
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/MultiStackCreateNew.svelte
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9008 fix: chrome-sidebar
  apps/desktop/src/components/ChromeSidebar.svelte
  packages/ui/src/lib/Button.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9009 New layout for branches page
  apps/desktop/src/components/Dropzone.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/UnassignedView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  packages/ui/src/lib/scroll/Scrollbar.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9019 avoid excessive debug logging in instrumentation
  crates/but-hunk-assignment/src/lib.rs
Labels: rust

#9015 Dim other lanes when committing
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9022 fix: dropzone cutting off floating elements
  apps/desktop/src/components/Dropzone.svelte
Labels: @gitbutler/desktop

#9024 refactor: use .clear() on input fields in Cypress e2e tests
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/review.cy.ts
Labels: @gitbutler/desktop

#9023 Improve hunk retain function
  apps/desktop/src/lib/hunks/hunk.ts
  apps/desktop/src/lib/selection/uncommitted.ts
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#9025 Use empty array if selection now covers all lines
  apps/desktop/src/lib/selection/uncommitted.ts
Labels: @gitbutler/desktop

#9036 Persist github data between reloads
  apps/desktop/src/lib/state/clientState.svelte.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
Labels: @gitbutler/desktop

#9035 Disable two failing tests
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
Labels: @gitbutler/desktop

#9037 Improve but status
  crates/but/src/id/mod.rs
  crates/but/src/status/assignment.rs
  crates/but/src/status/mod.rs
Labels: rust

#9039 Simplify MCP server construction
  crates/but/src/mcp/event.rs
  crates/but/src/mcp/mod.rs
Labels: rust

#9040 ui-fixes-85
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/MultiStackCreateNew.svelte
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/editor/MessageEditorInput.svelte
  apps/desktop/src/styles/styles.css
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9044 Don't select new commit after creating it
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/src/components/v3/NewCommitView.svelte
Labels: @gitbutler/desktop

#9046 posthog - no properties with null value
  crates/but/src/mcp/mod.rs
  crates/but/src/metrics/mod.rs
  scripts/release.sh
Labels: rust

#9049 ui-fixes-87
  apps/desktop/postcss.config.js
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitGoesHere.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  packages/shared/package.json
  packages/shared/postcss.config.js
  packages/ui/postcss.config.js
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui

#9047 ai-understands-assignment
  apps/desktop/src/components/v3/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/lib/ai/diffInputContext.svelte.ts
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
Labels: @gitbutler/desktop

#9050 Hide commit button when there is nothing to commit
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
Labels: @gitbutler/desktop

#9048 Posthog for release channel
  crates/but-action/src/lib.rs
  crates/but-action/src/openai.rs
  crates/but/src/mcp/event.rs
  crates/but/src/mcp/mod.rs
  crates/but/src/metrics/mod.rs
  scripts/release.sh
Labels: rust

#9056 Temporarily disable uncommiting to assigned changes
  apps/desktop/src/components/v3/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#9057 Implement uncommiting and assigning
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#9061 fix and refactor resizers fot the workspace
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#9062 Check only assigned or unassigned when starting a commit
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
Labels: @gitbutler/desktop

#9063 Fix drawer not closign after asignment
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/lib/hunks/dropHandler.ts
Labels: @gitbutler/desktop

#9066 Make hunk assignments handle no diff scenario better
  crates/but-hunk-assignment/src/lib.rs
Labels: rust

#9068 Handle more places where unidiff cant be produced
  crates/but-core/src/ui.rs
  crates/but-hunk-dependency/src/lib.rs
  crates/but-hunk-dependency/src/ui.rs
Labels: rust

#9074 Fix inability to drag changes between branches
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
Labels: @gitbutler/desktop

#9075 Fix double click when writing messages
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/components/v3/editor/MessageEditorInput.svelte
Labels: @gitbutler/desktop

#9077 Added scrollable container around stack
  apps/desktop/src/components/v3/BranchesViewStack.svelte
Labels: @gitbutler/desktop

#9078 Added scrolly container to branch if it is not inside a stack
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
Labels: @gitbutler/desktop

#9079 Fix dimming when committing to non-existant branch
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9083 But MCP - add posthog for client info
  crates/but/src/mcp/mod.rs
Labels: rust

#9087 fix-commit-goes-here-duplication
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/support/scenarios/stackWithTwoEmptyBranches.ts
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchList.svelte
Labels: @gitbutler/desktop

#9089 Disable double click resize
  apps/desktop/src/components/Resizer.svelte
Labels: @gitbutler/desktop

#9084 Add copy commit hash
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
Labels: @gitbutler/desktop

#9091 Add tests for the commit title focus states
  apps/desktop/cypress/e2e/commitActions.cy.ts
Labels: @gitbutler/desktop

#9092 Dont prevew newly created stacked branches
  apps/desktop/cypress/e2e/branchActions.cy.ts
  apps/desktop/src/components/AddDependentBranchModal.svelte
Labels: @gitbutler/desktop

#9093 refactor(editor): simplify char count display and styling
  apps/desktop/src/components/v3/editor/MessageEditorInput.svelte
Labels: @gitbutler/desktop

#9094 fix-stackdraft-redundant-exclusiveaction
  apps/desktop/cypress/e2e/branchActions.cy.ts
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/src/components/v3/MultiStackCreateNew.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#9114 ui-fixes-91
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/UnassignedView.svelte
Labels: @gitbutler/desktop

#9115 Create persiste Workflow entries
  Cargo.lock
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/lib/actions/types.ts
  apps/desktop/src/lib/feed/feed.ts
  crates/but-action/Cargo.toml
  crates/but-action/src/action.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/reword.rs
  crates/but-action/src/simple.rs
  crates/but-action/src/workflow.rs
  crates/but-db/migrations/2025-06-19-181700_butler_actions/down.sql
  crates/but-db/migrations/2025-06-19-181700_butler_actions/up.sql
  crates/but-db/migrations/2025-06-19-192246_workflows/down.sql
  crates/but-db/migrations/2025-06-19-192246_workflows/up.sql
  crates/but-db/src/butler_actions.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/schema.rs
  crates/but-db/src/workflows.rs
  crates/but/src/mcp/mod.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#9116 Commit to new lane makes a left-hand side lane
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/src/components/v3/NewCommitView.svelte
Labels: @gitbutler/desktop

#9118 actions-log-ui-fixes
  apps/desktop/src/components/ConfigurableScrollableContainer.svelte
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
Labels: @gitbutler/desktop

#9119 action-source-editor-logos
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/lib/actions/types.ts
  packages/ui/src/lib/EditorLogo.svelte
  packages/ui/src/lib/assets/cursor.svg
  packages/ui/src/lib/assets/vscode-insiders.svg
  packages/ui/src/lib/assets/vscode.svg
Labels: @gitbutler/desktop, @gitbutler/ui

#9069 graph segmentation
  crates/but-graph/Cargo.toml
  crates/but-graph/src/api.rs
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/init/post.rs
  crates/but-graph/src/init/utils.rs
  crates/but-graph/src/init/walk.rs
  crates/but-graph/src/lib.rs
  crates/but-graph/src/segment.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/mod.rs
  crates/but-graph/tests/graph/init/utils.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-graph/tests/graph/utils.rs
  crates/but-graph/tests/graph/vis.rs
  crates/but-testing/src/args.rs
  crates/but-testing/src/command/mod.rs
  crates/but-testing/src/main.rs
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/src/stacks.rs
Labels: rust

#9121 Fix Typo in Workspace Commit
  crates/but-workspace/src/commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
Labels: rust

#9123 ui-fixes-93
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/FloatingCommitBox.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/components/v3/editor/MessageEditorRuler.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  apps/desktop/src/routes/+layout.svelte
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/src/styles/core/general.css
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9127 feat(commit-message-editor): improve floating commit box UX
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/FloatingCommitBox.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#9131 fix(viewport): update right drawer resizer width and persist ID
  apps/desktop/src/components/v3/MainViewport.svelte
Labels: @gitbutler/desktop

#9134 feat(feed): improve action source display and fallback content
  apps/desktop/src/components/v3/FeedItem.svelte
Labels: @gitbutler/desktop

#9139 fix(reword): update commit ID conversion to use OidExt trait
  crates/but-action/src/reword.rs
Labels: rust

#9137 more robust app startup in the light of database failures
  Cargo.lock
  apps/desktop/src/lib/project/projectsService.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  crates/but-db/src/lib.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/projects.rs
Labels: rust, @gitbutler/desktop

#9140 improve mcp posthog setup
  crates/but-action/src/openai.rs
  crates/but/src/mcp/mod.rs
  crates/but/src/metrics/mod.rs
Labels: rust

#9143 feat(desktop): add pan-to-scroll support in MultiStackView
  apps/desktop/src/components/v3/MultiStackView.svelte
Labels: @gitbutler/desktop

#9145 try to support `cargo vendor`
  Cargo.lock
  crates/but-testsupport/Cargo.toml
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/executor/tokio/mod.rs
  crates/gitbutler-stack/Cargo.toml
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-testsupport/Cargo.toml
Labels: rust

#9148 ui-fixes-94
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/components/v3/profileSettings/GeneralSettings.svelte
Labels: @gitbutler/desktop

#9151 refactor(MainViewport): prop names and remove extra code
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#9154 Improve reordering of stacks
  apps/desktop/cypress/e2e/support/scenarios/complexHunks.ts
  apps/desktop/src/components/Board.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/lib/dragging/reordering.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/testing/mockStackService.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#9157 Fix scrollyness of review creation
  apps/desktop/src/components/ReviewCreation.svelte
Labels: @gitbutler/desktop

#9161 Remove unused API surface area
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/src/lib/hunks/hunk.ts
  crates/but-hunk-assignment/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#9162 Update sveltey deps
  apps/desktop/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @gitbutler/desktop, @gitbutler/ui

#9164 Fix getting stuck committting
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9163 Tools, structured output and auto-commit
  Cargo.lock
  Cargo.toml
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/lib/actions/actionService.svelte.ts
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/routes/+layout.svelte
  crates/but-action/Cargo.toml
  crates/but-action/src/auto_commit.rs
  crates/but-action/src/grouping.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/openai.rs
  crates/but-tools/Cargo.toml
  crates/but-tools/src/lib.rs
  crates/but-tools/src/openai.rs
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#9166 style(profile): remove custom checkmark styling from checked state
  apps/web/src/routes/(app)/profile/+page.svelte
Labels: @gitbutler/web

#9171 Disable browser cache in dev mode
  apps/desktop/vite.config.ts
Labels: @gitbutler/desktop

#9174 Tool events and Auto-commit changes
  Cargo.lock
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  crates/but-action/Cargo.toml
  crates/but-action/src/auto_commit.rs
  crates/but-action/src/grouping.rs
  crates/but-action/src/lib.rs
  crates/but-tools/Cargo.toml
  crates/but-tools/src/emit.rs
  crates/but-tools/src/lib.rs
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
  crates/gitbutler-tauri/src/action.rs
Labels: rust, @gitbutler/desktop

#9177 Cypress improvements
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/src/lib/project/projectsService.ts
Labels: @gitbutler/desktop

#9180 testid-selection-views
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#9181 Show helpful message on bundling error
  apps/desktop/src/hooks.client.ts
  apps/desktop/src/lib/error/parser.ts
  apps/desktop/vite.config.ts
Labels: @gitbutler/desktop

#9183 Refactor feed to remove oplog logic and implement infinite scroll
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/lib/feed/feed.ts
Labels: @gitbutler/desktop

#9188 Fix double push errors
  apps/desktop/src/hooks.client.ts
  apps/desktop/src/lib/error/error.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#9189 Fix clicking in message editor
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#9191 Fix git prune killing oplog
  crates/gitbutler-oplog/src/reflog.rs
Labels: rust

#9195 fix: restrict Auto commit option to uncommitted files
  apps/desktop/src/components/v3/FileContextMenu.svelte
Labels: @gitbutler/desktop

#9196 action-feed-improvements
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/components/v3/FeedItemKind.svelte
  apps/desktop/src/lib/actions/types.ts
  crates/but-action/src/reword.rs
  crates/but-action/src/workflow.rs
Labels: rust, @gitbutler/desktop

#9197 feed-snapshot-preformance
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/lib/history/snapshotDiffService.svelte.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/routes/+layout.svelte
  packages/ui/src/lib/ButBot.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9200 ui-burler-actions
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ConfigurableScrollableContainer.svelte
  apps/desktop/src/components/NowV3Modal.svelte
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/profileSettings/CliSymLink.svelte
  apps/desktop/src/components/v3/profileSettings/GeneralSettings.svelte
  apps/desktop/src/lib/assets/butbot-actions.svg
  packages/ui/src/lib/AgentAvatar.svelte
  packages/ui/src/lib/ButBot.svelte
  packages/ui/src/lib/EditorLogo.svelte
  packages/ui/src/lib/assets/but-agent.svg
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
  packages/ui/src/styles/utility/helpers.css
  packages/ui/src/styles/utility/layout.min.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9193 DB-hook experiment.
  Cargo.lock
  crates/but-db/Cargo.toml
  crates/but-db/src/butler_actions.rs
  crates/but-db/src/hunk_assignments.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/poll.rs
  crates/but-db/src/workflows.rs
  crates/but-testing/Cargo.toml
  crates/but-testing/src/args.rs
  crates/but-testing/src/command/mod.rs
  crates/but-testing/src/main.rs
Labels: rust

#9201 Load the feed items as they come
  Cargo.lock
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/lib/db/dbService.svelte.ts
  apps/desktop/src/lib/feed/feed.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  apps/desktop/src/routes/[projectId]/workspace/+page.svelte
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/db.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/window.rs
Labels: rust, @gitbutler/desktop

#9204 Update the separator to be compatible with weird file names
  apps/desktop/src/lib/selection/key.ts
Labels: @gitbutler/desktop

#9205 fix(support): add handler for start_watching_db event
  apps/desktop/cypress/e2e/support/index.ts
Labels: @gitbutler/desktop

#9206 test: enable test for hiding drawer on uncommit from context menu
  apps/desktop/cypress/e2e/commitActions.cy.ts
Labels: @gitbutler/desktop

#9207 Fix bug preventing preview of upstream commits
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#9211 Remove peristence of GitHub data
  apps/desktop/src/lib/state/clientState.svelte.ts
Labels: @gitbutler/desktop

#9214 tiny misspelling
  apps/desktop/src/components/v3/Feed.svelte
Labels: @gitbutler/desktop

#9217 Fix annoying bug in text editor wrapping
  packages/ui/src/lib/richText/linewrap.ts
Labels: @gitbutler/ui

#9219 Make sure stack exists
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
Labels: @gitbutler/desktop

#9222 Implement the uncommit variant of but rub
  Cargo.lock
  crates/but/Cargo.toml
  crates/but/src/log/mod.rs
  crates/but/src/rub/mod.rs
  crates/but/src/rub/undo.rs
Labels: rust

#9221 add reorder animation on lanes drag
  apps/desktop/src/components/v3/CommitDetails.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/dragging/reordering.ts
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui
