Repository gitbutlerapp/gitbutler, pull requests merged in 2025-08, with the labels that each got.

#9645 Remove obsolete stack unselect effect
  apps/desktop/src/routes/[projectId]/workspace/+page.svelte
Labels: @gitbutler/desktop

#9646 fix: Branch header context menu
  apps/desktop/src/components/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/BranchView.svelte
  apps/desktop/src/components/UnappliedBranchView.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#9648 feat(utils): add typedKeys utility function
  apps/desktop/src/lib/utils/object.ts
Labels: @gitbutler/desktop

#9649 rule-actions
  apps/desktop/src/components/Rule.svelte
  apps/desktop/src/components/RuleFiltersEditor.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/lib/rules/rule.ts
  apps/desktop/src/lib/rules/rulesService.svelte.ts
Labels: @gitbutler/desktop

#9647 Stack Service: return null if stack not found in selector
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#9650 Allow empty rule filters in RulesList.svelte
  apps/desktop/src/components/Rule.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/lib/rules/rule.ts
  crates/but-rules/src/lib.rs
Labels: rust, @gitbutler/desktop

#9652 Introduce but-server
  Cargo.lock
  Cargo.toml
  crates/but-server/Cargo.toml
  crates/but-server/src/lib.rs
  crates/but-server/src/main.rs
  crates/but-server/src/projects.rs
  crates/but-settings/src/watch.rs
  crates/gitbutler-tauri/Cargo.toml
Labels: rust

#9653 Remove exit calls from main.rs error handling
  crates/but/src/main.rs
Labels: rust

#9655 Introduce development electron app
  .npmrc
  apps/buzz/dev.js
  apps/buzz/package.json
  apps/buzz/src/main.ts
  apps/buzz/src/preload.ts
  apps/buzz/tsconfig.json
  apps/desktop/package.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#9659 New commit
  apps/desktop/src/lib/backend/ipc.ts
Labels: @gitbutler/desktop

#9668 Improve upstream commit filtering
  crates/but-workspace/src/stacks.rs
Labels: rust

#9670 ui-fixes-117
  apps/desktop/src/components/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/ChangedFiles.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/Rule.svelte
  apps/desktop/src/components/RuleFiltersEditor.svelte
  apps/desktop/src/components/RulesList.svelte
  packages/ui/src/lib/components/LineStats.svelte
  packages/ui/src/lib/components/file/FileStatusBadge.svelte
  packages/ui/src/lib/components/file/FileViewHeader.svelte
  packages/ui/src/stories/components/KebabButton.stories.svelte
  packages/ui/src/stories/components/LineStats.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9677 Remove base branch from global context and update usage
  apps/desktop/src/components/BaseBranchSwitch.svelte
  apps/desktop/src/components/KeysForm.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/lib/baseBranch/baseBranch.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#9683 Setup but-claude crate
  Cargo.toml
  crates/but/but-claude/Cargo.toml
  crates/but/but-claude/src/bridge.rs
  crates/but/but-claude/src/hooks.rs
  crates/but/but-claude/src/lib.rs
  crates/but/but-claude/src/mcp.rs
Labels: rust

#9684 feed: Don't snapshot diff, diff the commits instead
  apps/desktop/src/components/FeedItem.svelte
  apps/desktop/src/lib/actions/types.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  packages/shared/src/lib/utils/array.ts
Labels: @gitbutler/desktop

#9686 Fix but-claude location
  Cargo.lock
  crates/but-claude/Cargo.toml
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/hooks.rs
  crates/but-claude/src/lib.rs
  crates/but-claude/src/mcp.rs
  crates/but/but-claude/src/hooks.rs
  crates/but/but-claude/src/mcp.rs
Labels: rust

#9688 Move claude hooks implementation to but-claude crate
  Cargo.lock
  crates/but-claude/Cargo.toml
  crates/but-claude/src/hooks.rs
  crates/but-claude/src/hooks/claude.rs
  crates/but-claude/src/hooks/claude_transcript.rs
  crates/but-claude/src/hooks/file_lock.rs
  crates/but-claude/src/hooks/mod.rs
  crates/but/Cargo.toml
  crates/but/src/command/mod.rs
  crates/but/src/main.rs
Labels: rust

#9689 fix: Tools - Don't set the assignments when reading them
  crates/but-tools/src/workspace.rs
Labels: rust

#9691 Introduce a --force-if-includes app config
  crates/but-api/src/commands/virtual_branches.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-git/src/repository.rs
  crates/gitbutler-repo-actions/src/repository.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#9692 FeedItem: display Claude Hook vs MCP call correctly
  apps/desktop/src/components/FeedItem.svelte
Labels: @gitbutler/desktop

#9694 feed-component-ui-update
  apps/desktop/src/components/FeedActionDiff.svelte
  apps/desktop/src/components/FeedItem.svelte
Labels: @gitbutler/desktop

#9699 fix(rule): remove unnecessary paragraph tag from delete prompt
  apps/desktop/src/components/Rule.svelte
Labels: @gitbutler/desktop

#9700 Fix ReduxResult rendering with filteredChange
  apps/desktop/src/components/FeedActionDiff.svelte
Labels: @gitbutler/desktop

#9701 Use `fakeBaseQuery` with GitHub and GitLab rtkq api's
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/lib/backend/ipc.ts
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/error/parser.ts
  apps/desktop/src/lib/hunks/change.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/clientState.svelte.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
  apps/desktop/src/lib/state/reduxError.ts
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
Labels: @gitbutler/desktop

#9706 Fix app settings state
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
Labels: rust

#9705 fonts-import-fix
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/styles/fonts/fonts.css
  apps/desktop/src/styles/fonts/geist-mono/GeistMono-Bold.woff2
  apps/desktop/src/styles/fonts/geist-mono/GeistMono-Medium.woff2
  apps/desktop/src/styles/fonts/geist-mono/GeistMono-Regular.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Bold.woff2
  apps/desktop/src/styles/fonts/inter/Inter-BoldItalic.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Italic.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Medium.woff2
  apps/desktop/src/styles/fonts/inter/Inter-MediumItalic.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Regular.woff2
  apps/desktop/src/styles/fonts/inter/Inter-SemiBold.woff2
  apps/desktop/src/styles/fonts/inter/Inter-SemiBoldItalic.woff2
  apps/desktop/src/styles/fonts/pp-editorial/PPEditorialNew-Regular.woff2
  apps/desktop/src/styles/styles.css
  apps/web/src/lib/styles/fonts/fonts.css
  apps/web/src/lib/styles/fonts/geist-mono/GeistMono-Bold.woff2
  apps/web/src/lib/styles/fonts/geist-mono/GeistMono-Medium.woff2
  apps/web/src/lib/styles/fonts/geist-mono/GeistMono-Regular.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Bold.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-BoldItalic.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Italic.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Medium.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-MediumItalic.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Regular.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-SemiBold.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-SemiBoldItalic.woff2
  apps/web/src/lib/styles/fonts/pp-editorial/PPEditorialNew-Regular.woff2
  apps/web/src/lib/styles/global.css
  apps/web/src/routes/(home)/sections/BlogHighlights.svelte
  apps/web/src/routes/(home)/sections/DevelopersReview.svelte
  apps/web/src/routes/(home)/sections/FAQ.svelte
  apps/web/src/routes/(home)/sections/Footer.svelte
  apps/web/src/routes/+error.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/static/fonts/NotoSans-Regular.ttf
  apps/web/static/fonts/PPEditorialNew-Italic.woff2
  apps/web/static/fonts/PPEditorialNew-Regular.woff2
  apps/web/static/fonts/SplineSansMono-Medium.woff2
  apps/web/static/fonts/SplineSansMono-Regular.woff2
  apps/web/static/fonts/SplineSansMono-Semibold.woff2
  apps/web/vite.config.ts
  packages/ui/package.json
  packages/ui/src/stories/docs/introduction.mdx
  packages/ui/src/styles/fonts/fonts.css
  packages/ui/src/styles/main.css
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#9715 make workspace rools feature toggle available to all
  apps/desktop/src/components/NewRuleMenu.svelte
  apps/desktop/src/components/profileSettings/ExperimentalSettings.svelte
Labels: @gitbutler/desktop

#9718 fix-action-response-handling
  apps/desktop/src/components/FeedItem.svelte
  apps/desktop/src/lib/actions/types.ts
Labels: @gitbutler/desktop

#9720 Rules: Update complex target & metrics
  apps/desktop/src/components/Rule.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/lib/rules/rule.ts
  apps/desktop/src/lib/rules/rulesService.svelte.ts
  apps/desktop/src/lib/soup/commitAnalytics.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#9722 Implement workspace rule matching on diff content
  apps/desktop/src/components/NewRuleMenu.svelte
  apps/desktop/src/components/RuleFiltersEditor.svelte
  crates/but-hunk-assignment/src/lib.rs
  crates/but-rules/src/handler.rs
Labels: rust, @gitbutler/desktop

#9682 V3 of remove_branch
  crates/but-api/src/commands/stack.rs
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/lib.rs
  crates/but-graph/src/ref_metadata_legacy.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/app_settings.rs
  crates/but-testing/src/args.rs
  crates/but-testing/src/command/mod.rs
  crates/but-testing/src/main.rs
  crates/but-workspace/src/branch/create_reference.rs
  crates/but-workspace/src/branch/mod.rs
  crates/but-workspace/src/branch/remove_reference.rs
  crates/but-workspace/tests/fixtures/scenario/single-branch-3-commits-no-ws-commit-more-branches.sh
  crates/but-workspace/tests/fixtures/scenario/single-branch-4-commits-more-branches.sh
  crates/but-workspace/tests/fixtures/scenario/single-branch-no-ws-commit-no-target.sh
  crates/but-workspace/tests/workspace/branch.rs
  crates/but-workspace/tests/workspace/branch/create_reference.rs
  crates/but-workspace/tests/workspace/branch/mod.rs
  crates/but-workspace/tests/workspace/branch/remove_reference.rs
  crates/but-workspace/tests/workspace/ref_info/mod.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
  crates/but-workspace/tests/workspace/utils.rs
  crates/but/src/mcp_internal/stack.rs
  crates/but/src/mcp_internal/status.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/menu.rs
Labels: rust

#9723 Crating or updating a rule now triggers rules to be evaluated
  Cargo.lock
  crates/but-rules/Cargo.toml
  crates/but-rules/src/handler.rs
  crates/but-rules/src/lib.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#9726 Refactor hook patterns in NotOnGitButler and worktreeService
  apps/desktop/src/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
Labels: @gitbutler/desktop

#9727 Remove unused HunkAssignments tag
  apps/desktop/src/lib/state/tags.ts
Labels: @gitbutler/desktop

#9728 Invalidate stacks and worktree changes on rule update
  apps/desktop/src/lib/rules/rulesService.svelte.ts
Labels: @gitbutler/desktop

#9729 Refactor: replace Tauri event emission with generic Emitter
  Cargo.lock
  crates/but-action/Cargo.toml
  crates/but-action/src/absorb.rs
  crates/but-action/src/auto_commit.rs
  crates/but-action/src/branch_changes.rs
  crates/but-action/src/emit.rs
  crates/but-action/src/lib.rs
  crates/but-tools/Cargo.toml
  crates/but-tools/src/emit.rs
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
  crates/gitbutler-tauri/src/action.rs
Labels: rust

#9716 fix: project settings menu
  apps/desktop/src/components/ProjectSettingsMenuAction.svelte
Labels: @gitbutler/desktop

#9736 refactor: replace pxToRem with fixed rem values for scroll containers
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
Labels: @gitbutler/desktop

#9737 feat: add 'rules' feature flag to AnalyticsMonitor.svelte
  apps/desktop/src/components/AnalyticsMonitor.svelte
Labels: @gitbutler/desktop

#9735 Improve handling of stacked remote commits
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/init/post.rs
  crates/but-graph/src/init/walk.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/with_workspace.rs
Labels: rust

#9748 disable Sentry tracing to reduce overhead
  apps/desktop/src/lib/analytics/sentry.ts
Labels: @gitbutler/desktop

#9749 Undo the filtering logic for usptream commits v2
  crates/but-workspace/src/stacks.rs
Labels: rust

#9750 Fix blue background for focused files
  apps/desktop/src/lib/focus/focusManager.svelte.ts
Labels: @gitbutler/desktop

#9746 fix: singular and plural wording
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
Labels: @gitbutler/desktop

#9752 revert `isComposing`
  apps/desktop/src/components/CommitMessageEditor.svelte
  apps/desktop/src/components/Feed.svelte
  apps/desktop/src/components/IrcInput.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/editor/MessageEditor.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  packages/ui/src/lib/richText/plugins/EmojiSuggestions.svelte
  packages/ui/src/lib/richText/plugins/GiphyPlugin.svelte
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#9753 Add new GPT model options
  apps/desktop/src/components/profileSettings/AiSettings.svelte
  apps/desktop/src/lib/ai/types.ts
Labels: @gitbutler/desktop

#9754 Add `create_reference()` to API to allow putting refs anywhere.
  Cargo.lock
  crates/but-api/Cargo.toml
  crates/but-api/src/commands/stack.rs
  crates/but-api/src/hex_hash.rs
  crates/but-api/tests/api/commands/mod.rs
  crates/but-api/tests/api/commands/stack.rs
  crates/but-api/tests/api/main.rs
  crates/but-workspace/src/branch/create_reference.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/stack.rs
Labels: rust

#9766 Remove the move_commit_file API
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/but-api/src/commands/virtual_branches.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#9769 butbot Agent - planning and routing
  Cargo.lock
  apps/desktop/src/components/FeedItem.svelte
  apps/desktop/src/components/FeedStreamMessage.svelte
  apps/desktop/src/lib/feed/feed.ts
  crates/but-action/src/grouping.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/openai.rs
  crates/but-bot/Cargo.toml
  crates/but-bot/src/agent.rs
  crates/but-bot/src/butbot.rs
  crates/but-bot/src/lib.rs
  crates/but-bot/src/state.rs
  crates/but-tools/src/emit.rs
Labels: rust, @gitbutler/desktop

#9775 Remove unused module
  crates/but-claude/src/hooks/claude.rs
Labels: rust

#9776 Update chat model to gpt-5-mini
  crates/but-action/src/generate.rs
Labels: rust

#9773 Add auto opt-in for WS3 feature flag
  apps/desktop/src/lib/config/appSettingsV2.ts
Labels: @gitbutler/desktop

#9778 fix: missing derived in `SyncButton`
  apps/desktop/src/components/SyncButton.svelte
Labels: @gitbutler/desktop

#9777 New CC types and persistence
  Cargo.lock
  crates/but-claude/Cargo.toml
  crates/but-claude/src/db.rs
  crates/but-claude/src/lib.rs
  crates/but-db/migrations/2025-08-11-130145_claude_sessions_and_messages/down.sql
  crates/but-db/migrations/2025-08-11-130145_claude_sessions_and_messages/up.sql
  crates/but-db/src/claude.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/schema.rs
Labels: rust

#9762 fix: delete button on empty branches & deletion error
  apps/desktop/src/components/BranchHeaderContextMenu.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: rust, @gitbutler/desktop

#9781 Make Claude Code hooks use the rules structure for session<>stack associations
  Cargo.lock
  apps/desktop/src/components/Rule.svelte
  apps/desktop/src/components/RuleFiltersEditor.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/lib/rules/rule.ts
  crates/but-claude/Cargo.toml
  crates/but-claude/src/hooks/mod.rs
  crates/but-db/src/lib.rs
  crates/but-rules/src/handler.rs
  crates/but-rules/src/lib.rs
Labels: rust, @gitbutler/desktop

#9783 Sort project list by case insensitive comparison
  crates/gitbutler-project/src/storage.rs
Labels: rust

#9784 Fix reactivity issue wrt project settings
  apps/desktop/src/lib/project/projectsService.ts
Labels: @gitbutler/desktop

#9789 Rename 'reference' to 'dependent branch' everywhere in context menus
  apps/desktop/cypress/e2e/branchActions.cy.ts
  apps/desktop/src/components/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
Labels: @gitbutler/desktop

#9790 Remove claude_code_sessions
  crates/but-claude/src/hooks/mod.rs
  crates/but-db/migrations/2025-08-12-093543_remove-legacy-claude-code-sessions/down.sql
  crates/but-db/migrations/2025-08-12-093543_remove-legacy-claude-code-sessions/up.sql
  crates/but-db/src/claude_code_sessions.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/schema.rs
  crates/but-rules/src/lib.rs
Labels: rust

#9794 Fix WS3 auto-toggle logic and set performed flag
  apps/desktop/src/lib/config/appSettingsV2.ts
Labels: @gitbutler/desktop

#9791 rules-realtime-notify-filters
  apps/desktop/src/components/RuleFiltersEditor.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/lib/rules/rulesService.svelte.ts
  crates/but-db/src/poll.rs
  crates/gitbutler-tauri/src/window.rs
Labels: rust, @gitbutler/desktop

#9698 Implement a rough prototype of the bridge
  Cargo.lock
  Cargo.toml
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenInput.svelte
  apps/desktop/src/components/codegen/CodegenMessage.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebar.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/components/codegen/CodegenToolCall.svelte
  apps/desktop/src/components/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/messages.ts
  apps/desktop/src/lib/codegen/types.ts
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/routes/routes.svelte.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/codegen/+page.svelte
  crates/but-api/Cargo.toml
  crates/but-api/src/commands/claude.rs
  crates/but-api/src/commands/mod.rs
  crates/but-api/src/lib.rs
  crates/but-broadcaster/Cargo.toml
  crates/but-broadcaster/src/lib.rs
  crates/but-claude/Cargo.toml
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/claude_transcript.rs
  crates/but-claude/src/db.rs
  crates/but-claude/src/hooks/mod.rs
  crates/but-claude/src/lib.rs
  crates/but-core/src/id.rs
  crates/but-server/Cargo.toml
  crates/but-server/src/lib.rs
  crates/but-server/src/projects.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/claude.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  packages/ui/src/lib/data/icons.json
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#9796 Re-enable open project in new window with meta + click
  apps/desktop/src/components/ChromeHeader.svelte
  packages/ui/src/lib/components/select/Select.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9807 Allow branch creation even if no new name is generated.
  crates/but-api/src/commands/virtual_branches.rs
Labels: rust

#9805 popped-lane-preview
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/WorktreeChanges.svelte
  packages/ui/src/lib/components/scroll/ScrollableContainer.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9808 Assure VirtualBranches based metadata can't be used in a racy fashion.
  crates/but-api/src/commands/diff.rs
  crates/but-api/src/commands/stack.rs
  crates/but-api/src/commands/virtual_branches.rs
  crates/gitbutler-command-context/src/lib.rs
Labels: rust

#9814 Make single branch mode feature flag admin only while under development
  apps/desktop/src/components/profileSettings/ExperimentalSettings.svelte
Labels: @gitbutler/desktop

#9820 ui-fixes-121
  apps/desktop/src/components/Rule.svelte
  apps/desktop/src/components/RuleFiltersEditor.svelte
  apps/desktop/src/components/RulesList.svelte
  packages/ui/src/lib/components/Textbox.svelte
  packages/ui/src/stories/components/Textbox.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9821 Add telemetry for query errors and emit from custom hook
  apps/desktop/src/lib/error/error.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#9823 A quick-fix to let the frontend observe if a stack-segmetn is checked out.
  crates/but-action/src/lib.rs
  crates/but-action/src/reword.rs
  crates/but-api/src/commands/virtual_branches.rs
  crates/but-api/src/commands/workspace.rs
  crates/but-claude/src/hooks/mod.rs
  crates/but-rules/src/handler.rs
  crates/but-testing/src/command/mod.rs
  crates/but-tools/src/workspace.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/src/ui/mod.rs
  crates/but-workspace/tests/workspace/ref_info/mod.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/legacy.rs
  crates/but/src/log/mod.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#9822 Don't use the old refs/gitbutler/xxx for edit mode
  Cargo.lock
  crates/but-api/src/commands/modes.rs
  crates/gitbutler-edit-mode/Cargo.toml
  crates/gitbutler-edit-mode/src/commands.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-edit-mode/tests/edit_mode.rs
  crates/gitbutler-operating-modes/Cargo.toml
  crates/gitbutler-operating-modes/src/lib.rs
  crates/gitbutler-operating-modes/tests/operating_modes.rs
Labels: rust

#9826 Unselect discarded files when discarding changes
  apps/desktop/src/components/FileContextMenu.svelte
Labels: @gitbutler/desktop

#9828 feat: add Claude resume UI copy-to-clipboard action
  apps/desktop/src/components/RuleFiltersEditor.svelte
Labels: @gitbutler/desktop

#9829 ui-fixes-122
  apps/desktop/src/components/ChangedFiles.svelte
  apps/desktop/src/components/StackView.svelte
Labels: @gitbutler/desktop

#9830 actor: rename namespace key from "rule" to "workspaceRules" to
  apps/desktop/src/lib/soup/commitAnalytics.ts
Labels: @gitbutler/desktop

#9833 feat(updater): delegate relaunch to backend implementations
  apps/desktop/src/components/CloneForm.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/lib/backend/backend.ts
  apps/desktop/src/lib/backend/tauri.ts
  apps/desktop/src/lib/backend/web.ts
  apps/desktop/src/lib/project/projectsService.ts
  apps/desktop/src/lib/updater/updater.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#9835 Refactor backend, add homeDirectory to interface
  apps/desktop/src/lib/backend/backend.ts
  apps/desktop/src/lib/backend/tauri.ts
  apps/desktop/src/lib/backend/web.ts
  apps/desktop/src/routes/+layout.ts
Labels: @gitbutler/desktop

#9837 Provide app name/version via generic backend (getAppInfo)
  apps/desktop/src/components/AppUpdater.test.ts
  apps/desktop/src/components/ShareIssueModal.svelte
  apps/desktop/src/lib/analytics/analytics.ts
  apps/desktop/src/lib/analytics/posthog.ts
  apps/desktop/src/lib/backend/backend.ts
  apps/desktop/src/lib/backend/tauri.ts
  apps/desktop/src/lib/backend/web.ts
  apps/desktop/src/lib/forge/forgeFactory.test.ts
  apps/desktop/src/lib/updater/updater.test.ts
  apps/desktop/src/routes/+layout.ts
Labels: @gitbutler/desktop

#9838 clipboard-backend-abstraction
  apps/desktop/src/components/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitDetails.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/GithubIntegration.svelte
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/PushButton.svelte
  apps/desktop/src/lib/backend/backend.ts
  apps/desktop/src/lib/backend/clipboard.ts
  apps/desktop/src/lib/backend/tauri.ts
  apps/desktop/src/lib/backend/web.ts
  apps/desktop/src/lib/user/userService.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#9839 fix: validate stackId before operations
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitView.svelte
  apps/desktop/src/components/NewBranchModal.svelte
  apps/desktop/src/components/PushButton.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/stacks/macros.ts
  apps/desktop/src/lib/utils/validation.ts
Labels: @gitbutler/desktop

#9840 feat(ui): refactor Claude resume UI into a styled copy-button component with improved layout and readonly code styling
  apps/desktop/src/components/RuleFiltersEditor.svelte
Labels: @gitbutler/desktop

#9841 Add calculations for claude code costs
  apps/desktop/package.json
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/lib/codegen/messages.ts
  apps/desktop/src/lib/codegen/types.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#9842 Improve claude hooks rule tooltip copy for clarity
  apps/desktop/src/components/Rule.svelte
Labels: @gitbutler/desktop

#9844 Workspace rules for Claude sessions will use the original session ID if available
  crates/but-claude/src/db.rs
  crates/but-claude/src/hooks/mod.rs
  crates/but-db/src/claude.rs
Labels: rust

#9846 Clean up createCommit method in stackService
  apps/desktop/src/components/NewCommitView.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#9845 Clear selection to close viewer after commit
  apps/desktop/src/components/NewCommitView.svelte
Labels: @gitbutler/desktop

#9843 Centralize platform name in backend and remove component tauri usage
  apps/desktop/src/components/AppUpdater.test.ts
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/GitForm.svelte
  apps/desktop/src/components/ProjectSetup.svelte
  apps/desktop/src/components/ProjectSetupTarget.svelte
  apps/desktop/src/components/SettingsPages.svelte
  apps/desktop/src/lib/ai/service.test.ts
  apps/desktop/src/lib/backend/backend.ts
  apps/desktop/src/lib/backend/index.ts
  apps/desktop/src/lib/backend/tauri.ts
  apps/desktop/src/lib/backend/web.ts
  apps/desktop/src/lib/forge/forgeFactory.test.ts
  apps/desktop/src/lib/platform/platform.ts
  apps/desktop/src/lib/selection/entityAdapters.ts
  apps/desktop/src/lib/testing/mockBackend.ts
  apps/desktop/src/lib/testing/mockGitHubApi.svelte.ts
  apps/desktop/src/lib/testing/setup.ts
  apps/desktop/src/lib/updater/updater.test.ts
Labels: @gitbutler/desktop

#9850 Add nudge for rules feature flag
  apps/desktop/src/lib/config/appSettingsV2.ts
Labels: @gitbutler/desktop

#9852 Fix filePicker method typing and parameter handling
  apps/desktop/src/lib/backend/backend.ts
  apps/desktop/src/lib/backend/tauri.ts
Labels: @gitbutler/desktop

#9854 Add running states to codegen
  apps/desktop/src/components/codegen/CodegenClaudeMessage.svelte
  apps/desktop/src/components/codegen/CodegenInput.svelte
  apps/desktop/src/components/codegen/CodegenMessage.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenRunningMessage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/lib/codegen/messages.ts
  apps/desktop/src/lib/codegen/types.ts
Labels: @gitbutler/desktop

#9855 partial-stack-force-push
  apps/desktop/src/components/PushButton.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/lib/stacks/stack.ts
Labels: @gitbutler/desktop

#9856 refactor(ui): remove NewBranchModal
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/BranchView.svelte
  apps/desktop/src/components/NewBranchModal.svelte
Labels: @gitbutler/desktop

#9858 Move disk store creation logic into backend module
  apps/desktop/src/lib/backend/backend.ts
  apps/desktop/src/lib/backend/tauri.ts
  apps/desktop/src/lib/backend/web.ts
  apps/desktop/src/lib/config/appSettings.ts
  apps/desktop/src/routes/+layout.ts
Labels: @gitbutler/desktop

#9859 Implement Claude-specific internal APIs for workspace rules
  crates/but-claude/src/hooks/mod.rs
  crates/but-claude/src/lib.rs
  crates/but-claude/src/rules.rs
  crates/but-rules/src/lib.rs
Labels: rust

#9860 Changing messages more frequently
  apps/desktop/src/components/codegen/CodegenRunningMessage.svelte
Labels: @gitbutler/desktop

#9861 fix: rename "stack" labels to "lane" in RulesList UI for clarity
  apps/desktop/src/components/RulesList.svelte
Labels: @gitbutler/desktop

#9862 Use rules for stack/session association
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/bridge.rs
Labels: rust

#9863 Switch Codegen shift-key behaviour
  apps/desktop/src/components/codegen/CodegenInput.svelte
Labels: @gitbutler/desktop

#9864 Fix broken history previews
  apps/desktop/src/components/FeedItem.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/lib/history/types.ts
  apps/desktop/src/routes/[projectId]/history/+page.svelte
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-oplog/src/entry.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-oplog/tests/mod.rs
Labels: rust, @gitbutler/desktop

#9865 Claude Code permission check MCP tool
  Cargo.lock
  crates/but-claude/Cargo.toml
  crates/but-claude/src/mcp.rs
  crates/but/src/args.rs
  crates/but/src/main.rs
Labels: rust

#9867 refactor(ui): replace stickyHeader action with new sticky action and update consumers
  apps/desktop/src/components/BranchesView.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/SelectionView.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/WorkspaceView.svelte
  apps/desktop/src/routes/[projectId]/history/+page.svelte
  packages/ui/src/lib/components/file/FileViewHeader.svelte
  packages/ui/src/lib/index.ts
  packages/ui/src/lib/utils/sticky.ts
  packages/ui/src/lib/utils/stickyHeader.ts
  packages/ui/src/stories/utils/Sticky.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9870 create-branch-for-commits
  apps/desktop/src/components/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
Labels: @gitbutler/desktop

#9871 Clean up dependency initialization
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/branches/branchService.svelte.ts
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
  apps/desktop/src/lib/utils/events.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  packages/shared/src/lib/context.ts
Labels: @gitbutler/desktop

#9872 Implement claude permissions mechanism over MCP
  crates/but-claude/src/db.rs
  crates/but-claude/src/lib.rs
  crates/but-claude/src/mcp.rs
  crates/but-db/migrations/2025-08-17-195624_claude_approval_requests/down.sql
  crates/but-db/migrations/2025-08-17-195624_claude_approval_requests/up.sql
  crates/but-db/src/claude.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/poll.rs
  crates/but-db/src/schema.rs
  crates/but/src/main.rs
Labels: rust

#9889 Show concise rub summary in overview mode
  crates/but/src/args.rs
Labels: rust

#9895 Improve commit dialog file selection: check selected or all
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/lib/selection/uncommitted.ts
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
Labels: @gitbutler/desktop

#9896 feat(ui): normalize commit view paddings and limit height to 40vh
  apps/desktop/src/components/CommitDetails.svelte
  apps/desktop/src/components/CommitView.svelte
Labels: @gitbutler/desktop

#9898 add-hotkey-tip-to-create-pr
  apps/desktop/src/components/CommitView.svelte
  apps/desktop/src/components/MergeButton.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/ReviewCreationControls.svelte
  apps/desktop/src/components/editor/MessageEditor.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  packages/shared/src/lib/organizations/PermissionsSelector.svelte
  packages/ui/src/lib/components/DropdownButton.svelte
  packages/ui/src/lib/index.ts
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#9901 Permissions for claude code
  apps/desktop/src/components/codegen/CodegenClaudeMessage.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenToolCall.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/messages.ts
  apps/desktop/src/lib/codegen/types.ts
  apps/desktop/src/lib/state/tags.ts
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/claude_config.rs
  crates/but-claude/src/db.rs
  crates/but-db/src/poll.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-tauri/src/claude.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/window.rs
  packages/ui/src/styles/utility/layout.min.css
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#9894 Use the deduced push-remote if there is no deduced fetch remote.
  crates/but-core/src/ref_metadata.rs
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/ref_metadata_legacy.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-graph/tests/graph/ref_metadata_legacy.rs
  crates/but-graph/tests/graph/vis.rs
  crates/but-workspace/tests/workspace/branch_details.rs
Labels: rust

#9902 Enhance PushButton tooltip logic and arguments
  apps/desktop/src/components/PushButton.svelte
Labels: @gitbutler/desktop

#9907 ui-fixes-124
  apps/desktop/src/components/MultiStackView.svelte
  apps/desktop/src/components/StackView.svelte
  packages/ui/src/lib/components/Badge.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9910 Fix error on SSH key selection with unset preferred key
  apps/desktop/src/components/CredentialCheck.svelte
  apps/desktop/src/components/KeysForm.svelte
  apps/desktop/src/lib/utils/debounce.ts
Labels: @gitbutler/desktop

#9915 ui-fixes-124
  apps/desktop/src/components/ChromeHeader.svelte
  packages/ui/src/lib/components/SeriesIcon.svelte
  packages/ui/src/lib/components/file/FileViewHeader.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/stories/components/ContextMenu.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9916 Configurable claude code path
  apps/desktop/cypress/e2e/support/mock/settings.ts
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/profileSettings/GeneralSettings.svelte
  apps/desktop/src/components/v3/ClaudeCheck.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-api/src/commands/claude.rs
  crates/but-api/src/commands/settings.rs
  crates/but-claude/src/bridge.rs
  crates/but-server/src/lib.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
  crates/but-settings/src/lib.rs
  crates/gitbutler-tauri/src/claude.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/settings.rs
Labels: rust, @gitbutler/desktop

#9922 fix(ruler): align ruler to top and remove extratoolbar style override
  apps/desktop/src/components/editor/MessageEditor.svelte
  apps/desktop/src/components/editor/MessageEditorRuler.svelte
Labels: @gitbutler/desktop

#9923 Defer fetching secrets to only required model
  apps/desktop/src/lib/ai/service.ts
Labels: @gitbutler/desktop

#9924 Remove data-testid from NewCommitView wrapper
  apps/desktop/src/components/StackDraft.svelte
Labels: @gitbutler/desktop

#9928 Fix uiState reactivity
  apps/desktop/src/lib/bootstrap/deps.ts
Labels: @gitbutler/desktop

#9932 Use the users real profile picture
  apps/desktop/src/components/codegen/CodegenClaudeMessage.svelte
  apps/desktop/src/components/codegen/CodegenMessage.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#9939 Aggressivly cache claude check
  apps/desktop/src/lib/codegen/claude.ts
Labels: @gitbutler/desktop

#9938 user-setup-popup
  .github/workflows/test-e2e-playwright.yml
  Cargo.lock
  crates/but-api/Cargo.toml
  crates/but-api/src/commands/config.rs
  crates/but-api/src/commands/projects.rs
  crates/but-rebase/src/commit.rs
  crates/but-rebase/tests/rebase/main.rs
  crates/but-server/src/lib.rs
  crates/but-testing/src/command/project.rs
  crates/but-workspace/src/branch/create_reference.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/init.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-project/src/lib.rs
  crates/gitbutler-project/tests/projects/main.rs
  crates/gitbutler-tauri/src/config.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/suite.rs
  e2e/playwright/fixtures/.gitconfig
  e2e/playwright/scripts/setup-empty-project.sh
  e2e/playwright/src/env.ts
  e2e/playwright/src/setup.ts
Labels: rust

#9941 Remove extra dbg
  crates/but-claude/src/bridge.rs
Labels: rust

#9944 cleanup but-rebase
  Cargo.lock
  crates/but-api/Cargo.toml
  crates/but-api/src/commands/config.rs
  crates/but-rebase/src/commit.rs
Labels: rust

#9120 fix(ui): ensure text wrap works in HunkDiff
  apps/desktop/src/components/projectSettings/AppearanceSettings.svelte
  packages/ui/src/lib/components/InfoButton.svelte
  packages/ui/src/lib/components/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9950 ui-fixes-125
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#9943 Author missing modal
  .github/workflows/test-e2e-playwright.yml
  apps/desktop/src/components/AuthorMissingModalContent.svelte
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/EnsureAuthorInfo.svelte
  apps/desktop/src/components/GlobalModal.svelte
  apps/desktop/src/components/ShareIssueModal.svelte
  apps/desktop/src/hooks.client.ts
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/git/gitService.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  e2e/playwright/src/setup.ts
  e2e/playwright/tests/startTheApp.spec.ts
  packages/ui/src/lib/components/EmailInput.svelte
  packages/ui/src/lib/components/EmailTextbox.svelte
  packages/ui/src/lib/components/Modal.svelte
  packages/ui/src/lib/components/ModalFooter.svelte
  packages/ui/src/lib/components/Textbox.svelte
  packages/ui/src/lib/index.ts
  packages/ui/src/lib/utils/testIds.ts
  packages/ui/src/stories/components/EmailTextbox.stories.svelte
  packages/ui/src/stories/components/Textbox.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9954 Persist selected CC session in UiState
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
Labels: @gitbutler/desktop

#9957 Fire (optional) notifications after CC finished & permission requests
  Cargo.lock
  Cargo.toml
  apps/desktop/cypress/e2e/support/mock/settings.ts
  apps/desktop/src/components/profileSettings/AiSettings.svelte
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-claude/Cargo.toml
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/lib.rs
  crates/but-claude/src/mcp.rs
  crates/but-claude/src/notifications.rs
  crates/but-path/src/lib.rs
  crates/but-settings/Cargo.toml
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
  crates/but-settings/src/persistence.rs
Labels: rust, @gitbutler/desktop

#9960 ui-fixes-126
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/SyncButton.svelte
  apps/desktop/src/components/UnappliedCommitView.svelte
Labels: @gitbutler/desktop

#9962 fix: improve BranchExplorer search and segment control
  apps/desktop/src/components/BranchExplorer.svelte
Labels: @gitbutler/desktop

#9963 feat(commitline): add slim prop and CSS variant
  apps/desktop/src/components/CommitLine.svelte
Labels: @gitbutler/desktop

#9949 feat(icons): add icons for Godot Engine related files
  packages/ui/src/lib/components/file/fileIcons.ts
  packages/ui/src/lib/components/file/typeMap.ts
  packages/ui/src/stories/components/AllFileIcons.stories.svelte
Labels: @gitbutler/ui

#9966 Fix codegen todos
  apps/desktop/src/lib/codegen/messages.ts
Labels: @gitbutler/desktop

#9969 Show commit list on codgen page
  apps/desktop/src/components/BranchesViewBranch.svelte
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/TargetCommitList.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#9968 Dangerously allow all permissions setting
  apps/desktop/cypress/e2e/support/mock/settings.ts
  apps/desktop/src/components/profileSettings/AiSettings.svelte
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-claude/src/bridge.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
Labels: rust, @gitbutler/desktop

#9974 ui-fixes-127
  apps/desktop/src/components/CloudForm.svelte
  packages/ui/src/lib/components/select/Select.svelte
  packages/ui/src/lib/utils/timeAgo.test.ts
  packages/ui/src/lib/utils/timeAgo.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#9975 chrome-header-update
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/SyncButton.svelte
  packages/ui/src/lib/components/Button.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9988 Settings: add staging behavior feature flag and UI
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/components/projectSettings/AppearanceSettings.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/soup/commitAnalytics.ts
Labels: @gitbutler/desktop

#9999 New keyboard navigation
  apps/desktop/src/components/AuthorizationBanner.svelte
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/BranchLabel.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/BranchesView.svelte
  apps/desktop/src/components/ChangedFiles.svelte
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/CloudForm.svelte
  apps/desktop/src/components/CommitMessageEditor.svelte
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/DetailsForm.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/FocusCursor.svelte
  apps/desktop/src/components/GitForm.svelte
  apps/desktop/src/components/GithubIntegration.svelte
  apps/desktop/src/components/KeysForm.svelte
  apps/desktop/src/components/MainViewport.svelte
  apps/desktop/src/components/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/PreferencesForm.svelte
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/components/SelectionView.svelte
  apps/desktop/src/components/SettingsPages.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/UnappliedBranchView.svelte
  apps/desktop/src/components/UnappliedCommitView.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/components/WorkspaceView.svelte
  apps/desktop/src/components/WorktreeChanges.svelte
  apps/desktop/src/components/branchesPage/BranchesCardTemplate.svelte
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenInput.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebar.svelte
  apps/desktop/src/components/profileSettings/AiSettings.svelte
  apps/desktop/src/components/profileSettings/GeneralSettings.svelte
  apps/desktop/src/components/profileSettings/GitSettings.svelte
  apps/desktop/src/components/projectSettings/AppearanceSettings.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/focus/focusManager.svelte.ts
  apps/desktop/src/lib/focus/focusManager.ts
  apps/desktop/src/lib/focus/focusable.svelte.ts
  apps/desktop/src/lib/focus/scroll.ts
  apps/desktop/src/lib/focus/tabbable.ts
  apps/desktop/src/lib/selection/idSelectionUtils.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/history/+page.svelte
  packages/ui/src/lib/components/SectionCard.svelte
  packages/ui/src/lib/components/file/FileListItem.svelte
  packages/ui/src/lib/components/scroll/ScrollableContainer.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9997 fix: remove semicolons from text editor line wrapping
  packages/ui/src/lib/richText/linewrap.ts
Labels: @gitbutler/ui

#10001 bugfix: better selection of branch and commit diffs
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/FileList.svelte
Labels: @gitbutler/desktop

#10010 Automatically fallback to at most one other configuration source if the first fails (#10008)
  crates/but-rebase/src/commit.rs
Labels: rust

#10011 Fix keyboard navigation interference
  apps/desktop/src/components/FocusCursor.svelte
  apps/desktop/src/lib/focus/focusManager.ts
Labels: @gitbutler/desktop

#10013 ui-claude-code-1
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebar.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/components/codegen/CodegenVibeIcon.svelte
  apps/desktop/src/lib/codegen/messages.ts
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9985 Use a `+<refspec>` for force-push when Git2 is used for that (#9979)
  crates/gitbutler-repo-actions/src/repository.rs
Labels: rust

#10014 Hide single-branch header unless feature turned on
  apps/desktop/src/components/ChromeHeader.svelte
  claude.local.md
Labels: @gitbutler/desktop

#10015 update `gix` to adapt to breaking changes in `gix@main`
  Cargo.lock
  crates/but-core/src/unified_diff.rs
Labels: rust

#10023 codegen-input-ui
  apps/desktop/src/components/DialogBubble.svelte
  apps/desktop/src/components/codegen/ClaudeCodeSettingsModal.svelte
  apps/desktop/src/components/codegen/CodegenInput.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenRunningMessage.svelte
  apps/desktop/src/components/editor/MessageEditorInput.svelte
  apps/desktop/src/components/profileSettings/AiSettings.svelte
  packages/ui/src/lib/components/Textarea.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui
