Repository gitbutlerapp/gitbutler, pull requests merged in 2025-10, with the labels that each got.

#10519 Improve the 'worksapce branch is advanced by the user' Git command for a quick fix.
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
Labels: rust

#10524 fix: update broken stacked branches docs link
  apps/desktop/src/components/CreateBranchModal.svelte
  crates/but-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop

#10525 integrate-upstream-workspace-update
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/cypress/e2e/upstreamIntegration.cy.ts
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/upstream/types.ts
  crates/but-workspace/src/stack_ext.rs
  crates/but-workspace/src/ui/mod.rs
  crates/but/src/base/mod.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-cli/src/command/mod.rs
  e2e/playwright/scripts/merge-upstream-branch-to-base.sh
  e2e/playwright/tests/upstreamIntegration.spec.ts
Labels: rust, @gitbutler/desktop

#10538 Fix code that was using svelte4 syntax
  apps/desktop/src/components/codegen/CodegenStatusIcon.svelte
Labels: @gitbutler/desktop

#10537 Setting polling frequency
  apps/desktop/src/components/profileSettings/GitSettings.svelte
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-api/src/commands/settings.rs
  crates/but-server/src/lib.rs
  crates/but-settings/src/api.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/settings.rs
Labels: rust, @gitbutler/desktop

#10447 V3 apply/unapply: MVP
  crates/but-core/src/ref_metadata.rs
  crates/but-core/tests/core/main.rs
  crates/but-core/tests/core/ref_metadata.rs
  crates/but-graph/src/api.rs
  crates/but-graph/src/debug.rs
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/init/overlay.rs
  crates/but-graph/src/init/post.rs
  crates/but-graph/src/lib.rs
  crates/but-graph/src/projection/stack.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/src/ref_metadata_legacy.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/utils.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-graph/tests/graph/ref_metadata_legacy.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/app_settings.rs
  crates/but-testing/src/command/mod.rs
  crates/but-workspace/src/branch/apply.rs
  crates/but-workspace/src/branch/checkout/utils.rs
  crates/but-workspace/src/branch/create_reference.rs
  crates/but-workspace/src/branch/mod.rs
  crates/but-workspace/src/commit.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/fixtures/scenario/no-ws-ref-no-ws-commit-two-branches.sh
  crates/but-workspace/tests/fixtures/scenario/ws-ref-no-ws-commit-one-stack-one-branch.sh
  crates/but-workspace/tests/workspace/branch/apply_unapply_commit_uncommit.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
Labels: rust

#10547 ui-updates-162
  .gitignore
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/SettingsModalLayout.svelte
  crates/gitbutler-tauri/icons/128x128.png
  crates/gitbutler-tauri/icons/128x128@2x.png
  crates/gitbutler-tauri/icons/32x32.png
  crates/gitbutler-tauri/icons/Square107x107Logo.png
  crates/gitbutler-tauri/icons/Square142x142Logo.png
  crates/gitbutler-tauri/icons/Square150x150Logo.png
  crates/gitbutler-tauri/icons/Square284x284Logo.png
  crates/gitbutler-tauri/icons/Square30x30Logo.png
  crates/gitbutler-tauri/icons/Square310x310Logo.png
  crates/gitbutler-tauri/icons/Square44x44Logo.png
  crates/gitbutler-tauri/icons/Square71x71Logo.png
  crates/gitbutler-tauri/icons/Square89x89Logo.png
  crates/gitbutler-tauri/icons/StoreLogo.png
  crates/gitbutler-tauri/icons/dev/128x128.png
  crates/gitbutler-tauri/icons/dev/128x128@2x.png
  crates/gitbutler-tauri/icons/dev/32x32.png
  crates/gitbutler-tauri/icons/dev/icon.icns
  crates/gitbutler-tauri/icons/dev/icon.ico
  crates/gitbutler-tauri/icons/icon.icns
  crates/gitbutler-tauri/icons/icon.ico
  crates/gitbutler-tauri/icons/icon.png
  crates/gitbutler-tauri/icons/nightly/128x128.png
  crates/gitbutler-tauri/icons/nightly/128x128@2x.png
  crates/gitbutler-tauri/icons/nightly/32x32.png
  crates/gitbutler-tauri/icons/nightly/icon.icns
  crates/gitbutler-tauri/icons/nightly/icon.ico
  crates/gitbutler-tauri/icons/release/128x128.png
  crates/gitbutler-tauri/icons/release/128x128@2x.png
  crates/gitbutler-tauri/icons/release/32x32.png
  crates/gitbutler-tauri/icons/release/icon.icns
  crates/gitbutler-tauri/icons/release/icon.ico
  crates/gitbutler-tauri/icons/tray.png
  crates/gitbutler-tauri/tauri.conf.release.json
  packages/ui/src/lib/components/Tooltip.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/styles/core/design-tokens.css
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#10553 Update notify dependency to point to their main repo (instead of my fork)
  Cargo.lock
  crates/gitbutler-git/Cargo.toml
Labels: rust

#10558 Fix unassigned changes getting committed
  crates/but-action/src/simple.rs
Labels: rust

#10559 Fix branch listing to show all local branches
  crates/but-testing/src/args.rs
  crates/but-testing/src/command/mod.rs
  crates/but-testing/src/main.rs
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#10561 feat(oplog): add --force flag to skip restore confirmation and
  crates/but/src/args.rs
  crates/but/src/main.rs
  crates/but/src/oplog/mod.rs
Labels: rust

#10563 but-cherry-apply
  Cargo.lock
  Cargo.toml
  apps/desktop/src/components/BranchesViewBranch.svelte
  apps/desktop/src/components/BranchesViewCommitContextMenu.svelte
  apps/desktop/src/components/CherryApplyModal.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/cherryApply/cherryApplyService.ts
  crates/but-api/Cargo.toml
  crates/but-api/src/commands/cherry_apply.rs
  crates/but-api/src/commands/mod.rs
  crates/but-cherry-apply/Cargo.toml
  crates/but-cherry-apply/src/lib.rs
  crates/but-cherry-apply/tests/cherry_apply/main.rs
  crates/but-cherry-apply/tests/fixtures/cherry_apply.sh
  crates/but-server/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#10545 rewrite-hooks-service-to-use-rtkq
  apps/desktop/src/components/NewCommitView.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/hooks/hooksService.ts
Labels: @gitbutler/desktop

#10564 tear-branch
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/lib/branches/dropHandler.ts
  apps/desktop/src/lib/history/types.ts
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/stacks/stack.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/but-api/src/commands/virtual_branches.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/move_branch.rs
  crates/gitbutler-oplog/src/entry.rs
  e2e/playwright/tests/moveBranch.spec.ts
  packages/ui/src/lib/utils/testIds.ts
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#10566 Fix eager compaction
  apps/desktop/src/lib/codegen/messages.ts
  crates/but-claude/src/compact.rs
Labels: rust, @gitbutler/desktop

#10567 Prevent description reset when editing commit message
  apps/desktop/src/components/CommitMessageEditor.svelte
Labels: @gitbutler/desktop

#10570 Rewrite prompt templates
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenPromptConfigModal.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/types.ts
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/prompt_templates.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#10571 fix(cli): remove COLOR_OVERRIDE env handling rely on default behavior
  crates/but/src/main.rs
Labels: rust

#10573 fix: move traffic lights inset setup to window creation
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/window.rs
Labels: rust
