Repository gitbutlerapp/gitbutler, pull requests merged in 2025-04, with the labels that each got.

#7902 Fix commting with one stack
  Cargo.lock
  Cargo.toml
  crates/but-cli/src/command/diff.rs
  crates/but-cli/src/command/mod.rs
  crates/but-core/src/lib.rs
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/diff/ui.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/core/unified_diff.rs
  crates/but-hunk-dependency/src/lib.rs
  crates/but-hunk-dependency/src/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/main.rs
  crates/but-workspace/src/commit_engine/reference_frame.rs
  crates/but-workspace/src/commit_engine/tree.rs
  crates/but-workspace/src/discard/file.rs
  crates/but-workspace/src/discard/function.rs
  crates/but-workspace/src/discard/hunk/mod.rs
  crates/but-workspace/tests/workspace/discard/hunk.rs
  crates/but-workspace/tests/workspace/utils.rs
Labels: rust

#7916 Sort updated refs to prevent flaky tests
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
Labels: rust

#7905 Fix commit renaming
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#7918 co-branch-33
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  packages/shared/src/lib/branches/Minimap.svelte
Labels: @gitbutler/desktop

#7920 File context menu: close the modal on discard
  apps/desktop/src/components/v3/FileContextMenu.svelte
Labels: @gitbutler/desktop

#7921 Use uistate for markdown usage
  apps/desktop/src/components/v3/CommitMessageInput.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
Labels: @gitbutler/desktop

#7922 Add types for global state
  apps/desktop/src/lib/state/uiState.svelte.ts
Labels: @gitbutler/desktop

#7923 new-review-creation-design
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
Labels: @gitbutler/desktop

#7924 Invalidation of the stack info
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#7925 use mutation: Don't throw errors
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabNew.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/forge/github/issueService.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#7926 Refactor move commit file to use rebase engine
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#7931 Toggling between v3 and v2 UI shouldn't screw up the workdir
  apps/desktop/src/lib/config/appSettingsV2.ts
Labels: @gitbutler/desktop

#7932 Fix some reactivity stuff and v3 emptying stacks
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust, @gitbutler/desktop

#7934 UI updates 28
  apps/desktop/src/components/ConfigurableScrollableContainer.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/web/src/lib/components/table/Table.svelte
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/assets/review-badge/gb-logo.svg
  packages/ui/src/lib/assets/review-badge/gh-logo.svg
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#7935 Fix app startup
  apps/desktop/src/lib/config/appSettingsV2.ts
  apps/desktop/src/routes/+layout.ts
Labels: @gitbutler/desktop

#7936 Refetch github/gitlab on focus & reconnect
  apps/desktop/src/lib/state/clientState.svelte.ts
Labels: @gitbutler/desktop

#7938 Remove cherry rebase
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/tests/rebase.rs
Labels: rust

#7940 Error if checking out branch trees in v3
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#7939 fix: User the correct remote branch name
  apps/desktop/src/components/v3/BranchCard.svelte
Labels: @gitbutler/desktop

#7941 commit row: display the conflict marker
  apps/desktop/src/components/v3/CommitRow.svelte
Labels: @gitbutler/desktop

#7943 fix: Click and rename branch
  apps/desktop/src/components/v3/BranchHeader.svelte
Labels: @gitbutler/desktop

#7942 Fix some settings things I broke
  apps/desktop/src/components/v3/SettingsPages.svelte
  apps/desktop/src/components/v3/profileSettings/OrganisationSettings.svelte
  apps/desktop/src/components/v3/profileSettings/ProfileSettings.svelte
  apps/desktop/src/routes/new-settings/[[selectedId]]/+page.svelte
  apps/desktop/src/routes/settings/ai/+page.svelte
  apps/desktop/src/routes/settings/appearance/+page.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  apps/desktop/src/routes/settings/git/+page.svelte
  apps/desktop/src/routes/settings/integrations/+page.svelte
  apps/desktop/src/routes/settings/organizations/+page.svelte
  apps/desktop/src/routes/settings/profile/+page.svelte
Labels: @gitbutler/desktop

#7946 Do not path for file tree root node
  apps/desktop/src/lib/files/filetreeV3.ts
Labels: @gitbutler/desktop

#7947 Fix incorrect indentation in diff view
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/ui

#7944 co-branch-36
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/CommitMessageInput.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/components/v3/editor/commitSuggestions.svelte.ts
  apps/desktop/src/lib/forge/prContents.svelte.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
Labels: @gitbutler/desktop

#7948 update to the stacks API: heads order reversed and exclude archived
  crates/but-cli/src/command/commit.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-tauri/src/diff.rs
Labels: rust

#7949 v3: fix issue where creating new stack does not respect the name provided
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#7951 unbreak a boolean
  apps/desktop/src/components/Branches.svelte
Labels: @gitbutler/desktop

#7927 show new ssh key adding token
  apps/web/src/lib/user/userService.ts
  apps/web/src/routes/(app)/profile/+page.svelte
Labels: @gitbutler/web

#7952 Fix an issue with v3 comitting
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#7954 fix: Object errors and invalidate commits
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#7955 UI: Update drawer and BR/PR cards
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/BranchReviewButRequest.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/v3/BranchBadge.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitDetails.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/components/v3/lib.ts
  apps/desktop/src/lib/backend/clipboard.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/web/src/lib/components/table/TableHead.svelte
  packages/shared/src/lib/branches/Minimap.svelte
  packages/ui/src/lib/InfoButton.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/file/FileViewHeader.svelte
  packages/ui/src/lib/utils/stickyHeader.ts
  packages/ui/src/stories/fileViewHeader/FileViewHeaderStickyTest.stories.svelte
  packages/ui/src/stories/infoButton/InfoButton.stories.svelte
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#7956 Added a little script
  apps/butler-bot/scripts/production.sh
  apps/butler-bot/src/commands/restart.ts
  apps/butler-bot/src/main.ts
Labels: @gitbutler/butler-bot

#7957 bash bash bash
  apps/butler-bot/scripts/production.sh
Labels: @gitbutler/butler-bot

#7958 bash
  apps/butler-bot/scripts/production.sh
Labels: @gitbutler/butler-bot

#7959 i'll get this right one day
  apps/butler-bot/scripts/production.sh
Labels: @gitbutler/butler-bot

#7960 yeeehhh
  apps/butler-bot/scripts/production.sh
Labels: @gitbutler/butler-bot

#7963 Be much more thurourgh with invalidation tags
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/forge/github/githubChecksMonitor.svelte.ts
  apps/desktop/src/lib/forge/github/githubListingService.svelte.ts
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/github/githubRepoService.svelte.ts
  apps/desktop/src/lib/forge/github/githubRepoService.ts
  apps/desktop/src/lib/forge/github/githubUserService.svelte.ts
  apps/desktop/src/lib/forge/github/issueService.ts
  apps/desktop/src/lib/forge/gitlab/gitlabPrService.svelte.ts
  apps/desktop/src/lib/hunks/diffService.svelte.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
Labels: @gitbutler/desktop

#7964 Sync the hell out of Project IDs, Stack IDs and redux results
  apps/desktop/src/components/ReduxResult.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/SelectedChange.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabs.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/routes/[projectId]/workspace/+page.svelte
Labels: @gitbutler/desktop

#7965 default stack branch: Select only unarchived branches
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#7967 Remove useless abstraction StackContext
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/squash.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-branch-actions/tests/squash.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/src/stack_context.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-tauri/src/diff.rs
Labels: rust

#7966 Port over a fuck tonne of stuff to redux land
  apps/desktop/src/components/AddSeriesModal.svelte
  apps/desktop/src/components/Board.svelte
  apps/desktop/src/components/BoardEmptyState.svelte
  apps/desktop/src/components/BranchDropzone.svelte
  apps/desktop/src/components/BranchLaneContextMenu.svelte
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitDialog.svelte
  apps/desktop/src/components/CommitList.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/SeriesList.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/components/v3/HeaderMetaSection.svelte
  apps/desktop/src/components/v3/StackHeader.svelte
  apps/desktop/src/lib/branches/branchController.ts
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#7968 Workspace view doesn't need any fancy-pantsy things
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#7969 Lane
  apps/desktop/src/components/AddSeriesModal.svelte
  apps/desktop/src/components/BaseBranch.svelte
  apps/desktop/src/components/BoardEmptyState.svelte
  apps/desktop/src/components/BranchDropzone.svelte
  apps/desktop/src/components/BranchFiles.svelte
  apps/desktop/src/components/BranchFilesList.svelte
  apps/desktop/src/components/BranchLane.svelte
  apps/desktop/src/components/BranchLaneContextMenu.svelte
  apps/desktop/src/components/BranchPreview.svelte
  apps/desktop/src/components/BranchPreviewHeader.svelte
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitList.svelte
  apps/desktop/src/components/EditMode.svelte
  apps/desktop/src/components/FileCard.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/History.svelte
  apps/desktop/src/components/HunkContextMenu.svelte
  apps/desktop/src/components/HunkViewer.svelte
  apps/desktop/src/components/PullRequestPreview.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/components/UncommittedChanges.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitDetails.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/HunkContextMenu.svelte
  apps/desktop/src/components/v3/NewBranchModal.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabNew.svelte
  apps/desktop/src/lib/branches/branchController.ts
  apps/desktop/src/lib/branches/dropHandler.ts
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  apps/desktop/src/routes/[projectId]/base/+page.svelte
  apps/desktop/src/routes/[projectId]/branch/[...name]/+page.svelte
Labels: @gitbutler/desktop

#7970 update settings page layout
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/components/GitForm.svelte
  apps/desktop/src/components/Sidebar.svelte
  apps/desktop/src/components/SupportersBanner.svelte
  apps/desktop/src/components/SyncButton.svelte
  apps/desktop/src/components/v3/SettingsPages.svelte
  apps/desktop/src/components/v3/profileSettings/AiSettings.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/components/v3/profileSettings/GitSettings.svelte
  apps/desktop/src/components/v3/profileSettings/IntegrationsSettings.svelte
  apps/desktop/src/components/v3/profileSettings/OrganisationSettings.svelte
  apps/desktop/src/components/v3/profileSettings/ProfileSettings.svelte
  apps/desktop/src/components/v3/profileSettings/TelemetrySettings.svelte
  apps/desktop/src/components/v3/projectSettings/AppearanceSettings.svelte
  apps/desktop/src/components/v3/projectSettings/GeneralSettings.svelte
  apps/desktop/src/lib/assets/supporters.svg
  apps/desktop/src/routes/[projectId]/new-settings/[[selectedId]]/+page.svelte
  apps/desktop/src/routes/new-settings/[[selectedId]]/+page.svelte
  apps/desktop/src/routes/settings/+layout.svelte
  apps/desktop/src/routes/settings/ai/+page.svelte
  apps/desktop/src/routes/settings/appearance/+page.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  apps/desktop/src/routes/settings/git/+page.svelte
  apps/desktop/src/routes/settings/integrations/+page.svelte
  apps/desktop/src/routes/settings/organizations/+page.svelte
  apps/desktop/src/routes/settings/profile/+page.svelte
  apps/desktop/src/routes/settings/telemetry/+page.svelte
  apps/desktop/static/images/banners/support.svg
  packages/shared/src/lib/branches/Minimap.svelte
Labels: @gitbutler/desktop

#7972 Serie context menu: Just pass the project Id
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/SeriesHeaderContextMenu.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
Labels: @gitbutler/desktop

#7975 co-branch-45
  apps/butler-bot/src/firehoze.ts
  apps/butler-bot/src/tasks/rotate-duty.ts
Labels: @gitbutler/butler-bot

#7973 RexuResult: remove unused states
  apps/desktop/src/components/ReduxResult.svelte
Labels: @gitbutler/desktop

#7977 Fix the firehoze
  apps/butler-bot/src/firehoze.ts
Labels: @gitbutler/butler-bot

#7978 Fix flaky checkbox behavior
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/FileTreeNode.svelte
  packages/ui/src/lib/file/FileListItemV3.svelte
  packages/ui/src/lib/file/FolderListItem.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#7980 Remove effect from the ReduxResult
  apps/desktop/src/components/ReduxResult.svelte
Labels: @gitbutler/desktop

#7981 Fix file dragging bug
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/lib/dragging/draggable.ts
Labels: @gitbutler/desktop

#7986 review modal color fix
  apps/desktop/src/components/ReviewCreation.svelte
Labels: @gitbutler/desktop

#7983 Fix branch listing bug
  apps/desktop/src/lib/branches/branchListing.ts
Labels: @gitbutler/desktop

#7985 Render fewer branches at a time
  apps/desktop/src/components/ChunkyList.svelte
Labels: @gitbutler/desktop

#7987 Use last branchParent _with_ a prNumber
  apps/desktop/src/components/ReviewCreation.svelte
Labels: @gitbutler/desktop

#7988 Only consider active branches in stack info
  crates/but-workspace/src/lib.rs
Labels: rust

#7989 Fix sidebar line numbers
  apps/desktop/src/lib/branches/branchService.svelte.ts
Labels: @gitbutler/desktop

#7993 Allow refetching on new projects
  apps/desktop/src/components/SyncButton.svelte
Labels: @gitbutler/desktop

#7992 Tab navigation in the Review modal
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  packages/ui/src/lib/AsyncButton.svelte
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/Textbox.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#7995 Fix branch label dblclick
  apps/desktop/src/components/BranchLabel.svelte
  apps/desktop/src/components/BranchRenameModal.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/SeriesHeaderContextMenu.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
Labels: @gitbutler/desktop

#7997 Ui update: Review creation
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/ReviewCreationControls.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitMessageInput.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/routes/[projectId]/workspace/+layout.svelte
  packages/ui/src/lib/EmptyStatePlaceholder.svelte
  packages/ui/src/lib/Textbox.svelte
  packages/ui/src/lib/select/Select.svelte
  packages/ui/src/lib/utils/remToPx.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#7976 fix multi-stack commits
  crates/but-workspace/src/commit.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/scenario/three-commits-with-line-offset-and-workspace-commit.sh
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8000 bump tauri minor version
  Cargo.lock
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/gitbutler-tauri/Cargo.toml
  package.json
  pnpm-lock.yaml
Labels: rust

#8006 Add lines added/removed to the tree_change_diffs API
  apps/desktop/src/lib/hunks/hunk.ts
  crates/but-core/src/lib.rs
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/diff/ui.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
Labels: rust, @gitbutler/desktop

#8008 various improvements
  Cargo.lock
  Cargo.toml
  crates/but-core/src/diff/commit.rs
  crates/but-core/src/diff/worktree.rs
  crates/but-core/tests/core/diff/commit_changes.rs
  crates/but-core/tests/core/diff/ui.rs
Labels: rust

#8011 Require the confirmation to be true before changing status
  apps/web/src/lib/components/review/ChangeActionButton.svelte
Labels: @gitbutler/web

#8013 UI updates 32
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/FileViewPlaceholder.svelte
  apps/desktop/src/components/v3/SelectedChange.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/components/v3/WorktreeTipsFooter.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/utils/selectFilesInList.ts
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/file/FileViewHeader.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
  packages/ui/src/stories/fileViewHeader/FileViewHeader.stories.svelte
  packages/ui/src/stories/fileViewHeader/FileViewHeaderStickyTest.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8014 Update tauri deps in JS as well
  apps/desktop/package.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#8012 But-CLI JSON
  Cargo.lock
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/diff.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/src/ui.rs
  crates/but-workspace/src/lib.rs
Labels: rust

#8018 Series Header: Don't send update the branch PR if it's already updating it
  apps/desktop/src/components/SeriesHeader.svelte
Labels: @gitbutler/desktop

#8019 some rich text improvements
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#7991 Add some setup utils for component testing
  apps/desktop/package.json
  apps/desktop/src/components/BranchLabel.svelte
  apps/desktop/src/components/BranchRenameModal.svelte
  apps/desktop/src/components/SeriesHeaderContextMenu.svelte
  apps/desktop/src/components/v3/BranchCard.svelte.test.ts
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/__snapshots__/BranchCard.svelte.test.ts.snap
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockAIService.ts
  apps/desktop/src/lib/testing/mockBaseBranch.ts
  apps/desktop/src/lib/testing/mockRedux.ts
  apps/desktop/src/lib/testing/mockStackService.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  apps/desktop/src/lib/testing/setup.ts
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/ContextMenu.svelte
  packages/ui/src/lib/ContextMenuItem.svelte
  packages/ui/src/lib/Modal.svelte
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui

#8021 Fix issue with orphaned effects
  apps/desktop/src/components/BranchLaneContextMenu.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8020 more little fixes
  apps/desktop/src/components/v3/CommitMessageInput.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#8024 fix the extraction of the initial commit message and title
  apps/desktop/src/components/v3/NewCommitView.svelte
Labels: @gitbutler/desktop

#8028 Loadiing states for the PR creation modal v2
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/ReviewCreationControls.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
Labels: @gitbutler/desktop

#8030 fix: Fetch the available PR templates
  apps/desktop/src/components/ReviewCreation.svelte
Labels: @gitbutler/desktop

#8032 Message Editor: Consumers control the AI generation
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/CommitMessageInput.svelte
  apps/desktop/src/components/v3/editor/AIContextMenu.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/components/v3/editor/commitSuggestions.svelte.ts
  apps/desktop/src/lib/ai/prompts.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/richText/selection.ts
  packages/ui/src/lib/richText/tools/FormattingBar.svelte
  packages/ui/src/lib/richText/tools/FormattingButton.svelte
  packages/ui/src/stories/richTextEditor/RichTextEditor.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8039 Fix bug in stick to bottom for scrollable container
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
Labels: @gitbutler/ui

#8040 Revert "Merge pull request #7976 from Byron/fix-7952"
  crates/but-workspace/src/commit.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/scenario/three-commits-with-line-offset-and-workspace-commit.sh
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8042 Make CommitOrChangeId less exposed outside of the stack crate
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#8044 Fix irc group messaging
  apps/desktop/src/lib/irc/ircSlice.ts
Labels: @gitbutler/desktop

#8038 Update GitLab CSP
  apps/desktop/src/components/ForgeForm.svelte
  apps/desktop/src/lib/forge/forgeFactory.svelte.ts
  apps/desktop/src/lib/forge/forgeFactory.test.ts
  apps/desktop/src/lib/forge/gitlab/gitlab.ts
  apps/desktop/src/lib/forge/gitlab/gitlabClient.svelte.ts
  apps/desktop/src/lib/forge/gitlab/gitlabListingService.svelte.ts
  apps/desktop/src/lib/forge/gitlab/gitlabPrService.svelte.ts
  apps/desktop/src/lib/forge/gitlab/gitlabState.svelte.ts
  apps/desktop/src/lib/state/clientState.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  crates/gitbutler-tauri/tauri.conf.json
  packages/shared/src/lib/reactiveUtils.svelte.ts
Labels: rust, @gitbutler/desktop

#8046 UI edits 33
  apps/desktop/src/components/BranchLabel.svelte
  apps/desktop/src/components/PrTemplateSection.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchHeaderIcon.svelte
  apps/desktop/src/components/v3/FileViewPlaceholder.svelte
  apps/desktop/src/lib/irc/ircSlice.ts
  packages/ui/src/lib/Textbox.svelte
  packages/ui/src/lib/ToggleButton.svelte
  packages/ui/src/stories/toggleButton/ToggleButton.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8047 feat(ui): Add 'Generate message' tooltip for AI formatting button
  packages/ui/src/lib/richText/tools/FormattingBar.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8052 Commit message generation uses the right diffs
  apps/desktop/src/components/v3/CommitMessageInput.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/editor/CommitSuggestionsPlugin.svelte
  apps/desktop/src/lib/ai/prompts.ts
  apps/web/src/lib/components/review/DiffSection.svelte
  packages/shared/src/lib/lockfiles.ts
Labels: @gitbutler/desktop, @gitbutler/web

#8050 Add irc to desktop csp
  crates/gitbutler-tauri/tauri.conf.json
Labels: rust

#8053 bump windows-rs version
  Cargo.lock
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/bin/askpass/windows-pipe.rs
Labels: rust

#8058 remove the rogue inspect
  apps/desktop/src/components/v3/editor/CommitSuggestionsPlugin.svelte
Labels: @gitbutler/desktop

#8059 fix: PR templates
  apps/desktop/src/components/PrTemplateSection.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/lib/forge/prContents.svelte.ts
Labels: @gitbutler/desktop

#8056 Show spinner while discarding files
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
Labels: @gitbutler/desktop

#8061 Discarding a hunk won't make a big deal about it
  apps/desktop/src/components/v3/HunkContextMenu.svelte
  apps/desktop/src/components/v3/SelectedChange.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
Labels: @gitbutler/desktop

#8063 stack service: Reactivity improvements
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8066 let the people search their branches
  apps/desktop/src/components/Branches.svelte
Labels: @gitbutler/desktop

#8065 On project add set git name and git email if not present
  crates/gitbutler-branch-actions/tests/virtual_branches/init.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-project/tests/projects/main.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-tauri/src/projects.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-workspace/tests/branch_trees.rs
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust

#8067 reactivity - Invalidate worktree changes when uncommitting
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8068 Partial commiting: Let the world rejoice
  apps/desktop/src/components/v3/HunkContextMenu.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/hunks/hunk.test.ts
  apps/desktop/src/lib/hunks/hunk.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#8069 Add an API for getting an available canned branch name
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8064 Fix condition for showing branch chat
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#8055 Removes conflicts.rs and checks out conflicts if they occur
  apps/desktop/src/components/BranchLane.svelte
  apps/desktop/src/components/BranchPreview.svelte
  apps/desktop/src/components/FileCard.svelte
  apps/desktop/src/components/History.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/[projectId]/base/+page.svelte
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/conflicts.rs
  crates/gitbutler-branch-actions/src/file.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/commands.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-workspace/src/branch_trees.rs
  crates/gitbutler-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop

#8072 Add button to squash all commits in a branch together
  apps/desktop/src/components/SeriesHeaderContextMenu.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/ContextMenuItem.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8073 Add user list to chat rooms
  apps/desktop/src/components/v3/IrcChannel.svelte
  apps/desktop/src/components/v3/IrcChannels.svelte
  apps/desktop/src/components/v3/IrcChat.svelte
  apps/desktop/src/components/v3/IrcInput.svelte
  apps/desktop/src/components/v3/IrcMessages.svelte
  apps/desktop/src/components/v3/IrcNames.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/lib/irc/ircService.svelte.ts
  apps/desktop/src/lib/irc/ircSlice.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  packages/ui/src/lib/AsyncButton.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8075 Enable closing search
  apps/desktop/src/components/Branches.svelte
Labels: @gitbutler/desktop

#8080 series label: complete the fix
  packages/ui/src/lib/SeriesLabelsRow.svelte
Labels: @gitbutler/ui

#8081 Fix commit message split when uncommitting
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/utils/commitMessage.ts
Labels: @gitbutler/desktop

#8077 no stacks part 1
  apps/desktop/src/components/v3/stackTabs/StackTabNew.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabs.svelte
  apps/desktop/src/routes/[projectId]/workspace/+layout.svelte
  packages/ui/src/lib/EmptyStatePlaceholder.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8074 Revert "Revert "Merge pull request #8055 from gitbutlerapp/co-branch-47""
  apps/desktop/src/components/BranchLane.svelte
  apps/desktop/src/components/BranchPreview.svelte
  apps/desktop/src/components/FileCard.svelte
  apps/desktop/src/components/History.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/[projectId]/base/+page.svelte
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/conflicts.rs
  crates/gitbutler-branch-actions/src/file.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/commands.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-workspace/src/branch_trees.rs
  crates/gitbutler-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop

#8060 Remove the extra amend operation
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8083 Run pr number update only if query is uninitialized
  apps/desktop/src/components/SeriesHeader.svelte
Labels: @gitbutler/desktop

#8082 test: Refactor the component tests setup
  apps/desktop/src/components/v3/BranchCard.svelte.test.ts
  apps/desktop/src/lib/testing/setup.ts
  apps/desktop/tsconfig.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#8089 Amending: Let the people ammend as many files as they want
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/dragging/draggables.ts
Labels: @gitbutler/desktop

#8095 Improve message scrolling
  apps/desktop/src/components/ConfigurableScrollableContainer.svelte
  apps/desktop/src/components/v3/IrcChannel.svelte
  apps/desktop/src/components/v3/IrcMessages.svelte
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8094 fix faulty ordering in vendored notify debounce (#8026)
  crates/gitbutler-watcher/vendor/debouncer/src/lib.rs
Labels: rust

#8097 Remove unnecessary API call from branch view
  apps/desktop/src/components/v3/BranchView.svelte
Labels: @gitbutler/desktop

#8098 v3: file context menu
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/lib/selection/idSelection.svelte.ts
Labels: @gitbutler/desktop

#8099 Branch createion: copy update
  apps/desktop/src/components/v3/stackTabs/StackTabNew.svelte
Labels: @gitbutler/desktop

#8100 Fix: when applying a previously stashed branch, reuse the name
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#8101 Rearrange code related to tabs and workspace view
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabNew.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabs.svelte
  apps/desktop/src/routes/[projectId]/workspace/+layout.svelte
Labels: @gitbutler/desktop

#8103 Let there be one and only one (more or less)
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/branches/v3.ts
  apps/desktop/src/lib/stacks/stack.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/lib/testing/mockStackService.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#8107 UI fixes 36
  apps/desktop/src/components/FileCardHeader.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/SelectedChange.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/lib/ReviewBadge.svelte
  packages/ui/src/lib/file/FileStats.svelte
  packages/ui/src/lib/file/FileViewHeader.svelte
  packages/ui/src/lib/file/LineChangeStats.svelte
  packages/ui/src/lib/utils/stickyHeader.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#8104 Access stack tree from method
  crates/but-workspace/src/commit_engine/refs.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/squash.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-workspace/src/branch_trees.rs
  crates/gitbutler-workspace/tests/branch_trees.rs
Labels: rust

#8113 v3: fixes a bug where unapplying a branch will incorrectly inject file changes to the workdir
  crates/gitbutler-workspace/src/lib.rs
Labels: rust

#8116 fix: Correctly wrap the confirmation modal
  apps/desktop/src/components/BranchLaneContextMenu.svelte
Labels: @gitbutler/desktop

#8118 fix: Don't keep jumping to the start of the PR content
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/PrTemplateSection.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/lib/forge/prContents.svelte.ts
Labels: @gitbutler/desktop

#8120 Refactor `useMutation` and prefer `mutate`
  apps/desktop/src/components/AddSeriesModal.svelte
  apps/desktop/src/components/Board.svelte
  apps/desktop/src/components/BoardEmptyState.svelte
  apps/desktop/src/components/BranchDropzone.svelte
  apps/desktop/src/components/BranchLaneContextMenu.svelte
  apps/desktop/src/components/BranchPreviewHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitDialog.svelte
  apps/desktop/src/components/CommitList.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/HunkContextMenu.svelte
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/PullRequestPreview.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/SyncButton.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/HunkContextMenu.svelte
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/StackHeader.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabMenu.svelte
  apps/desktop/src/components/v3/stackTabs/StackTabNew.svelte
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/branches/dropHandler.ts
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/github/issueService.ts
  apps/desktop/src/lib/forge/gitlab/gitlabPrService.svelte.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#8121 Merge upstream commits into the stack details
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/stacks/stack.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/lib/testing/mockStackService.ts
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#8122 mutations are typed correctly
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#8123 Fix selecting worktree changes when no stack in workspace
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
Labels: @gitbutler/desktop

#8125 Fix discard renamed files
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/HunkContextMenu.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/hunks/change.ts
  apps/desktop/src/lib/hunks/hunk.ts
Labels: @gitbutler/desktop

#8127 Fix push status
  apps/desktop/src/components/v3/BranchList.svelte
  crates/but-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop

#8128 Remove debug statement
  crates/but-workspace/src/lib.rs
Labels: rust

#8129 Branch creation now errors out if stack initialization fails
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#8130 Commit goes here for empty branch
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchList.svelte
Labels: @gitbutler/desktop

#8132 update history sidebar ui and remove unused sidebar domains
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/History.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/lib/routes/routes.svelte.ts
  apps/desktop/src/routes/[projectId]/history/+page.svelte
  apps/desktop/src/routes/[projectId]/target/+page.svelte
  packages/ui/src/lib/NotificationButton.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#8133 fix commit lines alignment
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchHeaderIcon.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitLine.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
Labels: @gitbutler/desktop

#8138 UI branches page wip
  apps/desktop/src/components/BranchPreviewHeader.svelte
  apps/desktop/src/components/CollapsedLane.svelte
  apps/desktop/src/components/SeriesLabels.svelte
  apps/desktop/src/components/v3/HeaderMetaSection.svelte
  apps/desktop/src/components/v3/branchesPage/BranchListCard.svelte
  apps/desktop/src/components/v3/branchesPage/Branches.svelte
  apps/desktop/src/components/v3/branchesPage/BranchesCardTemplate.svelte
  apps/desktop/src/components/v3/branchesPage/BranchesListGroup.svelte
  apps/desktop/src/components/v3/branchesPage/CurrentOriginCard.svelte
  apps/desktop/src/routes/[projectId]/branches/+page.svelte
  packages/ui/src/lib/LinkButton.svelte
  packages/ui/src/lib/ReviewBadge.svelte
  packages/ui/src/lib/SeriesIcon.svelte
  packages/ui/src/lib/SeriesLabelsRow.svelte
  packages/ui/src/lib/SidebarEntry.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/stories/seriesLabelsRow/SeriesLabelsRow.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8139 Do not show lock text in file diff view
  apps/desktop/src/components/FileDiff.svelte
Labels: @gitbutler/desktop

#8140 pr: set the default description
  apps/desktop/src/lib/forge/prContents.svelte.ts
Labels: @gitbutler/desktop

#8141 Add back updater offline check
  apps/desktop/src/lib/updater/updater.ts
Labels: @gitbutler/desktop

#8142 don't write uuid branches
  apps/desktop/src/components/BranchLaneContextMenu.svelte
  apps/desktop/src/components/BranchListingSidebarEntry.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/lib/branches/branchService.svelte.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/[projectId]/preview-stack/[stackId]/+page.svelte
  crates/but-cli/src/command/diff.rs
  crates/but-cli/src/command/mod.rs
  crates/but-hunk-dependency/src/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/workspace_dependencies.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-stack/src/state.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#8144 Update UnifiedDiffView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
Labels: @gitbutler/desktop

#8145 feat: enhance importJSON method for EmojiNode
  packages/ui/src/lib/richText/node/emoji.ts
Labels: @gitbutler/ui

#8146 fix: workspace path validation logic & PR prompt
  apps/desktop/src/lib/ai/prompts.ts
  apps/desktop/src/lib/routes/routes.svelte.ts
Labels: @gitbutler/desktop

#8148 extra-csp-frontend
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-settings/src/api.rs
  crates/gitbutler-tauri/src/settings.rs
Labels: rust, @gitbutler/desktop

#8150 Revert "extra-csp-frontend"
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-settings/src/api.rs
  crates/gitbutler-tauri/src/settings.rs
Labels: rust, @gitbutler/desktop

#8152 Adds a v3 API endpoint for listing the commits of the target branch
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8155 Add option for stopping propagation to AsyncButton
  packages/ui/src/lib/AsyncButton.svelte
Labels: @gitbutler/ui

#8156 Add loading states for transitioning into edit mode
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/EditMode.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitDetails.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/ConflictResolutionConfirmModal.svelte
  apps/desktop/src/lib/branches/virtualBranchService.ts
  apps/desktop/src/lib/mode/modeService.ts
Labels: @gitbutler/desktop

#8159 feat(richText): add markdown mode support to onChange plugin
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/richText/markdown.ts
  packages/ui/src/lib/richText/plugins/onChange.svelte
Labels: @gitbutler/ui
