Repository gitbutlerapp/gitbutler, pull requests merged in 2025-02, with the labels that each got.

#6146 Change default context menu positioning
  packages/ui/src/lib/ContextMenu.svelte
Labels: @gitbutler/ui

#6136 colocate UI types and conversions
  Cargo.lock
  crates/but-core/src/diff/mod.rs
  crates/but-core/src/diff/ui.rs
  crates/but-core/src/lib.rs
  crates/but-core/src/ui.rs
  crates/but-core/tests/core/diff/commit_changes.rs
  crates/but-core/tests/core/diff/mod.rs
  crates/but-core/tests/core/diff/ui.rs
  crates/but-core/tests/core/json_samples.rs
  crates/but-hunk-dependency/Cargo.toml
  crates/but-hunk-dependency/src/lib.rs
  crates/but-hunk-dependency/src/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/main.rs
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-tauri/src/workspace.rs
  crates/gitbutler-tauri/tests/fixtures/status-repo.sh
  crates/gitbutler-tauri/tests/tauri/main.rs
  crates/gitbutler-tauri/tests/tauri/workspace.rs
Labels: rust

#6149 fix: broken upstream dots positioning
  apps/desktop/src/components/CommitsAccordion.svelte
Labels: @gitbutler/desktop

#6151 web-br-various-ui-fixes
  apps/web/src/lib/components/Factoid.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/changes/ChangeStatus.svelte
  apps/web/src/lib/components/review/BranchStatusBadge.svelte
  apps/web/src/lib/components/review/ChangeNavigator.svelte
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/lib/styles/global.css
  apps/web/src/lib/styles/media-queries.css
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/ui/src/lib/CommitStatusBadge.svelte
  packages/ui/src/lib/ContextMenu.svelte
  packages/ui/src/lib/ContextMenuItem.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/stories/commitStatusBadge/CommitStatusBadge.stories.svelte
  packages/ui/src/stories/contextMenu/ContextMenu.stories.svelte
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/ui, @gitbutler/web

#6150 inject og image for known paths in server hooks
  apps/web/src/app.html
  apps/web/src/hooks.server.ts
  apps/web/src/lib/meta/opengraph.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
Labels: @gitbutler/web

#6152 Remove emitting of virtual branches on command completion if v3 is enabled
  crates/gitbutler-tauri/src/modes.rs
  crates/gitbutler-tauri/src/stack.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#6153 fix: Use the correct user for the issue resolution events
  apps/web/src/lib/components/chat/IssueUpdate.svelte
Labels: @gitbutler/web

#6154 Fix branch commit list lines
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/review/PatchReviewersGroup.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  packages/shared/src/lib/branches/types.ts
Labels: @gitbutler/web

#6158 update permissions required for editing a branch summary
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
Labels: @gitbutler/web

#6159 fix: invert feature flag check for virtual branches calculation
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#6157 fix: Display user image on patch status events
  apps/web/src/lib/components/chat/PatchStatus.svelte
Labels: @gitbutler/web

#6114 Chat: Ability to minimize
  apps/web/src/lib/chat/minimize.svelte.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/ShowChatButton.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/tsconfig.json
Labels: @gitbutler/web

#6164 Fix validation bug
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#6167 fix broken fonts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/styles/fonts/fonts.css
  apps/desktop/src/styles/fonts/geist-mono/GeistMono-Bold.woff2
  apps/desktop/src/styles/fonts/geist-mono/GeistMono-Medium.woff2
  apps/desktop/src/styles/fonts/geist-mono/GeistMono-Regular.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Bold.woff2
  apps/desktop/src/styles/fonts/inter/Inter-BoldItalic.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Italic.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Medium.woff2
  apps/desktop/src/styles/fonts/inter/Inter-MediumItalic.woff2
  apps/desktop/src/styles/fonts/inter/Inter-Regular.woff2
  apps/desktop/src/styles/fonts/inter/Inter-SemiBold.woff2
  apps/desktop/src/styles/fonts/inter/Inter-SemiBoldItalic.woff2
  apps/desktop/src/styles/fonts/pp-editorial/PPEditorialNew-Regular.woff2
  apps/desktop/src/styles/styles.css
  apps/web/src/lib/styles/fonts/fonts.css
  apps/web/src/lib/styles/fonts/geist-mono/GeistMono-Bold.woff2
  apps/web/src/lib/styles/fonts/geist-mono/GeistMono-Medium.woff2
  apps/web/src/lib/styles/fonts/geist-mono/GeistMono-Regular.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Bold.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-BoldItalic.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Italic.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Medium.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-MediumItalic.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-Regular.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-SemiBold.woff2
  apps/web/src/lib/styles/fonts/inter/Inter-SemiBoldItalic.woff2
  apps/web/src/lib/styles/fonts/pp-editorial/PPEditorialNew-Regular.woff2
  apps/web/src/lib/styles/global.css
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/styles/fonts/fonts.css
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#6155 Chat input: rich text editor
  apps/web/src/lib/chat/richText.svelte.ts
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/MentionSuggestions.svelte
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  packages/ui/package.json
  packages/ui/src/lib/RichTextEditor.svelte
  pnpm-lock.yaml
Labels: rust, @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#6171 Reload patches when certian chat messages appear.
  apps/web/package.json
  apps/web/src/lib/auth/authService.svelte.ts
  apps/web/src/lib/chat/subscribe.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/SideNavigation.svelte
  apps/web/src/lib/components/UserDashboard.svelte
  apps/web/src/lib/components/UserPage.svelte
  apps/web/src/lib/components/chat/IssueUpdate.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/PatchStatus.svelte
  apps/web/src/lib/components/chat/PatchVersion.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/auth/+page.svelte
  apps/web/src/routes/home/components/Header.svelte
  apps/web/src/routes/profile/+page.svelte
  apps/web/tsconfig.json
  packages/shared/package.json
  packages/shared/src/lib/branches/patchEventsService.ts
  packages/shared/src/lib/branches/patchService.ts
  packages/shared/src/lib/branches/patchesPreview.svelte.ts
  packages/shared/src/lib/branches/utils.ts
  packages/shared/src/lib/interest/RegisterInterest.svelte
  packages/shared/src/lib/interest/interestStore.ts
  packages/shared/src/lib/interest/registerInterestFunction.svelte.ts
  packages/shared/src/lib/organizations/CreateOrganizationModal.svelte
  packages/shared/src/lib/storeUtils.ts
  packages/ui/src/lib/avatar/gravatar.ts
  pnpm-lock.yaml
Labels: @gitbutler/ui, @gitbutler/web

#6172 Fix: Rich text editor padding
  packages/ui/src/lib/RichTextEditor.svelte
Labels: @gitbutler/ui

#6170 Mentions API changes: Mentions
  apps/web/src/lib/chat/mentions.ts
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/Mention.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/MessageMarkdown.svelte
  apps/web/src/lib/components/chat/MessageMarkdownContent.svelte
  apps/web/src/lib/components/chat/MessageText.svelte
  packages/shared/src/lib/chat/types.ts
  packages/ui/src/lib/RichTextEditor.svelte
Labels: @gitbutler/ui, @gitbutler/web

#6174 fix-diff-line-numbers
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/ui

#6175 Branch-statuses
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/review/BranchStatusBadge.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/ui/src/lib/CommitStatusBadge.svelte
Labels: @gitbutler/ui, @gitbutler/web

#6177 fix: move "publish branch" buthub btn to series header with padding
  apps/desktop/src/components/HeaderMetaSection.svelte
  apps/desktop/src/components/StackHeader.svelte
Labels: @gitbutler/desktop

#6182 ui-fixes-tabs-scroll
  apps/desktop/src/components/StackTab.svelte
  apps/desktop/src/components/StackTabNew.svelte
  apps/desktop/src/components/StackTabs.svelte
  apps/desktop/src/routes/[projectId]/workspace/[[stackId]]/+page.svelte
Labels: @gitbutler/desktop

#6184 Added two feature flags to guide users away from incomplete features
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/projects/ProjectIndexCard.svelte
  apps/web/src/lib/featureFlags.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/profile/+page.svelte
Labels: @gitbutler/web

#6185 Add ISO dates as title attributes
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/chat/IssueUpdate.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/PatchStatus.svelte
  apps/web/src/lib/components/chat/PatchVersion.svelte
Labels: @gitbutler/web

#6181 Search users for mentions
  apps/web/src/lib/chat/richText.svelte.ts
  apps/web/src/lib/chat/suggestions.svelte.ts
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/MentionSuggestionItem.svelte
  apps/web/src/lib/components/chat/MentionSuggestions.svelte
  packages/shared/src/lib/feeds/feedsPreview.svelte.ts
  packages/shared/src/lib/feeds/service.ts
  packages/shared/src/lib/redux/store.svelte.ts
  packages/shared/src/lib/users/types.ts
  packages/shared/src/lib/users/userService.ts
  packages/shared/src/lib/users/usersPreview.svelte.ts
  packages/shared/src/lib/users/usersSlice.ts
  packages/ui/src/lib/RichTextEditor.svelte
Labels: @gitbutler/ui, @gitbutler/web

#6189 Don't allow authors to self approve
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/user/userService.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#6191 OG fixes
  apps/web/src/lib/meta/opengraph.ts
Labels: @gitbutler/web

#6195 Upgrade vite from v5 -> v6
  apps/desktop/package.json
  apps/desktop/vite.config.ts
  package.json
  packages/shared/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @gitbutler/desktop, @gitbutler/ui

#6199 fix: header padding for platforms other than Mac OS
  apps/desktop/src/components/ChromeHeader.svelte
Labels: @gitbutler/desktop

#6201 fix: StackedTabs overflow shadow alignment
  apps/desktop/src/components/StackTabs.svelte
Labels: @gitbutler/desktop

#6202 sc-fix-things
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/review/PatchReviewersGroup.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/shared/src/lib/branches/types.ts
Labels: @gitbutler/web

#6196 Send the message content without embeds
  apps/web/src/lib/chat/message.svelte.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/Event.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.ts
  packages/shared/src/lib/chat/types.ts
  packages/shared/src/lib/routing/webRoutes.svelte.ts
Labels: @gitbutler/web

#6205 fix: if we render without a selected stack, and there are some available, goto the first one
  apps/desktop/src/components/StackTabs.svelte
  apps/desktop/src/routes/[projectId]/workspace/[[stackId]]/+page.svelte
Labels: @gitbutler/desktop

#6206 Web UI fixes and updates
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/review/PatchReviewersGroup.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/ui/src/lib/CommitStatusBadge.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/data/icons.json
  packages/ui/src/styles/components/review.css
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/ui, @gitbutler/web

#6207 inject metadata for patches as well as branches
  apps/web/src/lib/meta/opengraph.ts
Labels: @gitbutler/web

#6204 Debounce hot module reloading for package rebuilds
  apps/desktop/vite.config.ts
Labels: @gitbutler/desktop

#6228 Mention suggestions: Auto-select the first option always
  apps/web/src/lib/components/chat/MentionSuggestions.svelte
Labels: @gitbutler/web

#6208 BR-cards
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/BranchReviewButRequest.svelte
  apps/desktop/src/components/HeaderMetaSection.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/lib/history/stackPublishingService.ts
  apps/desktop/src/lib/pr/getPr.svelte.ts
  crates/gitbutler-sync/src/stack_upload.rs
  crates/gitbutler-tauri/src/stack.rs
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/latestBranchLookupService.ts
  packages/shared/src/lib/reactiveUtils.svelte.ts
Labels: rust, @gitbutler/desktop

#6227 clean up the projects page
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/SideNavigation.svelte
  apps/web/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  apps/web/src/lib/components/projects/OrganizationProjects.svelte
  apps/web/src/lib/components/projects/ProjectIndexCard.svelte
  apps/web/src/routes/projects/+page.svelte
  apps/web/src/routes/repositories/+page.svelte
  packages/shared/src/lib/routing/webRoutes.svelte.ts
Labels: @gitbutler/web

#6230 fix: rename url.ts helper to platform.ts
  packages/ui/src/lib/utils/hotkeys.ts
  packages/ui/src/lib/utils/platform.ts
Labels: @gitbutler/ui

#6233 Display the 'request changes' events
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/PatchStatus.svelte
  packages/shared/src/lib/branches/types.ts
Labels: rust, @gitbutler/desktop, @gitbutler/web

#6234 fix: absolutely center project select without need for pointer-events overrides
  apps/desktop/src/components/ChromeHeader.svelte
Labels: @gitbutler/desktop

#6237 fix: rename `tabOverflow` to `overflow`
  apps/desktop/src/components/StackTabNew.svelte
Labels: @gitbutler/desktop

#6238 fix: remove unnecessary @storybook/addon-interactions
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: @gitbutler/ui

#6240 fix: rm unnecessary `!important`
  packages/ui/src/lib/link/Link.svelte
Labels: @gitbutler/ui

#6239 Alert developer if app will reload
  apps/desktop/src/components/ReloadWarning.svelte
  apps/desktop/src/events.d.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/vite.config.ts
Labels: @gitbutler/desktop

#6243 fix: storybook build again
  packages/ui/package.json
  pnpm-lock.yaml
Labels: @gitbutler/ui

#6281 Profile: Notification settings
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/profile/+page.svelte
  packages/shared/src/lib/redux/store.svelte.ts
  packages/shared/src/lib/settings/notificationSettingsService.ts
  packages/shared/src/lib/settings/notificationSetttingsPreview.svelte.ts
  packages/shared/src/lib/settings/notificationSetttingsSlice.ts
  packages/shared/src/lib/settings/types.ts
Labels: @gitbutler/web

#6282 UI fixes
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/PatchStatus.svelte
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  apps/web/src/lib/components/review/ChangeNavigator.svelte
  apps/web/src/lib/components/review/PatchReviewersGroup.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/avatar/AvatarGroup.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/ui, @gitbutler/web

#6284 Only include valid, unarchived branches in stacking metric
  apps/desktop/src/lib/branches/virtualBranchService.ts
Labels: @gitbutler/desktop

#7268 Web UI updates
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/Select.svelte
  apps/web/src/lib/assets/login-modal.svg
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/LoginModal.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/IssueUpdate.svelte
  apps/web/src/lib/components/chat/PatchVersion.svelte
  apps/web/src/lib/components/infoFlexRow/Factoid.svelte
  apps/web/src/lib/components/infoFlexRow/InfoFlexRow.svelte
  apps/web/src/lib/components/review/BranchStatusBadge.svelte
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/ReviewInfo.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/Modal.svelte
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#7269 remove console.logs
  apps/web/src/lib/components/review/CommitsGraph.svelte
  packages/shared/src/lib/interest/registerInterestFunction.svelte.ts
Labels: @gitbutler/web

#6169 basic committing
  Cargo.lock
  Cargo.toml
  crates/but-core/Cargo.toml
  crates/but-core/src/cmd.rs
  crates/but-core/src/commit.rs
  crates/but-core/src/diff/worktree.rs
  crates/but-core/src/lib.rs
  crates/but-core/src/repo_ext.rs
  crates/but-core/src/settings.rs
  crates/but-core/src/ui.rs
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/core/main.rs
  crates/but-core/tests/core/settings.rs
  crates/but-core/tests/core/unified_diff.rs
  crates/but-core/tests/fixtures/worktree-changes.sh
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/plumbing.rs
  crates/but-workspace/src/commit_engine/ui.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/fixtures/scenario/all-file-types-changed.sh
  crates/but-workspace/tests/fixtures/scenario/all-file-types-renamed-and-modified.sh
  crates/but-workspace/tests/fixtures/scenario/delete-all-file-types.sh
  crates/but-workspace/tests/fixtures/scenario/merge-with-two-branches-line-offset-two-files.sh
  crates/but-workspace/tests/fixtures/scenario/merge-with-two-branches-line-offset.sh
  crates/but-workspace/tests/fixtures/scenario/submodule-typechanges.sh
  crates/but-workspace/tests/fixtures/scenario/two-commits-with-line-offset.sh
  crates/but-workspace/tests/fixtures/scenario/unborn-untracked-all-file-types.sh
  crates/but-workspace/tests/fixtures/scenario/unborn-untracked-crlf.sh
  crates/but-workspace/tests/fixtures/scenario/unborn-untracked.sh
  crates/but-workspace/tests/fixtures/scenario/unborn-with-submodules.sh
  crates/but-workspace/tests/workspace/commit_engine.rs
  crates/but-workspace/tests/workspace/main.rs
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#7273 changes that are useful
  apps/desktop/src/components/BranchReviewButRequest.svelte
Labels: @gitbutler/desktop

#7274 little ui improvements
  apps/web/src/lib/components/review/DiffSection.svelte
Labels: @gitbutler/web

#7276 more stupid stuff
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/lib/pr/getPr.svelte.ts
  packages/shared/src/lib/reactiveUtils.svelte.ts
Labels: @gitbutler/desktop

#7278 interactive-rebase
  Cargo.lock
  Cargo.toml
  crates/but-rebase/Cargo.toml
  crates/but-rebase/src/lib.rs
  crates/but-rebase/tests/fixtures/rebase.sh
  crates/but-rebase/tests/mod.rs
  crates/gitbutler-oxidize/src/lib.rs
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#7271 advanced committing
  Cargo.lock
  Cargo.toml
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/fixtures/generated-archives/sparse.tar
  crates/but-core/tests/fixtures/sparse.sh
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/plumbing.rs
  crates/but-workspace/src/commit_engine/ui.rs
  crates/but-workspace/tests/fixtures/scenario/two-signed-commits-with-line-offset.sh
  crates/but-workspace/tests/workspace/commit_engine.rs
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/utils.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#7280 commit with rebase-engine integration
  Cargo.lock
  Cargo.toml
  crates/but-core/Cargo.toml
  crates/but-core/src/lib.rs
  crates/but-core/tests/core/commit.rs
  crates/but-core/tests/core/diff/ui.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/core/settings.rs
  crates/but-hunk-dependency/src/input.rs
  crates/but-rebase/Cargo.toml
  crates/but-rebase/src/commit.rs
  crates/but-rebase/src/lib.rs
  crates/but-rebase/src/merge.rs
  crates/but-rebase/tests/fixtures/rebase.sh
  crates/but-rebase/tests/mod.rs
  crates/but-rebase/tests/rebase/error_handling.rs
  crates/but-rebase/tests/rebase/main.rs
  crates/but-testsupport/Cargo.toml
  crates/but-testsupport/src/lib.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/ui.rs
  crates/but-workspace/tests/fixtures/.gitignore
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/generated-archives/two-signed-commits-with-line-offset.tar
  crates/but-workspace/tests/fixtures/scenario/two-signed-commits-with-line-offset.sh
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/commit_engine/utils.rs
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-edit-mode/Cargo.toml
  crates/gitbutler-operating-modes/Cargo.toml
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/state.rs
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#7289 update rand to 0.9.0
  Cargo.lock
  Cargo.toml
  crates/gitbutler-git/Cargo.toml
  crates/gitbutler-git/src/repository.rs
  crates/tauri-plugin-traffic-lights/Cargo.toml
Labels: rust

#7286 chore: update Rust toolchain to nightly-2025-02-14
  crates/but-hunk-dependency/src/ranges/tests/mod.rs
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list.rs
  crates/gitbutler-feedback/src/controller.rs
  crates/gitbutler-oxidize/src/lib.rs
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-project/tests/projects/main.rs
  crates/gitbutler-repo/src/config.rs
  crates/gitbutler-repo/src/logging.rs
  crates/gitbutler-repo/src/staging.rs
  crates/gitbutler-stack/src/stack.rs
  rust-toolchain.toml
Labels: rust

#7293 Fix for renamed crate in rand 0.9.0 update
  crates/tauri-plugin-traffic-lights/src/positioner.rs
Labels: rust

#7287 commit and amend for in `tauri`
  Cargo.lock
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-rebase/src/lib.rs
  crates/but-rebase/src/merge.rs
  crates/but-testsupport/src/lib.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/generated-archives/merge-signed-with-two-branches-line-offset.tar
  crates/but-workspace/tests/fixtures/scenario/merge-signed-with-two-branches-line-offset.sh
  crates/but-workspace/tests/fixtures/scenario/merge-with-two-branches-auto-resolved-merge.sh
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/squash.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-repo/tests/rebase.rs
  crates/gitbutler-stack/src/state.rs
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#7296 fix clippy warnings in vendored crate in the cheapest/possible way
  crates/tauri-plugin-traffic-lights/src/lib.rs
  crates/tauri-plugin-traffic-lights/src/positioner.rs
Labels: rust

#7300 Refactor rebase builder
  crates/but-rebase/src/lib.rs
  crates/but-rebase/tests/rebase/error_handling.rs
  crates/but-rebase/tests/rebase/main.rs
  crates/but-workspace/src/commit_engine/mod.rs
Labels: rust

#7299 Fix commit bug
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#7301 fix: replace is_none_or with is_some_and
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/stack.rs
Labels: rust

#7298 Redo tab sizing using only css (v3)
  apps/desktop/src/components/v3/StackTab.svelte
Labels: @gitbutler/desktop

#7297 Fix issue with committing new empty file
  crates/gitbutler-diff/src/diff.rs
Labels: rust

#6180 Reduce reliance on change id
  Cargo.lock
  crates/but-rebase/src/lib.rs
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/squash.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#7308 refactor: simplify steps initialization in rebase tests and engine
  crates/but-rebase/tests/rebase/error_handling.rs
  crates/but-rebase/tests/rebase/main.rs
  crates/but-workspace/src/commit_engine/mod.rs
Labels: rust

#7309 optimize the `head_oid` method
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#7311 Mark the `CommitOrChangeId::ChangeId` variant as deprecated
  crates/but-workspace/src/commit_engine/refs.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#7312 refactor: generate_change_ids_to_commit_mapping - filter branches to include only those in workspace
  crates/but-workspace/src/commit_engine/refs.rs
Labels: rust

#7310 more improvements to commit-engine
  Cargo.lock
  Cargo.toml
  crates/but-cli/Cargo.toml
  crates/but-cli/src/command/commit.rs
  crates/but-cli/src/command/mod.rs
  crates/but-settings/Cargo.toml
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
  crates/but-settings/src/json.rs
  crates/but-settings/src/legacy.rs
  crates/but-settings/src/lib.rs
  crates/but-settings/src/persistence.rs
  crates/but-settings/src/watch.rs
  crates/but-settings/tests/fixtures/modify_default_true_to_false.json
  crates/but-settings/tests/mod.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/benches/branches.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-command-context/Cargo.toml
  crates/gitbutler-command-context/src/lib.rs
  crates/gitbutler-operating-modes/Cargo.toml
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/tests/credentials.rs
  crates/gitbutler-settings/assets/defaults.jsonc
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/commands.rs
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/github.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/modes.rs
  crates/gitbutler-tauri/src/projects.rs
  crates/gitbutler-tauri/src/repo.rs
  crates/gitbutler-tauri/src/settings.rs
  crates/gitbutler-tauri/src/stack.rs
  crates/gitbutler-tauri/src/undo.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-tauri/src/workspace.rs
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/suite.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
  crates/gitbutler-watcher/src/lib.rs
  crates/gitbutler-workspace/Cargo.toml
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust

#7313 fix: use our own fork of tauri-plugin-trafficlights-positioner
  Cargo.lock
  Cargo.toml
  crates/gitbutler-tauri/Cargo.toml
  crates/tauri-plugin-traffic-lights/Cargo.toml
  crates/tauri-plugin-traffic-lights/src/lib.rs
  crates/tauri-plugin-traffic-lights/src/positioner.rs
Labels: rust

#7316 Fix commit bug in v3
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/lib/commits/commitService.svelte.ts
Labels: @gitbutler/desktop

#7319 fix: update traffic lights plugin import and version source
  Cargo.lock
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#6242 fix: StackDetails class names
  apps/desktop/src/components/v3/StackDetails.svelte
Labels: @gitbutler/desktop

#7323 Change "Open in VS Code" to "Open in Editor" in drop-down menu
  crates/gitbutler-tauri/src/menu.rs
Labels: rust

#7325 feat: add scroll-snap and svelte-keepfocus to StackTabs
  apps/desktop/src/components/v3/StackTab.svelte
  apps/desktop/src/components/v3/StackTabs.svelte
Labels: @gitbutler/desktop

#7326 fix: cleanup StackTab flex
  apps/desktop/src/components/v3/StackTab.svelte
Labels: @gitbutler/desktop

#7329 Refactor StackBranch
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/tests/squash.rs
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-sync/src/stack_upload.rs
Labels: rust

#7315 Port Cherry-Rebase to `gix`
  Cargo.lock
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/src/commit.rs
  crates/but-core/src/lib.rs
  crates/but-rebase/Cargo.toml
  crates/but-rebase/src/cherry_pick.rs
  crates/but-rebase/src/commit.rs
  crates/but-rebase/src/lib.rs
  crates/but-rebase/src/merge.rs
  crates/but-rebase/tests/rebase/error_handling.rs
  crates/but-rebase/tests/rebase/main.rs
  crates/but-testsupport/src/lib.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/commit_engine/utils.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/rebase.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#7333 little style fix: Collapse hunk table borders
  packages/ui/src/lib/HunkDiff.svelte
Labels: @gitbutler/ui

#7334 small file list item v3 style update
  packages/ui/src/lib/file/FileListItemV3.svelte
Labels: @gitbutler/ui

#7279 Chat message: Quote code
  apps/web/src/lib/chat/diffPatch.ts
  apps/web/src/lib/chat/message.svelte.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatDiffLineSelection.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/components/review/Section.svelte
  apps/web/src/lib/diff/lineSelection.svelte.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/chat/types.ts
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/hunkDiff/lineSelection.svelte.ts
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/ui, @gitbutler/web

#7337 Limit reference updates if new commits are created to the top-most ref.
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
Labels: rust

#7338 Add initial lexical commit message editor
  apps/desktop/package.json
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/lib/textEditor/LICENSE
  apps/desktop/src/lib/textEditor/config/component.css
  apps/desktop/src/lib/textEditor/config/config.ts
  apps/desktop/src/lib/textEditor/config/standard-theme.css
  apps/desktop/src/lib/textEditor/config/theme.ts
  apps/desktop/src/lib/textEditor/nodes/emojiNode.ts
  apps/desktop/src/lib/textEditor/plugins/emojiPlugin.ts
  apps/desktop/src/routes/[projectId]/workspace/[[stackId]]/+layout.svelte
  apps/desktop/src/styles/carta.scss
  apps/desktop/src/styles/styles.css
  apps/desktop/static/images/icons/LICENSE.md
  apps/desktop/static/images/icons/caret-right-fill.svg
  apps/desktop/static/images/icons/chat-square-quote.svg
  apps/desktop/static/images/icons/chevron-down.svg
  apps/desktop/static/images/icons/close.svg
  apps/desktop/static/images/icons/code.svg
  apps/desktop/static/images/icons/copy.svg
  apps/desktop/static/images/icons/dropdown-more.svg
  apps/desktop/static/images/icons/filetype-gif.svg
  apps/desktop/static/images/icons/horizontal-rule.svg
  apps/desktop/static/images/icons/indent.svg
  apps/desktop/static/images/icons/justify.svg
  apps/desktop/static/images/icons/link.svg
  apps/desktop/static/images/icons/list-ol.svg
  apps/desktop/static/images/icons/list-ul.svg
  apps/desktop/static/images/icons/outdent.svg
  apps/desktop/static/images/icons/pencil-fill.svg
  apps/desktop/static/images/icons/plus.svg
  apps/desktop/static/images/icons/prettier-error.svg
  apps/desktop/static/images/icons/prettier.svg
  apps/desktop/static/images/icons/square-check.svg
  apps/desktop/static/images/icons/success-alt.svg
  apps/desktop/static/images/icons/success.svg
  apps/desktop/static/images/icons/text-center.svg
  apps/desktop/static/images/icons/text-left.svg
  apps/desktop/static/images/icons/text-paragraph.svg
  apps/desktop/static/images/icons/text-right.svg
  apps/desktop/static/images/icons/trash.svg
  apps/desktop/static/images/icons/type-bold.svg
  apps/desktop/static/images/icons/type-h1.svg
  apps/desktop/static/images/icons/type-h2.svg
  apps/desktop/static/images/icons/type-h3.svg
  apps/desktop/static/images/icons/type-h4.svg
  apps/desktop/static/images/icons/type-h5.svg
  apps/desktop/static/images/icons/type-h6.svg
  apps/desktop/static/images/icons/type-italic.svg
  apps/desktop/static/images/icons/type-strikethrough.svg
  apps/desktop/static/images/icons/type-subscript.svg
  apps/desktop/static/images/icons/type-superscript.svg
  apps/desktop/static/images/icons/type-underline.svg
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#7341 feat: add parentIds to Commit type and serialization logic
  apps/desktop/src/lib/branches/v3.ts
  crates/but-workspace/src/lib.rs
  crates/gitbutler-serde/src/lib.rs
Labels: rust, @gitbutler/desktop

#7342 refactor: simplify virtual reference generation logic
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#7344 Interpolate signing keys which are provided as files just like Git (#7336)
  crates/but-rebase/src/commit.rs
Labels: rust

#7345 V3 UI fixes
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/file/FileListItemV3.svelte
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/ui

#7346 Use one commit only for obtaining changes for Commit
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
  crates/but-core/src/diff/ui.rs
  crates/but-core/tests/core/diff/ui.rs
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#7348 Chat Message: Code quoting follow-ups
  apps/web/src/lib/chat/message.svelte.ts
  apps/web/src/lib/components/chat/ChatDiffLineSelection.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/MessageDiffSection.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/components/review/Section.svelte
  apps/web/src/lib/diff/lineSelection.svelte.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/utils/branding.ts
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/ui, @gitbutler/web

#7350 added editor footer and header components
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/editor/EditorFooter.svelte
  apps/desktop/src/components/v3/editor/EditorHeader.svelte
Labels: @gitbutler/desktop

#7351 Text editor small changes
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/editor/EditorFooter.svelte
  apps/desktop/src/lib/textEditor/config/component.css
Labels: @gitbutler/desktop

#7352 Move commit message editor into its own component
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/editor/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/editor/EditorHeader.svelte
Labels: @gitbutler/desktop

#7357 Use dompurify to sanitize markdown rendering
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/v3/StackDetailsCommitHeader.svelte
  apps/web/src/routes/downloads/+page.svelte
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.svelte
  packages/ui/package.json
  packages/ui/src/lib/utils/marked.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#7363 Formatting popup
  apps/desktop/src/components/v3/editor/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/editor/FormattingPopup.svelte
  packages/ui/src/lib/AsyncButton.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/stories/button/Button.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#7343 Write real git refs and keep them up to date
  Cargo.lock
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-stack/Cargo.toml
  crates/gitbutler-stack/src/heads.rs
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/tests/fixtures/stacking.sh
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#7364 improve commit-signing
  crates/but-rebase/src/commit.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#7366 Correctly clear the code selection
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/components/review/Section.svelte
  apps/web/src/lib/diff/lineSelection.svelte.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/utils/clickOutside.ts
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/ui, @gitbutler/web

#7370 Remove unused deps
  Cargo.lock
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-command-context/Cargo.toml
  crates/gitbutler-project/Cargo.toml
Labels: rust

#7353 Remove cruft from tsconfig.json
  apps/web/tsconfig.json
Labels: @gitbutler/web

#7354 Introduce bowtie icon entries
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/ui

#7373 diff-parsing-fix
  apps/web/package.json
  apps/web/src/lib/diffParsing.test.ts
  apps/web/src/lib/diffParsing.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  apps/web/vitest-setup.js
  pnpm-lock.yaml
Labels: @gitbutler/web

#7355 Implement the review card
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/BranchReviewButRequest.svelte
  apps/desktop/src/components/PullRequestCard.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/shared/src/lib/branches/BranchStatusBadge.svelte
Labels: @gitbutler/desktop, @gitbutler/web

#7376 Hunk diff line selection: Now available in Safari
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/ui

#7377 Diff line selection: Stop the event propagation
  packages/ui/src/lib/hunkDiff/lineSelection.svelte.ts
Labels: @gitbutler/ui

#7379 Fix: when updating references it's okay if an existing reference doesnt match the existing value
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#7380 chore: rm left-over logs
  apps/desktop/src/lib/routes/routes.svelte.ts
  apps/desktop/src/lib/state/customSelectors.ts
Labels: @gitbutler/desktop

#7381 fix: missing function call after refactoring
  apps/desktop/src/components/v3/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#7382 fix the fix: Correctly position the selection overlays
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/ui

#7386 assure there are no trees in commit-changes
  crates/but-core/src/diff/commit.rs
  crates/but-core/tests/core/diff/commit_changes.rs
  crates/but-core/tests/fixtures/status-repo.sh
Labels: rust

#7392 switch to edition 2024 for but-* crates
  crates/but-cli/Cargo.toml
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/Cargo.toml
  crates/but-core/src/repo_ext.rs
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/unified_diff.rs
  crates/but-debugging/Cargo.toml
  crates/but-hunk-dependency/Cargo.toml
  crates/but-hunk-dependency/src/ranges/paths.rs
  crates/but-hunk-dependency/src/ranges/tests/mod.rs
  crates/but-hunk-dependency/src/ranges/tests/path_utilities.rs
  crates/but-hunk-dependency/src/ranges/tests/workspace.rs
  crates/but-hunk-dependency/tests/hunk_dependency/query_workspace_ranges.rs
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/workspace_dependencies.rs
  crates/but-rebase/Cargo.toml
  crates/but-rebase/src/cherry_pick.rs
  crates/but-rebase/src/commit.rs
  crates/but-rebase/src/lib.rs
  crates/but-rebase/src/merge.rs
  crates/but-rebase/tests/rebase/main.rs
  crates/but-settings/Cargo.toml
  crates/but-settings/src/persistence.rs
  crates/but-settings/src/watch.rs
  crates/but-testsupport/Cargo.toml
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/reference_frame.rs
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/src/commit_engine/tree.rs
  crates/but-workspace/src/integrated.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/commit_engine/utils.rs
  crates/gitbutler-cli/Cargo.toml
Labels: rust

#7393 Diff line selection: Enable shift selection
  apps/web/src/lib/diff/lineSelection.svelte.ts
Labels: @gitbutler/web

#7394 Fix: Global settings menu item
  apps/desktop/src/components/GlobalSettingsMenuAction.svelte
Labels: @gitbutler/desktop

#7395 Patch page: Toilet mode
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#7397 fix: use `LocalOnly` as fallback color for `BranchDividerLine`
  apps/desktop/src/components/v3/Branch.svelte
Labels: @gitbutler/desktop

#7378 Move files from PR folder to the Forge folder
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/components/PrTemplateSection.svelte
  apps/desktop/src/lib/forge/getPr.svelte.ts
  apps/desktop/src/lib/forge/prContents.ts
  apps/desktop/src/lib/forge/templateService.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#7332 research apply-branch and implement head-info, stack-listing and stack-details
  Cargo.lock
  crates/but-core/src/lib.rs
  crates/but-core/src/ref_metadata.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/commit.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/virtual_branches_metadata.rs
  crates/but-workspace/tests/fixtures/virtual-branches-01.toml
  crates/but-workspace/tests/workspace/main.rs
  crates/but-workspace/tests/workspace/ref_metadata.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/src/state.rs
Labels: rust

#7402 show more downloads
  apps/web/src/routes/downloads/+page.ts
Labels: @gitbutler/web

#7404 Cheery-pick merge-commits
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#7407 Made review id smaller
  crates/gitbutler-sync/src/stack_upload.rs
Labels: rust

#7409 fix: split marketing website home/app layout more for improved JS loa…
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/+page.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/+page.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/+page.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.ts
  apps/web/src/routes/(app)/auth/+page.svelte
  apps/web/src/routes/(app)/downloads/+page.svelte
  apps/web/src/routes/(app)/downloads/+page.ts
  apps/web/src/routes/(app)/home/+page.ts
  apps/web/src/routes/(app)/organizations/+page.svelte
  apps/web/src/routes/(app)/profile/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/+page.ts
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/+page.ts
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.ts
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/versions/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/versions/+page.ts
  apps/web/src/routes/+layout.svelte
Labels: @gitbutler/web

#7408 redirect projects to /
  apps/web/src/lib/components/Navigation.svelte
  packages/shared/src/lib/routing/webRoutes.svelte.ts
Labels: @gitbutler/web

#7413 fix: Allow for PR creation
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/lib/forge/prContents.svelte.ts
Labels: @gitbutler/desktop

#7414 Syncing p rs
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/forge/brToPrSync.svelte.ts
  apps/desktop/src/lib/forge/prToBrSync.svelte.ts
  apps/desktop/src/lib/forge/shared/prFooter.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/types.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7406 Make amending new files possible in the commit-engine
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/tree.rs
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
Labels: rust

#7415 Wire up text editor formatting buttons
  apps/desktop/package.json
  apps/desktop/src/components/v3/editor/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/editor/FormattingPopup.svelte
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#7420 Show formatting options next to your selection
  apps/desktop/src/components/v3/editor/FormattingPopup.svelte
  apps/desktop/src/lib/textEditor/selection.ts
Labels: @gitbutler/desktop

#7421 Fix move commit bug related to archived branches
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
Labels: @gitbutler/desktop

#7424 fix: remove marketing redirect
  apps/web/src/routes/+layout.svelte
Labels: @gitbutler/web

#7423 Unfeature flag review
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/components/CommitDialog.svelte
  apps/desktop/src/components/Navigation.svelte
  apps/desktop/src/components/Sidebar.svelte
  apps/desktop/src/components/v3/Stack.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/history/stackPublishingService.ts
  apps/desktop/src/lib/project/project.ts
  apps/desktop/src/lib/project/projectCloudSync.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/settings/+page.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  crates/gitbutler-project/src/project.rs
Labels: rust, @gitbutler/desktop

#7428 capitalize pull request
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/components/SeriesHeader.svelte
Labels: @gitbutler/desktop

#7422 web: Play sound on chat notifications
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/static/sounds/pop.mp3
  apps/web/static/sounds/vintage.wav
  packages/shared/src/lib/branches/patchEventsService.ts
  packages/shared/src/lib/sounds.ts
Labels: @gitbutler/web

#7430 Patch review page: Stick the header to the top
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/ui, @gitbutler/web

#7429 fix: allow publically readbable BR pages
  apps/web/src/routes/+layout.svelte
Labels: @gitbutler/web

#7416 rejection reasons for hunks
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/tree.rs
  crates/but-workspace/src/commit_engine/ui.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/utils.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
Labels: rust

#7432 fix: update Web .env
  apps/web/.env
Labels: @gitbutler/web

#7417 web: hide lock file diffs by default
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/diff/lockfiles.ts
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
  packages/ui/src/stories/hunkDiff/HunkDiff.stories.svelte
Labels: @gitbutler/ui, @gitbutler/web

#7427 fix: v3 workspace design tweaks
  apps/desktop/src/components/v3/Branch.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/CommitLine.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/EmptyBranch.svelte
Labels: @gitbutler/desktop

#7437 Fix v3 workspace design tweaks
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
Labels: @gitbutler/desktop

#7439 move to gitbutler.com, not cloud.gitbutler.com
  apps/desktop/.env.nightly
  apps/desktop/.env.production
  apps/desktop/.env.testing
Labels: @gitbutler/desktop

#7442 Display lock diffs correctly
  apps/web/src/lib/components/review/DiffSection.svelte
Labels: @gitbutler/web

#7443 Reintroduce the off-white color
  apps/web/src/lib/styles/global.css
Labels: @gitbutler/web

#7445 fix: v3 last commit/last branch dashed style
  apps/desktop/src/components/v3/Branch.svelte
  apps/desktop/src/components/v3/CommitGoesHere.svelte
  apps/desktop/src/components/v3/CommitLine.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
Labels: @gitbutler/desktop

#7438 Closing buts
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/BranchReviewButRequest.svelte
  apps/desktop/src/components/ButRequestCreationModal.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/lib/forge/butRequestDetailsService.ts
  apps/desktop/src/lib/forge/closedStateSync.svelte.ts
  apps/desktop/src/lib/history/stackPublishingService.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-sync/src/stack_upload.rs
  crates/gitbutler-tauri/src/stack.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/latestBranchLookupService.ts
  packages/shared/src/lib/organizations/projectService.ts
Labels: rust, @gitbutler/desktop

#7446 style fix: Responsive table for the patch view
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
Labels: @gitbutler/web
