Repository gitbutlerapp/gitbutler, pull requests merged in 2025-05, with the labels that each got.

#8365 Fix reactivity issue with branch file list
  apps/desktop/src/components/v3/BranchView.svelte
Labels: @gitbutler/desktop

#8364 Add v3 drop handler for hunks to commits
  apps/desktop/src/components/v3/BranchList.svelte
Labels: @gitbutler/desktop

#8363 Add popup chat bubble
  apps/desktop/src/components/v3/IrcChannel.svelte
  apps/desktop/src/components/v3/IrcChat.svelte
  apps/desktop/src/components/v3/IrcPopups.svelte
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/irc/ircService.svelte.ts
  apps/desktop/src/lib/irc/ircSlice.ts
  apps/desktop/src/lib/irc/types.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  packages/ui/src/lib/Toggle.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8362 fix(PullRequestCard): check permissions for merge pull request button state
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/github/types.ts
  apps/desktop/src/lib/forge/gitlab/types.ts
  apps/desktop/src/lib/forge/interface/types.ts
Labels: @gitbutler/desktop

#8369 Support inserting of a blank commit in an empty stack
  apps/desktop/src/components/SeriesHeaderContextMenuContents.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/but-workspace/src/integrated.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#8371 word.value word.value word.value word.value word.value
  apps/web/src/lib/components/chat/MessageText.svelte
Labels: @gitbutler/web

#8370 Improve & test the cross stack reactivity
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/fileTree.cy.ts
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/changes.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/cypress/e2e/support/scenarios/lotsOfFileChanges.ts
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/stackTabs/StackTab.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8358 Allow creation of empty commits
  crates/but-cli/src/command/commit.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/tree/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#8340 Re-use terminal environment
  crates/but-core/src/cmd.rs
  crates/but-core/tests/core/cmd.rs
  crates/but-core/tests/core/main.rs
  crates/but-rebase/src/commit.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#8373 UI-fixes-49
  apps/desktop/src/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  packages/ui/src/lib/file/FileListItemV3.svelte
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8372 Add experimental multistack view
  apps/desktop/src/components/BranchLabel.svelte
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/BranchLayoutMode.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/MultiLaneView.svelte
  apps/desktop/src/components/v3/StackCard.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  apps/desktop/src/routes/[projectId]/workspace/+layout.svelte
  apps/desktop/src/routes/[projectId]/workspace/[stackId]/+page.svelte
  packages/ui/src/lib/scroll/Scrollbar.svelte
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#8375 Add multistack feature toggle under global experimental settings
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
Labels: @gitbutler/desktop

#8374 Some CSS experiments with multi lane
  apps/desktop/src/components/v3/MultiLaneView.svelte
  apps/desktop/src/components/v3/StackCard.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#8377 Only display keyboard shortcuts in V3 (#8153)
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/menu.rs
Labels: rust

#8382 CLI: Option to use JSON for the commit output
  crates/but-cli/src/command/commit.rs
  crates/but-cli/src/main.rs
Labels: rust

#8387 CLI: Create branches
  Cargo.lock
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/gitbutler-branch-actions/src/stack.rs
Labels: rust

#8391 Touch upp some css
  apps/desktop/src/components/v3/MultiLaneView.svelte
  apps/desktop/src/components/v3/StackCard.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#8393 Fix applying branches in v3
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
Labels: @gitbutler/desktop

#8396 Add `simple` flag to HunkDependency CLI and expose simple dependency output
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/diff.rs
  crates/but-cli/src/main.rs
  crates/but-hunk-dependency/src/ui.rs
Labels: rust

#8397 Fix code-string class
  apps/desktop/src/components/BranchPreviewHeader.svelte
  apps/desktop/src/components/DeleteBranchModal.svelte
  apps/desktop/src/styles/styles.css
Labels: @gitbutler/desktop

#8400 Implement v3 move commit to another stack
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
Labels: @gitbutler/desktop

#8405 feat(cli): add support for branch description when creating branches
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
Labels: rust

#8395 sign commits if Git would sign commits
  Cargo.lock
  Cargo.toml
  DEVELOPMENT.md
  apps/desktop/src/components/CommitSigningForm.svelte
  apps/desktop/src/components/PullRequestPreview.svelte
  crates/but-core/src/lib.rs
  crates/but-core/src/settings.rs
  crates/but-core/tests/core/settings.rs
  crates/gitbutler-config/Cargo.toml
  crates/gitbutler-config/src/api.rs
  crates/gitbutler-config/src/git.rs
  crates/gitbutler-config/src/lib.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-serde/src/bstring.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/config.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#8410 branches-page-ui-update
  apps/desktop/src/components/v3/BranchDetails.svelte
  apps/desktop/src/components/v3/BranchExplorer.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/BranchesViewStack.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/TargetCommitList.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/VirtualList.svelte
  apps/desktop/src/components/v3/branchesPage/BranchListCard.svelte
  apps/desktop/src/components/v3/branchesPage/Branches.svelte
  apps/desktop/src/components/v3/branchesPage/BranchesCardTemplate.svelte
  apps/desktop/src/components/v3/branchesPage/BranchesListGroup.svelte
  apps/desktop/src/components/v3/branchesPage/CurrentOriginCard.svelte
  apps/desktop/src/components/v3/branchesPage/PRListCard.svelte
  apps/desktop/src/lib/branches/branchListing.ts
  apps/desktop/src/routes/[projectId]/branches/+page.svelte
  packages/ui/src/lib/SeriesLabelsRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8414 Add tests and update logic for deeply nested file tree changes in desktop app
  apps/desktop/cypress/e2e/fileTree.cy.ts
  apps/desktop/cypress/e2e/support/scenarios/someDeeplyNestedChanges.ts
  apps/desktop/src/components/v3/FileTreeNode.svelte
Labels: @gitbutler/desktop

#8415 Test: Unified view tests
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/changes.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/LineLocksWarning.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8416 Fix a v3 bug where apply branch puts the worktree in an incorrect state
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#8417 Branches-page
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/v3/BranchExplorer.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/BranchesViewStack.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/TargetCommitList.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/VirtualList.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/styles/styles.css
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#8418 feat(StackView): remove unnecessary div and styles
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#8419 feat(PushButton): Add button tooltip logic
  apps/desktop/src/components/v3/PublishButton.svelte
  apps/desktop/src/components/v3/PushButton.svelte
Labels: @gitbutler/desktop

#8420 fix remerge issue in rebase-engine
  crates/but-rebase/src/lib.rs
  crates/but-rebase/tests/fixtures/rebase.sh
  crates/but-rebase/tests/rebase/main.rs
Labels: rust

#7596 basic 'head-info'
  Cargo.lock
  crates/but-cli/Cargo.toml
  crates/but-cli/src/command/diff.rs
  crates/but-cli/src/command/mod.rs
  crates/but-core/src/ref_metadata.rs
  crates/but-hunk-dependency/src/lib.rs
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/workspace_dependencies.rs
  crates/but-workspace/src/author.rs
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/commit.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/head_info.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ui.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8421 Automatically move broken projects.json out of the way to allow app-startup
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-tauri/src/projects.rs
Labels: rust

#8423 GitHub API: Raise the errors 🙌
  apps/desktop/src/lib/forge/github/ghQuery.ts
  apps/desktop/src/lib/forge/github/githubListingService.svelte.ts
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/github/types.ts
Labels: @gitbutler/desktop

#8424 Reference uncommited changes tree directly
  crates/gitbutler-edit-mode/src/lib.rs
Labels: rust

#8426 Refactor v3 context menus
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/ContextMenu.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/KebabButton.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8431 Fix polling interval update
  apps/desktop/src/lib/forge/github/githubChecksMonitor.svelte.ts
  apps/desktop/src/lib/forge/github/githubListingService.svelte.ts
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/gitlab/gitlabListingService.svelte.ts
  apps/desktop/src/lib/forge/gitlab/gitlabPrService.svelte.ts
Labels: @gitbutler/desktop

#8427 fix(ui): enable text selection in UnifiedDiffView hunks
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
Labels: @gitbutler/desktop

#8430 Cypress: WebKit support
  apps/desktop/cypress.config.ts
  apps/desktop/cypress/README.md
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/package.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#8432 Refactor IntegrateUpstreamModal result management
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
Labels: @gitbutler/desktop

#8435 errors: Errors in Tauri and GitHub shuold use the expected Redux format
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/src/components/InfoMessage.svelte
  apps/desktop/src/components/ToastController.svelte
  apps/desktop/src/lib/backend/ipc.ts
  apps/desktop/src/lib/forge/github/ghQuery.ts
  apps/desktop/src/lib/forge/github/githubListingService.svelte.ts
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/github/types.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8437 fix(desktop): update MessageEditor to use console.warn for editor errors
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#8439 Enable commit re-ordering in v3
  apps/desktop/src/components/SeriesList.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/lib/dragging/stackingReorderDropzoneManager.ts
Labels: @gitbutler/desktop

#8441 Richard fix: text wrapping
  packages/ui/src/lib/richText/plugins/onChange.svelte
Labels: @gitbutler/ui

#8428 Refactor removing worktree changes
  crates/but-cli/src/command/diff.rs
  crates/but-core/src/commit.rs
  crates/but-core/src/diff/mod.rs
  crates/but-core/src/diff/tree_changes.rs
  crates/but-core/src/diff/ui.rs
  crates/but-core/src/repo_ext.rs
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/diff/commit_changes.rs
  crates/but-hunk-dependency/src/lib.rs
  crates/but-hunk-dependency/tests/hunk_dependency/query_workspace_ranges.rs
  crates/but-rebase/src/cherry_pick.rs
  crates/but-rebase/src/merge.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/hunks.rs
  crates/but-workspace/src/commit_engine/index.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/tree/mod.rs
  crates/but-workspace/src/discard/file.rs
  crates/but-workspace/src/discard/function.rs
  crates/but-workspace/src/discard/hunk/mod.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/tree_manipulation/file.rs
  crates/but-workspace/src/tree_manipulation/function.rs
  crates/but-workspace/src/tree_manipulation/hunk/mod.rs
  crates/but-workspace/src/tree_manipulation/hunk/tests.rs
  crates/but-workspace/src/tree_manipulation/mod.rs
  crates/but-workspace/tests/workspace/main.rs
  crates/but-workspace/tests/workspace/tree_manipulation/file.rs
  crates/but-workspace/tests/workspace/tree_manipulation/hunk.rs
  crates/but-workspace/tests/workspace/tree_manipulation/mod.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/ui

#8433 Improve navigating back to the workspace via the app
  Cargo.lock
  apps/desktop/src/components/InfoMessage.svelte
  apps/desktop/src/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/mode/modeService.ts
  apps/desktop/src/routes/+layout.svelte
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/head.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/init.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/locking.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-operating-modes/Cargo.toml
  crates/gitbutler-operating-modes/src/lib.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust, @gitbutler/desktop

#8443 Clear selection when branch not tound
  Cargo.lock
  apps/desktop/src/components/ReduxResult.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/BranchesViewStack.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/routes/+layout.svelte
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/lib.rs
  crates/gitbutler-error/src/error.rs
  crates/gitbutler-stack/src/state.rs
Labels: rust, @gitbutler/desktop

#8444 Fix virtual scroll for target branch
  apps/desktop/src/components/v3/VirtualList.svelte
Labels: @gitbutler/desktop

#8446 Performance: It turns out that height 100% in list items is causing performance issues
  packages/ui/src/lib/file/FileIndent.svelte
  packages/ui/src/lib/file/FileListItemV3.svelte
  packages/ui/src/lib/file/FolderListItem.svelte
Labels: @gitbutler/ui

#8447 Fix some issues with commit goes here
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#8449 Remove dbg statements
  crates/but-core/src/unified_diff.rs
  crates/but-workspace/src/tree_manipulation/function.rs
Labels: rust

#8422 basic head-info
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/branch_details.rs
  crates/but-workspace/src/head_info.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/src/ui.rs
  crates/but-workspace/src/virtual_branches_metadata.rs
  crates/but-workspace/tests/workspace/branch_details.rs
  crates/but-workspace/tests/workspace/main.rs
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#8450 Fix renaming branch
  apps/desktop/src/components/BranchLabel.svelte
Labels: @gitbutler/desktop

#8452 Add API and UI accesser for single commit details
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/src/lib/branches/v3.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/but-core/src/diff/ui.rs
  crates/but-core/tests/core/diff/ui.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ui.rs
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#8455 Make the multi lane view have lanes be of fixed width
  apps/desktop/src/components/v3/MultiStackView.svelte
Labels: @gitbutler/desktop

#8456 Hide commit count until implemented
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/branchesPage/CurrentOriginCard.svelte
Labels: @gitbutler/desktop

#8337 Posthog - add v3 feature flag value for backend queries
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/clientState.svelte.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#8458 feat(forge): add temporary workaround for GitLab domain
  apps/desktop/src/lib/forge/forgeFactory.svelte.ts
Labels: @gitbutler/desktop

#8459 Show correct commit status and color in drawer
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/components/v3/lib.ts
Labels: @gitbutler/desktop

#8460 Fix showing of commits in unapplied stacks
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#8461 Refactor but-workspace DiffSpec type
  crates/but-cli/src/command/commit.rs
  crates/but-cli/src/command/mod.rs
  crates/but-workspace/src/commit_engine/hunks.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/tree/mod.rs
  crates/but-workspace/src/commit_engine/ui.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/tree_manipulation/function.rs
  crates/but-workspace/src/tree_manipulation/hunk/mod.rs
  crates/but-workspace/src/tree_manipulation/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/tree_manipulation/file.rs
  crates/but-workspace/tests/workspace/tree_manipulation/hunk.rs
  crates/but-workspace/tests/workspace/utils.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#8462 ui-fixes-50
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/v3/BranchLayoutMode.svelte
  apps/desktop/src/components/v3/CommitGoesHere.svelte
  apps/desktop/src/components/v3/MultiStackCreateNew.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/select/SearchItem.svelte
  packages/ui/src/stories/segmentControl/SegmentControl.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8463 Remove commit status label for now
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/components/v3/lib.ts
Labels: @gitbutler/desktop

#8467 v3-stats
  apps/desktop/src/lib/state/backendQuery.ts
Labels: @gitbutler/desktop

#8469 test context menu actions & edit commit name through context menu option
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithRemoteChanges.ts
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8470 feat(desktop): add AI-powered branch name generation from hunks and commit messages
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/v3/BranchHeaderContextMenu.svelte
  apps/desktop/src/lib/ai/prompts.ts
  apps/desktop/src/lib/ai/service.test.ts
  apps/desktop/src/lib/ai/service.ts
Labels: @gitbutler/desktop

#8471 Fixes a bug with the branch being incorrectly flagged as CompletelyUnpushed
  crates/but-workspace/src/branch_details.rs
Labels: rust

#8473 Refresh checks when clicking checks badge
  apps/desktop/src/components/ChecksPolling.svelte
  packages/ui/src/lib/Badge.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8472 Improve post-commit steps
  apps/desktop/src/components/v3/NewCommitView.svelte
Labels: @gitbutler/desktop

#8474 ui-fixes-51
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/KebabButton.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/lib.ts
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#8476 Do not activate kebab button on right clicks
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/KebabButton.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
Labels: @gitbutler/desktop

#8477 branch: Fixes, improvements & tests
  apps/desktop/cypress/e2e/branches.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/branches.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/cypress/e2e/support/scenarios/partialllyIntegratedBranches.ts
  apps/desktop/cypress/e2e/support/scenarios/unappliedBranchesAndTargetCommits.ts
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/TargetCommitList.svelte
  apps/desktop/src/components/v3/branchesPage/BranchListCard.svelte
  apps/desktop/src/components/v3/branchesPage/BranchesCardTemplate.svelte
  apps/desktop/src/components/v3/branchesPage/CurrentOriginCard.svelte
  apps/desktop/src/components/v3/branchesPage/PRListCard.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8479 Add Cypress E2E test and mock support for create_virtual_branch_from_branch command
  apps/desktop/cypress/e2e/branches.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
Labels: @gitbutler/desktop

#8480 fix(branches): correctly delete and unselect local branch
  apps/desktop/cypress/e2e/branches.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8483 ui-fixes-52
  apps/desktop/src/components/v3/MultiStackView.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/file/FolderListItem.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8481 drag-to-commit
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/dragging/draggable.ts
Labels: @gitbutler/desktop

#8486 feat: add review creation state management
  apps/desktop/src/components/ReviewCreation.svelte
Labels: @gitbutler/desktop

#8487 Enables start commit by dragging hunk onto header
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/TreeListFolder.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/components/v3/unifiedDiffLineSelection.svelte.ts
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/selection/changeSelection.svelte.ts
Labels: @gitbutler/desktop

#8490 ui-fixes-53
  apps/desktop/src/components/v3/BranchLayoutMode.svelte
  apps/desktop/src/components/v3/FileViewPlaceholder.svelte
  apps/desktop/src/components/v3/MultiStackCreateNew.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/stackTabs/assets/new-stack.svg
  apps/desktop/src/lib/assets/illustrations/dependent-branch-tip.svg
  apps/desktop/src/lib/assets/illustrations/dnd-commit-amend.svg
  apps/desktop/src/lib/assets/illustrations/dnd-commit-move.svg
  apps/desktop/src/lib/assets/illustrations/dnd-commit-reorder.svg
  apps/desktop/src/lib/assets/illustrations/dnd-commit-squash.svg
  apps/desktop/src/lib/assets/illustrations/independent-branch-tip.svg
  apps/desktop/src/lib/assets/illustrations/select-to-preview.svg
  packages/ui/src/lib/segmentControl/Segment.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8493 Improve dragging changes
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/dragging/draggables.ts
Labels: @gitbutler/desktop

#8494 Remove unnecessary derived in the service methods
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/branches/branchService.svelte.ts
  apps/desktop/src/lib/forge/github/githubRepoService.svelte.ts
  apps/desktop/src/lib/forge/github/githubUserService.svelte.ts
  apps/desktop/src/lib/hunks/diffService.svelte.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
Labels: @gitbutler/desktop

#8496 fix(dropHandler): support multiple changes in ChangeDropData
  apps/desktop/src/lib/commits/dropHandler.ts
Labels: @gitbutler/desktop

#8495 Add posthog for the preferred branch layout mode so that we can improve the most popular one
  apps/desktop/src/components/v3/BranchLayoutMode.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/state/backendQuery.ts
Labels: @gitbutler/desktop

#8498 Fix SSH signing on Windows
  crates/but-rebase/src/commit.rs
Labels: rust

#8499 hide the large diffs
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/LargeDiffMessage.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8497 Unified diff: Locks are shown independent of the stack
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/LargeDiffMessage.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/hunks/hunk.test.ts
  apps/desktop/src/lib/hunks/hunk.ts
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8500 Show locks dependeing on the active branch
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/hunks/hunk.test.ts
  apps/desktop/src/lib/hunks/hunk.ts
Labels: @gitbutler/desktop

#8506 fix: correct commit message generation instructions
  apps/desktop/cypress/e2e/fileTree.cy.ts
  apps/desktop/src/components/v3/FileTreeNode.svelte
Labels: @gitbutler/desktop

#8507 refactor: simplify query return statements in stackService
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8510 drag-and-drop-tweaks
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  crates/but-workspace/src/tree_manipulation/move_between_commits.rs
Labels: rust, @gitbutler/desktop

#8509 ui-fixes-54
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/CommitHeader.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/KebabButton.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/SelectedChange.svelte
  packages/ui/src/lib/file/ExecutableLabel.svelte
  packages/ui/src/lib/file/FileListItemV3.svelte
  packages/ui/src/lib/file/FileViewHeader.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8511 Make auto fetch interval configurable
  apps/desktop/src/lib/config/appSettingsV2.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/app_settings.rs
  crates/but-settings/src/lib.rs
Labels: rust, @gitbutler/desktop

#8508 Keep forge data longer than rtkq default
  apps/desktop/src/lib/forge/github/githubPrMonitor.svelte.test.ts
  apps/desktop/src/lib/forge/github/githubPrMonitor.svelte.ts
  apps/desktop/src/lib/state/clientState.svelte.ts
Labels: @gitbutler/desktop

#8501 Fix issue with active vs. focus
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/lib/focus/focusManager.svelte.ts
  packages/ui/src/lib/file/FileListItemV3.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8514 Commit message edition fixes and test
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#8516 Commit actions: re-enable tests and fix them as well
  apps/desktop/cypress/e2e/commitActions.cy.ts
Labels: @gitbutler/desktop

#8519 Make focus tracking more intuitive
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/lib/focus/focusManager.svelte.ts
  apps/desktop/src/lib/selection/idSelection.svelte.ts
Labels: @gitbutler/desktop

#8520 UI-fixes-55
  apps/desktop/src/components/v3/SettingsPages.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/routes/settings/+layout.svelte
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8521 Fix big diff performance bottleneck
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
Labels: @gitbutler/ui

#8522 Increase diff chunk length
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
Labels: @gitbutler/ui

#8524 Disable shortkey thinng until we have something
  apps/desktop/src/components/ChromeSidebar.svelte
Labels: @gitbutler/desktop

#8523 Fix some broken GitLab stuff
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/lib/forge/gitlab/gitlabPrService.svelte.ts
Labels: @gitbutler/desktop

#8525 UI-fixes-56
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchHeaderIcon.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/CommitLine.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/TargetCommitList.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/stories/segmentControl/SegmentControl.stories.svelte
  packages/ui/src/styles/components/segment.css
Labels: @gitbutler/desktop, @gitbutler/ui

#8517 feat(settings): add autoFetchIntervalMinutes to mock settings
  apps/desktop/cypress/e2e/support/mock/settings.ts
Labels: @gitbutler/desktop

#8527 Commit message stale message fix
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/CommitView.svelte
Labels: @gitbutler/desktop

#8530 Move tree manipulation code about
  Cargo.lock
  Cargo.toml
  crates/but-status/Cargo.toml
  crates/but-status/src/lib.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/index.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/relapath.rs
  crates/but-workspace/src/tree_manipulation/discard_worktree_changes.rs
  crates/but-workspace/src/tree_manipulation/file.rs
  crates/but-workspace/src/tree_manipulation/mod.rs
  crates/but-workspace/src/tree_manipulation/move_between_commits.rs
  crates/but-workspace/src/tree_manipulation/utils.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#8531 branches-page-ui-fixes
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchesViewBranch.svelte
  apps/desktop/src/components/v3/branchesPage/BranchesCardTemplate.svelte
Labels: @gitbutler/desktop

#8534 feat(BranchCard): add conditional rendering for branch divider line
  apps/desktop/src/components/v3/BranchCard.svelte
Labels: @gitbutler/desktop

#8536 Review flow integs
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/baseBranch.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/ReviewCreationControls.svelte
  apps/desktop/src/components/StackedPullRequestCard.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/lib/forge/github/types.ts
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/Textbox.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8537 Rename "discard hunk" to discard change
  apps/desktop/src/components/HunkContextMenu.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/components/v3/HunkContextMenu.svelte
Labels: @gitbutler/desktop

#8539 feat: refactor upstream status fetching and stack retrieval
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
Labels: @gitbutler/desktop

#8541 Debounce branch search
  apps/desktop/src/components/v3/BranchExplorer.svelte
Labels: @gitbutler/desktop

#8542 fix: Fetching base errors
  apps/desktop/src/components/SyncButton.svelte
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#8540 Collection of irc experiment changes
  apps/desktop/src/components/v3/IrcChannel.svelte
  apps/desktop/src/components/v3/IrcChannels.svelte
  apps/desktop/src/components/v3/IrcChat.svelte
  apps/desktop/src/components/v3/IrcFloat.svelte
  apps/desktop/src/components/v3/IrcMessages.svelte
  apps/desktop/src/components/v3/IrcPopups.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/lib/dragging/float.ts
  apps/desktop/src/lib/irc/ircService.svelte.ts
  apps/desktop/src/lib/irc/ircSlice.ts
  apps/desktop/src/lib/irc/types.ts
Labels: @gitbutler/desktop

#8543 improve the way signature of the fetch branches API
  apps/desktop/src/components/SyncButton.svelte
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#8544 Avoid infinite loop if application directory isn't readable (#6076)
  crates/gitbutler-project/src/controller.rs
Labels: rust

#8545 review flow: more tests
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/src/components/ReviewCreationControls.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8546 UI fixes 57: Redesign draggable chip element for the commit component
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/styles/draggable.css
Labels: @gitbutler/desktop

#8547 commiting without stack: explicitly test draft stack name
  apps/desktop/cypress/e2e/commitActions.cy.ts
Labels: @gitbutler/desktop

#8548 Fixes an issue where listing the target commits is off by one
  apps/desktop/src/components/v3/TargetCommitList.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8549 Enable the option to edit a commit from the context menu
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
Labels: @gitbutler/desktop

#8553 Add two global variables for console debugging
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#8557 fix the selection for hunk lines
  apps/desktop/src/components/v3/unifiedDiffLineSelection.svelte.ts
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8556 integration test for hunk selection
  apps/desktop/cypress/e2e/support/scenarios/complexHunks.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
Labels: @gitbutler/desktop

#8552 Clear discarded changes from file selection
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/lib/selection/idSelection.svelte.ts
Labels: @gitbutler/desktop

#8558 Fix the uncmomitted changes scrolling
  apps/desktop/src/components/Dropzone.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#8560 ui-fixes-58
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
Labels: @gitbutler/desktop

#8561 ui-fixes-58
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/KebabButton.svelte
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/styles/draggable.css
Labels: @gitbutler/desktop

#8565 fix Ctrl + C
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#8566 fix(desktop): update CanPublishReviewPlugin and PublishButton for improved prop typing and tooltip logic
  apps/desktop/src/components/v3/CanPublishReviewPlugin.svelte
  apps/desktop/src/components/v3/PublishButton.svelte
Labels: @gitbutler/desktop

#8568 reenable all commit action tests
  apps/desktop/cypress/e2e/commitActions.cy.ts
Labels: @gitbutler/desktop

#8451 basic head-info
  Cargo.lock
  apps/desktop/src/lib/config/appSettingsV2.ts
  apps/desktop/src/routes/+layout.svelte
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
  crates/but-testsupport/src/lib.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/branch_details.rs
  crates/but-workspace/src/commit.rs
  crates/but-workspace/src/head_info.rs
  crates/but-workspace/src/integrated.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/stack_ext.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/src/ui.rs
  crates/but-workspace/src/virtual_branches_metadata.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/fixtures/scenario/with-remotes-no-workspace.sh
  crates/but-workspace/tests/workspace/branch_details.rs
  crates/but-workspace/tests/workspace/head_info.rs
  crates/but-workspace/tests/workspace/head_info/mod.rs
  crates/but-workspace/tests/workspace/head_info/with_workspace_commit.rs
  crates/but-workspace/tests/workspace/utils.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#8574 Update fuse to look into new data structure
  apps/desktop/src/components/v3/BranchExplorer.svelte
Labels: @gitbutler/desktop

#8573 ui-fixes-59
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/CardOverlay.svelte
  apps/desktop/src/components/Dropzone.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/MultiStackOutsideDropzone.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/TargetCommitList.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#8577 rename component MultiStackOutsideDropzone
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
Labels: @gitbutler/desktop

#8578 improve eslint performance
  apps/butler-bot/src/commands/add-channel.ts
  apps/butler-bot/src/commands/list-channels.ts
  apps/butler-bot/src/commands/list-repos.ts
  apps/butler-bot/src/commands/list-tickets.ts
  apps/butler-bot/src/firehoze.ts
  apps/butler-bot/src/main.ts
  apps/butler-bot/src/tasks/rotate-duty.ts
  apps/butler-bot/src/tasks/sync-github-issues.ts
  eslint.config.js
  pnpm-lock.yaml
Labels: @gitbutler/butler-bot

#8579 Branch header context menu: Fixes, additions and tests
  apps/desktop/cypress/e2e/branchActions.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithRemoteChanges.ts
  apps/desktop/src/components/AddDependentBranchModal.svelte
  apps/desktop/src/components/BranchRenameModal.svelte
  apps/desktop/src/components/DeleteBranchModal.svelte
  apps/desktop/src/components/v3/BranchHeaderContextMenu.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8581 Don't cache the commit message when uncommitting
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8583 fix: correct commit message instructions for clarity
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
Labels: @gitbutler/desktop

#8585 Fixes a bug where in some rare cases the listed commits may be incorrect
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#8586 ui-fixes-60
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/Scrollbar.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/styles/draggable.css
  packages/ui/src/lib/scroll/Scrollbar.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8587 Remove superfluous error
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
Labels: rust

#8589 Create a new stack from dropped files
  apps/desktop/src/components/v3/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/commits/utils.ts
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#8595 pretty-conflicts
  crates/gitbutler-edit-mode/src/lib.rs
Labels: rust, @gitbutler/desktop

#8597 Don't use the isDefined property
  apps/desktop/cypress/e2e/support/mock/backend.ts
Labels: @gitbutler/desktop

#8598 fix and test that the right hunk context menu options are visible
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/v3/HunkContextMenu.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#8599 fix: Start review through the publish buttons
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/PublishButton.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#8601 file list: stack macros
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/lib/hunks/diffService.svelte.ts
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/stacks/macros.ts
Labels: @gitbutler/desktop

#8602 Don't branch file changes if there's nothing selected
  apps/desktop/src/components/v3/FileList.svelte
Labels: @gitbutler/desktop

#8603 Document the uncomitted files shortcut
  apps/desktop/src/components/KeyboardShortcutsModal.svelte
  apps/desktop/src/lib/utils/hotkeys.ts
Labels: @gitbutler/desktop
