Repository gitbutlerapp/gitbutler, pull requests merged in 2025-03, with the labels that each got.

#7469 Updated navigation animation on scroll
  apps/desktop/src/components/GithubIntegration.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/components/table/TableRow.svelte
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/desktop, @gitbutler/web

#7470 Update minimized chat look and behaviour
  apps/web/src/lib/chat/minimize.svelte.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/diff/lineSelection.svelte.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/ui, @gitbutler/web

#7471 Butler reviews: toilet mode for tables
  apps/web/src/lib/components/infoFlexRow/InfoFlexRow.svelte
  apps/web/src/lib/components/table/TableHead.svelte
  apps/web/src/lib/components/table/TableRow.svelte
Labels: @gitbutler/web

#7472 style fix: Let the pointer events through when the chat is in tablet mode
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/ShowChatButton.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#7473 web: Split issue from requests changes
  apps/web/src/lib/components/chat/ChatInput.svelte
Labels: @gitbutler/web

#7475 style fixes for web
  apps/web/src/app.html
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#7478 Giggled a whole bunch of files about
  apps/desktop/src/components/BranchReviewButRequest.svelte
  apps/desktop/src/routes/+layout.svelte
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/BranchCommitsRow.svelte
  apps/web/src/lib/components/changes/ChangeStatus.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/Event.svelte
  apps/web/src/lib/components/chat/IssueUpdate.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/PatchStatus.svelte
  apps/web/src/lib/components/chat/PatchVersion.svelte
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/PatchReviewersGroup.svelte
  apps/web/src/lib/components/review/ReviewInfo.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/components/review/Section.svelte
  apps/web/src/lib/components/review/TextSection.svelte
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/branches/BranchStatusBadge.svelte
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/getBranchStatusBadge.ts
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/contributors.ts
  packages/shared/src/lib/patchEvents/patchEventsService.ts
  packages/shared/src/lib/patchEvents/patchEventsSlice.ts
  packages/shared/src/lib/patchEvents/types.ts
  packages/shared/src/lib/patches/patchSectionsSlice.ts
  packages/shared/src/lib/patches/patchService.ts
  packages/shared/src/lib/patches/patchesPreview.svelte.ts
  packages/shared/src/lib/patches/patchesSlice.ts
  packages/shared/src/lib/patches/types.ts
  packages/shared/src/lib/redux/store.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7480 Uncommit using rebase engine
  crates/but-core/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
Labels: rust

#7479 Move the lexical editor into a shared component
  apps/desktop/src/components/v3/editor/CommitMessageEditor.svelte
  apps/web/src/lib/chat/message.svelte.ts
  apps/web/src/lib/chat/richText.svelte.ts
  apps/web/src/lib/chat/suggestions.svelte.ts
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/MentionSuggestions.svelte
  packages/ui/package.json
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/old_RichTextEditor.svelte
  packages/ui/src/lib/richText/config/config.ts
  packages/ui/src/lib/richText/config/theme.ts
  packages/ui/src/lib/richText/css/component.css
  packages/ui/src/lib/richText/css/standard-theme.css
  packages/ui/src/lib/richText/node/emoji.ts
  packages/ui/src/lib/richText/plugins/emoji.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#7484 Make new commit api more flexible
  Cargo.lock
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/commit.rs
  crates/but-cli/src/main.rs
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/scenario/two-commits-three-buckets.sh
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#7481 sc-normal-text-commit-descriptions
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#7489 follow-up style fix for the code blocks
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/lib/components/chat/MessageCode.svelte
Labels: @gitbutler/web

#7487 sc-dynamic-favicons
  apps/web/src/app.html
  apps/web/src/lib/utils/faviconUtils.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/static/favicon/favicon-180x180.png
  apps/web/static/favicon/favicon-32x32.png
  apps/web/static/favicon/favicon-64x64.png
  apps/web/static/favicon/favicon-approved-64.png
  apps/web/static/favicon/favicon-approved.svg
  apps/web/static/favicon/favicon-in-discussion-64.png
  apps/web/static/favicon/favicon-in-discussion.svg
  apps/web/static/favicon/favicon-request-changes-64.png
  apps/web/static/favicon/favicon-request-changes.svg
  apps/web/static/favicon/favicon-unreviewed-64.png
  apps/web/static/favicon/favicon-unreviewed.svg
  apps/web/static/favicon/favicon.svg
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/patches/types.ts
Labels: @gitbutler/web

#7492 UI fixes 10
  apps/web/src/app.html
  apps/web/src/lib/utils/faviconUtils.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/static/favicon.ico
  apps/web/static/favicon/favicon-180.png
  apps/web/static/favicon/favicon-180x180.png
  apps/web/static/favicon/favicon-32.png
  apps/web/static/favicon/favicon-32x32.png
  apps/web/static/favicon/favicon-64.png
  apps/web/static/favicon/favicon-64x64.png
  apps/web/static/favicon/favicon-approved-64.png
  apps/web/static/favicon/favicon-approved.svg
  apps/web/static/favicon/favicon-in-discussion-64.png
  apps/web/static/favicon/favicon-in-discussion.svg
  apps/web/static/favicon/favicon-request-changes-64.png
  apps/web/static/favicon/favicon-request-changes.svg
  apps/web/static/favicon/favicon-unreviewed-64.png
  apps/web/static/favicon/favicon-unreviewed.svg
  apps/web/static/favicon/favicon.svg
Labels: @gitbutler/web

#7494 Unify a few similiar typescript types
  apps/desktop/src/components/BaseBranch.svelte
  apps/desktop/src/components/BranchFiles.svelte
  apps/desktop/src/components/BranchPreview.svelte
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/CommitList.svelte
  apps/desktop/src/components/CurrentSeries.svelte
  apps/desktop/src/components/EmptySeries.svelte
  apps/desktop/src/components/SeriesDividerLine.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/SeriesHeaderContextMenu.svelte
  apps/desktop/src/components/SeriesList.svelte
  apps/desktop/src/lib/branches/branch.ts
  apps/desktop/src/lib/commits/commit.ts
  packages/ui/src/lib/commitLines/CommitNode.svelte
  packages/ui/src/lib/commitLines/Line.svelte
  packages/ui/src/lib/commitLines/lineManager.ts
  packages/ui/src/lib/commitLines/types.ts
  packages/ui/src/lib/utils/getColorFromBranchType.ts
  packages/ui/src/lib/utils/string.test.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#7496 UI fixes 14
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  apps/web/src/lib/components/chat/PatchStatus.svelte
  apps/web/src/lib/components/infoFlexRow/Factoid.svelte
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/src/routes/(home)/components/Header.svelte
  apps/web/static/favicon/favicon-unreviewed-64.png
  apps/web/static/favicon/favicon-unreviewed.svg
Labels: @gitbutler/web

#7497 Fix: get_stack_status should not try to access commits in the gix in-memory odb using git2
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust

#7498 Re-arrange things in v3
  apps/desktop/src/components/BranchLabel.svelte
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/SeriesHeaderContextMenu.svelte
  apps/desktop/src/components/v3/Branch.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitGoesHere.svelte
  apps/desktop/src/components/v3/EmptyBranch.svelte
  apps/desktop/src/components/v3/NewBranchModal.svelte
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/ResizeableSplitLayout.svelte
  apps/desktop/src/components/v3/StackTab.svelte
  apps/desktop/src/components/v3/StackTabNew.svelte
  apps/desktop/src/components/v3/StackTabs.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/routes/[projectId]/workspace/+layout.svelte
  apps/desktop/src/routes/[projectId]/workspace/[stackId]/[branchName]/+layout.svelte
Labels: @gitbutler/desktop

#7500 just a casual commit
  apps/web/src/routes/(app)/auth/+page.svelte
Labels: @gitbutler/web

#7502 Fix reactivity in v3
  apps/desktop/src/components/ReduxResult.svelte
  apps/desktop/src/components/v3/Branch.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/StackDetailsFileList.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/routes/[projectId]/workspace/[stackId]/+page.svelte
  apps/desktop/src/routes/[projectId]/workspace/[stackId]/[branchName]/+layout.svelte
Labels: @gitbutler/desktop

#7503 remove inspect
  apps/web/src/lib/components/review/ReviewSections.svelte
Labels: @gitbutler/web

#7504 rich-text-porting
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/editor/CommitMessageEditor.svelte
  apps/web/src/lib/chat/mentions.ts
  apps/web/src/lib/chat/message.svelte.ts
  apps/web/src/lib/chat/richText.svelte.ts
  apps/web/src/lib/chat/suggestions.svelte.ts
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/MentionSuggestions.svelte
  packages/ui/package.json
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/old_RichTextEditor.svelte
  packages/ui/src/lib/richText/config/config.ts
  packages/ui/src/lib/richText/context.ts
  packages/ui/src/lib/richText/css/component.css
  packages/ui/src/lib/richText/css/standard-theme.css
  packages/ui/src/lib/richText/markdown.ts
  packages/ui/src/lib/richText/node/mention.ts
  packages/ui/src/lib/richText/plugins/Emoji.svelte
  packages/ui/src/lib/richText/plugins/Mention.svelte
  packages/ui/src/lib/richText/plugins/TypeAhead.svelte
  packages/ui/src/lib/richText/plugins/emoji.ts
  packages/ui/src/lib/richText/plugins/markdownTransition.svelte.ts
  packages/ui/src/lib/richText/plugins/onChange.svelte
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#7506 Remove editor-related things from desktop
  apps/desktop/package.json
  apps/desktop/src/components/v3/editor/CommitMessageEditor.svelte
  apps/desktop/src/lib/textEditor/LICENSE
  apps/desktop/src/lib/textEditor/config/component.css
  apps/desktop/src/lib/textEditor/config/config.ts
  apps/desktop/src/lib/textEditor/config/standard-theme.css
  apps/desktop/src/lib/textEditor/config/theme.ts
  apps/desktop/src/lib/textEditor/nodes/emojiNode.ts
  apps/desktop/src/lib/textEditor/plugins/emojiPlugin.ts
  packages/ui/package.json
  packages/ui/src/lib/richText/plugins/GiphyPlugin.svelte
  packages/ui/src/lib/richText/selection.ts
  packages/ui/src/lib/richText/tools/FormattingButton.svelte
  packages/ui/src/lib/richText/tools/FormattingPopup.svelte
  packages/ui/src/lib/utils/debounce.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui

#7511 interdiff-improvements
  apps/web/src/lib/components/review/ReviewSections.svelte
  packages/shared/src/lib/network/loadable.ts
  packages/shared/src/lib/patches/patchCommitsPreview.svelte.ts
  packages/shared/src/lib/patches/patchIdableService.ts
Labels: @gitbutler/web

#7512 Fix review sections not updating when update published
  apps/web/src/lib/components/chat/PatchVersion.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/review/reviewSections.svelte.ts
  packages/shared/src/lib/patchEvents/patchEventsService.ts
Labels: @gitbutler/web

#7513 Use trailers in base commits
  crates/gitbutler-stack/src/state.rs
Labels: rust

#7509 sc-fixup-profile
  apps/web/src/lib/user/userService.ts
  apps/web/src/routes/(app)/profile/+page.svelte
Labels: @gitbutler/web

#7514 cursor pointer on interdiff link
  apps/web/src/lib/components/chat/PatchVersion.svelte
Labels: @gitbutler/web

#7491 create a much more descriptive PR link to BRs
  apps/desktop/src/lib/forge/brToPrSync.svelte.ts
  apps/desktop/src/lib/forge/shared/prFooter.ts
Labels: @gitbutler/desktop

#7510 simple SSH key CRUD
  apps/desktop/src/components/v3/CommitLine.svelte
  apps/desktop/src/components/v3/HeaderMetaSection.svelte
  apps/desktop/src/lib/forge/shared/prFooter.ts
  apps/web/src/lib/components/AddSshKeyModal.svelte
  apps/web/src/lib/sshKeyService.ts
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/profile/+page.svelte
Labels: @gitbutler/desktop, @gitbutler/web

#7515 Delete the web prototype
  apps/web/src/routes/(app)/projects/[projectId]/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/+page.ts
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/+page.ts
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.ts
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/versions/+page.svelte
  apps/web/src/routes/(app)/projects/[projectId]/branches/[branchId]/versions/+page.ts
Labels: @gitbutler/web

#7516 illustration updates
  apps/desktop/src/components/v3/StackContentPlaceholder.svelte
  apps/desktop/src/lib/assets/illustrations/dependent-branch-tip.svg
  apps/desktop/src/lib/assets/illustrations/empty-stack-placeholder.svg
  apps/desktop/src/lib/assets/illustrations/independent-branch-tip.svg
  apps/desktop/src/lib/assets/illustrations/new-branch.svg
  apps/desktop/src/lib/assets/illustrations/select-a-commit-preview.svg
Labels: @gitbutler/desktop

#7519 Loading-states-in-project-settings
  apps/desktop/src/components/ButRequestCreationModal.svelte
  apps/desktop/src/components/CloudProjectSettings.svelte
Labels: @gitbutler/desktop

#7520 Use dropdown for visibility
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/+page.svelte
  packages/shared/src/lib/organizations/PermissionsSelector.svelte
  packages/shared/src/lib/organizations/projectService.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7528 New commit API: create snapshots
  Cargo.lock
  crates/but-cli/Cargo.toml
  crates/but-cli/src/command/commit.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#7527 Simplify all resizers
  apps/desktop/src/components/BranchLane.svelte
  apps/desktop/src/components/BranchPreview.svelte
  apps/desktop/src/components/Navigation.svelte
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ResizeableSplitLayout.svelte
  apps/desktop/src/components/v3/Stack.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/routes/[projectId]/base/+page.svelte
Labels: @gitbutler/desktop

#7529 mr poopy butthole mode: Emoji suggestions
  packages/ui/package.json
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/richText/node/emoji.ts
  packages/ui/src/lib/richText/plugins/Emoji.svelte
  packages/ui/src/lib/richText/plugins/EmojiSuggestions.svelte
  packages/ui/src/lib/richText/selection.ts
  packages/ui/src/lib/richText/tools/FormattingPopup.svelte
  pnpm-lock.yaml
Labels: @gitbutler/ui

#7531 web-ui-fixes
  apps/desktop/src/components/v3/editor/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/editor/EditorFooter.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/richText/css/component.css
  packages/ui/src/lib/richText/css/standard-theme.css
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#7533 Clipboard: Use the Tauri plugin for god's sake
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/lib/backend/clipboard.ts
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/capabilities/main.json
  crates/gitbutler-tauri/src/main.rs
  pnpm-lock.yaml
Labels: rust, @gitbutler/desktop

#7535 e-branch-122
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/branches/branchController.ts
  apps/desktop/src/lib/hunks/change.ts
  apps/desktop/src/lib/selection/changeSelection.svelte.ts
  apps/desktop/src/lib/selection/idSelection.svelte.ts
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
  packages/ui/src/lib/Modal.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#7536 Fix commit engine committing with multiple empty stacks
  crates/but-cli/src/command/commit.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/refs.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#7537 move-select-to-UI-package
  apps/desktop/src/components/AIPromptSelect.svelte
  apps/desktop/src/components/BaseBranchSwitch.svelte
  apps/desktop/src/components/BranchFilesList.svelte
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/CommitMessageInput.svelte
  apps/desktop/src/components/CommitSigningForm.svelte
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/components/PrTemplateSection.svelte
  apps/desktop/src/components/ProjectSetupTarget.svelte
  apps/desktop/src/components/ProjectSwitcher.svelte
  apps/desktop/src/components/ScrollableContainer.svelte
  apps/desktop/src/components/Scrollbar.svelte
  apps/desktop/src/components/SeriesLabels.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
  apps/desktop/src/components/v3/CommitMessageInput.svelte
  apps/desktop/src/lib/selection/idSelectionUtils.ts
  apps/desktop/src/lib/utils/hotkeys.ts
  apps/desktop/src/lib/utils/selection.ts
  apps/desktop/src/routes/settings/ai/+page.svelte
  apps/desktop/src/routes/settings/appearance/+page.svelte
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
  packages/ui/src/lib/scroll/Scrollbar.svelte
  packages/ui/src/lib/select/OptionsGroup.svelte
  packages/ui/src/lib/select/SearchItem.svelte
  packages/ui/src/lib/select/Select.svelte
  packages/ui/src/lib/select/SelectItem.svelte
  packages/ui/src/lib/utils/hotkeys.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#7540 commit-context-menu
  apps/desktop/src/components/v3/Branch.svelte
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitGoesHere.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/ReviewGoesHere.svelte
  apps/desktop/src/lib/branches/v3.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#7541 ui-update-inderdiff
  apps/web/src/lib/components/review/ReviewSections.svelte
  packages/ui/src/lib/Textbox.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/select/Select.svelte
  packages/ui/src/lib/select/SelectItem.svelte
  packages/ui/src/stories/select/Select.stories.svelte
Labels: @gitbutler/ui, @gitbutler/web

#7546 user service: match the data shape
  apps/web/src/lib/user/userService.ts
Labels: @gitbutler/web

#7548 emoji reactions: filter emojis with 0 reactions
  apps/web/src/lib/chat/reactions.ts
  apps/web/src/lib/components/chat/Message.svelte
Labels: @gitbutler/web

#7549 e-branch-132
  apps/web/src/lib/chat/message.svelte.ts
  apps/web/src/lib/chat/reply.svelte.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatInReplyTo.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/Event.svelte
  apps/web/src/lib/components/chat/Message.svelte
  packages/shared/src/lib/chat/types.ts
  packages/shared/src/lib/patchEvents/types.ts
Labels: @gitbutler/web

#7550 so hot fix: Deduplicate emojis
  packages/ui/src/lib/emoji/utils.ts
Labels: @gitbutler/ui

#7552 Profile settings: Receive reply notification emails
  apps/web/src/routes/(app)/profile/+page.svelte
  packages/shared/src/lib/settings/types.ts
Labels: @gitbutler/web

#7553 unclog toilet mode
  apps/web/src/lib/components/chat/MessageCode.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#7555 Use Claude Sonnet 3.7 and Node 22.14.0
  .nvmrc
  apps/desktop/src/lib/ai/types.ts
  apps/desktop/src/routes/settings/ai/+page.svelte
Labels: @gitbutler/desktop

#7560 Remove inner div from scrollable containers
  apps/desktop/src/components/Branches.svelte
  apps/desktop/src/components/ScrollableContainer.svelte
  apps/desktop/src/components/Scrollbar.svelte
  apps/desktop/src/routes/[projectId]/board/+page.svelte
  packages/ui/src/lib/scroll/ScrollableContainer.svelte
  packages/ui/src/lib/scroll/Scrollbar.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#7561 Fix for push button being visible all the time
  apps/desktop/src/components/BranchLane.svelte
  apps/desktop/src/components/Stack.svelte
Labels: @gitbutler/desktop

#7563 Fix the project popup
  apps/desktop/src/components/ProjectsPopup.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#7565 feat: Allow ignoring of errors when deleting references
  crates/gitbutler-stack/src/heads.rs
Labels: rust

#7574 Use issue-chooser when reporting issues through the menu (#7559)
  crates/gitbutler-tauri/src/menu.rs
Labels: rust

#7576 ui-fixes-15
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/components/review/Section.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/ui, @gitbutler/web

#7577 add version to patch list and patch view
  apps/web/src/lib/components/changes/BranchCommitsRow.svelte
  apps/web/src/lib/components/changes/BranchCommitsTable.svelte
  apps/web/src/lib/components/review/ReviewInfo.svelte
  apps/web/src/lib/components/table/types.ts
Labels: @gitbutler/web

#7578 Use libgit2 for logging butler requests
  crates/gitbutler-sync/src/stack_upload.rs
Labels: rust

#7558 Use the latest models from OpenAI
  apps/desktop/src/lib/ai/service.test.ts
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/lib/ai/types.ts
  apps/desktop/src/routes/settings/ai/+page.svelte
Labels: @gitbutler/desktop

#7579 Allow smaller than 25 rem sized branches
  apps/desktop/src/components/BranchLane.svelte
Labels: @gitbutler/desktop

#7580 new-hunk-diffs
  apps/desktop/src/components/BranchPreview.svelte
  apps/desktop/src/components/Branches.svelte
  apps/desktop/src/components/ConfigurableScrollableContainer.svelte
  apps/desktop/src/components/EditMode.svelte
  apps/desktop/src/components/FileCard.svelte
  apps/desktop/src/components/History.svelte
  apps/desktop/src/components/HunkDiff.svelte
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/components/ProjectsPopup.svelte
  apps/desktop/src/components/SettingsPage.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/routes/[projectId]/base/+page.svelte
  apps/desktop/src/routes/[projectId]/feed/+page.svelte
  apps/desktop/src/routes/[projectId]/feed/[postId]/+page.svelte
  packages/ui/src/lib/Checkbox.svelte
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#7583 Bump tauri plugin single instance
  Cargo.lock
  crates/gitbutler-tauri/Cargo.toml
Labels: rust

#7584 add the jobs link back
  apps/web/src/routes/(home)/components/Header.svelte
  apps/web/src/routes/(home)/data/links.json
Labels: @gitbutler/web

#7586 e-branch-141
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/diff/lineSelection.svelte.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/RichTextEditor.svelte
Labels: @gitbutler/ui, @gitbutler/web

#7587 review-sections-query-params
  apps/desktop/src/routes/[projectId]/+page.svelte
  apps/web/src/lib/components/changes/BranchCommitsRow.svelte
  apps/web/src/lib/components/chat/PatchVersion.svelte
  apps/web/src/lib/components/review/ReviewSections.svelte
  apps/web/src/lib/interdiffRangeQuery.svelte.ts
  apps/web/src/lib/redux/store.svelte.ts
  apps/web/src/lib/review/reviewSections.svelte.ts
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/patches/patchCommitsPreview.svelte.ts
  packages/shared/src/lib/patches/types.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7588 Fix range comparisons
  apps/web/src/lib/components/review/ReviewSections.svelte
Labels: @gitbutler/web

#7590 e-branch-142
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/routes/(app)/+layout.svelte
  packages/shared/src/lib/dom.ts
  packages/shared/src/lib/uploads/types.ts
  packages/shared/src/lib/uploads/uploadsService.ts
  packages/ui/src/lib/markdown/markdownRenderers/Image.svelte
  packages/ui/src/lib/richText/plugins/FileUpload.svelte
  packages/ui/src/lib/richText/selection.ts
Labels: @gitbutler/ui, @gitbutler/web

#7591 e-branch-144
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/ui/src/lib/RichTextEditor.svelte
  packages/ui/src/lib/richText/config/config.ts
Labels: @gitbutler/ui, @gitbutler/web

#7592 Simplify enter_edit_mode API
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/StackDetailsCommitHeader.svelte
  apps/desktop/src/lib/mode/modeService.ts
  crates/gitbutler-tauri/src/modes.rs
Labels: rust, @gitbutler/desktop

#7575 Run GPG in shell on Unix as well (#7467)
  crates/but-core/src/cmd.rs
  crates/but-rebase/src/commit.rs
Labels: rust

#7595 Assure empty commits are treated specifically when squashing (#7573)
  crates/gitbutler-branch-actions/src/squash.rs
Labels: rust

#7403 first steps for 'head-info'
  crates/but-core/src/ref_metadata.rs
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/head_info.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/scenario/one-commit-detached.sh
  crates/but-workspace/tests/fixtures/scenario/single-branch-10-commits-multi-segment.sh
  crates/but-workspace/tests/fixtures/scenario/single-branch-10-commits.sh
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/head_info.rs
  crates/but-workspace/tests/workspace/main.rs
  crates/but-workspace/tests/workspace/ref_metadata.rs
  crates/but-workspace/tests/workspace/utils.rs
Labels: rust

#7593 Fix the BR to PR sync
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/lib/forge/brToPrSync.svelte.ts
  apps/desktop/src/lib/forge/shared/prFooter.ts
Labels: @gitbutler/desktop

#7599 v3: Upstream update is not hardcoded
  apps/desktop/src/components/ChromeHeader.svelte
Labels: @gitbutler/desktop

#7601 Fix resizer zoom issue
  apps/desktop/src/components/Resizer.svelte
Labels: @gitbutler/desktop

#7564 dashboard-sidebar
  apps/desktop/src/components/BranchReviewButRequest.svelte
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/components/CreatePost.svelte
  apps/desktop/src/lib/forge/brToPrSync.svelte.ts
  apps/desktop/src/lib/forge/closedStateSync.svelte.ts
  apps/desktop/src/lib/forge/prToBrSync.svelte.ts
  apps/desktop/src/lib/project/projectCloudSync.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/feed/+page.svelte
  apps/web/src/lib/components/dashboard/DashboardLayout.svelte
  apps/web/src/lib/components/dashboard/DashboardSidebar.svelte
  apps/web/src/lib/components/dashboard/DashboardSidebarProject.svelte
  apps/web/src/lib/components/dashboard/DashboardSidebarProjects.svelte
  apps/web/src/lib/components/dashboard/DashboardSidebarReviews.svelte
  apps/web/src/lib/components/projects/ProjectIndexCard.svelte
  apps/web/src/lib/dashboard/sidebar.svelte.ts
  apps/web/src/lib/redux/store.svelte.ts
  apps/web/src/routes/(app)/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  packages/shared/src/lib/organizations/OrganizationModal.svelte
  packages/shared/src/lib/organizations/PermissionsSelector.svelte
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/projectsPreview.svelte.ts
  packages/shared/src/lib/organizations/recentlyInteractedProjectIds.ts
  packages/shared/src/lib/organizations/recentlyPushedProjectIds.ts
  packages/shared/src/lib/redux/store.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7602 Fix a bug where empty branches are incorrectly archived
  Cargo.lock
  crates/but-rebase/src/lib.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-stack/Cargo.toml
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-stack/tests/mod.rs
Labels: rust

#7600 fix the hot reload override
  apps/desktop/vite.config.ts
Labels: @gitbutler/desktop

#7603 sc-owner-project-user-stubs
  apps/desktop/src/lib/user/userService.ts
  apps/web/src/lib/components/OrganizationProfile.svelte
  apps/web/src/lib/components/ProjectsSection.svelte
  apps/web/src/lib/components/ReviewsSection.svelte
  apps/web/src/lib/components/UserProfile.svelte
  apps/web/src/lib/owner/ownerService.ts
  apps/web/src/lib/owner/types.ts
  apps/web/src/lib/user/userService.ts
  apps/web/src/lib/utils/dateUtils.ts
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/[ownerSlug]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/(app)/profile/+page.svelte
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/organizations/organizationService.ts
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/types.ts
  packages/shared/src/lib/users/types.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7604 Add baseCommit to StackBranch
  apps/desktop/src/lib/branches/v3.ts
  crates/but-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop

#7608 made web icons more contrast
  apps/web/static/favicon/favicon-180.png
  apps/web/static/favicon/favicon-32.png
  apps/web/static/favicon/favicon-64.png
  apps/web/static/favicon/favicon-approved-64.png
  apps/web/static/favicon/favicon-approved.svg
  apps/web/static/favicon/favicon-in-discussion-64.png
  apps/web/static/favicon/favicon-in-discussion.svg
  apps/web/static/favicon/favicon-request-changes-64.png
  apps/web/static/favicon/favicon-request-changes.svg
  apps/web/static/favicon/favicon-unreviewed-64.png
  apps/web/static/favicon/favicon-unreviewed.svg
  apps/web/static/favicon/favicon.svg
Labels: @gitbutler/web

#7607 Changes in branch API
  Cargo.lock
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/tags.ts
  crates/but-core/src/diff/ui.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#7605 refactor-services
  apps/desktop/src/components/ProjectConnectModal.svelte
  apps/desktop/src/routes/settings/organizations/+page.svelte
  apps/web/src/lib/redux/store.svelte.ts
  apps/web/src/routes/(app)/organizations/+page.svelte
  packages/shared/src/lib/branches/branchReviewListingsSlice.ts
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
  packages/shared/src/lib/branches/branchesSlice.ts
  packages/shared/src/lib/branches/latestBranchLookup.svelte.ts
  packages/shared/src/lib/branches/latestBranchLookupService.ts
  packages/shared/src/lib/branches/latestBranchLookupSlice.ts
  packages/shared/src/lib/chat/chatChannelsPreview.svelte.ts
  packages/shared/src/lib/chat/chatChannelsService.ts
  packages/shared/src/lib/chat/chatChannelsSlice.ts
  packages/shared/src/lib/feeds/feedsPreview.svelte.ts
  packages/shared/src/lib/feeds/service.ts
  packages/shared/src/lib/organizations/organizationService.ts
  packages/shared/src/lib/organizations/organizationsPreview.svelte.ts
  packages/shared/src/lib/organizations/organizationsSlice.ts
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/projectsPreview.svelte.ts
  packages/shared/src/lib/organizations/projectsSlice.ts
  packages/shared/src/lib/organizations/repositoryIdLookupPreview.svelte.ts
  packages/shared/src/lib/organizations/repositoryIdLookupService.ts
  packages/shared/src/lib/organizations/repositoryIdLookupsSlice.ts
  packages/shared/src/lib/patchEvents/patchEventsService.ts
  packages/shared/src/lib/patches/patchCommitService.ts
  packages/shared/src/lib/patches/patchCommitsPreview.svelte.ts
  packages/shared/src/lib/patches/patchCommitsSlice.ts
  packages/shared/src/lib/patches/patchIdableService.ts
  packages/shared/src/lib/patches/patchIdablesPreview.svelte.ts
  packages/shared/src/lib/patches/patchIdablesSlice.ts
  packages/shared/src/lib/redux/defaultSlices.ts
  packages/shared/src/lib/redux/store.svelte.ts
  packages/shared/src/lib/settings/notificationSettingsService.ts
  packages/shared/src/lib/settings/notificationSetttingsPreview.svelte.ts
  packages/shared/src/lib/settings/notificationSetttingsSlice.ts
  packages/shared/src/lib/users/userService.ts
  packages/shared/src/lib/users/usersPreview.svelte.ts
  packages/shared/src/lib/users/usersSlice.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7613 v3 branch header selection state
  apps/desktop/src/components/BranchLabel.svelte
  apps/desktop/src/components/v3/Branch.svelte
  apps/desktop/src/components/v3/BranchHeader.svelte
Labels: @gitbutler/desktop

#7610 Avoid unix BS
  apps/desktop/src/lib/forge/brToPrSync.svelte.ts
  apps/desktop/src/lib/forge/shared/prFooter.ts
  apps/desktop/src/lib/stores/tokenMemoryService.ts
Labels: @gitbutler/desktop

#7614 web review - fav icons update
  apps/web/static/favicon/favicon-180.png
  apps/web/static/favicon/favicon-32.png
  apps/web/static/favicon/favicon-64.png
  apps/web/static/favicon/favicon-approved-64.png
  apps/web/static/favicon/favicon-approved.svg
  apps/web/static/favicon/favicon-in-discussion-64.png
  apps/web/static/favicon/favicon-in-discussion.svg
  apps/web/static/favicon/favicon-request-changes-64.png
  apps/web/static/favicon/favicon-request-changes.svg
  apps/web/static/favicon/favicon-unreviewed-64.png
  apps/web/static/favicon/favicon-unreviewed.svg
  apps/web/static/favicon/favicon.svg
Labels: @gitbutler/web

#7617 Don't word diff long lines
  apps/desktop/src/components/HunkDiff.svelte
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#7619 don't include viewers, just reviewers
  apps/desktop/src/lib/forge/shared/prFooter.ts
Labels: @gitbutler/desktop

#7606 small holding page fixups
  apps/web/src/lib/components/ReviewsSection.svelte
  apps/web/src/lib/user/userService.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/+page.svelte
  packages/shared/src/lib/organizations/types.ts
Labels: @gitbutler/web

#7620 Reduce BRtoPR gh API load
  apps/desktop/src/lib/forge/brToPrSync.svelte.ts
  apps/desktop/src/lib/forge/shared/prFooter.ts
Labels: @gitbutler/desktop

#7621 Tiny refactor
  crates/gitbutler-tauri/src/diff.rs
Labels: rust

#7609 make the orgs page nicer
  apps/desktop/src/lib/forge/shared/prFooter.ts
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/routes/(app)/organizations/+page.svelte
  packages/shared/src/lib/branches/BranchStatusBadge.svelte
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/getBranchStatusBadge.ts
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/organizations/CreateOrganizationModal.svelte
  packages/shared/src/lib/organizations/JoinOrganizationModal.svelte
  packages/shared/src/lib/organizations/organizationService.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7625 chat: user mention suggestions changes
  apps/web/src/lib/chat/suggestions.svelte.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/users/types.ts
Labels: @gitbutler/web

#7623 Do not, ever, use login shells. (#7575)
  crates/but-core/src/cmd.rs
Labels: rust

#7615 use max_completion_tokens instead of max_tokens for OpenAI
  apps/desktop/package.json
  apps/desktop/src/lib/ai/openAIClient.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#7624 Combined review creation
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/ButRequestCreationModal.svelte
  apps/desktop/src/components/ReviewDetailsModal.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/lib/forge/getPr.svelte.ts
Labels: @gitbutler/desktop

#7629 Use login shell if it is a POSIX one
  crates/but-core/src/cmd.rs
Labels: rust

#7630 code quoting fix
  packages/ui/src/lib/utils/diffParsing.ts
Labels: @gitbutler/ui

#7632 perhaps-fix-the-thing-again
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/PrDetailsModalHeader.svelte
  apps/desktop/src/components/ReviewDetailsModal.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/lib/forge/brToPrSync.svelte.ts
  apps/desktop/src/lib/forge/github/githubPrMonitor.ts
  apps/desktop/src/lib/forge/github/githubPrService.ts
  apps/desktop/src/lib/forge/shared/prFooter.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#7633 Uncomment something that was seemingly commented out in error
  apps/desktop/src/components/SeriesHeader.svelte
Labels: @gitbutler/desktop

#7634 Correctly check if there is PR service before offering to create PRs
  apps/desktop/src/components/ReviewDetailsModal.svelte
Labels: @gitbutler/desktop

#7638 review-details-modal-updates
  apps/desktop/src/components/ReviewDetailsModal.svelte
Labels: @gitbutler/desktop

#7639 Enable pr and br creation by default
  apps/desktop/src/components/ReviewDetailsModal.svelte
Labels: @gitbutler/desktop

#7640 Add posthog captures back in
  apps/desktop/src/components/ReviewDetailsModal.svelte
Labels: @gitbutler/desktop

#7618 allows a username other than git when using an ssh key
  crates/gitbutler-repo/src/credentials.rs
Labels: rust

#7643 chat: Fix disappearing emojis
  packages/ui/src/lib/richText/plugins/EmojiSuggestions.svelte
  packages/ui/src/lib/richText/selection.ts
Labels: @gitbutler/ui

#7642 use mutation hook
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
  packages/shared/src/lib/utils/typeUtils.ts
Labels: @gitbutler/desktop

#7644 just use the reviewStatus value
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  packages/shared/src/lib/branches/getBranchStatusBadge.ts
Labels: @gitbutler/web

#7645 Fetch detaild patch stacks when required
  apps/desktop/src/components/BranchReviewButRequest.svelte
  apps/desktop/src/lib/forge/closedStateSync.svelte.ts
  apps/desktop/src/lib/forge/prToBrSync.svelte.ts
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/lib/components/table/TableRow.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7626 sc-org-reset-invites
  apps/web/src/lib/components/InviteLink.svelte
  apps/web/src/lib/components/OrganizationProfile.svelte
  apps/web/src/routes/(app)/organizations/invite/[slug]/[code]/+page.svelte
  packages/shared/src/lib/organizations/organizationService.ts
Labels: @gitbutler/web

#7647 web: Use the vercel adapter
  apps/web/package.json
  apps/web/svelte.config.js
  pnpm-lock.yaml
Labels: @gitbutler/web

#7649 Add position to branch table
  apps/web/src/lib/components/changes/BranchCommitsRow.svelte
  apps/web/src/lib/components/changes/BranchCommitsTable.svelte
  apps/web/src/lib/components/table/types.ts
Labels: @gitbutler/web

#7650 style: projects have cursor pointers
  apps/web/src/lib/components/dashboard/DashboardSidebarProject.svelte
Labels: @gitbutler/web

#7652 Refactor commit_by_oid_or_change_id
  crates/gitbutler-stack/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#7654 chat: Links open in a new tab
  apps/web/src/lib/components/chat/MessageMarkdownContent.svelte
  packages/ui/src/lib/link/Link.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Link.svelte
Labels: @gitbutler/ui, @gitbutler/web

#7637 fix: no hardcoded copyright year
  apps/web/src/routes/(home)/sections/Footer.svelte
Labels: @gitbutler/web

#7659 Proactively migrate change IDs to commit ids in the stack heads
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#7658 use mutation changes + some fixes
  apps/desktop/src/components/v3/CommitActions.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/v3/NewBranchModal.svelte
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/StackTabNew.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
Labels: @gitbutler/desktop

#7664 Include jobs link on mobile
  apps/web/src/routes/(home)/components/Header.svelte
Labels: @gitbutler/web

#7665 Allow filtering branches by status
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
  packages/shared/src/lib/branches/types.ts
Labels: @gitbutler/web

#7668 Fix switching PR type when BRs are disabled
  apps/desktop/src/components/ReviewDetailsModal.svelte
Labels: @gitbutler/desktop

#7663 push stack
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/lib/stacks/stack.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#7669 Exclude archived branches from the branch listing details
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#7670 push button: make it pop
  apps/desktop/src/components/v3/PushButton.svelte
Labels: @gitbutler/desktop

#7672 Fixes a bug where amending multiple files into a commit amends only one
  apps/desktop/src/lib/commits/dragActions.ts
Labels: @gitbutler/desktop

#7666 More Org API CRUD
  .github/workflows/test-e2e-playwright.yml
  .github/workflows/test-e2e-webdriver.yml
  apps/web/src/lib/components/OrganizationEditModal.svelte
  apps/web/src/lib/components/OrganizationProfile.svelte
  apps/web/src/lib/components/ProjectConnectModal.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/+page.svelte
  packages/shared/src/lib/organizations/organizationService.ts
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/types.ts
Labels: @gitbutler/web

#7597 discard changes
  .github/actions/check-crate/action.yaml
  .github/workflows/push.yaml
  Cargo.lock
  Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/src/diff/worktree.rs
  crates/but-core/src/lib.rs
  crates/but-core/src/unified_diff.rs
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/but-testsupport/src/lib.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/commit_engine/index.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/commit_engine/tree.rs
  crates/but-workspace/src/commit_engine/ui.rs
  crates/but-workspace/src/discard/function.rs
  crates/but-workspace/src/discard/mod.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/scenario/all-file-types-renamed-and-overwriting-existing.sh
  crates/but-workspace/tests/fixtures/scenario/delete-all-file-types-valid-submodule.sh
  crates/but-workspace/tests/fixtures/scenario/merge-with-two-branches-conflict.sh
  crates/but-workspace/tests/fixtures/scenario/modified-submodule-and-embedded-repo.sh
  crates/but-workspace/tests/fixtures/scenario/move-directory-into-sibling-file.sh
  crates/but-workspace/tests/fixtures/scenario/one-commit-detached.sh
  crates/but-workspace/tests/fixtures/scenario/replace-dir-with-submodule-with-file.sh
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/discard.rs
  crates/but-workspace/tests/workspace/main.rs
  crates/but-workspace/tests/workspace/utils.rs
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/benches/README.md
  crates/gitbutler-branch-actions/benches/branches.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-command-context/src/repository_ext.rs
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#7675 Empty states
  apps/web/src/routes/(app)/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/+page.svelte
Labels: @gitbutler/web

#7678 feat(zipper): update dependencies
  Cargo.lock
  crates/gitbutler-feedback/Cargo.toml
  crates/gitbutler-feedback/src/zipper/mod.rs
Labels: rust

#7679 refactor: make expressions with ignored results ideomatic
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#7680 match-branch-list-designs
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/organizations/projectsPreview.svelte.ts
  packages/shared/src/lib/organizations/repositoryIdLookupPreview.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#7681 save the referrer
  apps/web/src/hooks.server.ts
  apps/web/src/lib/cookies/attribution.ts
Labels: @gitbutler/web

#7687 Chat code quote: clicking on chat doesn't unselect the code
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
Labels: @gitbutler/ui, @gitbutler/web

#7688 implement commit minimap
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/lib/components/review/Minimap.svelte
  apps/web/src/lib/components/table/TableRow.svelte
  apps/web/src/lib/components/table/types.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#7689 simple link to supporter portal
  apps/web/src/routes/(app)/profile/+page.svelte
Labels: @gitbutler/web

#7691 File listitem small updates
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/file/FileListItemV3.svelte
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/desktop, @gitbutler/ui

#7692 statuses-with-badges
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/BranchCommitsRow.svelte
  apps/web/src/lib/components/table/TableRow.svelte
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  packages/ui/src/lib/CommitStatusBadge.svelte
Labels: @gitbutler/ui, @gitbutler/web

#7694 Make border radius M instead of L
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
Labels: @gitbutler/desktop

#7695 query: remove the hardcoded polling for now
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#7685 Use mutation: use tuples
  apps/desktop/src/components/v3/CommitActions.svelte
  apps/desktop/src/components/v3/CommitContextMenu.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/v3/NewBranchModal.svelte
  apps/desktop/src/components/v3/NewCommit.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/components/v3/StackTabNew.svelte
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/github/issueService.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#7696 feat: Refactor stack information retrieval
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/lib/stacks/stack.ts
  crates/but-workspace/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust, @gitbutler/desktop

#7698 minimap-tweaks
  apps/web/src/lib/components/review/Minimap.svelte
Labels: @gitbutler/web

#7697 Fix reactivity problem in pr polling
  apps/desktop/src/components/PullRequestPolling.svelte
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/forge/interface/forgePrService.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#7699 The "stack staus" API used before updating workspace now returns the worktree conflict state
  apps/desktop/src/lib/upstream/types.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.ts
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust, @gitbutler/desktop

#7701 Handle unhandled errors better
  apps/desktop/src/hooks.client.ts
  apps/desktop/src/lib/error/error.ts
  apps/desktop/src/lib/error/parser.ts
  apps/desktop/src/lib/error/typeguards.ts
Labels: @gitbutler/desktop

#7702 Add simple mutate hook to fix pr mutations
  apps/desktop/src/lib/forge/github/githubPrService.svelte.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#7703 Set `mergedIncorrectly` value correctly
  apps/desktop/src/components/SeriesHeader.svelte
Labels: @gitbutler/desktop

#7704 When the workspace status includes uncomitted conflicts return a list of filepaths
  apps/desktop/src/lib/upstream/types.ts
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust, @gitbutler/desktop

#7707 use fetch for refreshing
  apps/desktop/src/lib/forge/github/githubListingService.svelte.ts
Labels: @gitbutler/desktop
