Repository gitbutlerapp/gitbutler, pull requests merged in 2025-01, with the labels that each got.

#5876 fix: correct spelling of "ammended" to "amended" in tooltip
  apps/desktop/src/lib/commit/CommitCard.svelte
Labels: @gitbutler/desktop

#5878 UI-Update-button-and-tags
  apps/desktop/src/lib/branch/ActiveBranchStatus.svelte
  apps/desktop/src/lib/branch/BranchPreviewHeader.svelte
  apps/desktop/src/lib/commit/CommitsAccordion.svelte
  apps/desktop/src/lib/components/EditMode.svelte
  apps/desktop/src/lib/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/lib/components/PullRequestPreview.svelte
  apps/desktop/src/lib/components/SyncButton.svelte
  apps/desktop/src/lib/file/BranchFilesHeader.svelte
  apps/desktop/src/lib/file/FileCardHeader.svelte
  apps/desktop/src/lib/file/FileContextMenu.svelte
  apps/desktop/src/lib/file/FileStatusTag.svelte
  apps/desktop/src/lib/navigation/Branches.svelte
  apps/desktop/src/lib/navigation/TargetCard.svelte
  apps/desktop/src/lib/pr/PullRequestCard.svelte
  apps/desktop/src/lib/stack/CollapsedLane.svelte
  packages/shared/terrazzo.config.js
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/file/FileListItem.svelte
  packages/ui/src/lib/file/FileStatusBadge.svelte
  packages/ui/src/lib/popoverActions/PopoverActionsItem.svelte
  packages/ui/src/stories/badge/Badge.stories.svelte
  packages/ui/src/stories/button/Button.stories.svelte
  packages/ui/src/styles/core/design-tokens.css
  packages/ui/terrazzo.config.js
Labels: @gitbutler/desktop, @gitbutler/ui

#5880 Revert "Use correct js single line comment style"
  apps/desktop/src/lib/config/appSettingsV2.ts
Labels: @gitbutler/desktop

#5883 Fix glob pattern for http:allow-fetch permission
  crates/gitbutler-tauri/capabilities/main.json
Labels: rust

#5882 Exit app when last window is closed
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#5841 maybe fix 5839
  Cargo.lock
  Cargo.toml
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#5870 feat(header): enhance header controls with new actions and styles
  apps/desktop/src/lib/stack/header/HeaderControlSection.svelte
  apps/desktop/src/lib/stack/header/StackHeader.svelte
Labels: @gitbutler/desktop

#5885 Actually fix http permission for use with Ollama
  crates/gitbutler-tauri/capabilities/main.json
Labels: rust

#5884 Create re-usable file service for reading git blobs
  apps/desktop/src/lib/file/FileDiff.svelte
  apps/desktop/src/lib/files/file.ts
  apps/desktop/src/lib/files/fileService.ts
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  crates/gitbutler-repo/src/commands.rs
  crates/gitbutler-tauri/src/forge.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust, @gitbutler/desktop

#5890 Make it easier to pass diffs to list vbranch function
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/move_commits.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust, @gitbutler/desktop

#5898 Fix user profile loading
  apps/desktop/src/routes/settings/profile/+page.svelte
Labels: @gitbutler/desktop

#5900 fix: rendering of paths with underscore in them
  packages/ui/src/lib/file/FileListItem.svelte
Labels: @gitbutler/ui

#5899 `gix` for diff tree hunks
  crates/gitbutler-branch-actions/src/undo_commit.rs
  crates/gitbutler-diff/src/hunk.rs
  crates/gitbutler-oxidize/Cargo.toml
  crates/gitbutler-repo/src/rebase.rs
Labels: rust

#5903 Remove misleading err report
  crates/gitbutler-secret/src/secret.rs
Labels: rust

#5889 use `gix-status` for `create_wd_tree()`
  Cargo.lock
  Cargo.toml
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-project/src/lib.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-repo/tests/create_wd_tree.rs
  crates/gitbutler-repo/tests/fixtures/make_create_wd_tree_repos.sh
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-testsupport/src/testing_repository.rs
  crates/gitbutler-workspace/src/branch_trees.rs
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust

#5833 Introduce LoadableData type for organizations
  apps/desktop/src/lib/ai/butlerClient.ts
  apps/desktop/src/lib/ai/service.test.ts
  apps/desktop/src/lib/ai/service.ts
  apps/desktop/src/lib/backend/projectCloudSync.svelte.ts
  apps/desktop/src/lib/backend/projects.ts
  apps/desktop/src/lib/components/ShareIssueModal.svelte
  apps/desktop/src/lib/feeds/CreatePost.svelte
  apps/desktop/src/lib/feeds/Post.svelte
  apps/desktop/src/lib/settings/userPreferences/CloudProjectSettings.svelte
  apps/desktop/src/lib/settings/userPreferences/ProjectConnectModal.svelte
  apps/desktop/src/lib/stores/user.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/feed/+page.svelte
  apps/desktop/src/routes/[projectId]/feed/[postId]/+page.svelte
  apps/desktop/src/routes/settings/organizations/+page.svelte
  apps/web/src/lib/user/userService.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/organizations/+page.svelte
  apps/web/src/routes/projects/+page.svelte
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/stack/+page.svelte
  apps/web/src/routes/projects/[projectId]/branches/[branchId]/stack/[changeId]/+page.svelte
  apps/web/src/routes/repositories/[repositoryId]/+layout.svelte
  packages/shared/src/lib/cloud/repositories/service.ts
  packages/shared/src/lib/cloud/stacks/service.ts
  packages/shared/src/lib/feeds/feedsPreview.svelte.ts
  packages/shared/src/lib/feeds/service.ts
  packages/shared/src/lib/network/Loading.svelte
  packages/shared/src/lib/network/httpClient.ts
  packages/shared/src/lib/network/loadable.ts
  packages/shared/src/lib/network/types.ts
  packages/shared/src/lib/organizations/OrganizationModal.svelte
  packages/shared/src/lib/organizations/organizationService.ts
  packages/shared/src/lib/organizations/organizationsPreview.svelte.ts
  packages/shared/src/lib/organizations/organizationsSlice.ts
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/projectsPreview.svelte.ts
  packages/shared/src/lib/organizations/projectsSlice.ts
  packages/shared/src/lib/organizations/types.ts
  packages/shared/src/lib/reactiveUtils.svelte.ts
  packages/shared/src/lib/storeUtils.ts
  packages/shared/src/lib/users/types.ts
  packages/shared/src/lib/users/userService.ts
  packages/shared/src/lib/users/usersPreview.svelte.ts
  packages/shared/src/lib/users/usersSlice.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5913 make get_exclusive_tree public
  crates/gitbutler-branch-actions/src/commit_ops.rs
Labels: rust

#5914 Fix reordering commit when archived branch(es) exist
  crates/gitbutler-branch-actions/src/reorder.rs
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5923 Fix downloads: Filter out invalid releases
  apps/web/src/lib/types/releases.ts
  apps/web/src/routes/downloads/+page.ts
Labels: @gitbutler/web

#5922 Improve front end error handling
  apps/desktop/src/lib/error/error.ts
  apps/desktop/src/lib/error/knownErrors.ts
  apps/desktop/src/lib/error/typeguards.ts
  apps/desktop/src/lib/notifications/toasts.ts
  apps/desktop/src/lib/vbranches/branchController.ts
Labels: @gitbutler/desktop

#5909 Remove old patterns
  apps/desktop/src/lib/branch/SeriesHeader.svelte
  apps/desktop/src/lib/branch/cloudBranchCreationService.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  apps/desktop/src/routes/[projectId]/series/+page.svelte
  apps/desktop/src/routes/[projectId]/series/branches/[cloudBranchId]/+page.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/repositories/+page.svelte
  apps/web/src/routes/repositories/[repositoryId]/+layout.svelte
  apps/web/src/routes/repositories/[repositoryId]/+page.svelte
  apps/web/src/routes/repositories/[repositoryId]/branches/[cloudBranchId]/+page.svelte
  packages/shared/src/lib/cloud/repositories/service.ts
  packages/shared/src/lib/cloud/stacks/CloudBranchIndex.svelte
  packages/shared/src/lib/cloud/stacks/CloudBranchShow.svelte
  packages/shared/src/lib/cloud/stacks/service.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5911 add-new-stuff
  apps/desktop/src/lib/redux/store.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  apps/web/src/routes/+layout.svelte
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
  packages/shared/src/lib/branches/branchesSlice.ts
  packages/shared/src/lib/branches/patchSectionsSlice.ts
  packages/shared/src/lib/branches/patchService.ts
  packages/shared/src/lib/branches/patchesPreview.svelte.ts
  packages/shared/src/lib/branches/patchesSlice.ts
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/interest/registerInterestFunction.svelte.ts
  packages/shared/src/lib/redux/store.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5933 type: Login is of type string
  apps/web/src/lib/user/userService.ts
Labels: @gitbutler/web

#5934 Add skeleton page for the projects page
  apps/web/src/routes/repositories/+page.svelte
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/projectsPreview.svelte.ts
Labels: @gitbutler/web

#5937 Add some skeleton pages for the projects
  apps/web/src/routes/[ownerSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/types.ts
  apps/web/src/routes/repositories/+page.svelte
  packages/shared/src/lib/network/Loading.svelte
  packages/shared/src/lib/network/LoadingState.svelte
Labels: @gitbutler/web

#5939 ☠️ Review Commit skeletons ☠️
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/project/types.ts
  apps/web/src/routes/[ownerSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[commitId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[commitId]/+page.ts
Labels: @gitbutler/web

#5897 overhaul-squashing
  apps/desktop/src/lib/commits/dragActions.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/squash.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/branch.rs
  crates/gitbutler-branch-actions/tests/fixtures/squash.sh
  crates/gitbutler-branch-actions/tests/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-stack/src/stack_branch.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/undo.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#5894 Stop running hooks in commit function
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/vbranches/branchController.ts
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/locking.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust, @gitbutler/desktop

#5940 Refactor git commit hooks
  Cargo.lock
  apps/desktop/src/lib/commit/CommitDialog.svelte
  apps/desktop/src/lib/commit/CommitMessageInput.svelte
  apps/desktop/src/lib/hooks/hooksService.ts
  apps/desktop/src/lib/utils/fileStatus.ts
  apps/desktop/src/lib/vbranches/branchController.ts
  apps/desktop/src/lib/vbranches/types.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
  crates/gitbutler-branch-actions/src/hooks.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/tests/hooks.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-diff/src/hunk.rs
  crates/gitbutler-diff/src/write.rs
  crates/gitbutler-error/src/error.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/hooks.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-repo/src/staging.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/repo.rs
Labels: rust, @gitbutler/desktop

#5912 V3 Uncommitted Files, CLI and Filewatching
  Cargo.lock
  Cargo.toml
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/Cargo.toml
  crates/but-core/src/lib.rs
  crates/but-core/tests/core/main.rs
  crates/gitbutler-command-context/src/repository_ext.rs
  crates/gitbutler-commit/src/commit_ext.rs
  crates/gitbutler-diff/src/diff.rs
  crates/gitbutler-diff/src/write.rs
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-reference/src/refname/remote.rs
  crates/gitbutler-url/src/lib.rs
  crates/gitbutler-watcher/vendor/debouncer/src/lib.rs
Labels: rust

#5944 Don't leave empty branches when there are uncommited files
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5948 Fix stack uploading
  Cargo.lock
  crates/gitbutler-repo/src/commit_message.rs
  crates/gitbutler-repo/src/lib.rs
  crates/gitbutler-stack/src/state.rs
  crates/gitbutler-sync/Cargo.toml
  crates/gitbutler-sync/src/stack_upload.rs
Labels: rust

#5949 Simple Chat part I
  apps/desktop/src/lib/redux/store.svelte.ts
  apps/web/src/lib/components/chat/ChatInputProps.svelte
  apps/web/src/lib/components/chat/Message.svelte
  packages/shared/src/lib/chat/chatChannelsPreview.svelte.ts
  packages/shared/src/lib/chat/chatChannelsService.ts
  packages/shared/src/lib/chat/chatChannelsSlice.ts
  packages/shared/src/lib/chat/types.ts
  packages/shared/src/lib/redux/store.svelte.ts
  packages/shared/src/lib/utils/branding.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5951 Simple chat: Load and send messages
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#5953 v3 workspace crate
  Cargo.lock
  Cargo.toml
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/lib.rs
  crates/gitbutler-cli/src/command/prepare.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#5958 basic-data-on-skeleton
  apps/desktop/src/components/Navigation.svelte
  apps/desktop/src/lib/redux/store.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  apps/web/src/lib/components/Factoid.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/projects/OrganizationProjects.svelte
  apps/web/src/lib/components/projects/ProjectIndexCard.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/repositories/+page.svelte
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
  packages/shared/src/lib/branches/patchService.ts
  packages/shared/src/lib/branches/patchesPreview.svelte.ts
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/network/Loading.svelte
  packages/shared/src/lib/organizations/organizationsPreview.svelte.ts
  packages/shared/src/lib/organizations/repositoryIdLookupPreview.svelte.ts
  packages/shared/src/lib/organizations/repositoryIdLookupService.ts
  packages/shared/src/lib/organizations/repositoryIdLookupsSlice.ts
  packages/shared/src/lib/organizations/types.ts
  packages/shared/src/lib/redux/store.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5963 Undo frontend breaking change related to flatpak
  apps/desktop/src/lib/backend/tauri.ts
Labels: @gitbutler/desktop

#5964 Move delete all function into settings service
  apps/desktop/src/lib/backend/data.ts
  apps/desktop/src/lib/config/appSettingsV2.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/settings/profile/+page.svelte
  crates/gitbutler-project/src/controller.rs
  crates/gitbutler-project/tests/projects/main.rs
Labels: rust, @gitbutler/desktop

#5960 More chatty chats
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
  apps/web/src/lib/components/chat/ChatInputProps.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/branches/patchService.ts
  packages/shared/src/lib/chat/types.ts
Labels: @gitbutler/web

#5965 illustration-and-icons
  apps/desktop/src/components/CommitDialog.svelte
  apps/desktop/src/components/DropDownButton.svelte
  apps/desktop/src/lib/assets/empty-state/chat-welcome.svg
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#5969 Review: Display the change information, but make it ugly
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/components/review/Section.svelte
  apps/web/src/lib/components/review/TextSection.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/network/loadable.ts
Labels: @gitbutler/web

#5962 Use helper functions for routing
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/projects/ProjectIndexCard.svelte
  apps/web/src/lib/project/types.ts
  apps/web/src/lib/routing.ts
  apps/web/src/routes/[ownerSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @gitbutler/web

#5970 Add commit navigation
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
Labels: @gitbutler/web

#5976 Nice tables
  apps/desktop/src/routes/[projectId]/series/+page.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
  packages/shared/src/lib/branches/types.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5974 Display the reviewers information
  apps/web/src/lib/components/changes/ChangeStatus.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/utils/array.ts
Labels: @gitbutler/web

#5977 Patch approval button and navigation
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  apps/web/src/lib/components/review/ChangeNavigator.svelte
  apps/web/src/lib/routing.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#5979 Use branch UUIDs as the primary key
  apps/desktop/src/lib/redux/store.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
  packages/shared/src/lib/branches/latestBranchLookup.svelte.ts
  packages/shared/src/lib/branches/latestBranchLookupService.ts
  packages/shared/src/lib/branches/latestBranchLookupSlice.ts
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/network/loadable.ts
  packages/shared/src/lib/redux/store.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#5945 V3 Uncommitted Files, CLI and Filewatching (part 2)
  Cargo.lock
  Cargo.toml
  crates/but-cli/Cargo.toml
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/Cargo.toml
  crates/but-core/src/lib.rs
  crates/but-core/src/worktree.rs
  crates/but-core/tests/core/main.rs
  crates/but-core/tests/core/worktree.rs
  crates/but-core/tests/fixtures/worktree-changes-unix.sh
  crates/but-core/tests/fixtures/worktree-changes.sh
  crates/gitbutler-oplog/src/reflog.rs
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-serde/src/lib.rs
  crates/gitbutler-stack/src/stack.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/worktree/mod.rs
  crates/gitbutler-tauri/src/worktree/tests.rs
  crates/gitbutler-tauri/tests/fixtures/status_repo.sh
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#5988 quick-fix: Fix chat scrolling
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/ChatInput.svelte
Labels: @gitbutler/web

#5980 Remove old feature flag related to integrating upstream changes
  apps/desktop/src/components/PreferencesForm.svelte
  apps/desktop/src/lib/project/project.ts
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  crates/gitbutler-project/src/project.rs
  crates/gitbutler-project/src/storage.rs
Labels: rust, @gitbutler/desktop

#5989 quick-fix: Hunk diffs can scroll like expected
  apps/web/src/lib/components/review/DiffSection.svelte
Labels: @gitbutler/web

#5986 fix: disable in-app updater for flatpak
  apps/desktop/src/lib/backend/tauri.ts
Labels: @gitbutler/desktop

#5993 Project deletion
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/lib/project/project.ts
  apps/desktop/src/lib/project/projectCloudSync.svelte.ts
  apps/desktop/src/lib/project/projectsService.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  crates/gitbutler-project/src/storage.rs
  packages/shared/src/lib/organizations/projectService.ts
Labels: rust, @gitbutler/desktop, @gitbutler/web

#5992 Fix GitHub Authentication flow
  apps/desktop/src/components/GithubIntegration.svelte
  apps/desktop/src/lib/forge/github/githubUserService.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
Labels: @gitbutler/desktop

#5994 Factor out extra cruft
  apps/desktop/src/components/CloudProjectSettings.svelte
  packages/shared/src/lib/organizations/organizationsPreview.svelte.ts
  packages/shared/src/lib/organizations/projectsPreview.svelte.ts
Labels: @gitbutler/desktop

#5995 Only create project if required
  apps/desktop/src/components/BranchListingSidebarEntry.svelte
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/lib/user/user.ts
  apps/desktop/src/lib/user/userService.ts
  apps/desktop/src/routes/settings/profile/+page.svelte
  packages/shared/src/lib/users/types.ts
Labels: @gitbutler/desktop

#6004 nicer styles and new active reviews for project listing
  apps/web/src/lib/components/projects/ProjectIndexCard.svelte
  apps/web/src/routes/repositories/+page.svelte
  packages/shared/src/lib/organizations/types.ts
Labels: @gitbutler/web

#6003 Add types for consuming worktree changes on the frontend
  apps/desktop/src/lib/worktree/worktree.ts
  crates/gitbutler-tauri/src/worktree/mod.rs
  crates/gitbutler-tauri/src/worktree/tests.rs
Labels: rust, @gitbutler/desktop

#5990 When stack fully emptied, disreguard old PR information
  crates/gitbutler-stack/src/stack.rs
Labels: rust

#5999 Users can now add summaries
  apps/desktop/src/components/AddSeriesModal.svelte
  apps/desktop/src/components/BranchFilesList.svelte
  apps/desktop/src/components/BranchPreviewHeader.svelte
  apps/desktop/src/components/CommitCard.svelte
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitDialog.svelte
  apps/desktop/src/components/CommitMessageInput.svelte
  apps/desktop/src/components/ErrorSeries.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/GithubIntegration.svelte
  apps/desktop/src/components/IntegrateUpstreamModal.svelte
  apps/desktop/src/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/components/ProblemLoadingRepo.svelte
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/RemoveProjectForm.svelte
  apps/desktop/src/components/SeriesHeaderContextMenu.svelte
  apps/desktop/src/components/ShareIssueModal.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/lib/branches/branchController.ts
  apps/desktop/src/lib/project/projectsService.ts
  apps/desktop/src/lib/user/userService.ts
  apps/desktop/src/routes/settings/profile/+page.svelte
  apps/web/package.json
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/clipboard.ts
  packages/ui/package.json
  packages/ui/src/lib/toasts.ts
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#6001 Add button for disabling cloud functionality
  apps/desktop/src/components/CloudProjectSettings.svelte
  packages/ui/src/lib/AsyncButton.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#5991 Remove unused svelte components
  apps/desktop/src/components/BackButton.svelte
  apps/desktop/src/components/CloudSeriesButton.svelte
  apps/desktop/src/components/ExpandableSectionCard.svelte
  apps/desktop/src/components/InsertEmptyCommitAction.svelte
  apps/desktop/src/components/PassphraseBox.svelte
Labels: @gitbutler/desktop

#6002 Added project switcher
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/routes/+layout.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/projects/ProjectIndexCard.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/[ownerSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.ts
  packages/shared/src/lib/interest/registerInterestFunction.svelte.ts
  packages/shared/src/lib/organizations/organizationsPreview.svelte.ts
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/projectsPreview.svelte.ts
  packages/shared/src/lib/routing/webRoutes.svelte.ts
  packages/shared/src/lib/routing/webRoutes.ts
  packages/ui/src/lib/ContextMenu.svelte
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#6007 Fork V3 feature inside existing project route
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+page.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/board/+page.svelte
  apps/desktop/src/routes/[projectId]/workspace/[[branchId]]/+page.svelte
  apps/desktop/src/routes/project/[projectId]/+layout.svelte
  apps/desktop/src/routes/project/[projectId]/+layout.ts
  apps/desktop/src/routes/project/[projectId]/+page.svelte
Labels: @gitbutler/desktop

#6009 feat: rename StackEntry fields to camelCase for consistency
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#6008 Make WorktreeChange be TreeChange
  apps/desktop/src/lib/worktree/worktree.ts
  crates/but-core/src/lib.rs
  crates/but-core/src/worktree.rs
  crates/but-core/tests/core/worktree.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/worktree/mod.rs
  crates/gitbutler-tauri/src/worktree/tests.rs
Labels: rust, @gitbutler/desktop

#6015 Stop tmpfile from getting cleaned up before use
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#6017 oops. the api moved out from behind the proxy.
  apps/web/src/routes/downloads/+page.ts
Labels: @gitbutler/web

#6016 Compute upstream only commits withing the gitbutler-stack crate
  crates/gitbutler-stack/src/stack_branch.rs
Labels: rust

#6020 fix: rm flex-direction left over
  packages/ui/src/lib/Button.svelte
Labels: @gitbutler/ui

#6010 UI-minor-updates
  apps/desktop/src/components/SearchItem.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/ToggleButton.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/stories/toggleButton/ToggleButton.stories.svelte
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/desktop, @gitbutler/ui

#6021 Add ChangeState to the frontend TreeChange type
  apps/desktop/src/lib/worktree/worktree.ts
Labels: @gitbutler/desktop

#6019 Update-to-new-paths
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/lib/redux/store.svelte.ts
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/branches/branchReviewListingsSlice.ts
  packages/shared/src/lib/branches/branchService.ts
  packages/shared/src/lib/branches/branchesPreview.svelte.ts
  packages/shared/src/lib/branches/latestBranchLookup.svelte.ts
  packages/shared/src/lib/branches/latestBranchLookupService.ts
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/redux/store.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/web

#6022 feat: allow passing custom classes to `Button` component
  packages/ui/src/lib/Button.svelte
Labels: @gitbutler/ui

#6023 Add ability to change permissions on a PR
  apps/web/src/routes/[ownerSlug]/[projectSlug]/+page.svelte
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/organizations/projectService.ts
  packages/shared/src/lib/organizations/types.ts
  packages/shared/src/lib/permissions.ts
Labels: @gitbutler/web

#6026 v3 subscription API for worktree changes
  Cargo.lock
  apps/desktop/src/lib/worktree/worktree.ts
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-tauri/src/worktree/mod.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/events.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust, @gitbutler/desktop

#6027 feat: allow center aligning select dropdown options below select element
  apps/desktop/src/components/Select.svelte
  apps/desktop/src/components/SelectItem.svelte
Labels: @gitbutler/desktop

#5987 Get-Patch
  Cargo.lock
  Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/Cargo.toml
  crates/but-core/src/lib.rs
  crates/but-core/src/unified_diff.rs
  crates/but-core/src/worktree.rs
  crates/but-core/tests/core/main.rs
  crates/but-core/tests/core/unified_diff.rs
  crates/but-core/tests/core/worktree.rs
  crates/but-core/tests/fixtures/worktree-changes-unix.sh
  crates/but-core/tests/fixtures/worktree-changes.sh
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-serde/src/bstring.rs
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/worktree/mod.rs
  crates/gitbutler-tauri/src/worktree/tests.rs
Labels: rust

#6030 fix: `Select.svelte` options group pop-up centering implementation
  apps/desktop/src/components/Select.svelte
Labels: @gitbutler/desktop

#6034 fix: button classes
  packages/ui/src/lib/Button.svelte
Labels: @gitbutler/ui

#6032 Update v3 feature flag to use app settings file
  apps/desktop/src/lib/config/appSettingsV2.ts
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/board/+page.svelte
  apps/desktop/src/routes/[projectId]/workspace/[[branchId]]/+page.svelte
  apps/desktop/src/routes/settings/experimental/+page.svelte
  crates/gitbutler-settings/assets/defaults.jsonc
  crates/gitbutler-settings/src/api.rs
  crates/gitbutler-settings/src/app_settings.rs
  crates/gitbutler-settings/src/lib.rs
  crates/gitbutler-settings/src/persistence.rs
  crates/gitbutler-settings/src/watch.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/settings.rs
Labels: rust, @gitbutler/desktop

#6037 Adds frontend types for tree_change_diffs
  apps/desktop/src/lib/worktree/worktree.ts
Labels: @gitbutler/desktop

#6038 refactor: simplify telemetry and feature flags updates
  apps/desktop/src/lib/config/appSettingsV2.ts
Labels: @gitbutler/desktop

#6033 add blank slate message
  .gitignore
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/images/blank-chat.svg
Labels: @gitbutler/web

#6005 fix `Repository::ignore_large_files_in_diffs()` to not do anything if `0` is given.
  crates/gitbutler-command-context/src/repository_ext.rs
Labels: rust

#6028 Fix #6013
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#6036 File watcher only emits worktree changes if the v3 feature flag is enabled
  Cargo.lock
  crates/gitbutler-settings/src/watch.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-watcher/Cargo.toml
  crates/gitbutler-watcher/src/handler.rs
  crates/gitbutler-watcher/src/lib.rs
Labels: rust

#6041 refactor: improve documentation and type definitions in worktree.ts
  apps/desktop/src/lib/worktree/worktree.ts
Labels: @gitbutler/desktop

#6043 refactor: simplify tree_change_diffs to handle a single change
  apps/desktop/src/lib/worktree/worktree.ts
  crates/gitbutler-tauri/src/diff.rs
Labels: rust, @gitbutler/desktop

#6025 OG graph data for reviews
  apps/web/package.json
  apps/web/src/lib/fonts/NotoSans-Regular.ttf
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/og/+server.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/og/Card.svelte
  packages/shared/src/lib/branches/types.ts
  pnpm-lock.yaml
Labels: @gitbutler/web

#6045 feat: add lossy serialization for BString and collections
  crates/gitbutler-serde/src/lib.rs
Labels: rust

#6047 refactor: remove obsolete GC configuration handling code
  crates/gitbutler-command-context/src/lib.rs
Labels: rust

#6050 Lots of Review UI updates
  apps/web/.env
  apps/web/src/lib/components/branches/BranchIndexCard.svelte
  apps/web/src/lib/components/changes/ChangeIndexCard.svelte
  apps/web/src/lib/components/review/BranchStatusBadge.svelte
  apps/web/src/lib/components/review/CommitsGraph.svelte
  apps/web/src/lib/components/review/PatchReviewersGroup.svelte
  apps/web/src/lib/styles/global.css
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/og/+server.ts
  apps/web/static/fonts/NotoSans-Regular.ttf
  packages/shared/src/lib/branches/types.ts
  packages/ui/src/lib/Badge.svelte
  packages/ui/src/styles/components/review.css
  packages/ui/src/styles/main.css
Labels: @gitbutler/ui, @gitbutler/web

#6046 Add redux based service for stacks
  apps/desktop/src/lib/redux/api.ts
  apps/desktop/src/lib/redux/store.svelte.ts
  apps/desktop/src/lib/stacks/stack.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/reduxExample/+page.svelte
Labels: @gitbutler/desktop

#6048 Make async button spin while loading
  packages/ui/src/lib/AsyncButton.svelte
Labels: @gitbutler/ui

#6052 Sort stacks before returning them to the front end
  Cargo.lock
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/lib.rs
Labels: rust

#6031 Don't do anything when dropping a commit onto itself
  apps/desktop/src/lib/commits/dragActions.ts
  crates/gitbutler-branch-actions/src/squash.rs
Labels: rust, @gitbutler/desktop

#6054 Add basic tabs to the V3 workspace page
  apps/desktop/src/components/StackTabs.svelte
  apps/desktop/src/lib/routes/routes.svelte.ts
  apps/desktop/src/lib/tabs/mapping.ts
  apps/desktop/src/lib/tabs/tab.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/workspace/[[stackId]]/+page.svelte
Labels: @gitbutler/desktop

#6055 Refactore worktree.ts
  apps/desktop/src/lib/worktree/worktree.ts
Labels: @gitbutler/desktop

#5984 v3 stack branches endpoint WIP
  Cargo.lock
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/integrated.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#6059 ui-chrome-fixes
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/ChromeHeader.svelte
Labels: @gitbutler/desktop

#6062 fix: revert searchable minimum back to "> 5"
  apps/desktop/src/components/Select.svelte
Labels: @gitbutler/desktop

#6064 create_virtual_branch now returns StackEntry instead of just ID
  Cargo.lock
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/locking.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/reset_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/set_base_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_ownership.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
  crates/gitbutler-tauri/src/workspace.rs
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust

#6061 Ad-hoc update some npm packages
  apps/desktop/package.json
  apps/web/package.json
  package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/ui/package.json
  packages/ui/terrazzo.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#6035 Changes between trees
  Cargo.lock
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/Cargo.toml
  crates/but-core/src/commit.rs
  crates/but-core/src/diff/commit.rs
  crates/but-core/src/diff/mod.rs
  crates/but-core/src/diff/worktree.rs
  crates/but-core/src/lib.rs
  crates/but-core/src/unified_diff.rs
  crates/but-core/src/worktree.rs
  crates/but-core/tests/core/commit.rs
  crates/but-core/tests/core/diff/commit_changes.rs
  crates/but-core/tests/core/diff/mod.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/core/json_samples.rs
  crates/but-core/tests/core/main.rs
  crates/but-core/tests/core/unified_diff.rs
  crates/but-core/tests/core/worktree.rs
  crates/but-core/tests/fixtures/conflict-commits.sh
  crates/but-core/tests/fixtures/status-repo.sh
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/window.rs
  crates/gitbutler-tauri/src/worktree/mod.rs
  crates/gitbutler-tauri/src/worktree/tests.rs
  crates/gitbutler-tauri/tests/fixtures/status-repo.sh
  crates/gitbutler-tauri/tests/fixtures/status_repo.sh
  crates/gitbutler-tauri/tests/tauri/main.rs
  crates/gitbutler-watcher/src/events.rs
  crates/gitbutler-watcher/src/handler.rs
Labels: rust

#6072 feat(worktree): add pathBytes to TreeChange for data integrity
  apps/desktop/src/lib/worktree/worktree.ts
Labels: @gitbutler/desktop

#6069 Fix Signing
  Cargo.lock
  Cargo.toml
  apps/desktop/src/routes/+layout.svelte
  crates/gitbutler-repo/src/repository_ext.rs
  crates/gitbutler-tauri/src/env.rs
  crates/gitbutler-tauri/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#6074 Use goto over setting location
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
Labels: @gitbutler/web

#6075 Render-markdown-as-markdown
  apps/desktop/package.json
  apps/desktop/src/components/AnalyticsSettings.svelte
  apps/desktop/src/components/BranchPreview.svelte
  apps/desktop/src/components/CloudProjectSettings.svelte
  apps/desktop/src/components/CommitSigningForm.svelte
  apps/desktop/src/components/CredentialCheck.svelte
  apps/desktop/src/components/DialogBubble.svelte
  apps/desktop/src/components/KeysForm.svelte
  apps/desktop/src/components/Login.svelte
  apps/desktop/src/components/MarkdownContent.svelte
  apps/desktop/src/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/components/Post.svelte
  apps/desktop/src/components/PrDetailsModal.svelte
  apps/desktop/src/components/PullRequestPreview.svelte
  apps/desktop/src/components/SeriesHeader.svelte
  apps/desktop/src/components/ToastController.svelte
  apps/desktop/src/lib/utils/markdownRenderers.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/feed/[postId]/+page.svelte
  apps/desktop/src/routes/settings/git/+page.svelte
  apps/desktop/tsconfig.json
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/ui/package.json
  packages/ui/src/lib/link/Link.svelte
  packages/ui/src/lib/link/externalLinkService.ts
  packages/ui/src/lib/markdown/Markdown.svelte
  packages/ui/src/lib/markdown/MarkdownContent.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Blockquote.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Br.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Code.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Codespan.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Em.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Heading.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Html.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Image.svelte
  packages/ui/src/lib/markdown/markdownRenderers/List.svelte
  packages/ui/src/lib/markdown/markdownRenderers/ListItem.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Paragraph.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Strong.svelte
  packages/ui/src/lib/markdown/markdownRenderers/Text.svelte
  pnpm-lock.yaml
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#6066 refactor: remove unused ContextMenu components and styles
  apps/desktop/src/components/ContextMenu.svelte
  apps/desktop/src/components/ContextMenuItem.svelte
  apps/desktop/src/components/ContextMenuSection.svelte
Labels: @gitbutler/desktop

#6083 Make redux result component operate on result type
  apps/desktop/src/components/ReduxResult.svelte
  apps/desktop/src/components/StackTabs.svelte
  apps/desktop/src/components/WorktreeChanges.svelte
Labels: @gitbutler/desktop

#6086 Add stack_branches endpoint on the tauri api
  crates/but-workspace/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#6087 types-for-v3-stack-branches
  apps/desktop/src/lib/branches/v3.ts
  crates/but-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop

#6079 Fix patch navigation order
  apps/web/src/lib/components/review/ChangeNavigator.svelte
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
Labels: @gitbutler/web

#6085 Display the users that commented on a review
  apps/web/src/lib/components/review/ReviewInfo.svelte
  apps/web/src/lib/diffParsing.ts
  apps/web/src/routes/[ownerSlug]/[projectSlug]/reviews/[branchId]/commit/[changeId]/+page.svelte
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/chat/chatChannelsPreview.svelte.ts
  packages/shared/src/lib/utils/array.ts
Labels: @gitbutler/web

#6084 v3.chrome-fixes
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/FileCardHeader.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/ToggleButton.svelte
  packages/ui/src/styles/main.css
Labels: @gitbutler/desktop, @gitbutler/ui

#6089 Review info: Improve the review information
  apps/web/src/lib/components/changes/ChangeStatus.svelte
  apps/web/src/lib/components/review/ChangeActionButton.svelte
  apps/web/src/lib/components/review/ReviewInfo.svelte
  packages/shared/src/lib/branches/types.ts
  packages/ui/src/lib/Icon.svelte
  packages/ui/src/lib/avatar/AvatarGroup.svelte
Labels: @gitbutler/ui, @gitbutler/web

#6093 Fix shortcut service
  apps/desktop/src/lib/shortcuts/shortcutService.svelte.ts
Labels: @gitbutler/desktop

#6092 Fix some bugs with the stack_branches v3 api
  crates/but-workspace/src/lib.rs
Labels: rust

#6094 v3 stack branches: add author and createdAt info
  Cargo.lock
  apps/desktop/src/lib/branches/v3.ts
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/author.rs
  crates/but-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop

#6095 feat(sidebar): add keyboard shortcuts modal trigger button
  apps/desktop/src/components/ChromeSidebar.svelte
Labels: @gitbutler/desktop

#6096 Chat: Update the channel on web socket events
  apps/web/package.json
  apps/web/src/lib/chat/subscribe.svelte.ts
  apps/web/src/lib/chat/utils.ts
  apps/web/src/lib/components/ChatComponent.svelte
  pnpm-lock.yaml
Labels: @gitbutler/web

#6039 fix: don't hide app updater pop-up entirely in flatpak package
  apps/desktop/src/components/AppUpdater.svelte
  apps/desktop/src/components/AppUpdater.test.ts
  apps/desktop/src/lib/backend/tauri.ts
Labels: @gitbutler/desktop

#6099 fix: made keyboard shortcut list non-mac os friendly
  apps/desktop/src/components/KeyboardShortcutsModal.svelte
Labels: @gitbutler/desktop

#6100 Patch: Update the review type
  apps/desktop/src/lib/user/userService.ts
  apps/web/src/lib/components/review/PatchReviewersGroup.svelte
  apps/web/src/lib/components/review/ReviewInfo.svelte
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/chat/chatChannelsPreview.svelte.ts
  packages/shared/src/lib/chat/types.ts
  packages/shared/src/lib/feeds/service.ts
  packages/shared/src/lib/feeds/types.ts
  packages/shared/src/lib/users/types.ts
Labels: @gitbutler/desktop, @gitbutler/web

#6071 dont-display-stack-ids
  apps/desktop/src/components/BranchPreviewHeader.svelte
  apps/desktop/src/lib/branches/branchListing.ts
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/list_details.rs
Labels: rust, @gitbutler/desktop

#6073 Empty commits should have (need) change IDs
  crates/gitbutler-branch-actions/src/virtual.rs
Labels: rust

#6097 feat: add chrome sidebar functionality
  apps/desktop/src/components/ChromeSidebar.svelte
Labels: @gitbutler/desktop

#6101 Chat: Correctly update the channel
  apps/web/src/lib/chat/subscribe.svelte.ts
  apps/web/src/lib/chat/subscribe.ts
  apps/web/src/lib/components/ChatComponent.svelte
Labels: @gitbutler/web

#6104 stupid regex
  apps/web/src/lib/diffParsing.ts
Labels: @gitbutler/web

#6105 specify components layer correctly
  packages/ui/src/styles/main.css
Labels: @gitbutler/ui

#6107 Svelte config: Fix the css compiler options
  apps/web/svelte.config.js
Labels: @gitbutler/web

#6108 fix: lint error in svelte config
  apps/web/svelte.config.js
Labels: @gitbutler/web

#6111 Add debugging utilities
  Cargo.lock
  Cargo.toml
  crates/but-debugging/Cargo.toml
  crates/but-debugging/src/lib.rs
  crates/but-debugging/tests/core/main.rs
  crates/gitbutler-branch-actions/Cargo.toml
Labels: rust

#6113 fix-leaving-edit-mode
  Cargo.lock
  Cargo.toml
  crates/but-debugging/src/lib.rs
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-edit-mode/Cargo.toml
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-edit-mode/tests/edit_mode.rs
  crates/gitbutler-edit-mode/tests/fixtures/edit_mode.sh
  crates/gitbutler-feedback/Cargo.toml
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-project/Cargo.toml
  crates/gitbutler-repo/Cargo.toml
  crates/gitbutler-stack/Cargo.toml
  crates/gitbutler-testsupport/Cargo.toml
  crates/gitbutler-user/Cargo.toml
Labels: rust

#6117 Add new `icon` size to the button component
  packages/ui/src/lib/Button.svelte
  packages/ui/src/stories/button/AllButton.stories.svelte
  packages/ui/src/stories/button/Button.stories.svelte
Labels: @gitbutler/ui

#6080 feat: allow `ContextMenu.svelte` to open on all sides
  apps/desktop/src/components/ChromeSidebar.svelte
  packages/ui/src/lib/ContextMenu.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#6118 Chat: Reverse messages
  apps/web/src/lib/components/ChatComponent.svelte
  packages/shared/src/lib/chat/chatChannelsService.ts
Labels: @gitbutler/web

#6119 Simplify tree building when leaving edit mode
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-repo/src/repository_ext.rs
Labels: rust

#6124 Fix to open web on a mobile browser
  apps/web/package.json
Labels: @gitbutler/web

#6125 fix: ChromeHeader absolute positioned element bug
  apps/desktop/src/components/ChromeHeader.svelte
Labels: @gitbutler/desktop

#6126 fix universal-diff generation
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/core/json_samples.rs
  crates/but-core/tests/core/unified_diff.rs
Labels: rust

#6130 style fix: Fix the positioning of messages in chat
  apps/web/src/lib/components/ChatComponent.svelte
Labels: @gitbutler/web

#6129 properly fix the double-newline issue
  Cargo.lock
  Cargo.toml
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/core/json_samples.rs
  crates/but-core/tests/core/unified_diff.rs
  crates/but-workspace/Cargo.toml
  crates/gitbutler-branch-actions/src/branch.rs
  crates/gitbutler-sync/src/stack_upload.rs
Labels: rust

#6131 Adjust v3 chrome spacing
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
Labels: @gitbutler/desktop

#6123 improvements related to 6120
  crates/gitbutler-project/src/controller.rs
Labels: rust

#6132 Chat: Display patch events
  apps/web/src/lib/chat/subscribe.ts
  apps/web/src/lib/chat/utils.ts
  apps/web/src/lib/components/ChatComponent.svelte
  apps/web/src/lib/components/chat/Event.svelte
  apps/web/src/lib/components/chat/IssueUpdate.svelte
  apps/web/src/lib/components/chat/Message.svelte
  apps/web/src/routes/+layout.svelte
  packages/shared/src/lib/branches/patchEventsService.ts
  packages/shared/src/lib/branches/patchEventsSlice.ts
  packages/shared/src/lib/branches/patchesPreview.svelte.ts
  packages/shared/src/lib/branches/types.ts
  packages/shared/src/lib/chat/chatChannelsService.ts
  packages/shared/src/lib/redux/store.svelte.ts
  packages/shared/src/lib/users/types.ts
Labels: @gitbutler/web

#6128 Move HunkDiff into UI package
  apps/web/package.json
  apps/web/src/lib/components/review/DiffSection.svelte
  apps/web/src/lib/diffParsing.ts
  packages/ui/package.json
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/utils/diffParsing.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: @gitbutler/ui, @gitbutler/web

#6077 hunk dependencies
  Cargo.lock
  Cargo.toml
  crates/but-cli/Cargo.toml
  crates/but-cli/src/args.rs
  crates/but-cli/src/command/mod.rs
  crates/but-cli/src/main.rs
  crates/but-core/src/diff/worktree.rs
  crates/but-core/src/lib.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/core/json_samples.rs
  crates/but-hunk-dependency/Cargo.toml
  crates/but-hunk-dependency/src/input.rs
  crates/but-hunk-dependency/src/lib.rs
  crates/but-hunk-dependency/src/ranges/hunk.rs
  crates/but-hunk-dependency/src/ranges/mod.rs
  crates/but-hunk-dependency/src/ranges/paths.rs
  crates/but-hunk-dependency/src/ranges/tests/mod.rs
  crates/but-hunk-dependency/src/ranges/tests/path.rs
  crates/but-hunk-dependency/src/ranges/tests/path_utilities.rs
  crates/but-hunk-dependency/src/ranges/tests/workspace.rs
  crates/but-hunk-dependency/src/utils.rs
  crates/but-hunk-dependency/tests/fixtures/branch-states.sh
  crates/but-hunk-dependency/tests/fixtures/dependencies.sh
  crates/but-hunk-dependency/tests/hunk_dependency/main.rs
  crates/but-hunk-dependency/tests/hunk_dependency/query_workspace_ranges.rs
  crates/but-hunk-dependency/tests/hunk_dependency/workspace_dependencies.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/dependencies.rs
  crates/gitbutler-branch-actions/tests/branch.rs
  crates/gitbutler-branch-actions/tests/dependencies.rs
  crates/gitbutler-branch-actions/tests/fixtures/dependencies.sh
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-commit/Cargo.toml
  crates/gitbutler-commit/src/commit_headers.rs
  crates/gitbutler-tauri/Cargo.toml
  crates/gitbutler-tauri/src/diff.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/workspace.rs
  crates/gitbutler-tauri/tests/tauri/diff.rs
  crates/gitbutler-tauri/tests/tauri/main.rs
  crates/gitbutler-tauri/tests/tauri/workspace.rs
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#6135 web-ui-fixes-nav-and-layout
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/routes/[projectId]/workspace/[[stackId]]/+page.svelte
  apps/web/src/lib/components/Navigation.svelte
  apps/web/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  apps/web/src/lib/styles/fonts.css
  apps/web/src/lib/styles/reset.css
  apps/web/src/routes/+layout.svelte
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/ContextMenu.svelte
  packages/ui/src/lib/NotificationButton.svelte
  packages/ui/src/stories/notificationButton/NotificationButton.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web
