Repository gitbutlerapp/gitbutler, pull requests merged in 2025-09, with the labels that each got.

#10035 Ignore keyboard navigation when focused on content editable div
  apps/desktop/src/lib/focus/focusManager.ts
Labels: @gitbutler/desktop

#10039 fix: broke focusManager content editable check
  apps/desktop/src/lib/focus/focusManager.ts
  apps/desktop/src/lib/focus/utils.ts
Labels: @gitbutler/desktop

#10038 Get the thinking level working
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/types.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/lib.rs
  crates/gitbutler-tauri/src/claude.rs
Labels: rust, @gitbutler/desktop

#10041 Grey out stacked branches which are note hte head
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntryDisabled.svelte
Labels: @gitbutler/desktop

#10042 Implement "Open in workspace"
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/MultiStackView.svelte
  apps/desktop/src/components/WorkspaceView.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/routes/[projectId]/workspace/+page.svelte
Labels: @gitbutler/desktop

#10044 Add branch creation to codegen page
  apps/desktop/src/components/CreateBranchModal.svelte
  apps/desktop/src/components/MultiStackCreateNew.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#10046 Show branch file list in Codegen sidebar
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#10051 codegen-ui-edits-5
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/codegen/CodegenAssistantMessage.svelte
  apps/desktop/src/components/codegen/CodegenClaudeMessage.svelte
  apps/desktop/src/components/codegen/CodegenMessage.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenServiceMessage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/components/codegen/CodegenToolCall.svelte
  apps/desktop/src/components/codegen/CodegenToolCalls.svelte
  apps/desktop/src/components/codegen/CodegenUserMessage.svelte
  packages/ui/src/styles/sharable/markdown.css
Labels: @gitbutler/desktop, @gitbutler/ui

#10053 Move focus manager to ui package
  apps/desktop/src/components/AuthorizationBanner.svelte
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/BranchesView.svelte
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/CloudForm.svelte
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/DetailsForm.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/FocusCursor.svelte
  apps/desktop/src/components/GitForm.svelte
  apps/desktop/src/components/GithubIntegration.svelte
  apps/desktop/src/components/KeysForm.svelte
  apps/desktop/src/components/MainViewport.svelte
  apps/desktop/src/components/MultiStackOfflaneDropzone.svelte
  apps/desktop/src/components/PreferencesForm.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/components/SettingsPages.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/components/branchesPage/BranchesCardTemplate.svelte
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebar.svelte
  apps/desktop/src/components/profileSettings/AiSettings.svelte
  apps/desktop/src/components/profileSettings/GeneralSettings.svelte
  apps/desktop/src/components/profileSettings/GitSettings.svelte
  apps/desktop/src/components/projectSettings/AppearanceSettings.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/floating/FloatingModal.svelte
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/history/+page.svelte
  packages/ui/src/lib/focus/focusManager.ts
  packages/ui/src/lib/focus/focusable.ts
  packages/ui/src/lib/focus/tabbable.ts
  packages/ui/src/lib/focus/utils.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10055 Fix SVG printing by 'removing' some invalid character in the multi-house emoji
  crates/but-graph/src/debug.rs
  crates/but-graph/src/segment.rs
  crates/but-graph/tests/graph/init/mod.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-graph/tests/graph/vis.rs
Labels: rust

#10049 fix a panic in graph post-processing
  crates/but-graph/src/init/post.rs
  crates/but-workspace/tests/workspace/branch/create_reference.rs
Labels: rust

#10056 Handle app restarts
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/messages.ts
  apps/desktop/src/lib/state/tags.ts
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/bridge.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-tauri/src/claude.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#10057 Remove app_settings superfluous state from App
  Cargo.lock
  crates/but-action/src/reword.rs
  crates/but-api/src/commands/claude.rs
  crates/but-api/src/commands/diff.rs
  crates/but-api/src/commands/git.rs
  crates/but-api/src/commands/github.rs
  crates/but-api/src/commands/modes.rs
  crates/but-api/src/commands/repo.rs
  crates/but-api/src/commands/rules.rs
  crates/but-api/src/commands/settings.rs
  crates/but-api/src/commands/stack.rs
  crates/but-api/src/commands/undo.rs
  crates/but-api/src/commands/virtual_branches.rs
  crates/but-api/src/commands/workspace.rs
  crates/but-api/src/lib.rs
  crates/but-feedback/Cargo.toml
  crates/but-feedback/src/lib.rs
  crates/but-server/src/lib.rs
  crates/but-server/src/projects.rs
  crates/but/src/mcp/mod.rs
  crates/but/src/mcp_internal/stack.rs
  crates/but/src/mcp_internal/status.rs
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-cli/src/command/project.rs
  crates/gitbutler-cli/src/command/vbranch.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/bot.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/projects.rs
  crates/gitbutler-tauri/src/settings.rs
  crates/gitbutler-tauri/src/window.rs
Labels: rust

#10059 Add auto-commit setting for Claude Code
  apps/desktop/cypress/e2e/support/mock/settings.ts
  apps/desktop/src/components/codegen/ClaudeCodeSettingsModal.svelte
  apps/desktop/src/lib/config/appSettingsV2.ts
  crates/but-claude/src/hooks/mod.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
Labels: rust, @gitbutler/desktop

#10062 Prompt templates :D
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/types.ts
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/lib.rs
  crates/but-claude/src/prompt_templates.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-tauri/src/claude.rs
  crates/gitbutler-tauri/src/main.rs
  packages/ui/src/lib/components/ContextMenu.svelte
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#10069 codegen-ui-6
  apps/desktop/src/components/BranchView.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/components/codegen/CodegenToolCall.svelte
  apps/desktop/src/components/codegen/CodegenToolCalls.svelte
  apps/desktop/src/lib/utils/codegenTools.ts
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#10070 improve changeset computation time limit
  crates/but-workspace/src/changeset.rs
Labels: rust

#10064 Add secret keybind to toggle codegen feature
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#10081 Link commit lists and file lists
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/FileList.svelte
  packages/ui/src/lib/focus/focusManager.ts
  packages/ui/src/lib/focus/focusable.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10084 codegen-ui-updates-7
  apps/desktop/src/components/FeedItem.svelte
  apps/desktop/src/components/codegen/CodegenAssistantMessage.svelte
  apps/desktop/src/components/codegen/CodegenClaudeMessage.svelte
  apps/desktop/src/components/codegen/CodegenInput.svelte
  apps/desktop/src/components/codegen/CodegenServiceMessage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/components/codegen/CodegenToolCall.svelte
  apps/desktop/src/components/codegen/CodegenToolCalls.svelte
  packages/ui/src/lib/assets/but-agent.svg
  packages/ui/src/lib/components/AgentAvatar.svelte
  packages/ui/src/lib/components/ButPcAvatar.svelte
  packages/ui/src/lib/index.ts
  packages/ui/src/lib/utils/transitions.ts
  packages/ui/src/stories/components/ButPcAvatar.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#10087 feat(focus): unify and extend focusable regions across UI
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchHeader.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/routes/+layout.svelte
  packages/ui/src/lib/focus/focusManager.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10092 Remove unnecessary focusable regions
  apps/desktop/src/components/BranchesView.svelte
  apps/desktop/src/components/MainViewport.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#10103 Remove `rust_2018_idioms` declarations
  crates/but-core/src/lib.rs
  crates/but-hunk-dependency/src/lib.rs
  crates/but-testing/src/main.rs
  crates/gitbutler-filemonitor/src/lib.rs
  crates/gitbutler-repo/src/commit_message.rs
  crates/gitbutler-sync/src/stack_upload.rs
  crates/gitbutler-testsupport/src/lib.rs
  crates/gitbutler-watcher/src/lib.rs
Labels: rust

#10091 Fix invalid transcripts
  crates/but-claude/src/bridge.rs
Labels: rust

#10090 Disallow commands
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#10089 Ai rules :D
  apps/desktop/cypress.config.ts
  apps/desktop/cypress/e2e/branchActions.cy.ts
  apps/desktop/cypress/e2e/branches.cy.ts
  apps/desktop/cypress/e2e/commitActions.cy.ts
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/cypress/e2e/fileTree.cy.ts
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/cypress/e2e/upstreamIntegration.cy.ts
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchHeader.svelte
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/codegen/dropzone.ts
  apps/desktop/src/lib/dragging/draggables.ts
  apps/desktop/src/lib/rules/rule.ts
  apps/desktop/src/lib/rules/rulesService.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  apps/web/src/routes/(app)/+layout.svelte
  packages/shared/src/lib/branches/Minimap.svelte
  packages/ui/src/lib/components/Link.svelte
  packages/ui/src/lib/utils/externalLinkService.ts
Labels: rust, @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#10111 Reduce file watcher debounce timeout from 250ms to 50ms (non-windows)
  crates/gitbutler-filemonitor/src/file_monitor.rs
Labels: rust

#10116 Handle unhandled claude exceptions better
  apps/desktop/src/lib/codegen/messages.ts
  apps/desktop/src/lib/codegen/types.ts
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/lib.rs
Labels: rust, @gitbutler/desktop

#10120 Add open in editor button
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#10123 Add desktop README with run instructions for the server
  apps/desktop/README.md
Labels: @gitbutler/desktop

#10125 branch-filtering to limit workspace view
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/legacy.rs
Labels: rust

#10130 codegen-ui-updates-10
  apps/desktop/src/components/BranchHeaderIcon.svelte
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntryDisabled.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#10132 fix(macros): make generated struct and wrapper function private
  crates/but-api-macros/src/lib.rs
  crates/but-api/src/lib.rs
  crates/but/src/init/mod.rs
Labels: rust

#10133 ui-fixes-131
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/BranchesView.svelte
  apps/desktop/src/components/BranchesViewBranch.svelte
  apps/desktop/src/components/BranchesViewStack.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  packages/ui/src/lib/components/hunkDiff/HunkDiff.svelte
  packages/ui/src/lib/components/scroll/ScrollableContainer.svelte
  packages/ui/src/stories/components/HunkDiff.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#10138 feat(ui): fullWidth prop to CodegenToolCall to allow expanded
  apps/desktop/src/components/codegen/CodegenToolCall.svelte
  apps/desktop/src/components/codegen/CodegenToolCalls.svelte
Labels: @gitbutler/desktop

#10149 chore: upgrade posthog-js to 1.261.7
  apps/desktop/package.json
  pnpm-lock.yaml
Labels: @gitbutler/desktop

#10153 Add custom PostHog events for onboarding flow
  apps/desktop/src/components/AnalyticsConfirmation.svelte
  apps/desktop/src/components/CloneForm.svelte
  apps/desktop/src/components/ProjectSetup.svelte
  apps/desktop/src/components/Welcome.svelte
  apps/desktop/src/components/WelcomeSigninAction.svelte
  apps/desktop/src/lib/analytics/posthog.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#10154 fix(context-menu): fix repositioning on right click
  packages/ui/src/lib/components/ContextMenu.svelte
  packages/ui/src/stories/components/ContextMenu.stories.svelte
Labels: @gitbutler/ui

#10156 Make CC experimental setting public
  apps/desktop/src/components/profileSettings/ExperimentalSettings.svelte
Labels: @gitbutler/desktop

#10160 Simplify focusables further
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/BranchHeader.svelte
  apps/desktop/src/components/BranchesView.svelte
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/MainViewport.svelte
  apps/desktop/src/components/SettingsModalLayout.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenSidebar.svelte
  apps/desktop/src/routes/[projectId]/history/+page.svelte
  packages/ui/src/lib/components/Modal.svelte
  packages/ui/src/lib/focus/focusManager.ts
  packages/ui/src/lib/focus/focusable.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10176 Make PostHog init method idempotent
  apps/desktop/src/lib/analytics/posthog.ts
Labels: @gitbutler/desktop

#10177 Disable analytics metrics init on CI
  apps/desktop/src/lib/analytics/analytics.ts
Labels: @gitbutler/desktop

#10172 Only reveal keyboard nav cursor on pressing a keyboard nav button
  packages/ui/src/lib/focus/focusManager.ts
Labels: @gitbutler/ui

#10178 refactor(branch header): remove extra buttons
  apps/desktop/src/components/BranchList.svelte
Labels: @gitbutler/desktop

#10179 Fix calling hooks
  crates/but-claude/src/bridge.rs
Labels: rust

#10182 Stop session details errors
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/claude_transcript.rs
  crates/but-server/src/lib.rs
Labels: rust

#10162 Timer loading state improvements
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenServiceMessage.svelte
  apps/desktop/src/components/codegen/CodegenServiceMessageThinking.svelte
  apps/desktop/src/components/codegen/CodegenServiceMessageUseTool.svelte
  apps/desktop/src/lib/codegen/messages.ts
  crates/but-claude/src/lib.rs
  crates/but-claude/src/mcp.rs
Labels: rust, @gitbutler/desktop

#10185 codegen-ui-updates-11
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/codegen/CodegenAssistantMessage.svelte
  apps/desktop/src/components/codegen/CodegenServiceMessage.svelte
  apps/desktop/src/components/codegen/CodegenServiceMessageUseTool.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/components/codegen/CodegenToolCall.svelte
  apps/desktop/src/components/codegen/CodegenUserMessage.svelte
  packages/ui/src/lib/components/ButPcAvatar.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#10166 Rename IdSelection to FileSelection
  apps/desktop/src/components/ChangedFiles.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/NewCommitView.svelte
  apps/desktop/src/components/SelectionView.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/components/WorkspaceView.svelte
  apps/desktop/src/components/WorktreeChanges.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/dragging/draggables.ts
  apps/desktop/src/lib/hunks/dropHandler.ts
  apps/desktop/src/lib/selection/fileSelectionManager.svelte.ts
  apps/desktop/src/lib/selection/fileSelectionUtils.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/history/+page.svelte
Labels: @gitbutler/desktop

#10186 feat(ui): add scroll-to-bottom button
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
Labels: @gitbutler/desktop

#10187 codegen-scrolling-fixes
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop

#10200 clicking-on-dohicky-no-gui
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/types.ts
  crates/but-api/src/commands/claude.rs
  crates/but-claude/src/lib.rs
Labels: rust, @gitbutler/desktop

#10204 Distinguish TUI chip
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/ReduxResult.svelte
  apps/desktop/src/lib/state/helpers.ts
Labels: @gitbutler/desktop

#10206 Redux error
  apps/desktop/src/components/InfoMessage.svelte
  apps/desktop/src/components/ReduxResult.svelte
Labels: @gitbutler/desktop

#10216 Worktree changes: add error filtering helpers and use them
  apps/desktop/src/lib/dependencies/dependencies.ts
  apps/desktop/src/lib/hunks/hunk.ts
  apps/desktop/src/lib/worktree/worktreeService.svelte.ts
Labels: @gitbutler/desktop

#10213 Actually read from the executable flags
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/SelectionView.svelte
  apps/desktop/src/lib/hunks/change.ts
Labels: @gitbutler/desktop

#10218 feat(ui): pass colorBlindFriendly setting to diff components
  apps/desktop/src/components/CommitFailedFileEntry.svelte
  apps/desktop/src/components/IrcMessages.svelte
  apps/desktop/src/components/UnifiedDiffView.svelte
Labels: @gitbutler/desktop

#10264 Fix formatting of LFS warning
  crates/gitbutler-tauri/src/projects.rs
Labels: rust

#10268 Update integration modal
  apps/desktop/src/components/GithubIntegration.svelte
  apps/desktop/src/components/WelcomeSigninAction.svelte
Labels: @gitbutler/desktop

#10274 Get rid of rouge defaults
  crates/but-settings/src/app_settings.rs
Labels: rust

#10272 Add start codegen session button
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchHeaderContextMenu.svelte
  apps/desktop/src/lib/codegen/redirect.svelte.ts
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/utils/testIds.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10275 feat(ui): simplify Claude unavailable banner and add settings warning
  apps/desktop/src/components/codegen/CodegenChatClaudeNotAvaliableBanner.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#10276 Make focusables more like we discussed
  apps/desktop/src/components/BranchHeader.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/ChromeHeader.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/CommitMessageEditor.svelte
  apps/desktop/src/components/CommitRow.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/FloatingCommitBox.svelte
  apps/desktop/src/components/FocusCursor.svelte
  apps/desktop/src/components/PushButton.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/SyncButton.svelte
  apps/desktop/src/lib/floating/FloatingModal.svelte
  packages/ui/src/lib/components/Button.svelte
  packages/ui/src/lib/components/Modal.svelte
  packages/ui/src/lib/focus/domUtils.ts
  packages/ui/src/lib/focus/fModeManager.ts
  packages/ui/src/lib/focus/focusManager.ts
  packages/ui/src/lib/focus/focusTypes.ts
  packages/ui/src/lib/focus/focusUtils.ts
  packages/ui/src/lib/focus/focusable.ts
  packages/ui/src/lib/focus/shortcutUtils.ts
  packages/ui/src/lib/focus/tabbable.ts
  packages/ui/src/lib/focus/utils.ts
  packages/ui/src/lib/utils/hotkeySymbols.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10233 V3 apply/unapply: workspace checkout
  Cargo.lock
  Cargo.toml
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/init/walk.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/src/ref_metadata_legacy.rs
  crates/but-rebase/src/lib.rs
  crates/but-testing/src/command/mod.rs
  crates/but-testsupport/src/lib.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/branch/apply.rs
  crates/but-workspace/src/branch/checkout.rs
  crates/but-workspace/src/branch/mod.rs
  crates/but-workspace/src/branch_details.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/src/head.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/src/snapshot/create_tree.rs
  crates/but-workspace/tests/fixtures/scenario/ws-ref-ws-commit-two-stacks.sh
  crates/but-workspace/tests/workspace/branch/apply_unapply_commit_uncommit.rs
  crates/but-workspace/tests/workspace/branch/checkout.rs
  crates/but-workspace/tests/workspace/branch/mod.rs
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
  crates/but-workspace/tests/workspace/utils.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
Labels: rust

#10288 feat(ui): add But Serif regular and italic @font-face
  packages/ui/src/styles/fonts/but-serif/But-Serif-Italic.woff2
  packages/ui/src/styles/fonts/but-serif/But-Serif-Regular.woff2
  packages/ui/src/styles/fonts/fonts.css
Labels: @gitbutler/ui

#10290 Add PostHog events for git credential checks
  apps/desktop/src/components/CredentialCheck.svelte
  apps/desktop/src/lib/analytics/posthog.ts
Labels: @gitbutler/desktop

#10291 Filter F-mode shortcuts to elements inside trapped node
  packages/ui/src/lib/focus/fModeManager.ts
  packages/ui/src/lib/focus/focusManager.ts
Labels: @gitbutler/ui

#10297 FIx: Delete project & add e2e
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/GlobalModal.svelte
  apps/desktop/src/components/RemoveProjectButton.svelte
  apps/desktop/src/components/RemoveProjectForm.svelte
  apps/desktop/src/lib/backend/web.ts
  e2e/playwright/src/setup.ts
  e2e/playwright/tests/projectOffboarding.spec.ts
  packages/ui/src/lib/utils/testIds.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10299 feat: add error ignore feature for GitHub OAuth
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/error/parser.ts
  apps/desktop/src/lib/notifications/toasts.ts
Labels: @gitbutler/desktop

#10304 Codegen chat: Start at the bottom (now we here)
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/lib/codegen/messages.ts
Labels: @gitbutler/desktop

#10308 Improve focus/keyboard behavior and f-key toggle
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/ChromeSidebar.svelte
  apps/desktop/src/components/PushButton.svelte
  apps/desktop/src/lib/floating/FloatingModal.svelte
  packages/ui/src/lib/components/Button.svelte
  packages/ui/src/lib/components/ContextMenu.svelte
  packages/ui/src/lib/components/Modal.svelte
  packages/ui/src/lib/focus/focusManager.ts
  packages/ui/src/lib/focus/focusTypes.ts
  packages/ui/src/lib/utils/hotkeySymbols.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10305 Use rem units for FloatingModal sizing
  apps/desktop/src/lib/floating/FloatingModal.svelte
Labels: @gitbutler/desktop

#10294 feat: show forge integration banner with config prompt
  apps/desktop/src/components/CommitSigningForm.svelte
  apps/desktop/src/components/CredentialCheck.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/ForgeForm.svelte
  apps/desktop/src/components/GithubIntegration.svelte
  apps/desktop/src/components/InfoMessage.svelte
  apps/desktop/src/components/ProjectNameLabel.svelte
  apps/desktop/src/components/ProjectSetupTarget.svelte
  apps/desktop/src/components/ToastController.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/components/UnassignedViewForgePrompt.svelte
  apps/desktop/src/components/WorkspaceView.svelte
  apps/desktop/src/components/WorktreeTipsFooter.svelte
  apps/desktop/src/components/codegen/ClaudeCodeSettingsModal.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/lib/assets/unsized-logos/github.svg
  apps/desktop/src/lib/assets/unsized-logos/gitlab.svg
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/forge/forgeFactory.svelte.ts
  apps/desktop/src/lib/notifications/toasts.ts
  apps/web/src/lib/images/gitbutler.svg
Labels: @gitbutler/desktop, @gitbutler/web

#10312 Hide tooltips when dragging
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/MultiStackView.svelte
  apps/desktop/src/components/UnifiedDiffView.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/dragging/draggable.ts
  packages/ui/src/lib/components/Tooltip.svelte
  packages/ui/src/lib/drag/dragStateService.svelte.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10316 Consistent file sorting
  apps/desktop/src/lib/files/filetreeV3.ts
  apps/desktop/src/lib/selection/uncommittedService.svelte.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#10318 Support picking upstream commit in branch integration
  apps/desktop/src/components/BranchIntegrationModal.svelte
  apps/desktop/src/lib/branches/v3.ts
  apps/desktop/src/lib/stacks/stack.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/gitbutler-branch-actions/src/branch_upstream_integration.rs
  packages/ui/src/lib/components/SimpleCommitRow.svelte
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#10321 Listing user defined sub-agents
  Cargo.lock
  apps/desktop/src/lib/codegen/claude.ts
  apps/desktop/src/lib/codegen/types.ts
  crates/but-api/src/commands/claude.rs
  crates/but-claude/Cargo.toml
  crates/but-claude/src/claude_sub_agents.rs
  crates/but-claude/src/lib.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#10325 Add sampling for high-volume analytics events and rate-limit flag
  apps/desktop/src/lib/analytics/posthog.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#10327 Make keyboard nav work seamlessly with tabs
  packages/ui/src/lib/focus/focusManager.ts
Labels: @gitbutler/ui

#10328 Make F key work for input fields
  packages/ui/src/lib/components/Textarea.svelte
  packages/ui/src/lib/focus/fModeManager.ts
  packages/ui/src/lib/focus/focusManager.ts
  packages/ui/src/lib/focus/focusTypes.ts
  packages/ui/src/lib/focus/focusUtils.ts
  packages/ui/src/lib/richText/RichTextEditor.svelte
Labels: @gitbutler/ui

#10329 Make branches in codegen page kb navigable
  apps/desktop/src/components/codegen/CodegenSidebarEntry.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#10330 Fix z-index property typo in f-keys css
  packages/ui/src/styles/components/f-keys.css
Labels: @gitbutler/ui

#10331 ui-codegen-fixes
  apps/desktop/src/components/codegen/CodegenPage.svelte
  crates/but-claude/src/prompt_templates.rs
  packages/ui/src/lib/components/ContextMenuItem.svelte
  packages/ui/src/lib/data/icons.json
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#10332 fix broken hotkeys styles in the button component
  packages/ui/src/lib/components/Button.svelte
  packages/ui/src/stories/components/Button.stories.svelte
Labels: @gitbutler/ui

#10340 Add some tracing in bridge.rs
  crates/but-claude/src/bridge.rs
  crates/but-claude/src/claude_mcp.rs
Labels: rust

#10341 Testing CLI: Create stack from remote branch
  crates/but-testing/src/args.rs
  crates/but-testing/src/command/mod.rs
  crates/but-testing/src/main.rs
Labels: rust

#10344 Fixes tooltip copy for pull-requests
  apps/desktop/src/components/CommitMessageEditor.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#10347 agents-ui-update
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenMcpConfigModal.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/components/codegen/CodegenStatusIcon.svelte
  apps/desktop/src/lib/assets/unsized-logos/mcp.svg
  apps/desktop/src/lib/utils/codegenTools.ts
  packages/ui/src/lib/components/Button.svelte
  packages/ui/src/lib/data/icons.json
Labels: @gitbutler/desktop, @gitbutler/ui

#10338 V3 apply/unapply: spread safe checkout
  Cargo.lock
  Cargo.toml
  apps/desktop/README.md
  crates/but-api/src/commands/workspace.rs
  crates/but-server/Cargo.toml
  crates/but-server/src/main.rs
  crates/but-workspace/src/branch/checkout/function.rs
  crates/but-workspace/src/branch/mod.rs
  crates/but-workspace/src/head.rs
  crates/but-workspace/src/lib.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/base.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_creation.rs
  crates/gitbutler-branch-actions/src/branch_manager/branch_removal.rs
  crates/gitbutler-branch-actions/src/branch_manager/mod.rs
  crates/gitbutler-branch-actions/src/integration.rs
  crates/gitbutler-branch-actions/src/status.rs
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-oplog/Cargo.toml
  crates/gitbutler-oplog/src/oplog.rs
  crates/gitbutler-workspace/Cargo.toml
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust, @gitbutler/desktop

#10352 Support for cursor hooks
  Cargo.lock
  Cargo.toml
  crates/but-claude/src/hooks/mod.rs
  crates/but-cursor/Cargo.toml
  crates/but-cursor/src/db.rs
  crates/but-cursor/src/lib.rs
  crates/but-cursor/src/workspace_identifier.rs
  crates/but/Cargo.toml
  crates/but/src/args.rs
  crates/but/src/main.rs
Labels: rust

#10355 ui-fixes-138
  apps/desktop/src/components/Login.svelte
  apps/desktop/src/components/WelcomeSigninAction.svelte
  apps/desktop/src/components/codegen/CodegenChatLayout.svelte
  apps/desktop/src/components/codegen/CodegenUserMessage.svelte
Labels: @gitbutler/desktop

#10357 Improve defaults after settings.json was deleted + recreated
  crates/but-settings/assets/defaults.jsonc
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-testsupport/src/lib.rs
Labels: rust

#10362 Provide correctly the GitLab state
  apps/desktop/src/components/ForgeForm.svelte
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/forge/gitlab/gitlabState.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#10364 Correct typos and strengthen type safety in state hooks
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/clientState.svelte.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#10375 Add analytics for F key usage
  apps/desktop/src/lib/bootstrap/deps.ts
  apps/desktop/src/lib/soup/commitAnalytics.ts
  packages/ui/src/lib/focus/fModeManager.ts
  packages/ui/src/lib/focus/focusManager.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10381 Remove redundant `git_head` endpoint
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/cypress/e2e/support/mock/mode.ts
  apps/desktop/src/lib/mode/modeService.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  crates/but-api/src/commands/git.rs
  crates/but-server/src/lib.rs
  crates/gitbutler-tauri/src/app.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#10384 Fix missing mcp filed serialization
  crates/but-claude/src/claude_mcp.rs
Labels: rust

#10388 fix & E2E: Add edit mode e2e test and fix the edit commit flow
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/EditMode.svelte
  apps/desktop/src/components/lib.ts
  e2e/playwright/tests/editMode.spec.ts
  packages/ui/src/lib/utils/testIds.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#10387 Reword the "git hooks" settings description
  apps/desktop/src/components/DetailsForm.svelte
Labels: @gitbutler/desktop

#10389 Move clipboard to UI package
  apps/desktop/src/components/InfoMessage.svelte
  apps/desktop/src/components/RuleFiltersEditor.svelte
  apps/desktop/src/components/profileSettings/CliSymLink.svelte
  apps/web/src/lib/components/chat/MessageContextMenu.svelte
  apps/web/src/lib/components/review/ReviewInfo.svelte
  apps/web/src/lib/diff/lineSelection.svelte.ts
  apps/web/src/routes/(app)/[ownerSlug]/[projectSlug]/reviews/[branchId]/+page.svelte
  crates/gitbutler-branch-actions/src/upstream_integration.rs
  packages/ui/src/lib/utils/clipboard.ts
Labels: rust, @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#10382 Add the `head_info` endpoint
  crates/but-api/src/commands/workspace.rs
  crates/but-core/src/ref_metadata.rs
  crates/but-server/src/lib.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/branch/mod.rs
  crates/but-workspace/src/changeset.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/src/ui/mod.rs
  crates/but-workspace/src/ui/ref_info.rs
  crates/but-workspace/tests/workspace/ui.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust

#10395 fix: prevent window title from duplicating after refresh
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#10403 Improve token & cost counting
  apps/desktop/src/lib/codegen/messages.ts
Labels: @gitbutler/desktop

#10411 Fix history page performance issue
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/SnapshotAttachment.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/lib/selection/fileSelectionManager.svelte.ts
  apps/desktop/src/routes/[projectId]/history/+page.svelte
Labels: @gitbutler/desktop

#10431 Fix problem with rebuilding @gitbutler/ui in dev
  apps/desktop/vite.config.ts
Labels: @gitbutler/desktop

#10433 Update but status to include commits as well as an option for showing comitted files
  crates/but-api/src/hex_hash.rs
  crates/but/src/args.rs
  crates/but/src/id/mod.rs
  crates/but/src/main.rs
  crates/but/src/rub/mod.rs
  crates/but/src/status/mod.rs
Labels: rust

#10441 refactor(project): use find_by_path instead of from_path for locating projects
  crates/but/src/command/mod.rs
  crates/but/src/log/mod.rs
  crates/but/src/rub/mod.rs
Labels: rust

#10442 kv-branch-58
  crates/but/src/args.rs
Labels: rust

#10444 cnflicted commits description copy fix
  apps/desktop/src/components/BranchDetails.svelte
Labels: @gitbutler/desktop

#10445 But status support stacked branches
  crates/but/src/status/mod.rs
Labels: rust

#10439 Fix typo in `but status` command documentation
  crates/but/src/args.rs
Labels: rust

#10448 Port but commit but use but-api
  crates/but/src/args.rs
  crates/but/src/commit/mod.rs
  crates/but/src/main.rs
Labels: rust

#10425 Close preview without clearing selection. Toggle preview on click.
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/ChangedFiles.svelte
  apps/desktop/src/components/FileList.svelte
  apps/desktop/src/components/SnapshotCard.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/UnappliedBranchView.svelte
  apps/desktop/src/components/UnappliedCommitView.svelte
  apps/desktop/src/components/WorkspaceView.svelte
  apps/desktop/src/components/codegen/CodegenPage.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/selection/fileSelectionManager.svelte.ts
  apps/desktop/src/lib/selection/fileSelectionUtils.ts
Labels: @gitbutler/desktop

#10451 Implement but describe
  crates/but/src/args.rs
  crates/but/src/describe/mod.rs
  crates/but/src/main.rs
Labels: rust

#10450 Remove extra function call from common case
  crates/but-workspace/src/stacks.rs
Labels: rust

#10449 Ensure that the target branch isn't showing up as workspace segment.
  crates/but-graph/src/init/post.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/with_workspace.rs
Labels: rust

#10458 fix: correct error message typo from GitHub to GitLab
  apps/desktop/src/lib/forge/gitlab/gitlabClient.svelte.ts
Labels: @gitbutler/desktop

#10476 but base update - fix an issue with updating base when there are no applied branches
  crates/but/src/base/mod.rs
Labels: rust

#10468 entrypoint-consistency
  Cargo.lock
  crates/but-graph/src/api.rs
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/init/overlay.rs
  crates/but-graph/src/init/post.rs
  crates/but-graph/src/init/walk.rs
  crates/but-graph/src/lib.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/mod.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-graph/tests/graph/vis.rs
  crates/but-testsupport/src/graph.rs
  crates/but-workspace/src/branch/checkout/utils.rs
  crates/but-workspace/src/branch_details.rs
  crates/but-workspace/src/ui/ref_info.rs
  crates/but-workspace/tests/workspace/branch/create_reference.rs
  crates/gitbutler-branch-actions/src/branch.rs
Labels: rust

#10477 Implement but branch new stacked branch
  crates/but/src/branch/mod.rs
Labels: rust

#10478 but status - ensure unassigned always uses ID 00
  crates/but/src/status/mod.rs
Labels: rust

#10470 JSON stuff
  crates/but/src/args.rs
  crates/but/src/log/mod.rs
  crates/but/src/status/assignment.rs
  crates/but/src/status/mod.rs
Labels: rust

#10488 Improve but status rendering
  crates/but/src/status/mod.rs
Labels: rust

#10489 But status - emphasize stacks
  crates/but/src/status/mod.rs
Labels: rust

#10493 Handle non-UTF8 encodings better when preparing unified diffs for the frontend (#10475)
  Cargo.lock
  crates/but-core/Cargo.toml
  crates/but-core/src/unified_diff.rs
  crates/but-core/tests/core/diff/worktree_changes.rs
  crates/but-core/tests/fixtures/worktree-changes.sh
  crates/but-cursor/src/lib.rs
Labels: rust

#10495 Quick fix: increase the probability that remotes will find their bases.
  crates/but-graph/src/init/mod.rs
Labels: rust

#10494 feat(ui): use variable dot markers and color per commit state for
  crates/but/src/status/mod.rs
Labels: rust

#10497 Improve but status graph rendering
  crates/but/src/status/mod.rs
Labels: rust

#10496 UI state: Persist preview open
  apps/desktop/src/components/BranchCommitList.svelte
  apps/desktop/src/components/BranchList.svelte
  apps/desktop/src/components/BranchView.svelte
  apps/desktop/src/components/CommitView.svelte
  apps/desktop/src/components/FeedItemKind.svelte
  apps/desktop/src/components/FileContextMenu.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/lib/stacks/macros.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
  e2e/playwright/tests/branches.spec.ts
Labels: @gitbutler/desktop

#10500 Partially fix text box selection issue
  packages/ui/src/lib/focus/focusManager.ts
Labels: @gitbutler/ui

#10501 fix(status): initialize repo if Project::find_by_path fails and
  crates/but/src/status/mod.rs
Labels: rust

#10492 but-cli: avoid calling functions with `virtual` in it if there are alternatives.
  crates/but/src/branch/mod.rs
Labels: rust

#10504 fix(status): align branch tree gutter by adding extra │ to line padding
  crates/but/src/status/mod.rs
Labels: rust

#10505 Prevent dev mode loop when build is incomplete
  apps/desktop/src/lib/backend/tauri.ts
Labels: @gitbutler/desktop

#10508 Handle the case when but is ran from not-the-root of a repo
  crates/but/src/base/mod.rs
  crates/but/src/branch/mod.rs
  crates/but/src/command/mod.rs
  crates/but/src/commit/mod.rs
  crates/but/src/describe/mod.rs
  crates/but/src/log/mod.rs
  crates/but/src/main.rs
  crates/but/src/mark/mod.rs
  crates/but/src/oplog/mod.rs
  crates/but/src/rub/mod.rs
  crates/but/src/status/mod.rs
Labels: rust

#10513 But status now shows remote commits as well
  crates/but/src/status/mod.rs
Labels: rust

#10514 feat: choose delete or rebase approach when updating branches
  crates/but/src/base/mod.rs
Labels: rust
