Repository gitbutlerapp/gitbutler, pull requests merged in 2025-07, with the labels that each got.

#9229 Enhanced FeedItem.svelte by adding title attributes to timestamp spans for action.createdAt, showing locale string dates. This improves UX by providing precise date and time on hover for various action display sections.
  apps/desktop/src/components/v3/FeedItem.svelte
Labels: @gitbutler/desktop

#9232 Fix moving assignments when there are none unassigned
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9236 Rewrote stack reordering to use simpler (and not broken) logic
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/dragging/reordering.ts
Labels: @gitbutler/desktop

#9231 fix auto-commit and improve it
  Cargo.lock
  crates/but-tools/Cargo.toml
  crates/but-tools/src/workspace.rs
Labels: rust

#9239 Add in workspace panning
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/lib/dragging/workspacePanner.ts
Labels: @gitbutler/desktop

#9240 workflow-improvements
  crates/but-action/src/auto_commit.rs
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
Labels: rust

#9245 Bump md5
  Cargo.lock
  crates/but-workspace/Cargo.toml
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-diff/Cargo.toml
  crates/gitbutler-diff/src/hunk.rs
Labels: rust

#9248 Status improvements & Absorb v1
  Cargo.lock
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/lib/actions/actionService.svelte.ts
  crates/but-action/src/absorb.rs
  crates/but-action/src/auto_commit.rs
  crates/but-action/src/branch_changes.rs
  crates/but-action/src/grouping.rs
  crates/but-action/src/lib.rs
  crates/but-tools/Cargo.toml
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/stacks.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#9249 Fix considering drags over-eagerly
  apps/desktop/src/components/v3/MultiStackView.svelte
Labels: @gitbutler/desktop

#9250 Make it easier to add context to posthog events
  apps/desktop/src/components/AppUpdater.test.ts
  apps/desktop/src/components/MetricsReporter.test.ts
  apps/desktop/src/components/v3/AnalyticsMonitor.svelte
  apps/desktop/src/lib/analytics/analyticsContext.ts
  apps/desktop/src/lib/analytics/posthog.ts
  apps/desktop/src/lib/config/appSettingsV2.ts
  apps/desktop/src/lib/forge/forgeFactory.test.ts
  apps/desktop/src/lib/forge/github/githubListingService.svelte.test.ts
  apps/desktop/src/lib/project/projectService.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/clientState.svelte.ts
  apps/desktop/src/lib/updater/updater.test.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/+layout.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#9255 ui-fixes-98
  apps/desktop/src/components/BranchPreviewHeader.svelte
  apps/desktop/src/components/Chrome.svelte
  apps/desktop/src/components/CollapsedLane.svelte
  apps/desktop/src/components/Content.svelte
  apps/desktop/src/components/DecorativeSplitView.svelte
  apps/desktop/src/components/Navigation.svelte
  apps/desktop/src/components/SettingsPage.svelte
  apps/desktop/src/components/Sidebar.svelte
  apps/desktop/src/components/Stack.svelte
  apps/desktop/src/components/v3/SelectedChange.svelte
  apps/desktop/src/components/v3/SettingsPages.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/routes/settings/+layout.svelte
  packages/ui/src/lib/EmptyStatePlaceholder.svelte
  packages/ui/src/lib/SectionCard.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9259 Absorb v2: Absorb locked changes first
  crates/but-action/src/absorb.rs
  crates/but-tools/src/workspace.rs
Labels: rust

#9257 Fix viewport resizing calculations
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#9263 Switch over to new posthog events
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/clientState.svelte.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#9264 Add back error to event tracking
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#9265 Fix scrolling when panning
  apps/desktop/src/lib/dragging/horizontalPanner.ts
Labels: @gitbutler/desktop

#9267 Fix occasional gaps from missing selection cases
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9271 ui-fixes-100
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/lib/dragging/horizontalPanner.ts
  packages/ui/src/lib/Button.svelte
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/scroll/Scrollbar.svelte
  packages/ui/src/stories/button/AllButton.stories.svelte
  packages/ui/src/stories/button/Button.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9272 Add vertical alignment option for Select popup
  packages/ui/src/lib/select/Select.svelte
Labels: @gitbutler/ui

#9274 Experimental: butbot
  Cargo.lock
  apps/desktop/cypress/e2e/support/mock/settings.ts
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/actions/actionService.svelte.ts
  apps/desktop/src/lib/config/appSettingsV2.ts
  apps/desktop/src/lib/config/config.ts
  apps/desktop/src/lib/feed/feed.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/but-action/src/absorb.rs
  crates/but-action/src/auto_commit.rs
  crates/but-action/src/branch_changes.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/openai.rs
  crates/but-settings/assets/defaults.jsonc
  crates/but-settings/src/api.rs
  crates/but-settings/src/app_settings.rs
  crates/but-testing/src/command/mod.rs
  crates/but-tools/Cargo.toml
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
  crates/but/src/mcp_internal/stack.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-tauri/src/action.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust, @gitbutler/desktop

#9275 ui-fixes-101
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/PushButton.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  packages/ui/src/styles/utility/text.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9278 Cancel a commit also unselects assigned changes
  apps/desktop/src/components/v3/NewCommitView.svelte
Labels: @gitbutler/desktop

#9280 Fix tree view selection
  apps/desktop/src/components/v3/FileList.svelte
Labels: @gitbutler/desktop

#9281 Bugfix: make previewed hunks draggable again
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/FileList.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/UnappliedBranchView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
Labels: @gitbutler/desktop

#9283 Fix tree view keyboard navigation
  apps/desktop/src/components/v3/FileList.svelte
Labels: @gitbutler/desktop

#9284 Make horizontal scroller better
  apps/desktop/src/lib/dragging/horizontalPanner.ts
Labels: @gitbutler/desktop

#9285 claude code first stab
  Cargo.lock
  crates/but-action/src/action.rs
  crates/but-action/src/reword.rs
  crates/but-db/migrations/2025-07-03-203544_claude_code_sessions/down.sql
  crates/but-db/migrations/2025-07-03-203544_claude_code_sessions/up.sql
  crates/but-db/migrations/2025-07-04-130757_file_write_locks/down.sql
  crates/but-db/migrations/2025-07-04-130757_file_write_locks/up.sql
  crates/but-db/src/claude_code_sessions.rs
  crates/but-db/src/file_write_locks.rs
  crates/but-db/src/lib.rs
  crates/but-db/src/schema.rs
  crates/but/Cargo.toml
  crates/but/src/args.rs
  crates/but/src/command/claude.rs
  crates/but/src/command/claude_transcript.rs
  crates/but/src/command/mod.rs
  crates/but/src/main.rs
Labels: rust

#9282 improve git-lfs handling
  apps/desktop/src/lib/project/projectsService.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  crates/gitbutler-tauri/src/projects.rs
Labels: rust, @gitbutler/desktop

#9286 Refactor claude hooks
  crates/but/src/args.rs
  crates/but/src/command/claude.rs
  crates/but/src/command/claude_transcript.rs
  crates/but/src/command/file_lock.rs
  crates/but/src/command/mod.rs
  crates/but/src/main.rs
Labels: rust

#9291 ui-fixes-103
  apps/desktop/src/components/CardOverlay.svelte
  apps/desktop/src/components/v3/UnassignedView.svelte
  apps/web/src/lib/components/chat/MentionSuggestions.svelte
  packages/ui/src/lib/InfoButton.svelte
  packages/ui/src/lib/Tooltip.svelte
  packages/ui/src/lib/utils/tooltipPosition.ts
  packages/ui/src/stories/infoButton/InfoButton.stories.svelte
  packages/ui/src/styles/utility/helpers.css
Labels: @gitbutler/desktop, @gitbutler/ui, @gitbutler/web

#9290 ui-fixes-102-diff-hunks
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/BranchFilesHeader.svelte
  packages/ui/src/lib/Checkbox.svelte
  packages/ui/src/lib/HunkDiff.svelte
  packages/ui/src/lib/InfoButton.svelte
  packages/ui/src/lib/RadioButton.svelte
  packages/ui/src/lib/data/design-tokens.json
  packages/ui/src/lib/data/icons.json
  packages/ui/src/lib/hunkDiff/HunkDiffBody.svelte
  packages/ui/src/lib/hunkDiff/HunkDiffRow.svelte
  packages/ui/src/stories/checkbox/Checkbox.stories.svelte
  packages/ui/src/stories/hunkDiff/HunkDiff.stories.svelte
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9289 Add compact mode for branch and commit views
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/cypress/e2e/unifiedDiffView.cy.ts
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/BranchDetails.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitRow.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/SelectedChange.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/UnappliedCommitView.svelte
  apps/desktop/src/components/v3/UnassignedView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
  apps/desktop/src/components/v3/WorktreeChanges.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/intelligentScrolling/service.ts
  apps/desktop/src/lib/selection/idSelection.svelte.ts
  apps/desktop/src/routes/+layout.svelte
  packages/ui/src/lib/file/FileViewHeader.svelte
  packages/ui/src/lib/file/FolderListItem.svelte
  packages/ui/src/lib/utils/hotkeys.ts
  packages/ui/src/styles/utility/layout.min.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9292 Fix lexical editor initial text bug
  packages/ui/src/lib/richText/selection.ts
Labels: @gitbutler/ui

#9294 project-not-found-fix
  apps/desktop/cypress/e2e/errorHandling.cy.ts
  apps/desktop/src/components/DecorativeSplitView.svelte
  apps/desktop/src/components/ProjectNotFound.svelte
  apps/desktop/src/lib/backend/ipc.ts
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#9293 Enable the auto-panner when dragging most draggables
  apps/desktop/src/components/v3/BranchCommitList.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/dragging/dragStateService.svelte.ts
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#9296 PR template fix: Auto-apply the last selected template
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/review.ts
  apps/desktop/cypress/e2e/support/scenarios/branchesWithChanges.ts
  apps/desktop/src/components/PrTemplateSection.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/lib/forge/prContents.ts
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/Toggle.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9298 Fix dragging when resizing
  apps/desktop/src/lib/dragging/horizontalPanner.ts
Labels: @gitbutler/desktop

#9297 Remove resizer dblclick
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9299 Fix assigned changes previews not working
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9300 Use exclusive action for pull requests
  apps/desktop/src/components/BranchReview.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/BranchCard.svelte
  apps/desktop/src/components/v3/BranchList.svelte
  apps/desktop/src/components/v3/PublishButton.svelte
  apps/desktop/src/components/v3/ReviewView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/UnassignedView.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
Labels: @gitbutler/desktop

#9304 Add actions for hunk line selection manipulation
  apps/desktop/src/components/v3/HunkContextMenu.svelte
  apps/desktop/src/components/v3/UnifiedDiffView.svelte
  apps/desktop/src/lib/testing/testIds.ts
Labels: @gitbutler/desktop

#9306 Remove command property from analtyics
  apps/desktop/src/lib/state/customHooks.svelte.ts
Labels: @gitbutler/desktop

#9311 Add GetCommitDetails tool and update workspace logic
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
Labels: rust

#9209 graph -> stacks: conformity
  crates/but-graph/src/api.rs
  crates/but-graph/src/debug.rs
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/init/post.rs
  crates/but-graph/src/init/types.rs
  crates/but-graph/src/init/walk.rs
  crates/but-graph/src/lib.rs
  crates/but-graph/src/projection/stack.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/src/segment.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/mod.rs
  crates/but-graph/tests/graph/init/utils.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-graph/tests/graph/vis.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/legacy.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
Labels: rust

#9314 Refactor command name handling for back end queries
  apps/desktop/src/lib/actions/actionService.svelte.ts
  apps/desktop/src/lib/baseBranch/baseBranchService.svelte.ts
  apps/desktop/src/lib/hunks/diffService.svelte.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/backendQuery.ts
  apps/desktop/src/lib/state/butlerModule.ts
  apps/desktop/src/lib/state/customHooks.svelte.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.svelte.ts
Labels: @gitbutler/desktop

#9315 Give default width to panel 1 in stack view
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9312 Maybe fix edit mode
  crates/gitbutler-edit-mode/src/lib.rs
  crates/gitbutler-workspace/src/branch_trees.rs
Labels: rust

#9318 Introduce rich text or plain text to analytics
  apps/desktop/src/components/v3/CommitMessageEditor.svelte
  apps/desktop/src/components/v3/NewCommitView.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/lib/soup/commitAnalytics.ts
Labels: @gitbutler/desktop

#9319 Fix drag and drop for hunks
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/SelectionView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/selection/key.ts
Labels: @gitbutler/desktop

#9326 fix(editmode): replace commitId with commitOid
  apps/desktop/src/components/EditMode.svelte
  apps/desktop/src/lib/mode/modeService.ts
Labels: @gitbutler/desktop

#9325 ui-fixes-108
  apps/desktop/src/components/DropDownButton.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  packages/ui/src/lib/DropDownButton.svelte
  packages/ui/src/stories/button/Dropdown.stories.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9327 Make resizers squeezable
  apps/desktop/src/components/Navigation.svelte
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MainViewport.svelte
  apps/desktop/src/components/v3/StackDraft.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/lib/utils/resizeManager.ts
  apps/desktop/src/lib/utils/resizeSync.ts
  packages/ui/src/lib/utils/pxToRem.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#9330 Fix: Hunk header ordering
  apps/desktop/cypress/e2e/support/scenarios/complexHunks.ts
  apps/desktop/src/lib/hunks/hunk.test.ts
  apps/desktop/src/lib/hunks/hunk.ts
Labels: @gitbutler/desktop

#9329 Stream the chat responses
  Cargo.lock
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/components/v3/FeedStreamMessage.svelte
  apps/desktop/src/lib/actions/actionService.svelte.ts
  apps/desktop/src/lib/feed/feed.ts
  crates/but-action/Cargo.toml
  crates/but-action/src/emit.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/openai.rs
  crates/gitbutler-tauri/src/action.rs
Labels: rust, @gitbutler/desktop

#9334 feat: add metrics instrumentation to internal MCP server
  crates/but/src/main.rs
  crates/but/src/mcp_internal/mod.rs
  crates/but/src/metrics/mod.rs
Labels: rust

#9335 Propagate the tool-call events to the FE
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/components/v3/FeedStreamMessage.svelte
  apps/desktop/src/components/v3/FeedToolCall.svelte
  apps/desktop/src/lib/feed/feed.ts
  crates/but-action/src/lib.rs
  crates/but-action/src/openai.rs
  crates/but-tools/src/emit.rs
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
Labels: rust, @gitbutler/desktop

#9324 V3 feature flag is now always on
  Cargo.lock
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/workspace_dependencies.rs
  crates/but-settings/src/app_settings.rs
  crates/gitbutler-branch-actions/Cargo.toml
  crates/gitbutler-branch-actions/tests/extra/mod.rs
  crates/gitbutler-branch-actions/tests/reorder.rs
  crates/gitbutler-branch-actions/tests/squash.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/oplog.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-stack/tests/mod.rs
  crates/gitbutler-workspace/Cargo.toml
  crates/gitbutler-workspace/tests/branch_trees.rs
  crates/gitbutler-workspace/tests/mod.rs
Labels: rust

#9338 Handle errors in listVirtualBranches and default to empty
  apps/desktop/src/lib/branches/virtualBranchService.ts
Labels: @gitbutler/desktop

#9341 Fix a couple more resizing things
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/BranchesView.svelte
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9344 Tool calls look pretty
  apps/desktop/src/components/v3/FeedItem.svelte
  apps/desktop/src/components/v3/FeedItemKind.svelte
  apps/desktop/src/components/v3/FeedStreamMessage.svelte
  apps/desktop/src/components/v3/FeedToolCall.svelte
  apps/desktop/src/lib/ai/tool.ts
  apps/desktop/src/lib/feed/feed.ts
Labels: @gitbutler/desktop

#9346 Remove more tests specific to list_virtual_branches
  crates/gitbutler-branch-actions/tests/virtual_branches/create_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/mod.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/references.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/selected_for_changes.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/upstream.rs
Labels: rust

#9348 Remove legacy unapply ownership
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/src/virtual.rs
  crates/gitbutler-cli/src/args.rs
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-cli/src/main.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#9349 Remove legacy update virtual branch tauri command
  crates/gitbutler-branch-actions/tests/virtual_branches/squash.rs
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#9351 Remove legacy command commit_virtual_branch
  crates/gitbutler-tauri/src/main.rs
  crates/gitbutler-tauri/src/virtual_branches.rs
Labels: rust

#9353 Improve compact preview
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/FileListItemWrapper.svelte
  apps/desktop/src/components/v3/StackView.svelte
Labels: @gitbutler/desktop

#9358 kv-branch-31
  crates/gitbutler-branch-actions/tests/virtual_branches/insert_blank_commit.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/undo_commit.rs
Labels: rust

#9361 Remove option for using rich text when creating commits
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#9363 Remove list_virtual_branches from move commit test
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_to_vbranch.rs
Labels: rust

#9362 Combine "use ruler" and "wrap by ruler" into one button
  apps/desktop/src/components/v3/AnalyticsMonitor.svelte
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  apps/desktop/src/lib/state/uiState.svelte.ts
  apps/desktop/src/lib/testing/mockUiState.ts
Labels: @gitbutler/desktop

#9366 Remove list_virtual_branches from create_virtual_branch_from_branch tests
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
Labels: rust

#9367 ui-fixes-109
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/MultiStackView.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/WorkspaceView.svelte
Labels: @gitbutler/desktop

#9368 Remove list_virtual_branches from init tests
  crates/gitbutler-branch-actions/tests/virtual_branches/init.rs
Labels: rust

#9369 Remove list_virtual_branches from update commit message tests
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
Labels: rust

#9371 Remove list_virtual_branches from moved_commit_file test
  crates/gitbutler-branch-actions/tests/virtual_branches/move_commit_file.rs
Labels: rust

#9372 Tool: Squash commits
  apps/desktop/src/components/v3/FeedItemKind.svelte
  apps/desktop/src/lib/ai/tool.ts
  crates/but-tools/src/workspace.rs
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/squash.rs
Labels: rust, @gitbutler/desktop

#9373 Improve feed scroll and entry logic in UI
  apps/desktop/src/components/v3/Feed.svelte
  apps/desktop/src/lib/feed/feed.ts
Labels: @gitbutler/desktop

#9359 graphs -> stacks: remove abandoned impl
  crates/but-graph/src/api.rs
  crates/but-graph/src/debug.rs
  crates/but-graph/src/init/mod.rs
  crates/but-graph/src/init/post.rs
  crates/but-graph/src/lib.rs
  crates/but-graph/src/projection/stack.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/src/segment.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/mod.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-graph/tests/graph/vis.rs
  crates/but-testing/src/command/mod.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/legacy.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
Labels: rust

#9378 fix(editor): simplify text wrap logic and remove unused nowrap styles
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#9379 refactor: enable compact workspace by default and drop the feature flag
  apps/desktop/cypress/e2e/selection.cy.ts
  apps/desktop/src/components/v3/BranchView.svelte
  apps/desktop/src/components/v3/ChangedFiles.svelte
  apps/desktop/src/components/v3/CommitView.svelte
  apps/desktop/src/components/v3/Drawer.svelte
  apps/desktop/src/components/v3/StackView.svelte
  apps/desktop/src/components/v3/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/soup/commitAnalytics.ts
  apps/desktop/src/routes/+layout.svelte
  packages/ui/src/lib/file/FileViewHeader.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9381 Remove list_virtual_branches from set base branch tests
  crates/gitbutler-branch-actions/tests/virtual_branches/set_base_branch.rs
Labels: rust

#9382 Remove list_virtual_branches from apply test
  crates/gitbutler-branch-actions/tests/virtual_branches/apply_virtual_branch.rs
Labels: rust

#9383 Remove list_virtual_branches from save and unapply tests
  crates/gitbutler-branch-actions/src/actions.rs
  crates/gitbutler-branch-actions/src/lib.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/save_and_unapply_virtual_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/unapply_without_saving_virtual_branch.rs
Labels: rust

#9384 Removing list_virtual_branches from legacy cli
  Cargo.lock
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-cli/src/command/mod.rs
  crates/gitbutler-cli/src/command/vbranch.rs
Labels: rust

#9388 Update system prompt with core concepts and clarify split branch
  crates/but-action/src/lib.rs
Labels: rust

#9394 ui-fixes-111
  apps/desktop/src/components/v3/editor/MessageEditor.svelte
  packages/ui/src/styles/core/design-tokens.css
Labels: @gitbutler/desktop, @gitbutler/ui

#9391 Fix FeedStreamMessage to correctly display stream with tool calls
  apps/desktop/src/components/FeedStreamMessage.svelte
Labels: @gitbutler/desktop

#9397 fix: use correct parameter names for squash command
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#9400 review-stacked-branch-branch-param-required
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/cypress/e2e/support/index.ts
  apps/desktop/cypress/e2e/support/mock/backend.ts
  apps/desktop/cypress/e2e/support/mock/stacks.ts
  apps/desktop/cypress/e2e/support/scenarios/stackBrancheshWithCommits.ts
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/gitbutler-branch-actions/src/stack.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/amend.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/create_virtual_branch_from_branch.rs
  crates/gitbutler-branch-actions/tests/virtual_branches/update_commit_message.rs
  crates/gitbutler-tauri/src/stack.rs
Labels: rust, @gitbutler/desktop

#9376 ref-info: finishing touches
  crates/but-graph/src/api.rs
  crates/but-graph/src/init/post.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/mod.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-testing/src/command/mod.rs
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/src/ui.rs
  crates/but-workspace/tests/fixtures/scenario/journey.sh
  crates/but-workspace/tests/fixtures/scenario/shared.sh
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/workspace/ref_info/mod.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#9402 UI fixes 112
  apps/desktop/src/components/BranchView.svelte
  apps/desktop/src/components/CommitView.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/SelectionView.svelte
  apps/desktop/src/components/StackView.svelte
  apps/desktop/src/components/WorkspaceView.svelte
  packages/ui/src/lib/utils/stickyHeader.ts
Labels: @gitbutler/desktop, @gitbutler/ui

#9401 Remove list_virtual_branches usage from legacy cli crate
  Cargo.lock
  crates/gitbutler-cli/Cargo.toml
  crates/gitbutler-cli/src/command/vbranch.rs
Labels: rust

#9399 Fix branches page bug
  apps/desktop/src/components/BranchesViewBranch.svelte
Labels: @gitbutler/desktop

#9403 fix: File Preview scroll
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/StackView.svelte
Labels: @gitbutler/desktop

#9405 ux: do not close previews when dragging unassigned
  apps/desktop/src/components/MultiStackView.svelte
  apps/desktop/src/components/StackView.svelte
Labels: @gitbutler/desktop

#9406 uxui-text-editor
  apps/desktop/src/components/CommitMessageEditor.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/components/editor/MessageEditor.svelte
Labels: @gitbutler/desktop

#9409 Move pre-commit hooks setting to project details form
  apps/desktop/src/components/DetailsForm.svelte
  apps/desktop/src/components/PreferencesForm.svelte
Labels: @gitbutler/desktop

#9411 pr-checks-branch-card
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/src/components/BranchCard.svelte
  apps/desktop/src/components/ChecksPolling.svelte
  apps/desktop/src/components/PrStatusBadge.svelte
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/lib/forge/github/githubChecksMonitor.svelte.ts
  apps/desktop/src/lib/forge/interface/types.ts
  apps/desktop/src/lib/testing/testIds.ts
  packages/ui/src/lib/Badge.svelte
Labels: @gitbutler/desktop, @gitbutler/ui

#9414 Split commit tool
  apps/desktop/src/components/FeedItemKind.svelte
  apps/desktop/src/lib/ai/tool.ts
  crates/but-action/src/lib.rs
  crates/but-tools/src/tool.rs
  crates/but-tools/src/workspace.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/tree_manipulation/mod.rs
  crates/but-workspace/src/tree_manipulation/remove_changes_from_commit_in_stack.rs
  crates/but-workspace/src/tree_manipulation/split_branch.rs
  crates/but-workspace/src/tree_manipulation/split_commit.rs
  crates/but-workspace/src/tree_manipulation/utils.rs
Labels: rust, @gitbutler/desktop

#9415 Fix commit ID serialization in tool results
  crates/but-tools/src/tool.rs
Labels: rust

#9421 Remove AI commit message support from but-action and call sites
  crates/but-action/src/generate.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/simple.rs
  crates/but/src/command/claude.rs
  crates/but/src/command/mod.rs
  crates/but/src/mcp/mod.rs
  crates/gitbutler-tauri/src/action.rs
Labels: rust

#9423 rename-branch-workflow
  apps/desktop/src/components/FeedItem.svelte
  apps/desktop/src/components/FeedItemKind.svelte
  apps/desktop/src/lib/actions/types.ts
  crates/but-action/src/generate.rs
  crates/but-action/src/lib.rs
  crates/but-action/src/rename_branch.rs
  crates/but-action/src/simple.rs
  crates/but-action/src/workflow.rs
  crates/but/src/command/claude.rs
  packages/ui/src/lib/EditorLogo.svelte
Labels: rust, @gitbutler/desktop, @gitbutler/ui

#9426 single-rebase-split-branch
  crates/but-tools/src/workspace.rs
  crates/but-workspace/src/stack_ext.rs
  crates/but-workspace/src/tree_manipulation/remove_changes_from_commit_in_stack.rs
  crates/but-workspace/src/tree_manipulation/split_branch.rs
  crates/but-workspace/src/tree_manipulation/split_commit.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#9430 enhance-branch-name-generation
  crates/but-action/src/generate.rs
  crates/but-action/src/rename_branch.rs
  crates/but-tools/src/workspace.rs
  crates/but/src/command/claude.rs
Labels: rust

#9432 Increase changed files min-height for a roomier feel
  apps/desktop/src/components/Resizer.svelte
  apps/desktop/src/components/StackView.svelte
Labels: @gitbutler/desktop

#9434 Delete unused v2 code (VirtualBranchService)
  apps/desktop/src/components/BaseBranchSwitch.svelte
  apps/desktop/src/components/NotOnGitButlerBranch.svelte
  apps/desktop/src/components/ProjectSetup.svelte
  apps/desktop/src/components/StackedPullRequestCard.svelte
  apps/desktop/src/lib/branches/virtualBranchService.ts
  apps/desktop/src/lib/upstream/upstreamIntegrationService.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#9435 Show more compact preview of commit message
  apps/desktop/src/components/CommitDetails.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/Resizer.svelte
Labels: @gitbutler/desktop

#9433 Add rewrap toggle for commit message formatting
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitDetails.svelte
  apps/desktop/src/components/CommitView.svelte
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/utils/string.ts
Labels: @gitbutler/desktop

#9438 ui-fixes-113
  apps/desktop/src/components/CommitContextMenu.svelte
  apps/desktop/src/components/CommitDetails.svelte
Labels: @gitbutler/desktop

#9440 Delete selection.ts
  apps/desktop/src/lib/utils/selection.ts
Labels: @gitbutler/desktop

#9441 Remove old drophandler
  apps/desktop/src/lib/branches/dropHandler.ts
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/dragging/draggable.ts
  apps/desktop/src/lib/dragging/draggables.ts
  apps/desktop/src/lib/stacks/dropHandler.ts
Labels: @gitbutler/desktop

#9444 Add experimental AI feature flags and UI updates
  apps/desktop/src/components/CloudForm.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/lib/config/config.ts
Labels: @gitbutler/desktop

#9446 fix: Animation on rename
  apps/desktop/src/components/MultiStackView.svelte
Labels: @gitbutler/desktop

#9448 Update branch rename logic and add exclusiveAction branch helper
  apps/desktop/src/components/MultiStackView.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
Labels: @gitbutler/desktop

#9408 integration-checks
  Cargo.lock
  Cargo.toml
  crates/but-core/src/diff/tree_changes.rs
  crates/but-core/src/lib.rs
  crates/but-core/src/ref_metadata.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-testing/src/args.rs
  crates/but-testing/src/command/mod.rs
  crates/but-testing/src/main.rs
  crates/but-workspace/src/changeset.rs
  crates/but-workspace/src/commit_engine/index.rs
  crates/but-workspace/src/integrated.rs
  crates/but-workspace/src/lib.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/src/relapath.rs
  crates/but-workspace/src/stack_ext.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/tests/fixtures/generated-archives/.gitignore
  crates/but-workspace/tests/fixtures/scenario/journey.sh
  crates/but-workspace/tests/fixtures/scenario/journey01.sh
  crates/but-workspace/tests/fixtures/scenario/journey02.sh
  crates/but-workspace/tests/workspace/main.rs
  crates/but-workspace/tests/workspace/ref_info/mod.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/exhaustive_with_squash_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/integrate_with_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/mod.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
Labels: rust

#9454 Don't unselect when clicking selected commit
  apps/desktop/src/components/BranchCommitList.svelte
Labels: @gitbutler/desktop

#9459 Experimental: DIsplay rules in the unassigned drawer
  apps/desktop/src/components/RulesList.svelte
  apps/desktop/src/components/UnassignedView.svelte
  apps/desktop/src/components/profileSettings/ExperimentalSettings.svelte
  apps/desktop/src/lib/backend/backendService.svelte.ts
  apps/desktop/src/lib/config/uiFeatureFlags.ts
  apps/desktop/src/lib/rules/rule.ts
  apps/desktop/src/lib/rules/rulesService.svelte.ts
  apps/desktop/src/lib/state/tags.ts
  apps/desktop/src/routes/+layout.svelte
Labels: @gitbutler/desktop

#9463 Add numTestsKeptInMemory to Cypress config
  apps/desktop/cypress.config.ts
Labels: @gitbutler/desktop

#9464 Improve autoselect and scroll into view
  apps/desktop/src/components/ChangedFiles.svelte
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/components/StackView.svelte
Labels: @gitbutler/desktop

#9450 integration-checks (testing)
  crates/but-workspace/src/changeset.rs
  crates/but-workspace/tests/fixtures/scenario/journey02.sh
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/exhaustive_with_squash_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/integrate_with_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/mod.rs
  crates/gitbutler-tauri/src/workspace.rs
Labels: rust

#9469 Fix textarea focus delay in Textarea.svelte
  packages/ui/src/lib/Textarea.svelte
Labels: @gitbutler/ui

#9472 feed: Correctly update the stack details on workflow changes
  apps/desktop/src/lib/feed/feed.ts
Labels: @gitbutler/desktop

#9473 refactor: remove existing_branch_names from rename_branch
  crates/but-action/src/rename_branch.rs
  crates/but/src/command/claude.rs
Labels: rust

#9475 don't bail on merge-conflict with unrelated file
  crates/but-workspace/src/commit_engine/mod.rs
  packages/mcp/src/shared/entities/stacks.ts
Labels: rust

#9476 Improve the git-lfs PSA message to contain the paths that are affected.
  crates/gitbutler-tauri/src/projects.rs
Labels: rust

#9477 Rule fileters use AND logic
  apps/desktop/src/lib/rules/rule.ts
  crates/but-rules/src/lib.rs
Labels: rust, @gitbutler/desktop

#9480 Fix committing to bottom of a branch
  apps/desktop/src/components/WorkspaceView.svelte
Labels: @gitbutler/desktop

#9481 Convert FetchService into singleton `GitService`
  apps/desktop/src/lib/fetchSignal/fetchSignal.ts
  apps/desktop/src/lib/git/gitService.ts
  apps/desktop/src/routes/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
Labels: @gitbutler/desktop

#9483 Improve commit message abbreviation
  apps/desktop/src/components/CommitDetails.svelte
Labels: @gitbutler/desktop

#9484 Convert more services to singletons
  apps/desktop/cypress/e2e/review.cy.ts
  apps/desktop/src/components/CommitDetails.svelte
  apps/desktop/src/components/Drawer.svelte
  apps/desktop/src/components/PrTemplateSection.svelte
  apps/desktop/src/components/ReviewCreation.svelte
  apps/desktop/src/lib/branches/gitBranch.ts
  apps/desktop/src/lib/forge/prContents.ts
  apps/desktop/src/lib/forge/templateService.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
  apps/desktop/src/routes/[projectId]/+layout.ts
  crates/gitbutler-tauri/src/forge.rs
  crates/gitbutler-tauri/src/main.rs
Labels: rust, @gitbutler/desktop

#9485 Setup cargo-deny
  .github/workflows/push.yaml
  crates/but/Cargo.toml
  deny.toml
Labels: rust

#9487 Split off is not ready
  apps/desktop/src/components/v3/FileContextMenu.svelte
Labels: @gitbutler/desktop

#9489 Set the right MCP event for the internal version
  crates/but/src/mcp_internal/mod.rs
Labels: rust

#9490 Fix bug in draft stack branch name
  apps/desktop/src/components/MultiStackCreateNew.svelte
  apps/desktop/src/components/NewCommitView.svelte
  apps/desktop/src/components/StackDraft.svelte
  apps/desktop/src/components/v3/FileContextMenu.svelte
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#9488 integration-checks: performance
  Cargo.lock
  crates/but-core/src/ref_metadata.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-workspace/Cargo.toml
  crates/but-workspace/src/changeset.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/exhaustive_with_squash_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/integrate_with_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/integrate_with_rebase.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
Labels: rust

#9495 Claude code stop hook should not commit in other branches
  crates/but-action/src/lib.rs
  crates/but-action/src/simple.rs
  crates/but/src/command/claude.rs
  crates/but/src/command/mod.rs
  crates/but/src/mcp/mod.rs
  crates/gitbutler-tauri/src/action.rs
Labels: rust

#9497 Branch selection fix
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  apps/desktop/src/lib/state/uiState.svelte.ts
Labels: @gitbutler/desktop

#9500 refactor: always show GitButler CLI install section in settings
  apps/desktop/src/components/profileSettings/GeneralSettings.svelte
Labels: @gitbutler/desktop

#9492 Persistent Stack-IDs
  crates/but-core/src/commit.rs
  crates/but-core/src/id.rs
  crates/but-core/src/lib.rs
  crates/but-core/src/ref_metadata.rs
  crates/but-graph/Cargo.toml
  crates/but-graph/src/projection/stack.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/src/ref_metadata_legacy.rs
  crates/but-graph/tests/graph/ref_metadata_legacy.rs
  crates/but-hunk-dependency/tests/hunk_dependency/ui.rs
  crates/but-hunk-dependency/tests/hunk_dependency/workspace_dependencies.rs
  crates/but-rebase/tests/rebase/main.rs
  crates/but-testsupport/src/lib.rs
  crates/but-workspace/src/branch.rs
  crates/but-workspace/src/changeset.rs
  crates/but-workspace/src/ref_info.rs
  crates/but-workspace/src/stacks.rs
  crates/but-workspace/tests/fixtures/scenario/shared.sh
  crates/but-workspace/tests/fixtures/scenario/with-remotes-and-workspace.sh
  crates/but-workspace/tests/workspace/commit_engine/new_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/ref_info/mod.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/exhaustive_with_squash_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/integrate_with_merges.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/journey/integrate_with_rebase.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
Labels: rust

#9506 worktree filter PSA tuning
  crates/gitbutler-tauri/src/projects.rs
Labels: rust

#9510 Improve GitLab Errors
  apps/desktop/src/components/PullRequestCard.svelte
  apps/desktop/src/components/StackedPullRequestCard.svelte
  apps/desktop/src/lib/forge/gitlab/gitlab.ts
  apps/desktop/src/lib/forge/gitlab/gitlabListingService.svelte.ts
  apps/desktop/src/lib/forge/gitlab/gitlabPrService.svelte.ts
  apps/desktop/src/lib/forge/gitlab/gitlabState.svelte.ts
Labels: @gitbutler/desktop

#9509 split branch is available again
  apps/desktop/src/components/v3/FileContextMenu.svelte
Labels: @gitbutler/desktop

#9511 Once more with feeling: PSA Message and .gitattributes
  crates/gitbutler-tauri/src/projects.rs
Labels: rust

#9512 Add "Don't show again" to filters notice
  apps/desktop/src/components/InfoMessage.svelte
  apps/desktop/src/components/ToastController.svelte
  apps/desktop/src/lib/notifications/toasts.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#9508 Fix annoying default target error
  apps/desktop/src/components/SyncButton.svelte
  apps/desktop/src/lib/branches/branchService.svelte.ts
  apps/desktop/src/routes/[projectId]/+layout.svelte
Labels: @gitbutler/desktop

#9504 workspace robustness
  Cargo.lock
  crates/but-core/src/commit.rs
  crates/but-graph/src/projection/workspace.rs
  crates/but-graph/tests/fixtures/scenarios.sh
  crates/but-graph/tests/graph/init/utils.rs
  crates/but-graph/tests/graph/init/with_workspace.rs
  crates/but-rebase/src/cherry_pick.rs
  crates/but-rebase/src/commit.rs
  crates/but-rebase/src/lib.rs
  crates/but-rebase/src/merge.rs
  crates/but-workspace/src/commit_engine/mod.rs
  crates/but-workspace/tests/fixtures/scenario/all-file-types-renamed-and-modified.sh
  crates/but-workspace/tests/workspace/commit_engine/amend_commit.rs
  crates/but-workspace/tests/workspace/commit_engine/refs_update.rs
  crates/but-workspace/tests/workspace/ref_info/with_workspace_commit/mod.rs
  crates/but-workspace/tests/workspace/utils.rs
Labels: rust

#9517 D&D: Split branch into new branch
  apps/desktop/src/components/FileListItemWrapper.svelte
  apps/desktop/src/lib/commits/dropHandler.ts
  apps/desktop/src/lib/stacks/dropHandler.ts
  apps/desktop/src/lib/stacks/stackService.svelte.ts
Labels: @gitbutler/desktop

#9515 Provide a special hint on how to deal with a missing keychain
  Cargo.lock
  apps/desktop/src/lib/backend/ipc.ts
  apps/desktop/src/lib/error/knownErrors.ts
  crates/gitbutler-error/src/error.rs
  crates/gitbutler-secret/Cargo.toml
  crates/gitbutler-secret/src/secret.rs
Labels: rust, @gitbutler/desktop

#9518 fix-commit-squashing
  apps/desktop/src/lib/stacks/stackService.svelte.ts
  crates/but-tools/src/workspace.rs
  crates/gitbutler-branch-actions/src/squash.rs
Labels: rust, @gitbutler/desktop

#9521 squash-upwards-support
  crates/gitbutler-branch-actions/src/squash.rs
  crates/gitbutler-branch-actions/tests/fixtures/squash.sh
  crates/gitbutler-branch-actions/tests/squash.rs
Labels: rust

#9522 update all docs urls
  .github/ISSUE_TEMPLATE/2_documentation.yml
  apps/desktop/src/components/CommitSigningForm.svelte
  apps/desktop/src/components/Feed.svelte
  apps/desktop/src/components/ForgeForm.svelte
  apps/desktop/src/components/NewBranchModal.svelte
  apps/desktop/src/components/profileSettings/GitSettings.svelte
  apps/desktop/src/lib/error/knownErrors.ts
  apps/web/src/routes/(app)/+page.svelte
  crates/but-workspace/src/lib.rs
Labels: rust, @gitbutler/desktop, @gitbutler/web
